@media screen and (max-width: 1278px) {
  .hiding_for_tablets {
    display: none;
  }
}

.demo_header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #2bb673;
  font-family: $font-OpenSans-Semibold;
  font-size: 18px;
  text-transform: uppercase;
  p {
    cursor: pointer;
    margin: 0;
    padding: 6px;

    &:hover {
      border-bottom: 2px solid #2bb673;
      transform: translateY(-5px);
    }
  }
}

.consumer_page_header {
  button {
    font-family: $font-OpenSans-Semibold;
    font-size: 12px;
    border: 1px solid #2bb673;
    background: none;
    width: 137px;
    height: 45px;
    border-radius: 42px;
    color: #227360;
    text-transform: uppercase;
    margin: 0 24px;

    &:hover,&.button_active {
      background: #2bb673;
      color: #fff;
    }
  }
}

.joinus_options {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-OpenSans-Regular;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  .joinus_option_merchant,
  .joinus_option_consumer {
    width: 28%;
    text-align: center;
    background-color: #fff;
    height: 350px;
    margin-left: 68px;
    img {
      height: 250px;
      margin: 31px 0;
    }
  }
  .joinus_service_button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 56px;
    border-radius: 100px;
    background-color: #2bb673;

    font-family: $font-oswald-regular;
    font-size: 27px;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    p {
      margin: 0;
    }
    img {
      height: 26px;
    }

  }
}

.demo__guest__page_nav {
  //background-color: rgba(43, 182, 115, 0.49);
  .customer_header_section {
    width: 100%;
  }
}

.demo__guest__page_align {
  height: 100%;
  display: flex;
  align-items: center;
}
.guest_merchant_list {
  width: 71%;
  display: flex;
  justify-content: center;
  .mer-list {
    width: 70px;
    img {
      height: 50px;
    }
  }
}

.merchant_action_buttons {
  width: 22%;
  display: flex;
  justify-content: flex-end;
  .search_action {
    width: 88px;
    margin-right: 20px;
  }
  button {
    font-family: $font-OpenSans-Semibold;
    font-size: 12px;
    border: 1px solid #2bb673;
    background: none;
    width: 130px;
    height: 45px;
    border-radius: 42px;
    color: #227360;
    text-transform: uppercase;
    &:hover {
      background-color: #2bb673;
      color: #fff;
    }
  }
}

.text_area {
  font-family: $font-OpenSans-Regular;
   font-size: 18px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.44;
   letter-spacing: 0.36px;
   text-align: left;
   color: #303344;
  textarea {
    width: 100%;
    min-height: 164px;
    margin-top: 22px;
    background: none;
    border: 1px solid #232226;
    padding: 12px;
  }
}

// radio buttons
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f8f6f8;
  border-radius: 50%;
  border: 2px solid #232226;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #f8f6f8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #000;
}


.type_selection {
  p {
    font-size: 21px;
  }
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 67px;
  font-family: $font-OpenSans-Semibold
}

.captcha__section {
  width: 100%;
  display: flex;
  justify-content: center;
}


.company_adds {
  display:flex;
  justify-content:space-between;
  margin-top:20px;
  color:#000;
  font-family:$font-OpenSans-Regular;
}
.our_menu_services {
  p {
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: #03A9F4;
    }
  }
  .social_icons {
    span {
      font-size: 14px;
      margin-right: 12px;
    }
    .social_icons_imgs {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  h3 {
    font-family: $font-OpenSans-Bold;
    margin-top:0px;
  }
}
.contactus {
  text-align: right;
  font-size: 15px;
  p {
    margin-bottom: 0;
    margin-top: 14px;
  }
}

.consumer_faq_section {
  .faq__section_content {
    font-family: $font-OpenSans-Light;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    .faq-cont {
      opacity: .8;
      font-size: 15px;
      line-height: 2.1;
      margin: 40px 0;
      letter-spacing: .4px;
      color: rgba(35,34,38,.8);
    }
    .select-topic {
      opacity: 1;
      font-size: 15px;
      font-weight: 600;
      font-family: OpenSans-Semibold;
      line-height: 2.1;
      letter-spacing: .4px;
      text-align: right;
      color: rgba(35,34,38,.8);
    }
    .select-input {
      border-radius: 20px;
      overflow: hidden;
      background: url('/assets/images/guest/forma-1-copy-4.png') 95% 50% no-repeat #fafafa;
      text-align: left;
      border: 1px solid #2bb673;
      select {
        padding: 5px 8px;
        overflow-x: hidden;
        width: 93%;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: 0 0;
        -webkit-appearance: none;
        color: #000;
      }
    }
    .faq-sub {
      background: #2bb673;
      border: 1px solid #2bb673;
      color: #fff;
      padding: 5px 20px;
      border-radius: 20px;
    }
  }
  .faq-main-style {
    display: flex;
    flex-direction: column;

   .faq-heading-title{
      display : flex;
      flex-direction : column;
      color : black;
      justify-content : space-between;
      align-items: center;

      h1{
        font-family : $font-OpenSans-Light;
      }
       h4{
        font-family : $font-OpenSans-Light;
        text-align: center;
      }
    }
    .faq-questions {
      font-size: 18px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #363636;
      font-family : $font-OpenSans-Regular;
    }
    .faq-context{
      font-size: 17px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #363636;
      font-family : $font-OpenSans-Light;
    }
  }
  .overflow-style {
    max-height: 456px;
    overflow: overlay;
  }
   .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
  }

  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }

  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
  }

  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    float: left;
    margin: 4px 34px 0 0;
    font-size: 19px;
  }

  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    float: left;
    margin: 4px 34px 0 0;
    font-size: 19px;
  }
}
.consumer__services_fp_slider {
  .fp-slides{
    width: 100%;
  }
}

// register_page

.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 10px;
  .footer_menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    font-family: $font-OpenSans-Semibold;
    font-size: 16px;
    font-weight: 600;
    p {
      margin: 0;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .copy__rights {
    font-family: $font-OpenSans-Regular;
    p {
      margin: 0;
      font-size: 12px;
      span {
        font-family: $font-OpenSans-Bold;
        font-size: 13px;
      }
    }
  }
}



//aboutus
.carousel-indicators_custom {
  bottom: -7px !important;
  li {
    background-color: #9f9f9f !important;
    width: 14px !important;
    height: 14px !important;
  }
  .active {
    background-color: #2bb673 !important;
    width: 16px !important;
    height: 16px !important;
  }
}

.partners_page{
    .partners_section2{
      display: flex;
      padding: 0 20px;
      height: auto;

      .partner_content_section{
        width: 100%;
        font-family: $font-OpenSans-Regular;
        padding: 20px 83px 50px 83px;
        text-align: left;

        .partners_sub_menu_content{
          display: none;
          &.active{
            display:block;
          }
        }

        .coming__soon_layout {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }

        .partners_sub_menu{
          width: 75%;
          display: -webkit-box;
          height: 50px;
          display: -ms-flexbox;
          display: flex;
          border-radius: 10px;
          align-items: center;
          background-color: rgba(34, 36, 68, 0.12);
          margin: auto;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          border: 1px solid #222444;

          .partners_sub_menu_name{
            text-align: center;
            width: 33.33%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
              font-size: 25px;
              font-weight: bold;
              font-stretch: normal;
              font-family: $font-OpenSans-Bold;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
              margin:0;
              color:#222444;
            }
            &.active{
              background-color: #f8f6f8;
              border-radius: 10px;
              /* padding: 5px 10px; */


            }
          }

        }

        .card_section{
          width: 100%;
          height: 250px;
          background-color: #ffffff;
          margin-top: 40px;
          display:flex;
          .left_card_section{
            width:30%;
            background-color: #222444;
            text-align:center;
            padding:20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .left_card_section--image {
              height: 100%;
              img{
                width: 100%;
                height: 100%;
              }
            }

          }
          .right_card_section{
            width:70%;
            padding: 25px 50px;
            .right_card_head{
              display: flex;
              justify-content: space-between;
              align-items: baseline;
            }
            h4{
              color: #2bb673;
            }
            h5{
              font-weight: 600;
               font-stretch: normal;
               font-style: normal;
               line-height: normal;
               letter-spacing: normal;
               color: #171a35;
               font-family: $font-OpenSans-Bold;
            }
            p{

            }
          }
        }
        h4{
          font-size: 30px;
          font-weight: bold;
          font-stretch: normal;
          font-family: $font-OpenSans-Bold;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $color-black;
        }
        p {
          font-size: 12px;
          color: #000;
          margin-bottom: 15px;
          color: $color-black;
        }
      }
    }

}
.about_us_page {
  background-color: #f8f6f8;
  width: 100%;
  // height: 100vh;
  padding-bottom: 62px;
  .aboutus_section1 {
    width: 100%;
    // position: relative;
    // top: 76px;
    margin-top: 76px;
    img {
      width: 100%;
    }
    h3 {
      position: absolute;
      top: 90px;
      left: 17%;
      color: #fff;
      font-family: $font-OpenSans-Semibold;
    }
  }

  .aboutus_section2 {
    display: flex;
    padding: 0 20px;
    height: auto;
    .about_content_section {
      width: 50%;
      font-family: $font-OpenSans-Regular;
      padding-top: 70px;
      padding-left: 83px;
      p {
        font-size: 16px;
        opacity: 0.7;
        color: #000;
        margin-bottom: 15px;
      }
    }
    .section2_image {
      width: 50%;
      img {
        width: 100%;
        position: relative;
        top:-68px
      }
    }
  }

  .aboutus_section3 {
    width: 100%;
    // height: 778px;
    object-fit: contain;
    color: #fff;
    background-image: linear-gradient(68deg, rgba(0, 0, 0, 0.52) -2%, rgba(24, 103, 65, 0.57) 50%, #2bb673 99%);
    .section_title{
      text-align: center;
      font-size: 34px;
      padding: 20px;
      color: #fff;
      text-transform: uppercase;
      font-family: $font-OpenSans-Semibold;
    }
    .section3__slider {
      display: flex;
      justify-content: center;
      //height: 100%; temp fix
      height: 450px;
      align-items: center;
      .aboutus_section3_contnet {
        font-family: $font-OpenSans-Regular;
        p {
          font-size: 16px;
        }
      }
      .aboutus_section3_contnet,
      .section3__image {
        width: 43%;
      }
      .section3__image {
        img {
          width: 100%;
        }
      }
    }
  }
}

.aboutus_section4 {
  width: 100%;
  background-image: linear-gradient(to top, #efeeee -137%, #f3fffa);
  text-align: center;
  padding: 15px;
  .section_title {
    font-family: $font-OpenSans-Semibold;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.95px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
  }
  .section_sub-header {
    font-family: $font-OpenSans-Regular;
    width: 79%;
    margin: 10px auto;
    margin-bottom: 30px;
  }
  .section4_slider {
    display: flex;
    justify-content: space-around;
    .company__logo {
      width: 150px;
      height: 150px;
      background-color: #fff;
      border-radius: 50%;
      border: 3px solid #2bb673;
    }
    .company__logo--image {
      width: 144px;
      height: 144px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}

.member___social_icons {
  border-bottom: 2px solid #2bb673;
  width: 36px;
  padding-bottom: 4px;
  margin: auto;
   img {
     height: 20px;
   }
}

.aboutus_section5 {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #fff;
  border-bottom: 2px solid rgba(228, 226, 226, 0.72);
  .section_title {
    font-family: $font-OpenSans-Semibold;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.95px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;
  }
  .section_sub-header {
    font-family: $font-OpenSans-Regular;
    width: 79%;
    margin: 10px auto;
    margin-bottom: 30px;
  }
  .section5_slider {
    display: flex;
    justify-content: space-around;
    .company__logo {
      width: 150px;
      height: 150px;
      background-color: #fff;
      border-radius: 50%;
      border: 3px solid #2bb673;
      margin: 0 auto;
    }
    .company__logo--image {
      width: 144px;
      height: 144px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .team_member__details {
      h4 {
        font-family: $font-OpenSans-Semibold;
        font-size: 21px;
        letter-spacing: 3px;
        text-align: center;
        color: #000000;
      }
      p {
        font-family: $font-OpenSans-Regular;
        font-size: 17px;
        text-align: center;
        color: #000000;

      }
    }
  }
}


// home page
.slide_home {
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
}
.slide_content_home {
  display: flex;
  flex-direction: column;
  width: 67%;
}
.slide_image_home {
  width: 200px;
  box-shadow: 0 0 17.3px 0.7px rgba(186, 186, 186, 0.39);
  img {
    width: 100%;
  }
}

.know_more_btn,
.contact_btn {
  button {
    width: 150px;
    height: 45px;
    color: #fff;
    font-family: $font-OpenSans-Semibold;
    font-size: 19px;
    text-align: center;
    border-radius: 5px;
    border: none;
  }
}

.contact_btn {
  button{
    background-color: #2bb673;
  }
}
.metro_bg {
  background-color: #3a77e9;
}
.retail_bgcolor {
  background-color: #65cb75;
}
.parking_bg {
  background-color: #23beb9;
}
.bus_bg {
  background-color: #8c57d1;
}
.residency_bg {
  background-color: #faa93d;
}
.education_bg {
  background-color: #9a0f41;
}
.office_bg {
  background-color: #020180;
}


// video section
.videosection_slider {
  display: flex;
  justify-content: center;
  padding-top: 0;
  background-color: #f8f6f8;
}
.videosection_cards_layout {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  //width: 72%;
}
.videosection_card {
  background-color: #fff;
  width: 300px;
  height: 210px;
  margin-top: 23px;
  margin-right: 23px;
  padding: 12px;
  box-shadow: 0 4px 4px 0 rgba(178, 178, 178, 0.38);
}

.video_thumnail_image {
  box-shadow: 0 4px 4px 0 rgba(178, 178, 178, 0.38);
  background-color: #000;
  cursor: pointer;
  height: 125px;
  position: relative;
  .bgcover_image {
    width: 100%;
    opacity: 0.2;
    height: 100%;
  }
  .play_icon {
    opacity: 1;
    position: absolute;
    left: 43%;
    width: 36px;
    height: 36px;
    z-index: 999;
    top: 45px;
  }
}

.Product_title {
  font-family: $font-OpenSans-Bold;
  font-size: 12px;
  font-weight: 800;
  color: #515356;
  margin-top: 8px;
  margin-bottom: 5px;
}
.product_description {
  font-family: $font-OpenSans-Regular;
  font-size: 14px;
  color: #000000;
}

// terms and terms_conditions
.terms_policy__pages {
  background-color: #f8f6f8;
}
.pages__header_height {
  height: 77px;
}
.terms_conditions {
  padding: 0 150px 62px 150px;

}
.heading_line {
  text-align: center;
  font-family: $font-OpenSans-Semibold;
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-right: 19px;
  }
}
.paragraph_heading {
  font-family: $font-OpenSans-Semibold;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #293c47;

}
.terms_more_info {
  font-family: $font-OpenSans-Regular;
  color: #293c47;
}
.paragraph_points{
  font-family: $font-OpenSans-Light;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  color: #293c47;
}
.terms__paragraph {
  display: flex;
  span {
    font-family: $font-OpenSans-Regular;
    font-size: 17px;
    color: #293c47;
    font-weight: 300;
    line-height: 1.4;
    margin-right: 9px;
  }
  p {
    font-family: $font-OpenSans-Light;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    color: #293c47;
  }
}


.success_modal-body {
  text-align: center;
  padding: 50px 20px;
}
.success_content {
  padding: 30px 0;
  h4 {
    font-family: $font-OpenSans-Regular;
    font-size: 23px;
    line-height: 0.71;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
  }

  p {
    font-family: $font-OpenSans-Light;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.22;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
}
.success_modal-dialog {
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success_modal-content {
  width: 55%;
  background-color: #f8f6f8;
  border-radius: 12px !important;
}

.success_done_btn {
  background-color: #2bb673;
  color: #fff;
  width: 186px;
  height: 50px;
  font-size: 21px;
  font-family: $font-OpenSans-Semibold;
  font-weight: 600;
  line-height: 0.67;
  color: #ffffff;
  border: none;
  border-radius: 20px;
}


// header popup csss
.merchant_confirm_popup {
  top:70px;
}
.merchant_confirm_modal-body {
  text-align: center;
  //padding: 50px 20px;
}
.merchant_confirm_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4 {
    font-family: $font-OpenSans-Regular;
    font-size: 20px;
    line-height: 0.71;
    text-align: center;
    color: #fff;
  }

}
.merchant_confirm_modal-dialog {
  width: 100%;
  height: 93vh;
}
.merchant_confirm_modal-content {
  width: 40%;
  background-color: #2bb673;
  border-radius: 12px !important;
  margin: auto;
}

.merchant_confirm_done_btn {
  background-color: #d3d3d3;
  box-shadow: 0.2px 1px 17.1px 1.9px rgba(203, 203, 203, 0.6);
  color: #000;
  width: 83px;
  height: 34px;
  font-size: 18px;
  font-family: $font-OpenSans-Bold;
  font-weight: 600;
  line-height: 0.67;
  border: none;
  border-radius: 20px;
}

.features_img_container {
  margin-top: 29px;
  color: #37353f;
  font-family: $font-OpenSans-Regular;
  .features_img_section {
    width: 153px;
    height: 153px;
    margin: auto;
    font-size: 15px;
    img {
      width: 100%;
    }
    .img-defalt {
      display: block;
    }
    .img-hover, .features_view_btn {
      display: none;
    }
    &:hover {
      .img-defalt {
        display: none;
      }
      .img-hover, .features_view_btn {
        display: block;
        margin: auto;
      }
      .features_button_text {
        position: relative;
        top: -100px;
        margin: auto;
      }
    }
    .features_view_btn {
      width: 65px;
      background-color: $color-toll;
      border-radius: 21px;
      height: 35px;
      color: #fff;
      border: none;
    }
    .features_button_text {
      h4 {
        font-size: 16px;
      }
      position: relative;
      top: -60px;
      margin: auto;
      color: #37353f;
    }
  }
  .features_text_section {
    margin-top: 36px;
    width: 100%;
    font-size: 14px;
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }
 @keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
             transform: scale(1);
   }
 }


 .slide-right {
	-webkit-animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
