
.Joius__page_conatiner {
  background-color: #f8f6f8 !important;
  height: 100%;
  width: 100%;
  position: fixed;
}
.Joius__page_header {
  background-color: #000;
  height: 68px;
  font-family: $font-OpenSans-Bold;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 3px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 30px;
   p {
     margin: 0 8px;
     cursor: pointer;
   }
}

.joinus__container_layout {
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  .Joinus__page_conatiner--form {
    display: flex;
    width: 70%;
    height: 553px;
    border-radius: 5px;
    box-shadow: 0 0 78px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    margin-top: -29px;
    .joinus__page_logo_section {
      width: 375px;
      background-color: #38539b;
      .logo_section_content {
        height: 26%;
        padding: 20px 45px;
        h3 {
          font-family: $font-OpenSans-Bold;
          font-size: 36px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.36;
          letter-spacing: normal;
          text-align: left;
          color: #ffffff;
          margin-left: 41px;
          margin: 0;
        }
        p {
          font-family: $font-OpenSans-Regular;
          font-size: 17px;
          line-height: 1.37;
          letter-spacing: 0.38px;
          text-align: left;
          color: #ffffff;
        }
      }

      .logo_section_image {
        height: 74%;
        text-align: right;
        background-image:url("/assets/images/demo/doe_card_slant.png");
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
        // img {
        //   height: 100%;
        // }
      }
    }
    .joinus__page_form_section {
      width: 60%;
      text-align: center;
      padding: 44px;
      .form_sub_text {
        font-family: $font-OpenSans-Semibold;
        font-size: 24px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: 0.4px;
        text-align: center;
        color: #303344;
      }
    }
  }
}

.joinus_fields {
  .input-text {
    font-family: $font-OpenSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: rgba(35, 34, 38, 0.43);
  }
  .input-box {
    font-family: $font-OpenSans-Bold !important;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    font-size: 25px;
  }
}

.joinus_submit_action {
  margin-top: 30px;
  button {
    width: 304px;
    height: 55px;
    object-fit: contain;
    border-radius: 28px;
    background-color: #38539b;
    font-family: $font-OpenSans-Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;

  }
}

.merchant__joinus_page_form {
  padding: 10px 44px !important;
  overflow-y: scroll;
}
.joinus__form_layout--merchant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .width_100 {
    width: 100%;
  }
  .width_48 {
    width: 48%;
  }
}

textarea {
  width: 100%;
  height: 69px;
  padding:  8px 10px;
  border: 2px solid #b2b2b2;
  border-radius: 3px;
  font-family: $font-OpenSans-Regular;
  font-size: 16px;
  line-height: 0.63;
  text-align: left;
  color: #000000;
}

// joinus_floating-input css

.joinus__form_layout {
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.field_input_floating {
  margin-bottom: 17px;
  //width: 75%;
}
.float_input_style{
  position: relative;
  border-bottom:2px solid rgba(35, 34, 38, 0.53);
  label {
    font-family: $font-OpenSans-Semibold;
    color:#454545;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:0px;
    top:16px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
}

.float_select_style {
  select {
    width: 100%;
    border: none;
    background: none;
    font-family: $font-OpenSans-Bold !important;
    line-height: 0.71;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    font-size: 17px;
  }
}

.joinus_floating-input , .floating-select {
  display:block;
  width:100% !important;
  height:40px;
  border:none !important;
}

.joinus_floating-input:focus {
     outline:none;
     //border-bottom:2px solid #5264AE;
}




.float_input_style{
  input::-ms-input-placeholder { /* Internet Explorer 10-11 */
   font-size: 100px;
}
}


input::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input::-moz-placeholder,
input:-moz-placeholder {
  opacity: 0;
  transition: inherit;
}
/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
  font-size: 16px;
}

input:focus::-moz-placeholder ,
input:focus:-moz-placeholder {
  opacity: 1;
  font-size: 16px;
}


/* active state */
.joinus_floating-input:focus ~ .bar:before, .joinus_floating-input:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* active state */
.joinus_floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}





// FindMoreComponent
.find_more_layout_page {
  background-color: #f2f3f5;
  //height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
}

.find_more_container {
  position: relative;
  width: 900px;
  height: 900px;
  // width: 97vh;
  // height: 97vh;
  //overflow-y: scroll;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: auto;
  padding: 40px;
  .close-btn {
    position: absolute;
    right: 30px;
    padding-top: 10px;
    top: 190px;
    img {
      width: 54px;
    }
  }
}

.find_out_more_contnet {
  text-align: center;
  height: 94%;
}
.contnet_title_section {
  img {
    width: 115px;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.4);
    //box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  h1 {
    font-family: $font-OpenSans-Light;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.find_out_more_list{
  font-family: $font-OpenSans-Semibold;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.36;
  text-align: justify;
  color: #37353f;
  padding: 33px 40px;

  li {
    margin-bottom: 20px;
  }
}
.service__tourch_view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  .indiduval_service__view {
    width: 100px;
    text-align: center;
    font-family: $font-oswald-regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #ffffff;
  }
}

.services_logo_section {
  height: 74%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/assets/images/demo/tourch_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.merchant_logo_form {
  img {
    width: 361px;
  }
}


// 404page
.page_not_found__layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .page_not_found__layout__images {
    width: 74%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 60%;
    .page_not_found_number {
      width: 501px;
    }
    .page_not_found__doe_card {
      width: 294px;
      margin-left: -115px;
      z-index: -1;
    }
  }
  p {
    font-family: $font-OpenSans-Semibold;
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #040404;
    margin-top: 15px;
  }

  button {
    width: 341px;
    height: 60px;
    color: #fff;
    border-radius: 30px;
    background-color: #2ab673;
    font-family: $font-OpenSans-Semibold;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 49px;
  }
}


// corporate page scss
.corporate_section1 {
  display: flex;
  align-items: center;
  width: 78%;
  justify-content: center;
  .corporate_section1_contnent{
    font-family: $font-OpenSans-Light;
    h3 {
      font-size: 54px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      text-align: left;
      color: #37353f;
      span{
        color: #2bb673;
      }
    }
    p {
      opacity: 0.3;
      font-family: $font-OpenSans-Regular;
      font-size: 20px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #012677;
    }
  }
}

// merchant page
.merchant__features_section {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.merchant__circle_view_section {
  text-align: center;
  font-family: $font-OpenSans-Regular;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #000000;
  .merchant_circle_content {
    margin-top: 15px;
  }
}
.merchant__features_circle {
  width: 250px;
  height: 250px;
  background-image: linear-gradient(132deg, #227360 15%, rgba(20, 85, 70, 0.89) 36%, #279660 64%, #2bb673 84%);
  border: 17px solid #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 14px;
  padding-bottom: 0;
  margin: auto;
  img {
    width: 100%;
    height: 100%;
  }
}


.merchant__services_reader {
  height: 430px;
  background-color: #f6f7f9;
  img {
    height: 100%;
  }
}
.merchant_services_view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.merchant_services_view__layer {
  height: 447px;
  width: 600px;
  padding: 33px 0;
  font-family: $font-OpenSans-Bold;
  font-size: 34px;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-left: -50px;
  .merchant__services_circle_layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .service__circle_view {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    img {
      height: 68px;
    }
    .service_hover {
      display: none;
    }
    &:hover {
      .service_non-hover {
        display: none;
      }
      .service_hover {
        display: block;
      }
    }
  }
  .access__circle_view,
  .loylity__circle_view {
    img {
      height: 109px;
    }
  }
}
.read_more_button {
  text-align: center;
  button {
    width: 191px;
    height: 46px;
    border: solid 1px #000000;
    font-family: $font-OpenSans-Bold;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #2bb673;
    background: none;
    border-radius: 30px;
    &:hover {
      background-color: #2bb673;
      color: #fff;
    }
  }
}
.read_more_loyality {
  margin-top: 60px;
}
.toll_circle_view {
  border: 2px solid $color-toll;
  &:hover {
    background-color: $color-toll;
  }
}

.bus_circle_view {
  border: 2px solid $color-bus;
  &:hover {
    background-color: $color-bus;
  }
}
.parking_circle_view {
  border: 2px solid $color-parking;
  &:hover {
    background-color: $color-parking;
  }
}
.metro_circle_view {
  border: 2px solid $color-metro;
  &:hover {
    background-color: $color-metro;
  }
}
.railways_circle_view {
  border: 2px solid $color-railways;
  &:hover {
    background-color: $color-railways;
  }
}
.education_circle_view {
  border: 2px solid $color-education;
  &:hover {
    background-color: $color-education;
  }
}
.retail_circle_view {
  border: 2px solid $color-retail;
  &:hover {
    background-color: $color-retail;
  }
}






// consumer faqs section style

// .panel-heading span:after {
//   font-family:'Glyphicons Halflings';
//   content:"\2212";
//   float: right;
//   color: grey;
// }
// .panel-heading span.collapsed:after {
//   content:"\2b";
// }
//
// .panel-heading span:after {
// font-family:'Glyphicons Halflings';
// content:"\2212";
// float: right;
// color: grey;
// }
// .panel-heading span.collapsed:after {
// content:"\2b";
// }
.faq_questions_section {
  display: flex !important;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-decoration: none !important;
  p {
    margin: 0;
  }
}
