.fees_branch_list_nav {
  max-height: 300px;
  overflow-y: scroll;
   p {
     &:hover {
       background-color: $color-toll;
       color: #ffffff !important;
     }
   }
}
.toll-company-fee {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 100px;

  .fee-layout{
    background-color: #ffffff;
    height:100%;
    padding-left: 10%;
  }

  .fee-info{
    // height: auto;
    // overflow-y: scroll;
    // max-height: 86%;
    background-color: #ffffff ;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  }

  .fee-edit, .fee-save {
    background: none;
    border: none;
    background-color: rgba(155,155,155,0.29);
    color: black;
    padding: 10px 50px;
    border-radius: 20px;
    margin: 25px;
    .active{
      background: none;
      border: none;
      background-color: #2bb673;
      color: white;
      padding: 10px 50px;
      border-radius: 20px;
      margin: 25px;
    }
  }

  th {
    text-align:center;
    padding: 0px !important;
    height: 100%;
    vertical-align:middle !important;
    height:50px;
  }

  .toll-desc{
    margin: 15px;
    padding: 10px 15px;
    // may brake code other than toll
    margin-top: 76px;
  }

  .toll-inp {
    border: none;
    background: white;
    width: 100%;
    text-align: center;
    height: 100%;
    box-shadow: 0px 0px 20px 5px rgba(5,41,24,0.35);
  }

  thead tr{
    background-color: #2bb673 !important;
  }
  tbody{
    tr:nth-of-type(odd){
      background-color: rgba(219, 219, 219, 0.2);
    }
    tr:nth-of-type(even){
      background-color: #fafffe;
    }
  }
}

.toll-company-branch-fee {
  .select-branch {
    select {
      font-style: normal;
      margin: 15px;
      font-family: $font-oswald-bold;
      font-size: 20px;
      color: #4a4a4a;
      border: none;
      background: none;
    }
  }
}

.fees_branchlist_dropdown {
  width: 17%;
}
.fee_structure_divider {
  height: 53px;
  border: 1px solid #d2d2d2;
}
.fees__dropdown_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-family: $font-oswald-medium;
  font-size: 21px;
  font-weight: 500;
  color: #4a4a4a;
}

// fee table
.fee-info__header {
  padding: 15px 17px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .fee_info__type-details ,
  .fee_info_toll-details,
  .fee_info_dates {
    p {
      margin: 0 !important;
    }
    display: flex;
    flex-direction: column;
    font-size: 19px;
    letter-spacing: normal;
    color: #9b9b9b;
    text-transform: capitalize;
    .fee_info_kms {
      font-family: $font-oswald-light;
    }
    .fee_info_NH-number {
      font-family: $font-oswald-medium;
    }
    .fee_info_stretch {
      font-family: $font-oswald-light;
    }
  }
  .fee_info_toll-details,.fee_info_dates {
    font-size: 16px!important;

  }
}

.fee_info_dates_editmode {
  display: flex;
  justify-content: space-between;
  input {
    border: none;
  }
}

.fee_info-table_contents {
  font-family: $font-oswald-light;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #3a3b3b;
  td {
    text-align: center;
  }
}
.vehicle__type_name {
  font-family: $font-oswald-bold !important;
}

.toll_company_fee_table {
	padding-top: 0px;
}

.toll_company_fee_table thead tr{
  background-color: #2bb673 !important;
	color: #fff;
  font-family: Oswald-Light;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px
}
.fee_structure_table {
  width: 100%;
  height: 31vh;
  overflow-y: scroll;
  .fee_structure_table_head {
    tr {
      th {
        background-color: #2bb673;
      }
    }
  }
}

// Edit fee table css

.fee_table_dropdown_selection ,.fee_table_vehicle_type{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dropdown-toggle {
    width: 192px;
  }
}

//toll fee pass concessions
.pass_concessions {
  height: 50vh;
  overflow-y: scroll;
  margin: 0 15px;
  padding: 10px 30px;
  border-top: 2px solid rgba(151, 151, 151, 0.5);
  .pass_concessions_row {
    display: flex;
    justify-content: space-between;
    margin: 23px 0;
    flex-wrap: wrap;
    align-items: center;
    .pass_concessions_row_field {
      display: flex;
      flex-direction: column;
      font-family: $font-oswald-medium;
      color: $color-medium-text;
      font-size: 17px;
      .pass_config_delete_icon {
        margin-top: 22px;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: left;
        color: $color-light-text;
      }
      select,input {
        width: 275px;
        height: 42px;
        border: solid 2px #9e9e9e;
        margin-top: 6px;
        padding: 0 10px;
      }
      img {
        width: 18px;
        margin-top: 19px;
      }
    }
  }

  .pass_concessions_row_add {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    button {
      width: 179px;
      height: 40px;
      margin-top: 40px;
      margin-right: 40px;
    }
  }
}

.fee_config_dropdown {
  border: 2px solid #a8a7a8;
  padding: 7px;
  width: 275px;
  margin-top: 6px;
  border-radius: 4px;

}
.fee_config_dropdown_selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  p {
    margin: 0;
     i {
       font-size: 13px;
     }
  }
}

.branch_fee_structure_table_head {
  color: $color-white;
  font-family: $font-OpenSans-Regular;
}
.branch_fee_structure_table_body {
  font-family: $font-OpenSans-Semibold;
}
.branch_apss_concessions {
  height: 57vh !important;
}
.branch_pass_config_view {
  p {
    width: 211px;
    height: 42px;
    border: solid 2px #9e9e9e;
    margin-top: 6px;
    padding: 7px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
// fee structure
// progress bar
.fee_strcutre__progress {
  width: 76%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progress__bar_dates {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  p {
    font-family: $font-oswald-bold;
    font-size: 15px;
    font-weight: 300;
    color: #9b9b9b;
    span {
      font-family: $font-oswald-light;
    }
  }
}
.fee_table_progress {
  height: 10px !important;
  width: 99% !important;
  margin-bottom: 0 !important;
  overflow: hidden;
  background-color: #d8dadd;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  .first_circle,
  .last_circle {
    position: absolute;
    margin-top: -5px;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 25px;
  }
  .success-color {
    background-color: #f46b6c;
  }
  .no-color {
    right: 29px;
    background-color: #d9dadd;
  }
  .progress_bar_custoum{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #f46b6c;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
  }
}


@media only screen and (min-height: 650px) and (max-height: 700px) {
  .pass_concessions {
    height: 37vh;
    overflow-y: scroll;
  }
}
