.merchant__feature_container {
  width: 76%;
  margin-left: 122px;
}
.merchant_services_features_layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  .services_features_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    cursor: pointer;
    &:hover {
      .features_image_section{
        .non-hover-image {
          display: none;
        }
        .hover-image {
          display: block;
        }
      }
    }
    .features_image_section {
      width: 100px;
      height: 100px;
      // border:1px solid $color-toll;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .hover-image {
        display: none;
      }
    }
    .features_content_section {
      color: #363636;
      margin-left: 20px;
      h4 {
        font-family: $font-OpenSans-Semibold;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        width: 354px;
      }
      p {
        font-family: $font-OpenSans-Regular;
        font-size: 14px;
        line-height: 1.81;
        width: 333px;
      }
    }
  }
}

.services_features_section__toll {
  .features_image_section {
    border:1px solid $color-toll;
  }
  &:hover {
    .features_image_section {
      background-color: $color-toll;
    }
    .features_content_section {
      h4 {
        color: $color-toll;
      }
    }
  }
}

.services_features_section__bus {
  .features_image_section {
    border:1px solid $color-bus;
  }
  &:hover {
    .features_image_section {
      background-color: $color-bus;
    }
    .features_content_section {
      h4 {
        color: $color-bus;
      }
    }
  }
}

.services_features_section__parking {
  .features_image_section {
    border:1px solid $color-parking;
  }
  &:hover {
    .features_image_section {
      background-color: $color-parking;
    }
    .features_content_section {
      h4 {
        color: $color-parking;
      }
    }
  }
}

.services_features_section__metro {
  .features_image_section {
    border:1px solid $color-metro;
  }
  &:hover {
    .features_image_section {
      background-color: $color-metro;
    }
    .features_content_section {
      h4 {
        color: $color-metro;
      }
    }
  }
}

.services_features_section__education {
  .features_image_section {
    border:1px solid $color-education;
  }
  &:hover {
    .features_image_section {
      background-color: $color-education;
    }
    .features_content_section {
      h4 {
        color: $color-education;
      }
    }
  }
}

.services_features_section__retail {
  .features_image_section {
    border:1px solid $color-retail;
  }
  &:hover {
    .features_image_section {
      background-color: $color-retail;
    }
    .features_content_section {
      h4 {
        color: $color-retail;
      }
    }
  }
}

.services_features_section__railways {
  .features_image_section {
    border:1px solid $color-railways;
  }
  &:hover {
    .features_image_section {
      background-color: $color-railways;
    }
    .features_content_section {
      h4 {
        color: $color-railways;
      }
    }
  }
}

.services_features_section__access {
  .features_image_section {
    border:1px solid $color-access;
  }
  &:hover {
    .features_image_section {
      background-color: $color-access;
    }
    .features_content_section {
      h4 {
        color: $color-access;
      }
    }
  }
}

.services_features_section__loyality {
  .features_image_section {
    border:1px solid $color-loyality;
  }
  &:hover {
    .features_image_section {
      background-color: $color-loyality;
    }
    .features_content_section {
      h4 {
        color: $color-loyality;
      }
    }
  }
}
