.tollsection {
  .fp-tableCell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  padding: 0 !important;
}

.service_section_alignment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-indicators__border {
  border-bottom: 1px solid red;
}
.carousel-indicators_services {
  bottom: -26px !important;
  margin-left: 0 !important;
  width: 12% !important;
  left: 44% !important;
  background-color: #f8f6f8;
  li {
    background-color: #f8f6f8;
    width: 19px !important;
    height: 19px !important;
    border: 2px solid #fa7073;
  }

  .active {
    background-color: #fa7073;
  }

}

// PRODUCTS
.service__products {
  height: 100%;
}

.services__container{
  width: 100%;
  padding-left: 11%;

  h1{
    font-family: $font-OpenSans-Regular;
    font-size: 50px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
  }

  .services__sections__layout{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .srvice_section_box{
      //height: 250px;
      //width: 16%;
      margin: 25px;
      text-align: center;

      p{
        font-family: $font-OpenSans-Regular;
        font-size: 20px;
        margin-top: 50px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.77;
        letter-spacing: normal;
        text-align: center;
        color: #363636;
      }

      .service__section{
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, #fa7173 35%);
        border-radius: 50%;
      }
      .toll_service__section{
        height: 126px;
        width: 126px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, rgba(250, 113, 115, 0.78) 35%);
        // box-shadow: 0px 0px 0px 5px #fa7173;
        border: 4px solid $color-toll;
        border-radius: 50%;
        margin: 0 auto;

        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }

      .railways_service__section{
        height: 126px;
        width: 126px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #fff 65%, $color-railways 35%) !important;
        // box-shadow: 0px 0px 0px 5px $color-railways !important;
        border: 4px solid $color-railways;
        border-radius: 50%;
        margin: 0 auto;
        .service_procuct__image {
          img {
            width: 68%;
          }
        }
      }

    }
  }
}

// six layer servicess
.four_layer_service_section_box {
  .srvice_section_box {
    width: 218px !important;
  }
}
.six_layer_service_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .services__sections__layout {
    width: 74%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    margin-top: 30px;
  }
  .srvice_section_box {
    margin: 0 auto 20px auto !important;
    /* text-align: center; */
    width: 255px;
    p {
      margin-top: 18px !important;
    }
  }
  .retail__service_section {
    height: 126px !important;
    width: 126px !important;
    background: linear-gradient(to bottom, #fff 65%, rgba(230, 131, 26, 0.59) 35%) !important;
    // box-shadow: 0px 0px 0px 5px $color-retail !important;
    border: 4px solid $color-retail;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .service_procuct__image {
      img {
        width: 68%;
      }
    }
  }
  .parking__service_section {
    height: 126px !important;
    width: 126px !important;
    background: linear-gradient(to bottom, #fff 65%, rgba(33, 190, 184, 0.5) 35%) !important;
    // box-shadow: 0px 0px 0px 5px $color-parking !important;
    border: 4px solid $color-parking;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .service_procuct__image {
      img {
        width: 68%;
      }
    }
  }

  .bus__service_section {
    height: 126px !important;
    width: 126px !important;
    background: linear-gradient(to bottom, #fff 65%, rgba(139, 88, 207, 0.56) 35%) !important;
    // box-shadow: 0px 0px 0px 5px $color-bus !important;
    border: 4px solid $color-bus;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .service_procuct__image {
      img {
        width: 68%;
      }
    }
  }
  .loyalty__service_section {
    height: 126px !important;
    width: 126px !important;
    background: linear-gradient(to bottom, #fff 65%, rgba(213, 173, 86, 0.69) 35%) !important;
    // box-shadow: 0px 0px 0px 5px $color-loyality !important;
    border: 4px solid $color-loyality;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .service_procuct__image {
      img {
        width: 68%;
      }
    }
  }
  .access__service_section{
    height: 126px !important;
    width: 126px !important;
    background: linear-gradient(to bottom, #fff 68%, rgba(178, 191, 80, 0.58) 23%) !important;
    // box-shadow: 0px 0px 0px 5px $color-access !important;
    border: 4px solid $color-access;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .service_procuct__image {
      img {
        width: 68%;
      }
    }
  }

  .education__service_section{
    height: 126px !important;
    width: 126px !important;
    background: linear-gradient(to bottom, #fff 68%, rgba(155, 13, 65, 0.62) 23%) !important;
    // box-shadow: 0px 0px 0px 5px $color-access !important;
    border: 4px solid $color-education;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .service_procuct__image {
      img {
        width: 68%;
      }
    }
  }
}
.procucts__cards_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 11%;
  .procucts__card {
    background-color: #fff;
    width: 27%;
    height: 250px;
    margin: 10px;
    box-shadow: 0 4px 4px 0 rgba(178, 178, 178, 0.38);
    padding: 14px 22px;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    .product__description {
      color: #000;
      font-family: $font-OpenSans-Regular;
      font-size: 12px;
    }
  }
  .medium_card {
    width: 21%;
  }
  .large_card {
    width: 36%;
    display: flex;
    justify-content: space-between;
    .procuct__image {
      height: 100%;
    }
  }

}

.Product_title {
  text-transform: uppercase;
}
.prdct_cost{
  font-family: $font-OpenSans-Bold;
  font-size: 21px;
  color: #ff6008;
}
.rupee_symbol_font {
  font-family: monospace;
}
.product__details {
  //width: 56%;
}
.procuct__image {
  text-align: center;
  width: 100%;
  //height: 133px;

  img {
    height: 100%;
    width: 100%;
  }
}

.joinus_button {
  margin-top: 14px;
  button {
    background: none;
    //border: 1px solid #fa7073;
    width: 113px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    font-family: $font-OpenSans-Semibold;
    //color: #fa7073;
  }

}

.header_with_button {
  display: flex;
  align-items: flex-end;
  background-color: #f8f6f8;
}



// products overview
.product_overview_page {
  background-color: #f8f6f8;
  height:100%;
  overflow: hidden;
}
.device_secription {
  h4 {
    font-family: $font-OpenSans-Bold;
    color: #515356;
    font-size: 17px;
  }
  p {
    font-family: $font-OpenSans-Regular;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000000;
  }
}

.device_title {
  h3 {
    font-family: $font-OpenSans-Bold;
    font-size: 31px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #333333;
    margin-bottom: 0;
  }
  span {
    font-family: $font-OpenSans-Regular;
    font-size: 12px;
    color: #515356;
  }
}

.device_services {
  margin-bottom: 20px;
  h3 {
    font-family: $font-OpenSans-Bold;
    font-size: 16px;
    color: #515356;
  }
  p {
    font-family: $font-OpenSans-Regular;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.23px;
    color: #000000;
  }
  span {
    font-family: $font-OpenSans-Regular;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.9px;
    color: #515356;

  }
}
.page_tags_list {
  display: flex;
  font-family: $font-OpenSans-Regular;
  font-size: 14px;
  color: #333333;
  p {
    span {
      color: #b1b1b1;
    }
  }
}

.device_secription {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin: 20px 0;
}

.device_cost_details {
  display: flex;
  justify-content: space-between;
  width: 29%;
  margin-top: 20px;

  .cost_section {
    span {
      font-family: $font-OpenSans-Regular;
      font-size: 14px;
      letter-spacing: 0.2px;
      color: #515356;
    }

    p, .rupee_symbol_font {
      font-family: $font-OpenSans-Semibold;
      font-size: 21px !important;
      font-weight: 600;
      color: #b1b1b1;
    }
    .actual_cost {
      text-decoration: line-through;
    }
    .cost_discount {
      color: #fa7173 !important;
      .rupee_symbol_font {
        color: #fa7173 !important;
      }
    }
  }
}

.product__device_images {
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.product_overview_specifications {
  margin-top: 55px;
  overflow-y: scroll;
  padding-bottom: 132px;
  .product__information {
    border: solid 1px #cccccc;
    background-color: #ffffff;
    margin-bottom: 20px;

    .product__information_details {
      display: flex;
      border-bottom: 2px solid #ccc;
      //padding: 10px;
      h4 {
        font-family: $font-OpenSans-Bold !important;
        color: #515356 !important;
        font-size: 17px !important;
      }
      .information_details__key,
      .information_details__value {
        font-family: $font-OpenSans-Regular;
        font-size: 16px;
        color: #5d5e5f;
      }

      .information_details__key {
        width: 30%;
        background-color: #e4e8f4;
        padding: 10px;
        margin: 0;
      }
      .information_details__value {
        width: 70%;
        padding: 10px;
        margin: 0;
      }
    }
    .note__points {
      padding: 10px;
      font-family: $font-OpenSans-Regular;
      font-size: 13px;
      line-height: 1.5;
      color: #5d5e5f;
      p {
        margin-bottom: 0;
      }
    }
  }

}



// thumbnailscroll
.product_thumnail_layout {
  display: flex;
  .product_thumnail_image {
    width: 22%;
    height: 100px;
    margin:0 10px;
    img {
      height: 100%;
      width: 100%;
    }
  }

}
.product__overview_image {
  width: 100%;
  .product_actual_image {
    //width: 40%;
    height: 300px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
    }
  }

}
.product_thumnails {
  width: 100%;
  margin: 30px 0;
}

.finace-subpart {
  text-decoration:underline;
  cursor: pointer;
}

.home_page_section1 {
  padding-left: 20%;
}
// toll css
.joinus_button_toll {
  button {
    border: 1px solid $color-toll ;
    color: $color-toll;
    &:hover {
      background-color: $color-toll;
      color: #fff;
    }
  }
}
// retail css
.joinus_button_retail {
  button {
    border: 1px solid $color-retail;
    color: $color-retail;
    &:hover {
      background-color: $color-retail;
      color: #fff;
    }
  }
}
// metro css
.joinus_button_metro {
  button {
    border: 1px solid $color-metro;
    color: $color-metro;
    &:hover {
      background-color: $color-metro;
      color: #fff;
    }
  }
}
// bus css
.joinus_button_bus {
  button {
    border: 1px solid $color-bus;
    color: $color-bus;
    &:hover {
      background-color: $color-bus;
      color: #fff;
    }
  }
}
// parking css
.joinus_button_parking {
  button {
    border: 1px solid $color-parking ;
    color: $color-parking ;
    &:hover {
      background-color: $color-parking;
      color: #fff;
    }
  }
}

// education css
.joinus_button_education {
  button {
    border: 1px solid $color-education ;
    color: $color-education ;
    &:hover {
      background-color: $color-education;
      color: #fff;
    }
  }
}
// residence css
.joinus_button_residence {
  button {
    border: 1px solid $color-residence ;
    color: $color-residence ;
  }
}
// office css
.joinus_button_office {
  button {
    border: 1px solid $color-office ;
    color: $color-office ;
  }
}

// Access css
.joinus_button_access {
  button {
    border: 1px solid $color-access ;
    color: $color-access ;
    &:hover {
      background-color: $color-access;
      color: #fff;
    }
  }
}

// Loyality css
.joinus_button_loyality {
  button {
    border: 1px solid $color-loyality ;
    color: $color-loyality ;
    &:hover {
      background-color: $color-loyality;
      color: #fff;
    }
  }
}

// railways css
.joinus_button_railways {
  button {
    border: 1px solid $color-railways ;
    color: $color-railways ;
    &:hover {
      background-color: $color-railways;
      color: #fff;
    }
  }
}

.sidebar_corner_smallimages {
  display: flex;
  align-items: center;
  img {
    margin-top: 0 !important;
    top: 5px !important;
  }
}

// .features_section {
//   .img-defalt {
//     display: block;
//     width: 150px
//   }
//   .img-hover {
//     display: none;
//     width: 150px;
//   }
//   &:hover {
//     .img-defalt {
//       display: none;
//     }
//     .img-hover {
//       display: block;
//     }
//   }
// }


.merchant_page_header_layout {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  padding: 9px 0;
  background-color: #f8f6f8;
}
.merchant__payment_services{
  // border: 1px solid #707070;
  // border-radius: 49px;
  padding: 9px 0;
}
.merchant__payment_services,
.merchant__other_services {
  display: flex;
  justify-content: space-between;
  .mer-list {
    width: 90px;
    height: 40px;
    img {
      height: 40px;
    }
  }
}

.fixed_menu_buttons {
  position: absolute;
  right: 0;
  top: 140px;
  display: flex;
  flex-direction:column;
  font-family: $font-OpenSans-Semibold;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  button {
    cursor: pointer;
    background: none;
    border: 1px solid $color-toll;
    border-radius: 50px;
    color: #171a35;
    margin-bottom: 15px;
    padding: 10px;
    width: 120px;
    &:hover, &.active_button {
      color: #fff;
      background-color: $color-toll;
      width: 122px;
    }
  }

  &.retail_fixed__buttons {
    button {
      border: 1px solid $color-retail !important;
      &:hover, &.active_button {
        background-color: $color-retail !important;
      }
    }
  }
  &.parking_fixed__buttons {
    button {
      border: 1px solid $color-parking !important;
      &:hover, &.active_button {
        background-color: $color-parking !important;
      }
    }
  }

  &.access_clr{
    button{
      border: 1px solid $color-access !important;
      &:hover, &.active_button {
        background-color: $color-access !important;
      }
    }
  }

  &.loyality_clr{
      button{
      border: 1px solid $color-loyality !important;
      &:hover, &.active_button {
        background-color: $color-loyality !important;
      }
    }
  }

  &.railways_clr{
      button{
      border: 1px solid $color-railways !important;
      &:hover, &.active_button {
        background-color: $color-railways !important;
      }
    }
  }
}
