.app_body{
  -ms-overflow-style: none;
}

input,select,button,div {
  outline: 0 ;
}
::placeholder {
    color: rgba(35, 34, 38, 0.44);

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(35, 34, 38, 0.44) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(35, 34, 38, 0.04);
}

.white_color_text {
  color: #fff !important;
}
.form_error_message {
  color: #ff0000!important;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  margin-right: -10px;
  font-family: $font-OpenSans-Semibold;
}

.height_vh {
  height: 100vh !important;
}
.height_vh_child {
  height: 100%;
}

.case__sensitive {
  text-transform: uppercase;
}

.merchant_list_data {
  padding: 25px;
  border-left: 1px solid #ccc;
}
.merchant_list_data:first-child {
    border-left: none;
}
.merchant_list_container--mid {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

// .bus_test {
//   font-size: 30px;
//   &:hover {
//     background-image: url(../assets/images/bus/selected-brackets@2x.png);
//     background-repeat: no-repeat;
//     background-size: 39%;
//     background-position: center;
//     color: $color-bus;
//
//   }
// }

//svg styles for graph height
svg.nvd3-svg {
  height: 100% !important;
}
/*****   loading spinner css starts      *****/
#page-loader{
  padding-top: 25%;
}

.spinner .fa-spin{
  font-size:15px
}

.show-pic-div{
    overflow:hidden;
    height: 50px;
}
.show-pic{
    min-height: 100%;
    max-width: 100%;
}

/*****   loading spinner css ends      *****/
.form-info-style{
  float: initial;
  margin-top: -6%;
  margin-right: 5%;
}


.side-menu-overlay{
  position: absolute;
  width: 100%;
  display: inline-block;
  bottom: -55px;
  left: 0px;
  height: 100%;
  background: rgba(49, 57, 66, 0.8);
}

 .dropdown-menu{
    background-color: #313942;
    color: white !important;
    width: 225px;
    margin-top: 15px;
    position: absolute;

 }

  .dropdown-menu a{
    color: white !important;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    padding: 10px 20px !important;
  }
 .dropdown-menu a:hover{
    color:white !important;
    background-color: #ff5757 !important;
 }
 .dropdown-menu a img{
  height:15px;
 }

 .renewel_input_label {
   border-bottom: 2px solid rgba(250, 113, 115, 0.32);
   text-align: start;
   margin-bottom: 30px;
 }

 .renewel_input_label input {
   border: none;
   background: none;
   width: 100%;
 }

 .renewel_fields_two_col {
   display: flex;
   justify-content: space-between;
 }
 .renewel_fields_two_col .renewel_input_label {
   width: 48%;
 }


 .cost_data {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  margin-top: 25px !important;
  height: 54px;
  word-break: break-all;
 }

 .panel-heading__section {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 .panel-body__answer {
   font-family: OpenSans;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.3px;
   color: rgba(35, 34, 38, 0.6);
 }
 .faq_title {
   font-family: OpenSans-semibold;
   font-size: 20px;
   font-weight: 600;
   line-height: 4.1;
   letter-spacing: 0.4px;
   text-align: left;
   color: rgba(35, 34, 38, 0.47)
 }
 .faq_question_section {
   font-family: OpenSans;
   font-size: 20px !important;
   letter-spacing: 0.4px;
   color: rgba(35, 34, 38, 0.8) !important;
 }

 .logout_menu_button {
   text-align: center;
   margin-top: 25px;
 }
 .logout_btn {
   background: none;
   border-radius: 30px;
   height: 46px;
   width: 214px;
 }



 .error-quant{
   border: 1px solid #fa7173;
 }

 .input_field_section {
   display: flex;
   align-items: center;
 }

 .home-menu-company {
   position: fixed;
   z-index: 1000;
   top: 48%;
   right: 18px !important;
 }


 .overview-section{
     overflow:auto;
     height: 100vh;
    //  added, might conflict with other components
     background-color:#fff;
 }

 .sales-transactions{
      overflow: auto;
     height: 100%;
     padding-top: 90px;
 }

 .toll-company-branch-fee{
     overflow:auto;
 }

//Style for error masg tooltip -Tanvir

.tooltip {
    position: relative;
    display: inline-block;
    z-index: auto !important;
    opacity : 1 !important;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 38%;
  height: 64%;
  right: 0%;
  background-color: #f36061;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* padding: 5px 0; */
  position: absolute;
  top: -50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  //left: 146%;
  right: 10px;
  margin-left: -100px;
  border-width: 5px;
  border-style: solid;
  border-color: #f36061 transparent transparent transparent;
}

//Style for error masg tooltip -Tanvir.

.dropdown_button {
  font-size: 25px;

  button {
    //background: none;
    border: none;
    background: url(../assets/images/guest/forma-1-copy-4.png) right 0px center no-repeat #2bb673;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dropdown_span_field {
  font-size: 14px;
  border-bottom: 1px solid #2bb673;
  cursor: pointer;
.top_up_field {
    //background: none;
    border: none;
    background: url(../assets/images/guest/down-arrow.png) right 10px center no-repeat #fff;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
    color: #000;
    margin: 0;
  }
}
.open {
  .dropdown_customised {
    display: block;
  }
}
.dropdown_customised {
  position: absolute;
  top: 89%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  p {
    color: #000000 !important;
    font-size: 20px !important;
    padding: 0 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}


.request_card_popup{
  .modal-dialog{
    text-align: center!important;
    background-color: #fff;
    margin-top: 31vh;
    height: 375px;
    width: 525px;
    border-radius: 7px;
    h2, p{
      font-family: Oswald-Regular;
      color: #7d7d7d;
    }
    img{
      width: 70px;
      margin-top: 50px;
    }
    .popup-button{
      margin-top: 50px;
      padding: 8px 70px;
      border-radius: 24px;
      background-color: #1cb96e;
      color: #fff;
      }
  }
}


.edge, .middle  {
  height: 2px;
  background-color: black;
  transition: width 0.3s, margin 0.3s;
}


.edge {
  width: 14px;
  margin: 6px 7px;
}

.middle {
  width: 28px;
  margin: 6px 0;
}

.active-tab{
  border-bottom: 4px;
  border-bottom-color:#F15556;
  border-bottom-style: solid;
  padding-bottom: 6px!important;
  color: $color-medium-text !important;
}


// checkbox custoum SCSS
.guest_reader_isuues_checkboxes {
   display: flex;
   margin-bottom: 15px;
   font-family: $font-OpenSans-Regular;
   font-size: 14px;
   text-align: left;
   color: #232226;
  input{
    margin-right: 15px;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:12px;
    width: 20px;
    height: 20px; /* dim. of the box */
    border: 1px solid #757373;
    background: $color-white;
    border-radius: 3px;
    //box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* slight inner shadow */
  }

  /* Check symbol aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\2714';
    position: absolute;
    left: 15px;
    font-size: 14px;
    color: #757373;
    transition: all .2s; /* animation incoming :p */
  }
  /* if "not checked" */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0; /* invisible */
    transform: scale(0); /* scaled down to 0 */
  }
  /* If "checked" */
  [type="checkbox"]:checked + label:after {
    opacity: 1; /* visible */
    transform: scale(1); /* scaled up to normal */
  }
  .terms_conditions {
    color: #000000;
    font-family: OpenSans-Semibold;
  }
}

.form_error_message_center_allign{
  color: #ff0000 !important;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-right: -10px;
  margin-left: 80px;
}

.customer__text_color_change {
  color: #37353f !important;
  //margin-top: 80px;
  font-family: $font-OpenSans-Light;
}

.invisble{
  visibility: hidden;
}

.legal_agreement{
    width: auto;
    border: 0;
    height: 180px;
}

.legal_agreement_popup{
  height: 85% !important;
  overflow-y: scroll !important;
}
