.modal-header{
    background-color: #2bb673;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.modal-content{
    border-radius: 15px;
}
.modal-footer .btn-default{
        border-radius: 20px;
    padding: 5px 20px 5px 20px;
}
.modal-footer .btn-default:hover{
    color: white;
    background-color: #2bb673;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;

}
.modal-backdrop {
  position: relative !important;
}

.pop_text_color {
  color: #000;
}
/*popup css*/
.modal_popup {
  background: rgba(73, 73, 73, 0.78);
  bottom: 0;
  display: none; // it was sated to none and it was not displaying popup
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1061;
}
.modal__wrapper {
  background-color: #fff;
  //border-radius: 2px;
  display: block;
  height: auto;
  margin: 161px auto;
  width: 636px;
  border-radius: 11px;
}
.modal__header {
  display: flex;
  justify-content: flex-end;
}
.modal__footer {
  padding: 10px 20px;
  border-radius: 11px;
}

.modal__content_kyc {
  display: flex;
  justify-content: space-around;
}
.border_line {
  opacity: 0.2;
  border: 1px solid #979797;
  margin: 46px 0px;
}

// Kyc and otp popup common css

.otp_section, .finger_print_section {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.otp_section,
.finger_print_section {
  p {
    font-family: Oswald;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2.5px;
    text-align: center;
    color: #7a7a7a;
    text-transform: uppercase;
  }
}

.otp_mobile_img,
.finger_print_img {
  width: 120px;
  height: 123px;
  margin-top: 31px;
}

.kyc_action_buttons {
  width: 153px;
  background: none;
  border: 2px solid #2bb673;
  border-radius: 25px;
  color: #2bb673;
  padding: 10px;
  text-align: center;
  margin: 26px auto;
  margin-top: 49px;
}

.kyc_action_buttons:hover {
  background-color: #2bb673;
  color: #ffffff;
}

.modal__footer_kyc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2bb673;
  color: #ffffff;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;

}

.modal__footer_kyc {
  button {
    background-color: #ffffff;
    border: none;
    width: 100px;
    padding: 5px;
    text-align: center;
    color: #2bb673;
    border-radius: 25px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.7px;
  }
}
.kyc_close {
  cursor: pointer;
}


//add branch popup
.branch_close_button {
  font-size: 44px;
  margin-right: 14px;
}
.add_branch_wrapper {
  height: 92%;
  margin: 40px auto ;
  width: 89%;
  border-radius: 0;
}
.add_branch_popup_form {
  padding: 10px 30px;
  .comany_details_header {
    width: 68%;
    h3 {
      font-family: $font-oswald-medium;
      font-size: 23px;
      font-weight: 500;
      text-align: left;
      color: #293c47;
    }
    p {
      margin: 0;
      font-family: $font-oswald-light;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: left;
      color: #293c47;
      -webkit-text-stroke: 1px #979797;
    }
  }
}
.add_branch_popup_form-bankdetails{
  background-color: #f8fafc;
  padding: 26px 0;
  border: 2px solid #dbe5ea;
  border-style: dashed;
  border-left: 0;
  border-right: 0;
  h3 {
    padding: 0 30px;
    margin: 0;
    font-family: $font-oswald-bold;
    font-size: 24px;
    letter-spacing: 0.9px;
    text-align: left;
    color: #232226;
    text-transform: uppercase;
  }
}
.highway-type {
  margin: 10px 0;
  padding: 0 !important;
}
.add_branch_popup_bankdetails {
  margin-top: 0 !important;
}
.add_branch_popup_button {
  margin-top: 11px;
}
.add_another--button {
  width: 100%;
}
.modal__content_branch_popup {
  height: 89%;
  overflow-y: scroll;
}

.popupclose_closebutton {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  font-size: 44px;
  position: relative;
  top: 40px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}
.popup_operator_dropdown {
  width: 50%;
  padding: 0 30px;
  .popup_operator_dropdown--field {
    .popup_operator_dropdown--values {
      p {
        &:hover {
          background-color: $color-toll;
          color: $color-white !important;
        }
      }
    }
  }
}
.add_branch_popup_content {
  margin-top: 17px;
  .accnt_settings_form {
    .accnt_settings_form--label {
      .accnt_settings_form__input {
        height: 40px !important;
      }
    }
  }
}

.modal_popup_guestLogin {
  display: block !important; // it was sated to none and it was not displaying popup
}
.guest_login_form_section {
  display: flex;
  flex-direction: column;
}
