/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Bold
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('./fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: url('./fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('./fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    //src: url('./fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Regular
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('./fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('./fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('./fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    //src: url('./fonts/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Semibold
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('./fonts/open-sans/OpenSans-Semibold-webfont.eot');
    src: url('./fonts/open-sans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/open-sans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('./fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
    //src: url('./fonts/open-sans/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: OpenSans-Light
-------------------------------------------------*/
@font-face {
    font-family: 'OpenSans-Light';
    src: url('./fonts/open-sans/OpenSans-Light-webfont.eot');
    src: url('./fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('./fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    //src: url('./fonts/open-sans/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Roboto-Regular
-------------------------------------------------*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Roboto-Medium
-------------------------------------------------*/
@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Roboto-Bold
-------------------------------------------------*/
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/roboto/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Roboto-Black
-------------------------------------------------*/
@font-face {
    font-family: 'Roboto-Black';
    src: url('./fonts/roboto/Roboto-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

// Oswald Family Fonts
/*-------------------------------------------------
FONTS: FAMILY :: Oswald-Regular
-------------------------------------------------*/
@font-face {
    font-family: 'Oswald-Regular';
    src: url('./fonts/Oswald/Oswald-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Oswald-Medium
-------------------------------------------------*/
@font-face {
    font-family: 'Oswald-Medium';
    src: url('./fonts/Oswald/Oswald-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Oswald-Bold
-------------------------------------------------*/
@font-face {
    font-family: 'Oswald-Bold';
    src: url('./fonts/Oswald/Oswald-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Oswald-Light
-------------------------------------------------*/
@font-face {
    font-family: 'Oswald-Light';
    src: url('./fonts/Oswald/Oswald-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Oswald-Heavy
-------------------------------------------------*/
@font-face {
    font-family: 'Oswald-Heavy';
    src: url('./fonts/Oswald/Oswald-Heavy.ttf');
    font-weight: normal;
    font-style: normal;
}
