/*****    footer css starts     *****/

footer{
    position: fixed;
    bottom:0px;
    padding: 10px 0;
    //height:96px;
    background-color: #2bb673;
    width:100%;
}

.merchant .footer-text{
    color: white;
}
.footer-text{
    color: #227360;
    text-decoration: underline;
    font-family: $font-OpenSans-Semibold;
    font-size:13px;
    font-weight: 600;
}

.footer-img{
    padding-right: 0px;

    img {
      height: 20px;
    }
}

.footer-text-left{
    padding-left: 0px;
}

.footer-icon{
    padding:3.5px 0px;
}

.call-us{
    font-family: $font-OpenSans-Semibold;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    padding: 0px 10px;
}


@media only screen and (min-width: 1020px) and (max-width: 1650px) {
   footer{
        height:58px;
   }

   .footer-text{
        font-size:13px;
    }

    .footer-img img{
        height: 20px;
    }

    .call-us{
        font-size: 20px;
    }

    .footer-icon-right{
            width: 250px;
            float: right;
            padding-right: 40px;
    }


}
/*****    footer css ends     *****/
