/*****    header nav bar css starts     *****/
.customer .location-icon{
    margin-right:25% !important;
    width: 34% !important;
}
.login-icon {
    background: rgba(43, 182, 115, 0);
    border-radius: 30px;
    text-align: center;
    padding: 13px 30px 13px 30px;
    height: 50px;
    border: 2px solid #9cbeb7;
    width: 175px;
    font-size: 15px;
    color: #227360;
    font-weight: 600;
    font-family: OpenSans-Regular;
    margin-top: 25px;
}
.main-logo{
  width:100px;
}
.login-map-icon {
    background: rgba(43, 182, 115, 0);
    border-radius: 30px;
    text-align: center;
    padding: 13px 30px 13px 30px;
    height: 50px;
    border: 2px solid #9cbeb7;
    width: 175px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    font-family: OpenSans-Regular;
    margin-top: 25px;

}

.location-icon {
    background: rgba(43, 182, 115, 0);
    border-radius: 30px;
    text-align: center;
    padding: 8px 5px 18px 7px;
    border: 2px solid #9cbeb7;
    font-size: 10px;
    float: right;
    color: #227360;
    font-weight: 600;
    font-family: OpenSans-Regular;
    margin-top: 25px;
    width: 75%;
    display: flex;
    align-items: center;
}


.main-logo-cnt{
    padding:20px;
}

.nav-text{
    font-size: 15px;
    font-weight: 600;
    font-family: OpenSans-Regular;
    color: #227360;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav-text{
    color: #ffffff;
}

.location{
    top:25px;
    text-align: center;
}

.mer-cust{
    top:25px;
    text-align:right;
    padding-right: 25px;
}

.location-button{
    position: absolute;
    top: 0px;
    left: 37%;
    padding-top: 15px;
}

.down-arrow{
    padding-left: 0px;
    padding-top: 7px;
}

.globe-icon{

}

.mer-cust-btn{
    position: absolute;
    top: 0px;
    right: 75px;
    padding-top: 15px;
}

.customer .mer-cust-btn {
              right: 70px;
    }

.slash-icon{
        padding: 0px 5px 0px 5px;
        color:black;
}

.header .slash-icon{
    color:#ffffff;
}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}


@media only screen and (min-width: 1020px) and (max-width: 1650px) {

    .login-icon{
      background: rgba(43, 182, 115, 0);
      border-radius: 30px;
      text-align: center;
      padding: 8px 20px 8px 20px;
      height: 34px;
      border: 2px solid #9cbeb7;
      width: 135px;
      font-size: 10px;
      color: #227360;
      font-weight: 600;
      font-family: OpenSans-Regular;
      margin-top: 15px;
    }
    .login-map-icon{
      background: rgba(43, 182, 115, 0);
      border-radius: 30px;
      text-align: center;
      padding: 8px 20px 8px 20px;
      height: 34px;
      border: 2px solid #9cbeb7;
      width: 135px;
      font-size: 10px;
      color: white;
      font-weight: 600;
      font-family: OpenSans-Regular;
      margin-top: 15px;
    }

    .location-icon{
        background: rgba(43, 182, 115, 0);
        border-radius: 30px;
        text-align: center;
        padding: 8px 5px 8px 7px;
        border: 2px solid #9cbeb7;
        font-size: 10px;
        float: right;
        color: #227360;
        font-weight: 600;
        font-family: OpenSans-Regular;
        margin-top: 11px;
        width: 75%;
    }
    .nav-text{
        font-size: 9px;
        overflow: hidden;
        //display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .main-logo-cnt{
        padding: 10px;
    }

    .main-logo{
        width:100px;
    }

    .mer-cust{
        top:15px;
        padding-right:15px;
    }

    .mer-cust img{
        width:110px;
    }

    .location{
        top:15px;
    }

    .location > img{
        width:130px;
    }

    .location-button{
        left: 39%;
        padding-top: 10px;
    }

    .mer-cust-btn{
            padding-top: 10px;
            right: 60px;
    }

    .customer .mer-cust-btn {
              right: 40px;
    }

    .customer .mer-cust .lgn-reg{
        width:140px !important;
    }

    .customer .menu{
        width: 15px !important;
        padding-top: 12px;
    }

    .menu-align{
        padding:0px;
    }

    .location-text{
        padding-left:7px;
        padding-right:9px;
    }
    .down-arrow{
        padding-top:4px;
        padding-right:0px;
    }

    .down-arrow > img{
        width:9px;
    }

    .globe-icon > img{
        width:13.5px;
    }
}

/*****    header nav bar css ends     *****/
