.alert_error_msg {
  height: 36px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-bottom: 4px;
}
.rupee_symbol {
  color: #2bb673;
  font-weight: bold;
}
.cursor_pointer {
  cursor: pointer !important;
}

// carousel left and right styles
.carousel-control.right {
  background: none !important;
}
.carousel-control.left {
  background: none !important;
}

// common dropdown css
.common_select_styles  {
  background: url(../assets/images/guest/forma-1-copy-4.png) right 10px center no-repeat #fff;
  background-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.option_select{
  border: none;
  font-family: Oswald-Regular;
  font-size: 30px;
  letter-spacing: 0.9px;
  color: red;
  // width: 213px;
}

.static_value_rupee_symbol {
  position: relative;
  label {
    position:absolute;
    left:15px;
    font-weight:bold;
    color:#2bb673;
    top:2px;
  }
  input {
    padding-left:13px;
  }
}

.lost_card_confirmation {

  padding: 15px 0px 0px 40px;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  height: calc(100% - 150px);


}

.card-section-msg{
  overflow: scroll !important;
}

.side_menu_list {
  .home-menu-tag {
    li {
      text-align: left;
      margin-bottom: 8px;
    }
    .non-flow{
    display: inline-block;
      img {
        padding-left:5px;
      }
    }
    .active {
      .flow {
        display:inline-block;
      }
      .non-flow{
        display:none;
      }
    }
  }

  .carousel-control {
    top: 95% !important;
    width: 38% !important;
  }
}
.toll_products_indicators {
  bottom: -13px !important;
  li {
    border: 1px solid #fa7173;
  }
  .active {
    background-color: #fa7173 !important;
  }
}


.triangle-down-right {
  right: 0px;
  top: 18vh;
  bottom: 0;
  height: 103vh;
  overflow: hidden;
  position: fixed;
  z-index: 0;
  &:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    margin-top: 0px;
    border-top: 806px solid transparent;
    border-right: 730px solid #fc6465;
  }
}

.croppie-container {
    width: 400 !important;
    height: 400 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
//DOE-841
.body-right-panel {
  .card__content__thumbnail{
    cursor: unset !important;
  }
}

.sup-head{
  p {
    font-family: $font-OpenSans-Light;
    font-size: 17px;
    font-weight: 300;
    color: rgba(35, 34, 38, 0.7);
    line-height: 24px;
  }
}

.money{
    cursor: pointer !important; //Doe-832
}

//parking view operators css

.edit_mode_operators {
  background-color: #ffffff !important;
}

.tabbable-panel {
  padding: 10px;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #F15556!important;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #F15556;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 2px solid #ddd;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}



.card_details_seen, {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.operator_card__details--buttons {
  display: flex;
  justify-content: space-evenly;
  button {
    width: 200px;
    height: 51px;
    border: none;
    border-radius: 100px;
    background-color: #eff3f6;
    color: #9b9b9b;

    &:hover {
      background-color: #2bb673;
      color: #fff;
    }
  }
}

.tab_change_password_details {
  .input_field_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    width: 540px;
    height: 55px;
    object-fit: contain;
    border: solid 1px #e0e0e0;
    margin: 30px auto;

    input {
      border: none;
      text-align: right;
      width: 348px;
    }
  }

}

.tab_change_password_details_button {
  button {
    width: 540px;
    height: 51px;
    border: none;
    border-radius: 100px;
    background-color: #eff3f6;
    color: #9b9b9b;

    &:hover {
      background-color: #2bb673;
      color: #fff;
    }
  }
}

//upload image
.overview_upload_image_button {
  text-align: center;
  margin-top: 10px;
  span {
    font-size: 20px;
  }
}

//signup screen buttons

.signup_button {
  button {
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
  }

}

.overlay_close_button_image {
  margin-left: -67px;
  position: fixed;
  top: 15px;
  width: 50px;
}

.guest_cart_icon {
  img {
    width: 20px;
  }
  p {
    position: absolute;
    bottom: -15px;
    text-align: center;
    padding: 5px;
    width: 20px;
    right: 0px;
    color: #ffffff;
    font-size: 10px;
    border-radius: 10px;
  }
}

.notification_image {
  img {
    width: 32px;
  }
  span {
    position: absolute;
    top: 0px;
    right: -5px;
  }
}

.chart {display: block;}

// remove the blue box from around the buttons
input:focus,
select:focus,
textarea:focus,
button:focus,
p:focus {
    outline: none!important;
}
