/*===========================================
All the variabels css including colors,fonts etc...
=============================================*/

$color-toll : #fa7173;
//$color-ttd : #e36d3d;
$color-bus : #8b58cf;
$color-metro: #3a78e9;
$color-education : #9b0d41;
$color-residence : #faa83c;
$color-office : #000080;
$color-access : #b2bf50;
$color-loyality : #d5ad56;
$color-railways : #df4f4f;
$color-retail : #e6831a;
$color-parking : #22beb9;

$color-white : #fff;
$color-black : #000;
$color-grey : #f2f3f5;
$color-blackish : #232226;
$color-drak-grey : #b9b3b3;
$color-sliver : #c6c6c6;
$color-aliceblue : #eff3f6;
$color-red : #ff0000;
$color-green : #1dae66;

// font-colors

$color-light-text : #616161;
$color-medium-text : #303030;


//font sizes
$font-size-normal: 30px;
$font-size-medium : 35px;
$font-size-large : 40px;
$font-size-smaller : 28px;
$font-size-extra-small : 22px;

//font-families
$font-oswald-regular : Oswald-Regular;
$font-oswald-bold : Oswald-Bold;
$font-oswald-medium : Oswald-Medium;
$font-oswald-light : Oswald-Light;

$font-OpenSans-Bold : OpenSans-Bold;
$font-OpenSans-Semibold : OpenSans-Semibold;
$font-OpenSans-Regular : OpenSans-Regular;
$font-OpenSans-Light : OpenSans-Light;

$font-Roboto-Bold : Roboto-Bold;
$font-Roboto-Semibold : Roboto-Medium;
$font-Roboto-Regular : Roboto-Regular;
$font-Roboto-Black : Roboto-Black;
