<div class="Joius__page_conatiner" >
  <div class="Joius__page_header">
		<img src="assets/images/demo/arrow-group.png" [routerLink]="['/merchant']" style="cursor:pointer" alt="arrow-group_logo">
    <p [routerLink]="['/merchant']">DOE</p>
  </div>
  <div class="joinus__container_layout">
    <div class="Joinus__page_conatiner--form">
      <div class="joinus__page_logo_section">
        <div class="logo_section_content">
          <h3>DOE</h3>
          <p>Rechargeable and Contactless Smart Card that Everyone can Use</p>
        </div>
        <div class="services_logo_section">
          <div class="service__tourch_view">
            <div class="indiduval_service__view">
              <img src="assets/images/demo/toll_service.png" alt="toll_service_img">
              <p>Toll</p>
            </div>
            <div class="indiduval_service__view">
              <img src="assets/images/demo/bus-front-view-with-sign.png" alt="bus-front_img">
              <p>Bus</p>
            </div>
            <div class="indiduval_service__view">
              <img src="assets/images/demo/parking_service.png" alt="parking_service_img">
              <p>Parking</p>
            </div>
            <div class="indiduval_service__view">
              <img src="assets/images/demo/retail_service.png" alt="retail_service_img">
              <p>Retail</p>
            </div>
            <div class="indiduval_service__view">
              <img src="assets/images/demo/metro_service.png" alt="metro_service_img">
              <p>Metro</p>
            </div>
            <div class="indiduval_service__view">
              <img src="assets/images/demo/doe-education.png" alt="doe-education_img">
              <p>Education</p>
            </div>
            <div class="indiduval_service__view">
              <img src="assets/images/demo/access_service.png" alt="access_service_img">
              <p>Access</p>
            </div>
            <div class="indiduval_service__view">
              <img src="assets/images/demo/loyality_service.png" alt="loyality_service_img">
              <p>Loyality</p>
            </div>
          </div>
          <div class="merchant_logo_form">
            <img src="assets/images/demo/merchant-form-logo.png" alt="merchant-form_logo">
          </div>
        </div>
      </div>
      <div class="joinus__page_form_section merchant__joinus_page_form">
        <p class="form_sub_text">Thank you for your interest. Just fill in the details and our team will reach out with further steps. </p>
        <div class="joinus_form__fields">
          <form class="" [formGroup]="joinusForm" (ngSubmit)="onSubmit()" name="userregistration">
            <div class="joinus__form_layout joinus__form_layout--merchant">
              <div class="field_input_floating width_100">
                <div class="float_input_style joinus_fields">
                  <input formControlName = "companyname" focus-next type="text" maxlength="25" class="input-box joinus_floating-input" placeholder="Company Name">
                  <label for="fullname">Company Name</label>
                </div>
                <p class="form_error_message">{{formErrors.companyname}}</p>
              </div>
              <div class="field_input_floating width_100">
                <div class="float_input_style joinus_fields">
                  <input formControlName = "name" focus-next type="text" maxlength="25" class="input-box joinus_floating-input" placeholder="Contact Person Name">
                  <label for="fullname">Contact Person Name</label>
                </div>
                <p class="form_error_message">{{formErrors.name}}</p>
              </div>
              <div class="field_input_floating width_48">
                <div class="float_input_style joinus_fields">
                  <input formControlName = "mobileNumber" focus-next type="text" class="input-box joinus_floating-input" placeholder="Mobile Number">
                  <label for="fullname">Mobile Number</label>
                </div>
                <p class="form_error_message">{{formErrors.mobileNumber}}</p>
              </div>
              <div class="field_input_floating width_48">
                <div class="float_input_style joinus_fields">
                  <input formControlName = "email" focus-next type="text" class="input-box joinus_floating-input" placeholder="Email(Optional)">
                  <label for="fullname">Email</label>
                </div>
                <p class="form_error_message">{{formErrors.email}}</p>
              </div>
              <div class="field_input_floating width_48">
                <div class="float_input_style joinus_fields">
                  <input formControlName = "gst" focus-next type="text" class="input-box joinus_floating-input" placeholder="GST">
                  <label for="fullname">GST</label>
                </div>
                <p class="form_error_message">{{formErrors.gst}}</p>
              </div>
              <div class="field_input_floating width_48">
                <div class="float_input_style joinus_fields">
                  <input formControlName = "location" focus-next type="text" class="input-box joinus_floating-input" placeholder="EX:HSR">
                  <label for="fullname">Location</label>
                </div>
                <p class="form_error_message">{{formErrors.location}}</p>
              </div>
              <div class="field_input_floating width_100">
                <div class="float_input_style float_select_style joinus_fields">
                  <!-- <label for="bussinesstype">Business Type</label> -->
                  <select id="bussiness" name="bussiness" formControlName = "businesstype">
                    <option value="">Select Bussiness Type</option>
                    <option value="Toll">Toll</option>
                    <option value="Retail">Retail</option>
                    <option value="Parking">Parking</option>
                    <option value="Bus">Bus</option>
                    <option value="Education">Education</option>
                    <option value="Metro">Metro</option>
                    <option value="Railways">Railways</option>
                  </select>
                </div>
                <!-- <p class="form_error_message">{{formErrors.location}}</p> -->
              </div>
              <!-- <div class="field_input_floating width_100">
                <div class="float_input_style joinus_fields">
                  <input formControlName = "businesstype" focus-next type="text" class="input-box joinus_floating-input" placeholder="Business Type">
                  <label for="fullname">Business Type</label>
                </div>
                <p class="form_error_message">{{formErrors.location}}</p>
              </div> -->
              <div class="field_input_floating ">
                <div class="joinus_fields">
                  <textarea formControlName="textarea" rows="8" cols="80" placeholder="Say something"></textarea>
                </div>
              </div>
            </div>

            <div class="">
              <p class="" style="color: #ff0000;font-weight: bold;font-size: 16px;font-family: OpenSans-Semibold;">{{formErrors.recaptcha}}</p>
              <div class="captcha__section">
                <ngx-recaptcha2 #captchaElem
                  [siteKey]="siteKey"
                  (reset)="handleReset()"
                  (expire)="handleExpire()"
                  (load)="handleLoad()"
                  (success)="handleSuccess($event)"

                  [size]="size"
                  [hl]="lang"
                  [theme]="theme"
                  [type]="type"
                  formControlName="recaptcha">
                </ngx-recaptcha2>
              </div>
            </div>

            <div class="joinus_submit_action">
  						<button type="submit" class="submit-box">Submit</button>
        		</div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Registration sucessfull Modal content-->
<div class="modal" id="confirmationrechargeModal" role="dialog" *ngIf="showRegisterPopup.show" style="display: block;closeTimer: 1000;background-color: rgba(0, 0, 0, 0.90);">
  <div class="modal-dialog success_modal-dialog">
    <div class="modal-content success_modal-content">
    	<div class="modal-body success_modal-body">
				<img src="assets/images/demo/lc-suc.png" alt="success_logo">
				<div class="success_content">
					<h4>successfully Submitted</h4>
					<p>Your request has been placed. We will get back to you soon.</p>
				</div>
				<button type="button" class="success_done_btn" data-dismiss="modal" (click)="showRegisterPopup.show = false">DONE</button>
    	</div>
    </div>
  </div>
</div>


<modal></modal>
<!--mobile number modal ends here-->
