<!-- right nav bar starts -->
<div id="toll-menu" class="sidenav rightsidenav right_side_menunav tollmenunav">
  <div showfaqanswer [type]="'menu_back_btn'" class="back" emmitcustomevent [scrollFlag]="'off'">
    BACK <img src="assets/images/toll/right.png" alt="right_logo">
  </div>
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <a class="section1">
            <div class="row toll-side-menu toll-top-side-menu toll-side-menu-js active" CommonSideMenu [type]="'about-toll'" emmitcustomevent [scrollFlag]="'off'">
            <div class="col-md-8 text-right menu-text cursor_pointer">ABOUT TOLL</div>
            <div class="col-md-4 text-center">
              <img class="un-sel-menu" src="assets/images/toll/toll-mer.png" alt="toll_mer_logo">
              <img class="sel-menu" src="assets/images/toll/vector-smart-object-copy.png" alt="vector-smart-object-copy_logo">
            </div>
          </div>
        </a>

          <a class="section2">
          <div class="row toll-side-menu toll-side-menu-js" CommonSideMenu [type]="'toll-features'" emmitcustomevent [scrollFlag]="'off'">
            <div class="col-md-8 text-right menu-text cursor_pointer">FEATURES</div>
            <div class="col-md-4 text-center">
              <img class="un-sel-menu" src="assets/images/toll/features-sm.png" alt="features-sm_logo">
              <img class="sel-menu" src="assets/images/toll/features-sm-copy.png" alt="features-sm_logo">
            </div>
          </div>
        </a>

          <a class="section3">
         <div class="row toll-side-menu toll-side-menu-js" CommonSideMenu [type]="'toll-product'" emmitcustomevent [scrollFlag]="'off'">
          <div class="col-md-8 text-right menu-text cursor_pointer">PRODUCT</div>
          <div class="col-md-4 text-center">
            <img class="un-sel-menu" src="assets/images/toll/product.png" alt="product_img">
            <img class="sel-menu" src="assets/images/toll/toll-product.png">
          </div>
        </div>
      </a>

        <a class="section4">
        <div class="row toll-side-menu toll-side-menu-js" CommonSideMenu [type]="'toll-faqs'" emmitcustomevent [scrollFlag]="'off'">
           <div class="col-md-8 text-right menu-text cursor_pointer">FAQS</div>
          <div class="col-md-4 text-center">
              <img class="un-sel-menu" src="assets/images/toll/z.png" alt="toll_img">
              <img class="sel-menu" src="assets/images/toll/z-copy.png" alt="toll-copy_img">
          </div>
        </div>
      </a>

        <div class="row text-center">
          <img class="divide-menu" src="assets/images/toll/bar-line.png">
        </div>

        <div class="row toll-side-menu toll-side-menu-js">
           <div class="col-md-8 text-right menu-text cursor_pointer">READER SERVICES</div>
          <div class="col-md-4 text-center">
              <img class="un-sel-menu" src="assets/images/common/reader-services@2x.png">
          </div>
        </div>
        <div class="row logout_menu_button" *ngIf="tollmenu.userinfo.accesstoken">
          <button type="button" name="button" class="logout_btn toll_logout_btn" (click)="tollLogout()" showfaqanswer [type]="'menu_back_btn'">LOGOUT</button>
        </div>
        <div class="row social-feed">
            <div class="col-md-6 cursor">
              <p class="flw-us toll_text_color">Follow us</p>
            </div>
            <div class="col-md-6">
              <img class="social-icon cursor" src="assets/images/toll/lin-mer.png" alt="lin-mer_img">
              <img class="social-icon cursor" src="assets/images/toll/fb-mer.png" alt="fb-mer_icon">
              <img class="social-icon cursor" src="assets/images/toll/twit-mer.png" alt="twit-mer_icon">
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right nav bar ends -->
