<div class="Joius__page_conatiner" >
  <div class="Joius__page_header">
		<img src="assets/images/demo/arrow-group.png" [routerLink]="['/']" style="cursor:pointer" alt="arrow_logo">
    <p [routerLink]="['/home']">DOE</p>
  </div>

  <!----container box section starts  ----->

  <consumer-joinus-form></consumer-joinus-form>
  <!----container box section ends  ----->



</div>
