<div id="main" class="guest__page side_menu_list parking">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="main-logo_img">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_parking">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>

    <div class="row home-menu text-center" id="fp-nav">
        <ul class="home-menu-tag toll-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow"><img src="assets/images/parking/parking-forma.png" alt="parking_form1_img"><span class="parking_text_color">ABOUT PARKING</span></div>
                <div class="text-center non-flow"><img src="assets/images/parking/parking-forma-1.png" alt="parking_form2_img"><span>ABOUT PARKING</span></div>
              </a>
          </li>
          <li class="section2">
              <a data-target="#2">
                <div class="text-center flow"><img src="assets/images/parking/parking-forma.png" alt="parking_form1_img"><span class="parking_text_color">FEATURES</span></div>
                <div class="text-center non-flow"><img src="assets/images/parking/parking-forma-1.png" alt="parking_form2_img"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow"><img src="assets/images/parking/parking-forma.png" alt="parking_form1_img"><span class="parking_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow"><img src="assets/images/parking/parking-forma-1.png" alt="parking_form2_img"><span>PRODUCTS</span></div>
              </a>
          </li>
          <li class="section5">
              <a data-target="#4">
                <div class="text-center flow cursor"><img src="assets/images/parking/parking-forma.png" alt="parking_form1_img"><span class="parking_text_color">SERVICES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/parking/parking-forma-1.png" alt="parking_form2_img"><span>SERVICES</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#5">
                <div class="text-center flow"><img src="assets/images/parking/parking-forma.png"><span class="parking_text_color">FAQS</span></div>
                <div class="text-center non-flow"><img src="assets/images/parking/parking-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>


  <!--   <div class="row sectiondiv" parkingpagescroll> -->
    <div class="row sectiondiv"  mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" [mnFullpageControlArrows]="false" mnFullpageSlidesNavPosition="bottom">

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row section fp-section fp-table" data-section-name="aboutparking">
        <div class="row fp-tableCell service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
              	<div class="col-md-7">
              		<h3 class="finace-head" [innerHtml]="content?.PARKING.ABOUT.INTRO_LINE"></h3>
              		<p class="finace-sub">{{content?.PARKING.ABOUT.SUB_TITLE}}</p>

              		<!-- <span class="parking__finace-subpart parking_text_color" [routerLink]="['/parking/be-merchant']" >Want to become an DOE Merchant?</span> -->
              	</div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/parking/parking-smart.png" alt="parking-smart-icon"></div>
              </div>
          </div>
        </div>
        <div class="fixed_menu_buttons parking_fixed__buttons">
          <button type="button" name="button" [routerLink]="[ '/']">Consumer</button>
          <button class="active_button" type="button" name="button">Bussiness</button>
          <button type="button" name="button" [routerLink]="[ '/corporate']">Corporate</button>
        </div>
      </div>

    <!-- Section 1 ends here-->

     <!-- Section 2 starts here-->

      <div id="section2" class="container-fluid row section fp-section fp-table" data-section-name="features">

        <!-- <div class="row service_section_alignment">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div col="row">
              <h1 class="text-center" [innerHtml]="content?.PARKING.FEATURES.TAG_LINE"></h1>
            </div>
              <div id="myCarousel" class="carousel slide sec-row parking__slider guest_page_slider_height" data-ride="carousel">
                <ol class="carousel-indicators parking__features-slider">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner parking_slider_content" role="listbox">
                    <div class="row item active">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="hm-scr2-blck">
                              <img class="img-defalt cursor" src="assets/images/parking/parking-metro-icon.png">
                              <img class="img-hover cursor" src="assets/images/parking/parking-metro-icon copy.png">
                              <h4 class="text-center name-text">{{content?.PARKING.FEATURES.CONTENT_TABS.EASY_PARKING.NAME}}</h4>
                              <input class="img-hover parking_view_btn" type="submit" value="VIEW" ParkingSideMenu [type]="'metroparking'" emmitcustomevent [scrollFlag]="'on'">
                              <p class="text-center">{{content?.PARKING.FEATURES.CONTENT_TABS.EASY_PARKING.SUMMARY}}</p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="hm-scr2-blck">
                              <img class="img-defalt cursor" src="assets/images/parking/ellipse-8-copy.png">
                              <img class="img-hover cursor" src="assets/images/parking/retail-parking-icon.png">
                              <h4 class="text-center name-text">{{content?.PARKING.FEATURES.CONTENT_TABS.INCREASED_SECURITY.NAME}}</h4>
                              <input  class="img-hover parking_view_btn" type="submit" value="VIEW" ParkingSideMenu [type]="'retailparking'" emmitcustomevent [scrollFlag]="'on'">
                              <p class="text-center">{{content?.PARKING.FEATURES.CONTENT_TABS.INCREASED_SECURITY.SUMMARY}}</p>
                            </div>
                          </div>

                        </div>
                    </div>
                    <div class="row item">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="hm-scr2-blck">
                              <img class="img-defalt cursor" src="assets/images/parking/parking-metro-icon.png">
                              <img class="img-hover cursor" src="assets/images/parking/parking-metro-icon copy.png">
                              <h4 class="text-center name-text">{{content?.PARKING.FEATURES.CONTENT_TABS.FASTER_ALLOCATION.NAME}}</h4>
                              <input  class="img-hover parking_view_btn" type="submit" value="VIEW" ParkingSideMenu [type]="'residenceparking'" emmitcustomevent [scrollFlag]="'on'">
                              <p class="text-center">{{content?.PARKING.FEATURES.CONTENT_TABS.FASTER_ALLOCATION.SUMMARY}}</p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="hm-scr2-blck">
                              <img class="img-defalt cursor" src="assets/images/parking/ellipse-8-copy.png">
                              <img class="img-hover cursor" src="assets/images/parking/retail-parking-icon.png">
                              <h4 class="text-center name-text">{{content?.PARKING.FEATURES.CONTENT_TABS.HASSLE_FREE_PROCESSING.NAME}}</h4>
                              <input  class="img-hover parking_view_btn" type="submit" value="VIEW" ParkingSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                              <p class="text-center">{{content?.PARKING.FEATURES.CONTENT_TABS.HASSLE_FREE_PROCESSING.SUMMARY}}</p>
                            </div>
                          </div>


                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-2"></div>
        </div> -->

        <div class="fp-tableCell service_section_alignment">
          <div class="merchant__feature_container">
            <div col="row">
              <h1 class="text-center" [innerHTML]="content?.PARKING.FEATURES.TAG_LINE"></h1>
            </div>
            <div class="merchant_services_features_layout">
              <div class="services_features_section services_features_section__parking" ParkingSideMenu [type]="'metroparking'" emmitcustomevent [scrollFlag]="'on'">
                <div class="features_image_section features_image_section__parking">
                  <img class="non-hover-image" src="assets/images/demo/parking/car-non-hover.png" alt="car-non-hover_img">
                  <img class="hover-image" src="assets/images/demo/parking/car-hover.png" alt="car-hover_img">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.EASY_PARKING.NAME"></h4>
                  <p [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.EASY_PARKING.SUMMARY"></p>
                </div>
              </div>

              <div class="services_features_section services_features_section__parking" ParkingSideMenu [type]="'retailparking'" emmitcustomevent [scrollFlag]="'on'">
                <div class="features_image_section features_image_section__parking">
                  <img class="non-hover-image" src="assets/images/demo/parking/secure-non-hover.png" alt="secure-hover_img">
                  <img class="hover-image" src="assets/images/demo/parking/secure-hover.png" alt="secure_hover_img">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.INCREASED_SECURITY.NAME"></h4>
                  <p [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.INCREASED_SECURITY.SUMMARY"></p>
                </div>
              </div>

              <div class="services_features_section services_features_section__parking" ParkingSideMenu [type]="'residenceparking'" emmitcustomevent [scrollFlag]="'on'">
                <div class="features_image_section features_image_section__parking">
                  <img class="non-hover-image" src="assets/images/demo/parking/xmlid-non-hover.png" alt="">
                  <img class="hover-image" src="assets/images/demo/parking/xmlid-hover.png" alt="">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.FASTER_ALLOCATION.NAME"></h4>
                  <p [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.FASTER_ALLOCATION.SUMMARY"></p>
                </div>
              </div>

              <div class="services_features_section services_features_section__parking" ParkingSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                <div class="features_image_section features_image_section__parking">
                  <img class="non-hover-image" src="assets/images/demo/parking/processing-time-non-hover.png" alt="processing-time-hover_img">
                  <img class="hover-image" src="assets/images/demo/parking/processing-time-hover.png" alt="processing-time-hover_img">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.HASSLE_FREE_PROCESSING.NAME"></h4>
                  <p [innerHTML]="content?.PARKING.FEATURES.CONTENT_TABS.HASSLE_FREE_PROCESSING.SUMMARY"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

       <!-- Section 2 ends here-->



       <!-- section Scroll PRODUCTS from toll -->
       <div id="section4" class="container-fluid row metrosection fp-section fp-table" data-section-name="PRODUCTS">
         <div class="fp-tableCell service__products service_section_alignment">
           <div class="procucts__cards_layout">
             <ng-container *ngFor="let item of parkingLand.deviceinfo.items | keys; let i=index" >
               <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                 <div class="procuct__image">
                   <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                   <img src="{{parkingLand.deviceinfo.items[item].image}}" alt="deviceinfo_img">
                 </div>
                 <div class="product__details">
                   <h4 class="Product_title">{{parkingLand.deviceinfo.items[item].name}}</h4>
                   <p class="product__description">{{parkingLand.deviceinfo.items[item].summary}} </p>

                   <h3 class="prdct_cost" *ngIf="parkingLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{parkingLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                 </div>
               </div>
             </ng-container>

           </div>
         </div>
       </div>
       <!--section 4 ends here -->

       <div id="section5" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="services">
         <div class="fp-tableCell service__products">

           <div class="services__container six_layer_service_container">
             <!-- <div col="row">
               <h1 class="text-center"><span class='parking_text_color'>LOREM IPSUM</span> IS SIMPLY DUMMY TEXT OF</h1>
             </div> -->
             <div class="services__sections__layout">
               <div class="srvice_section_box" RetailSideMenu [type]="'retail-restuarent'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="service__section parking__service_section cursor" >
                   <div class="service_procuct__image">
                     <img src="assets/images/demo/parking/parking-airport.png" alt="parking_airport_img">
                   </div>
                 </div>
                 <p>Airport</p>
               </div>
               <div class="srvice_section_box" RetailSideMenu [type]="'retail-fuelstation'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="service__section parking__service_section cursor" >
                   <div class="service_procuct__image">
                     <img src="assets/images/demo/parking/parking-railways.png" alt="parking_railwat_img">
                   </div>
                 </div>
                 <p>Railways</p>
               </div>
               <div class="srvice_section_box" RetailSideMenu [type]="'retail-taxi'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="service__section parking__service_section cursor" >
                   <div class="service_procuct__image">
                     <img src="assets/images/demo/parking/parking-taxi.png" alt="parking_taxi_img">
                   </div>
                 </div>
                 <p>On Street Parking</p>
               </div>
               <div class="srvice_section_box" RetailSideMenu [type]="'retail-supermarket'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="service__section parking__service_section cursor" >
                   <div class="service_procuct__image">
                     <img src="assets/images/demo/parking/parking-temples.png" alt="parking_temple_img">
                   </div>
                 </div>
                 <p>Temples</p>
               </div>

               <div class="srvice_section_box" RetailSideMenu [type]="'retail-vendingmachine'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="service__section parking__service_section cursor" >
                   <div class="service_procuct__image">
                     <img src="assets/images/demo/parking/parking-malls.png" alt="parking_mall_img">
                   </div>
                 </div>
                 <p>Malls</p>
               </div>
               <div class="srvice_section_box" RetailSideMenu [type]="'retail-smallshop'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="service__section parking__service_section cursor" >
                   <div class="service_procuct__image">
                     <img src="assets/images/demo/parking/parking-street.png" alt="parking_street_img">
                   </div>
                 </div>
                 <p>Commercial Street Parking</p>
               </div>
             </div>
           </div>

         </div>
       </div>


        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row section fp-section fp-table" data-section-name="faq">
          <div class="fp-tableCell service_section_alignment">
              <div class=" faq__section_content">
                  <h1 class="faq row">FAQs</h1>
                  <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
                  <div class="row">
                    <div class="select-topic col-md-3">Select a topic</div>
                    <div class="col-md-6 select-input cursor" #c (change)="changefaqbyid(c.value)">
                        <select class="cursor" #c (change)="changefaqbyid(c.value)">
                          <ng-container *ngFor="let item of content?.PARKING.FAQS; let j=index ">
                            <option value="{{j}}" >{{item.description}}</option>
                          </ng-container>
                        </select>
                    </div>
                    <div class="col-md-3">
                      <input CommonSideMenu [type]="'parking_faq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
                    </div>
                  </div>
              </div>
          </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>

    	<parking-footer></parking-footer>
</div>

<parking-features></parking-features>
<!-- right faq nav bar starts -->

<div id="parking-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img parking_bg" style="height:100px;width:97px;border-radius:62%;">
    <!-- <img class="top-img1" src="assets/images/metro/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/parking/parking-faq.png" alt="parking_faq_img">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(parkingLand.selectedFaqTopic && parkingLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{parkingLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of parkingLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="toll-form-img"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->




<!-- right nav bar starts -->
<div id="retail-restuarent" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner parking_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.PARKING.SERVICES.AIRPORT.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.AIRPORT.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_img">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.AIRPORT.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="retail-fuelstation" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner parking_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.PARKING.SERVICES.RAILWAYS.NAME}}</h3>
        </div>
        <div class="row form-group">
            <p [innerHTML]="content?.PARKING.SERVICES.RAILWAYS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.RAILWAYS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-taxi" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner parking_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_white_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.PARKING.SERVICES.BUS_STAND.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.BUS_STAND.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_img">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.BUS_STAND.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-supermarket" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner parking_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.PARKING.SERVICES.TEMPLES.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.TEMPLES.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_img">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.TEMPLES.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-vendingmachine" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner parking_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.PARKING.SERVICES.MALLS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.MALLS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.MALLS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-smallshop" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner parking_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_white_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.PARKING.SERVICES.COMMERCIAL_STREET.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.COMMERCIAL_STREET.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_img">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.PARKING.SERVICES.COMMERCIAL_STREET.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
