<div class="about_us_page">

  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
        <div class="container-fluid coustmer__guest__page_nav">
          <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/']">
            <div class="text-left cursor main-logo-cnt">
              <img  class="main-logo" src="assets/images/demo/logo.png" alt="doe_logo">
            </div>
          </div>
         <div class="merchant-list guest_merchant_list">
            <div class="consumer_page_header">
              <button type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
              <button type="button" name="button" [routerLink]="['/merchant']">Business</button>
              <button type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
            </div>
          </div>

          <div class="merchant_action_buttons">
            <button class="search_action" type="button" name="button">
              <img src="assets/images/demo/search_icon.png" alt="search_icon">
            </button>
            <button type="button" name="button" [routerLink]="[ '/consumer-joinus']">Join Us</button>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="aboutus_section1">
    <img src="assets/images/demo/point-of-sale-systems-1400-w-1400-x-700.png" alt="doe_aboutus_icon">
    <!-- <h3>DOE CARDS SOLUTIONS PVT. LTD</h3> -->
  </div>

  <div class="aboutus_section2">
    <div class="about_content_section">
      <h4 style="text-align:center;font-size:20px;margin-bottom:30px;">What is DOE card ?</h4>
      <p [innerHtml]="content?.ABOUT.DESCRIPTION"></p>

    </div>
    <div class="section2_image">
      <img src="assets/images/demo/group-4.png" alt="card_logo">
    </div>
  </div>

  <div class="aboutus_section3">
    <h4 class="section_title">Our Products</h4>
      <div class="carousel__container" style="margin:0 43px;">
        <div class="carousel__arrow_marks">
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <!--span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span-->
               <img src="assets/images/demo/left-angle-icon.png" alt="previous_logo">
              <span class="sr-only">Previous</span>
            </a>
        </div>
        <div class="carousel__center_text">

            <div id="myCarousel" class="carousel slide carousel_slide_hieht" data-ride="carousel">
              <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol> -->
              <div class="carousel-inner" role="listbox">
                <ng-container *ngFor="let item of devices | keys; let i=index" >
                  <div class="item" [ngClass]="{'active':i == '0'}">
                    <div class="section3__slider">
                      <div class="aboutus_section3_contnet">
                        <h3>{{devices[item].name}}</h3>
                        <p>
                          {{devices[item].summary}}
                        </p>
                        <p>
                          {{devices[item].description}}
                        </p>
                      </div>
                      <div class="section3__image">
                        <img [src]="devices[item].image" alt="device_details_icon">
                      </div>
                    </div>
                  </div>
                </ng-container>

                  <!-- <div class="item active ">
                    <div class="section3__slider">
                      <div class="aboutus_section3_contnet">
                        <h3>TOLL POS..........</h3>
                        <p>
                          Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea.
                          Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe.
                          Numquam mollitia recusandae non ad at et a. Ipsum in aspernatur ut possimus sint.
                          Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum.
                          Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
                        </p>
                        <p>
                          Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea.
                          Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe.
                          Numquam mollitia recusandae non ad at et a. Ipsum in aspernatur ut possimus sint.
                          Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum.
                          Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
                        </p>
                      </div>
                      <div class="section3__image">
                        <img src="assets/images/demo/group-12@3x.png" alt="">
                      </div>
                    </div>

                  </div>
                  <div class="item" >
                    <div class="section3__slider">
                      <div class="aboutus_section3_contnet">
                        <h3>TOLL POS..........</h3>
                        <p>
                          Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea.
                          Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe.
                          Numquam mollitia recusandae non ad at et a. Ipsum in aspernatur ut possimus sint.
                          Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum.
                          Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
                        </p>
                        <p>
                          Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea.
                          Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe.
                          Numquam mollitia recusandae non ad at et a. Ipsum in aspernatur ut possimus sint.
                          Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis occaecati qui rerum.
                          Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
                        </p>
                      </div>
                      <div class="section3__image">
                        <img src="assets/images/demo/group-12@3x.png" alt="">
                      </div>
                    </div>
                  </div> -->

              </div>
            </div>
        </div>
        <div class="carousel__arrow_marks">
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <!--span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span-->
              <img src="assets/images/demo/right-angle-icon.png" alt="next_icon">
              <span class="sr-only">Next</span>
            </a>
        </div>
      </div>
  </div>



  <div class="aboutus_section5">
    <h4 class="section_title">Management Team</h4>
    <!-- <p class="section_sub-header">
      Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea.
      Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe.
      Numquam mollitia recusandae non ad at et a.
    </p> -->
    <div class="section5_slider">

      <div class="team_member" *ngFor="let item of content?.ABOUT.MANAGEMENT_TEAM" >
        <div class="company__logo">
          <div class="company__logo--image">
            <img [src]="item.IMAGE" src="assets/images/demo/team/baskar.jpg" alt="management_image">
          </div>
        </div>
        <div class="team_member__details">
          <h4>{{item.NAME}}</h4>
          <p>{{item.DESIGNATION}}</p>
          <div class="member___social_icons">
            <a [href]="item.SOCIAL_LINKS.linkedin" target="_blank"><img src="assets/images/demo/linkedin-color.png" alt="linkedin_icon"> </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="aboutus_section5">
    <h4 class="section_title">Our Advisers</h4>
    <!-- <p class="section_sub-header">
      Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea.
      Quas molestiae perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe.
      Numquam mollitia recusandae non ad at et a.
    </p> -->
    <div class="section5_slider">

      <div class="team_member" *ngFor="let item of content?.ABOUT.ADVISORS" >
        <div class="company__logo">
          <div class="company__logo--image">
            <img [src]="item.IMAGE" src="assets/images/demo/team/baskar.jpg" alt="management_image">
          </div>
        </div>
        <div class="team_member__details">
          <h4>{{item.NAME}}</h4>
          <p>{{item.DESIGNATION}}</p>
          <div class="member___social_icons">
            <a [href]="item.SOCIAL_LINKS.linkedin" target="_blank"><img src="assets/images/demo/linkedin-color.png" alt="linkedin_icon"> </a>
          </div>
        </div>
      </div>

      <!-- <div class="team_member">
        <div class="company__logo">
          <div class="company__logo--image">
            <img src="assets/images/demo/download.png" alt="">
          </div>
        </div>
        <div class="team_member__details">
          <h4>XXXXXX XxXXXXX</h4>
          <p>xxxxxxxxxxxxx</p>
          <div class="member___social_icons">
            <img src="assets/images/demo/linkedin-color.png" alt="">
          </div>
        </div>
      </div>
      <div class="team_member">
        <div class="company__logo">
          <div class="company__logo--image">
            <img src="assets/images/demo/download.png" alt="">
          </div>
        </div>
        <div class="team_member__details">
          <h4>XXXXXX XxXXXXX</h4>
          <p>xxxxxxxxxxxxx</p>
          <div class="member___social_icons">
            <img src="assets/images/demo/linkedin-color.png" alt="">
          </div>
        </div>
      </div> -->

    </div>
  </div>

  <!-- guest-footer starts -->
  <guest-footer></guest-footer>
  <!-- guest-footer ends -->
</div>
