<!-- right nav bar starts -->
<div id="NHtoll" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png" alt="doe_icon">
    <img class="top-img2" src="assets/images/demo/toll/faster-transaction-hover.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.TOLL.FEATURES.CONTENT_TABS.FASTER_TRANSACTIONS.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.TOLL.FEATURES.CONTENT_TABS.FASTER_TRANSACTIONS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p>{{content?.TOLL.FEATURES.CONTENT_TABS.FASTER_TRANSACTIONS.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="SHtoll" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png">
    <img class="top-img2" src="assets/images/demo/toll/travel-passes-hover.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.TOLL.FEATURES.CONTENT_TABS.TRAVEL_PASSES.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.TOLL.FEATURES.CONTENT_TABS.TRAVEL_PASSES.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p>{{content?.TOLL.FEATURES.CONTENT_TABS.TRAVEL_PASSES.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="temples" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png">
    <img class="top-img2" src="assets/images/demo/toll/rupee-cash-hover.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.TOLL.FEATURES.CONTENT_TABS.CASH_LESS_PROCESSING.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.TOLL.FEATURES.CONTENT_TABS.CASH_LESS_PROCESSING.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p>{{content?.TOLL.FEATURES.CONTENT_TABS.CASH_LESS_PROCESSING.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="tollfeatures" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png">
    <img class="top-img2" src="assets/images/demo/toll/top-up-hover.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.TOLL.FEATURES.CONTENT_TABS.MULTI_PURPOSE_CARD.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.TOLL.FEATURES.CONTENT_TABS.MULTI_PURPOSE_CARD.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p>{{content?.TOLL.FEATURES.CONTENT_TABS.MULTI_PURPOSE_CARD.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->


<!-- right nav bar starts -->
<div id="chainedtoll" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png">
    <img class="top-img2" src="assets/images/toll/toll-i-c-o-n.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>CHAINED TOLL</h3>
        </div>
        <div class="row form-group">
           <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>

          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat Volutpat wisi enim ad minim veniam,</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="interstatetoll" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png" alt="doe_logo">
    <img class="top-img2" src="assets/images/toll/toll-i-c-o-n.png" alt="toll_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>INTERSTATE TOLL</h3>
        </div>
        <div class="row form-group">
           <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>

          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat Volutpat wisi enim ad minim veniam,</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
