<div id="main" class="guest__page side_menu_list guest__page--education">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="toll_main_logo">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_education">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>

    <!--side menu  -->
    <div class="row home-menu text-center" id="fp-nav">
        <ul class="home-menu-tag bus-menu-js">
          <li class="active section1 cursor">
              <a data-target="#1">
                <div class="text-center flow"><img src="assets/images/demo/education/edu-forma.png" alt="education_icon"><span class="education_text_color">ABOUT EDUCATION</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/education/edu-forma-1.png" alt="education_info_img"><span>ABOUT EDUCATION</span></div>
              </a>
          </li>
          <li class="section2 cursor">
              <a data-target="#2">
                <div class="text-center flow"><img src="assets/images/demo/education/edu-forma.png" alt="education_img"><span class="education_text_color">FEATURES</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/education/edu-forma-1.png" alt="education_feature_img"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4 cursor">
              <a data-target="#3">
                <div class="text-center flow"><img src="assets/images/demo/education/edu-forma.png" alt="education_img"><span class="education_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/education/edu-forma-1.png" alt="education_product_img"><span>PRODUCTS</span></div>
              </a>
          </li>
          <li class="section5 cursor">
              <a data-target="#4">
                <div class="text-center flow"><img src="assets/images/demo/education/edu-forma.png" alt="education_img"><span class="education_text_color">SERVICES</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/education/edu-forma-1.png" alt="education_service_img"><span>SERVICES</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#4">
                <div class="text-center flow"><img src="assets/images/demo/education/edu-forma.png"><span class="education_text_color">FAQS</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/education/edu-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>

    <div class="row sectiondiv" mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" [mnFullpageControlArrows]="false" mnFullpageSlidesNavPosition="bottom">
      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row bussection fp-section fp-table" data-section-name="aboutbus">
        <div class="row fp-tableCell service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
              	<div class="col-md-7">
              		<h3 class="finace-head" [innerHTML]="content?.EDUCATION.ABOUT.INTRO_LINE"></h3>
              		<p class="finace-sub"> {{content?.EDUCATION.ABOUT.SUB_TITLE}}</p>

              		<!-- <span class="parking__finace-subpart education_text_color" [routerLink]="['/education/merchant']" >Want to become an DOE Merchant?</span> -->
              	</div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/education/education-smart.png" alt="education_smart_img"></div>
              </div>
          </div>
        </div>
      </div>
      <!-- Section 1 ends here-->

      <!-- Section 2 starts here-->

       <div id="section2" class="container-fluid row bussection fp-section fp-table" data-section-name="busfeatures">
         <div class="fp-tableCell service_section_alignment">
           <div class="merchant__feature_container">
             <div col="row">
               <h1 class="text-center" [innerHTML]="content?.EDUCATION.FEATURES.TAG_LINE"></h1>
             </div>
             <div class="merchant_services_features_layout" >
               <div class="services_features_section services_features_section__education" EducationSideMenu [type]="'school'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__education">
                   <img class="non-hover-image" src="assets/images/demo/education/card-secure-non-hover.png" alt="education_nonHover_img">
                   <img class="hover-image" src="assets/images/demo/education/card-secure-hover.png" alt="education_hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.SECURE_ACCESS.NAME"></h4>
                   <p [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.SECURE_ACCESS.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__education" EducationSideMenu [type]="'college'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__education">
                   <img class="non-hover-image" src="assets/images/demo/education/multiple-acess-non-hover.png" alt="education_access_img">
                   <img class="hover-image" src="assets/images/demo/education/multiple-acess-hover.png" 
                   alt="education_multi_access_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.MULTIPLE_ACCESS.NAME"></h4>
                   <p [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.MULTIPLE_ACCESS.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__education" EducationSideMenu [type]="'universites'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__education">
                   <img class="non-hover-image" src="assets/images/demo/education/payment-non-hover.png" alt="payment-hover_img">
                   <img class="hover-image" src="assets/images/demo/education/payment-hover.png" alt="payment-hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.TOPUP_PAYMENTS.NAME"></h4>
                   <p [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.TOPUP_PAYMENTS.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__education" EducationSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__education">
                   <img class="non-hover-image" src="assets/images/demo/education/id-non-hover.png" alt="education_nonhover_img">
                   <img class="hover-image" src="assets/images/demo/education/id-hover.png" alt="education_hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.PRINTABLE_ID.NAME"></h4>
                   <p [innerHTML]="content?.EDUCATION.FEATURES.CONTENT_TABS.PRINTABLE_ID.SUMMARY"></p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>

        <!-- Section 2 ends here-->

        <!-- section Scroll PRODUCTS from toll -->
        <div id="section4" class="container-fluid row metrosection fp-section fp-table" data-section-name="PRODUCTS">
          <div class="fp-tableCell service__products service_section_alignment">
            <div class="procucts__cards_layout">
              <ng-container *ngFor="let item of educationLand.deviceinfo.items | keys; let i=index" >
                <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                  <div class="procuct__image">
                    <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                    <img src="{{educationLand.deviceinfo.items[item].image}}" alt="device_info_img">
                  </div>
                  <div class="product__details">
                    <h4 class="Product_title">{{educationLand.deviceinfo.items[item].name}}</h4>
                    <p class="product__description">{{educationLand.deviceinfo.items[item].summary}} </p>

                    <h3 class="prdct_cost"  *ngIf="educationLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{educationLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
        <!--section 4 ends here -->


        <div id="section5" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="services">
          <div class="fp-tableCell service__products">

            <div class="services__container six_layer_service_container">
              <div col="row">
                <!-- <h1 class="text-center"><span class='basic-color'>LOREM IPSUM</span> IS SIMPLY DUMMY TEXT OF</h1> -->
              </div>
              <div class="services__sections__layout">
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-restuarent'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="service__section education__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/education/school-bus.png" alt="school_bus_img">
                    </div>
                  </div>
                  <p>Bus</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-fuelstation'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="education__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/education/mansion.png" alt="mansion_img">
                    </div>
                  </div>
                  <p>Hostel</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-taxi'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="education__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/education/canteen.png" alt="canteen_img">
                    </div>
                  </div>
                  <p>Canteen</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-supermarket'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="education__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/education/restricted.png" alt="school_restricted_img">
                    </div>
                  </div>
                  <p>Restricted Access</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-vendingmachine'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="education__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/education/bike.png" alt="school_bike_img">
                    </div>
                  </div>
                  <p>Parking</p>
                </div>

              </div>
            </div>

          </div>
        </div>


        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row bussection  fp-section fp-table" data-section-name="busfaq">
          <div class="row fp-tableCell  service_section_alignment">
              <div class=" faq__section_content">
                  <h1 class="faq row">FAQs</h1>
                  <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
                  <div class="row">
                    <div class="select-topic col-md-3">Select a topic</div>
                    <div class="col-md-6 select-input cursor" #c (change)="changefaqbyid(c.value)">
                        <select class="cursor" #c (change)="changefaqbyid(c.value)">
                          <ng-container *ngFor="let item of content?.EDUCATION.FAQS; let j=index ">
                            <option value="{{j}}" >{{item.description}}</option>
                          </ng-container>
                        </select>
                    </div>
                    <div class="col-md-3">
                      <input CommonSideMenu [type]="'education_faq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
                    </div>
                  </div>
              </div>
          </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>

    <education-footer></education-footer>
</div>

<!-- faq page -->

<!-- right faq nav bar starts -->

<div id="education-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img education_bg" style="height:100px;width:97px;border-radius:62%;">
    <!-- <img class="top-img1" src="assets/images/metro/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/education/education-white-faq.png" alt="education_faq_img">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(educationLand.selectedFaqTopic && educationLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{educationLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of educationLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="toll_form_img"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->

<education-features-side-bar></education-features-side-bar>

<!-- <bus-reader-issues></bus-reader-issues> -->




<!-- right nav bar starts -->
<div id="retail-restuarent" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.EDUCATION.SERVICES.BUS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.BUS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee_img">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.BUS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="retail-fuelstation" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.EDUCATION.SERVICES.HOSTEL.NAME}}</h3>
        </div>
        <div class="row form-group">
            <p [innerHTML]="content?.EDUCATION.SERVICES.HOSTEL.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_img">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.HOSTEL.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-taxi" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.EDUCATION.SERVICES.CANTEEN.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.CANTEEN.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.CANTEEN.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-supermarket" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.EDUCATION.SERVICES.RESTRICTED_ACCESS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.RESTRICTED_ACCESS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.RESTRICTED_ACCESS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-vendingmachine" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.EDUCATION.SERVICES.PARKING.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.PARKING.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_img">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.EDUCATION.SERVICES.PARKING.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
