
// day to  day


.day_to_day_active{    
    color: #9013fe;
    line-height: 68px;
    border-bottom: 4px solid #fff;
}

.bkg_color_red{
    background-color: $color-red;
}

.bkg_color_green{
    background-color: $color-green!important;
}

.bkg_color_purple{
    background-color: #9013fe;
}




// ----------------------------------day-to-day-trip------------------------ 
.dayto__day_services{
    height: 500px;
    background-color: $color-white;
    box-shadow: 0 3px 4px 0 rgba(176, 176, 176, 0.5);
}

.sub_header_fied_day_to_day{
    height: 120px;
}

.trip_detail_section{
        margin-bottom: 30px;
        padding: 28px;
        box-shadow: 0 3px 4px 0 rgba(176, 176, 176, 0.5);

    .trip_details{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        .trip_detail{
            width: 400px;
            display: flex;
            justify-content: space-between;
            margin: 10px 0 10px 0;
        }
    
        label{
            color: #4a4a4a;
            font-size: 16px;
    
        }
        input{
            width: 250px;
            height: 45px;
            border-radius: 4px;
    
            border-color: #4a4a4a;
            background-color: #fff;
            color: #4a4a4a;
            padding: 9px;
            font-size: 21px;
            text-align: center;
        }
    
       
    
    }
    
}


.trip_details_last_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .trips_number{
        display: flex;
        justify-content: space-around;
        align-items: center;
        input{
            height: 45px;
            width: 108px;
            border-color: #4a4a4a;
            margin: 7px;
            border-radius: 4px;  
            border-color: #4a4a4a;
            background-color: #fff;
            color: #4a4a4a;
            padding: 9px;
            font-size: 21px;
            text-align: center;
        }
    }

    .trip_details_button{
        width: 180px;
        height: 45px;
        box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.27);
        
    }

}

//------------------------ live-tracking ------------------------ 
.most_viewed_dropdown{
    background-color: #fff;
    height: 130px;
    .most_viewed_dropdown_title{
        display: flex;
        justify-content: space-between;
    }
    .most_viewed_blocks{
        display: flex;
        justify-content: space-evenly;
        .most_viewed_block{
            height: 85px;
            border-radius: 5px;
            background-color: #9013fe;
            box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.27);
            width: 250px;
            p,h2{
                color: #fff;
                padding: 8px;
                line-height: 10px;
            }
        }

    }

}


.live_tracking__details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6224c4;
    .live_tracking_detail{
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 10px 0 10px 0;
    }

    label{
        color: #fff;
        font-size: 16px;

    }
    input{
        width: 250px;
        height: 45px;
        border-radius: 4px;
        border: none;
        background-color: #7f3af0;
        color: #fff;
        padding: 9px;
        font-size: 21px;
        text-align: center;
    }
    .trips_number{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 873px;
        // exception for disabled inputs on last row
        div {
            width: auto;
        }
        input{
            height: 45px;
            width: 108px;
            background-color: #f8e71c;
            border: solid 2px #d9e1e6;
            margin: 7px;
        }
       
    }
   
}
.live_tracking_button{
    width: 180px;
    height: 45px;  
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.27);
    
}

.live_tracking_details__last_row{
    display: flex;
    justify-content: space-between;
}

.live_tracking__last_row{
    display: flex;
    justify-content: space-between;
    div{
        display: flex;
        justify-content: space-between;
        width: 400px;
    }
}

// exception for day to day tables
.day_to_day_table{
    .content_section_form{
        box-shadow: none;
    }
    tr{
        height: 84px;
    }
}   