// bus-cart
.cart-items{
    height: 50vh;
    overflow-y: auto;
}

.corporation_name{
  .corporation_name_title {
    font-family: $font-oswald-bold;
    font-size: 35px;
    color: #232226;
    border-bottom: 1px solid #4a4a4a;
    text-transform: uppercase;
    margin: 0;
  }
  .corporation_name_sub-title {
    font-family: $font-oswald-regular;
    font-size: 23px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #9b9b9b;
  }
  .custom_dropdown_border-bottom {
    border-bottom: 1px solid #4a4a4a;

    .custom_dropdown_layout--data {
      align-items: center !important;
      p {
        font-family: $font-oswald-bold;
        font-size: 36px;
        color: #232226;
        text-transform: uppercase;
      }

    }
  }
}
