.register_container {
  position: relative;
  top: 11%;
  height: 100%;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .register_container__form {
    width: 77%;
    height: 69%;
    background-color: #ffffff;
    box-shadow: 0 31px 30px 30px rgba(97, 97, 97, 0.07);
    margin: 0 auto;
    overflow-y: scroll;
    text-transform: uppercase;

    h3 {
      margin: 26px 15px;
      font-family: $font-oswald-bold;
      font-size: 24px;
      letter-spacing: 0.9px;
      text-align: left;
      color: #232226;
    }

    .form_field_container {
      padding: 6px;
      margin-bottom: 20px;
      border: 2px solid #95999c;
      color: #4a4a4a;
      border-radius: 4px;
      display: flex;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      justify-content: space-between;
      align-items: center;
      color: #77909d;
      span {
        font-family: $font-oswald-regular;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: #77909d;
      }
      input {
        border: none;
        text-align: right;
        width: 52%;
        background: none;
        font-family: $font-oswald-regular;
        font-size: 26px;
        letter-spacing: 0.9px;
        text-align: right;
        color: $color-black;
      }
    }
  }

  .register_container__form--action {
    width: 77%;
    margin-top: 58px;
    display: flex;
    justify-content: flex-end;
    button {
      width: 350px;
      height: 55px;
      object-fit: contain;
      border-radius: 100px;
      background-color: $color-bus;
      color: $color-white;
      border: solid 1.3px rgba(255, 255, 255, 0.35);
    }
  }
}
.container_form_section {
  padding: 5px 20px;
  margin-top: 15px;
  margin-left: 0;
  margin-right: 0;
}
.container_form_section--bg {
  background-color: #f8fafc;
  border-top-style: dotted;
  border-bottom-style: dotted;
}

.lostcard_code_filed_register {
  display: flex;
  color: #77909d;
  span {
    width: 50%;
  }
  input {
    width: 50%;
    height: 41px;
    background: none;
    border: 2px solid #95999c;
    border-radius: 4px;
  }
}
.form_add_person_button {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  button {
    width: 320px;
    height: 50px;
    border-radius: 30px;
    background-color: $color-grey;
    opacity: 0.8;
    font-family: $font-oswald-medium;
    font-size: $font-size-extra-small;
    font-weight: 500;
    letter-spacing: 1.9px;
    color: #424a4d;
    text-transform: uppercase;
    border: none;
    &:hover {
      background-color: $color-bus;
      color: $color-white;
    }
  }
}

.field_verify_button {
  width: 133px;
  height: 50px;
  background-color: $color-bus;
  color: $color-white;
  font-size: $font-size-extra-small;
  font-weight: bold;
  letter-spacing: 1.9px;
}

.image_upload_area {
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/toll/pexels-photo-69866.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15%;
  margin-left: 6px;
}


.register_container_box {
  width: 83%;
  height: 72%;
  background-color: #ffffff;
  box-shadow: 0 31px 30px 30px rgba(97, 97, 97, 0.07);
  margin: 0 auto;
  overflow-y: scroll;
  text-transform: uppercase;
  position: relative;
  top: 11%;
  padding: 40px 80px;
}

.register_container_box_error {
  h2 {
    text-align: center;
    color: $color-blackish;
  }
  p,ul {
    font-size: 19px;
    color: #b3c1c8;
  }
  ul {
    padding: 19px;
    li {
      margin-bottom: 17px;
    }
  }

  button {
    float: right;
    width: 420px;
    height: 52px;
    object-fit: contain;
    border-radius: 100px;
    background-color: $color-bus;
    color: $color-white;
  }
}

.register_container_box_success {
  width: 61%;
  height: 44%;
  top: 28%;
  background-color: $color-white;
  box-shadow: 0 31px 30px 30px rgba(97, 97, 97, 0.07);
  margin: 0 auto;
  position: relative;
  padding: 40px 80px;

  span {
    color: $color-black;
  }

  h3 {
    font-family: $font-oswald-regular;
    font-size: 24px;
    letter-spacing: 0.9px;
    color: $color-black;
    text-align: center;
  }

  p {
    font-family: $font-oswald-regular;
    font-size: 17px;
    line-height: 1.3;
    text-align: center;
    color: #77909d;
  }

  button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 175px;
    height: 38px;
    background-color: $color-bus;
    color: $color-white;
  }
}
.upload_logo_register_success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 57px 40px;
  background-color: #f8fafc;
  border-style: dotted;
}

.doe_card_quantity {
  display: flex;
  justify-content: flex-end;

  button {
    width: 219px;
    height: 38px;
    background-color: #73cd1e;
    border: none;
    color: white;
  }
}
