.add_bus_content_form {
  padding:20px 9px;
}
.bus__seats_layoouts {
  display: flex;
  justify-content: space-around;
}
.sub_header_fied_bus {
  input {
    width: 167px !important;
  }
}
.seat_layout {
  padding: 9px 9px 9px 9px;
  position: relative;
  margin-left: 4px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  text-align: center;
  min-height: 84px;
  margin-bottom: 10px;
  width: 49%;

  .seats__type {
    display: flex;
    padding-left: 0;
    li {
      list-style: none;
      display: flex;
      margin: 0 5px;
      cursor: pointer;
    }
    .avilable a {
      background-color: #fff;
      border: 1px solid #C0C0C0;
    }
    .unavilable a {
      background-color: #C0C0C0;
      border: 1px solid #C0C0C0;
    }
    .seater {
      a {
        width: 28px;
        height: 24px;
      }
    }
    .sleeper {
      a {
        width: 73px;
        height: 33px;
      }
    }
  }
}

@media screen and (max-width: 1250px){
  .bus__seats_layoouts {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .seat_layout {
    width: 57%;
  }
}
