.merchant_login_page {
  background-color: $color-grey;
  height: 100%;
  width: 100%;
  color: white;
  position: fixed;

  .navbar {
    box-shadow: 0 2px 7.6px 0.4px rgba(0, 0, 0, 0.35);
  }

  .bg_login-txt {
    opacity: 0.07;
    position: absolute;
    right: 30px;
    font-family: OpenSans;
    font-size: 264px;
    bottom: 35px;
    font-weight: 500;
    line-height: 0.5;
    letter-spacing: 11px;
    text-align: center;
    color: $color-sliver;
    z-index: -1;
  }
  .social-feed {
    position: absolute;
    width: 200px;
    bottom: 80px;
    left: -50px;
    transform: rotate(-90deg);
    display: flex;
    justify-content: space-around;
    .social-feed__icons_share a img {
      height: 13px;
    }
  }
}

.auth_login_page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-drak-grey;
  flex-direction: column;

  .auth_title {
    font-size: $font-size-medium;
    opacity: 0.5;
    font-family: $font-Roboto-Regular;
    color: #232226;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
}

.login_section_steps {
  display: flex;
  justify-content: space-between;
  padding:  26px;
  z-index: 1064;
}
.login_layer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 39px;
}

.login_layer_image {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 2px solid $color-blackish;
  box-shadow: 0 2px 4px 0 rgba(172, 172, 172, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  .image_circle img {
    width: 33px;
    margin: 13px;
  }
}
.layer_title {
  color: $color-blackish;
  font-family: $font-Roboto-Black;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.login_layer__division {
  border-left: 1px solid $color-drak-grey;
  border-right: 1px solid $color-drak-grey;
}
.login_layer_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  button {
    margin-bottom: 10px;
    width: 248px;
    height: 46px;
    &:hover {
      background-color: $color-bus;
      color: $color-white;
      border: 0px;
    }
  }
}
