.support_page_content_section {
  height: 100%;
  padding: 40px 65px;
  font-family: $font-oswald-regular;
   a {
     color: #588aff;
   }
}
.doe_support__tab_section {
  display: flex;
  align-items: center;
  height: 50px;
  .doe_support__tab_section--name{
    font-family: $font-oswald-medium;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #9b9b9b;
    margin-right: 26px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
  }
  .doe_cards__tab__bus--active {
    color: #3a3b3b;
    border-bottom: 3px solid #9662d5;
  }
  .doe_cards__tab--active {
    color: #3a3b3b;
    border-bottom: 3px solid #a5084a;
  }
}
.support_section_content_area {
  h4 {
    padding-left: 54px;
    font-family: $font-oswald-regular;
    font-size: 20px;
    color: $color-black;
  }
}
.support_section_border_top {
  border-top: 1px solid #dadada;
  padding: 30px;
}
.corporation_support_contact_info {
  .contact_info__details {
    display: flex;
    align-items: center;
    h4 {
      font-family: $font-oswald-regular;
      color: $color-black;
      font-size: 20px;
    }
    span {
      width: 60%;
    }
  }
}
.corporation_heading_name {
  padding: 33px 40px;
  font-family: $font-oswald-medium;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  color: #303243;

  display: flex;
  justify-content: space-between;
  .corporation_heading_title {
    margin: 0;
  }
}
.support_branch_selection {
  width: 46%;
  .custom_dropdown_fields {
    width: 100% ;
  }
  .custom_dropdown_layout {
    margin: 0;
    .custom_dropdown_layout--data {
      width: 100%;
      justify-content: space-between;
    }
  }

}
// support

.sub-nav{
  background-color: #eff3f6;
  height: 65px;
  display: flex;
  align-items: center;
  ul {
    list-style: none;

    li {
      display: inline-block;
      cursor: pointer;
      padding: 8px 30px 0px 30px;
      font-family: Oswald-Bold;
    }
  }
}

// doe support

.support_heading_section{
  text-align: center;
  height: 228px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 40px;

  h3, h2{
    padding-bottom:18px;
  }
}
.support_page_search {
  width: 800px;
  border-radius: 21px;
  border-color: #808080;
  border-width: 1px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  margin: 0 auto;
  padding: 10px;
  input {
    border: none;
    background: none;
    width: 90%;
  }
}

.support_icons{
  padding: 30px;
  .support_icon{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon_doe_basics{
    background-image: url(../assets/images/bus/icon1.png);
  }

  .icon_point_of{
    background-image: url(../assets/images/bus/icon2.png);
  }
  .icon_hardware{
    background-image: url(../assets/images/bus/icon3.png);
  }

  .icon_troubleshooting{
    background-image: url(../assets/images/bus/icon4.png);
  }

  a{
    display: inherit;
  }

  h4{
    margin-top: 107px;
  }

  h4,a{
    text-align: center;
  }
}


.support_faq{
  a {
    display: block;
    padding: 17px;
  }
}

.popular_topics_section{
  height: 200px;

  .popular_topic{
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }
  img {
    margin: 15px;
  }
}

.support_footer_section{
    text-align: center;
    background-color: #eff3f6;
    display: -ms-flexbox;
    display: flex;
    height: 175px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    justify-content: center;
    div{

    }
}



// depot, corporation, region-division
.support_heading{


 height: 200px;
}
.support_gen_info{
    h3{
      font-family: $font-oswald-regular;
      font-style: italic;
      color: #d7d7d7;
      padding-left: 26px;
    }
    p{
      font-family: $font-oswald-regular;
      line-height: 25px;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.55;
      color: #2a2c3b;
    }
}

.support_contact_info{
    h4{
        padding: 16px;
    }
}

    //dropdown
    .support_dropdown_section {
        .support_dropdown {
            width: 90%;
            height: 40px;
            color: #000;
            background-color: #fff;
            border-color: #d9e1e6;
    }
    .dropdown-menu{
        background-color: #fff;
        width: 90%;

        margin-top: 0px;

        a{
            color: #000!important;
        }
    }

    .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
        color: #000;
        background-color: #fff;
        border-color: #d9e1e6;
    }

    .dropdown-menu a:hover {
        color: white !important;
        background-color: #e5e5e5 !important;
    }

    .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
        color: #000;
        background-color: #ffffff;
        border-color: #204d74;
    }

    }
