.depot_notification_container {
  .dashboard_sub_header {
    height: 80px;
    padding: 20px;
  }
}
.depot_notification_section {
  height: 100%;
}
.notification_content_area {
  width: 75%;
}

.messege_send_area {
  width: 25%;
  text-align: center;
  background-color: $color-bus;
  p {
    background-color: #485867;
    color: $color-white;
    height: 65px;
    font-family: $font-oswald-regular;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
  }
}
.message_tab_section {
  .message_tab_section_heading {
    background-color: #eff3f6;
    ul {
      display: flex;
      justify-content: space-between;
      font-family: $font-oswald-medium;
      font-size: 22px;
      font-weight: 500;
      li a {
          color: #9b9b9b;
        &:active {
          color: $color-bus;
        }
      }
    }
  }
}


.notification_tab_pane {
  .notification_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    label {
      color: $color-white;
      font-family: $font-oswald-regular;
      font-size: 15px;
    }
    input, select {
      background: none;
      width: 200px;
      height: 46px;
      object-fit: contain;
      border-radius: 4px;
      border: solid 2px $color-white;
      color: $color-white;
    }
  }
  .notification_note {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    label {
      color: $color-white;
      font-family: $font-oswald-regular;
      font-size: 15px;
    }
    textarea {
      background: none;
      border: 2px solid $color-white;
      color: $color-white;
      width: 316px;
      height: 201px;
      border-radius: 4px;
    }
  }

  button {
    width: 264px;
    height: 48px;
    object-fit: contain;
    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #8b57cf;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.1px;
    margin-top: 36px;
  }
}

.depot_notification_msg_section {
  .depot_notification_msg_header {
    height: 70px;
    background-color: #eff3f6;
    padding: 22px;
    color: $color-bus;
  }
  .depot_notification_msg_content {
    overflow-y: scroll;
    height: 90vh;
    padding: 20px;

    .timeline > li + li {
      margin-top: 36px;
    }
    .timeline-first-icon_notification a {
      width: 56px;
      height: 31px;
      border: none;
      border-radius: 40px !important;
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
}
