.pass_fares_active{
    border-bottom: 4px solid #fff;
    line-height: 61px;
    color: #7529f2;
}

.pass_fares_nav{
    display: flex;
    justify-content: space-between;

    h2{
        margin-top: 10px;
    }
}

.pass_info_section{
    background-color: #7529f2;
    .pass_info {
        display: flex;
        justify-content: space-around;
        div{
            display: flex;
            align-items: center;
            margin: 10px 0 10px 0;
        }
        h4 {
            margin: 20px 0 12px 0;
            color: #fff;
        }
        input{
            height: 45px;
            border: 1px solid #fff;
            border-radius: 8px;
            margin: 13px 0 0 20px;
            background-color: #7529f2;
            color: #fff;
            text-align: center;
        }
    }
}

.pass_fares_table{
    th{
        height: 41px;
        color: #fff;
        text-align: center;
        background-color: #526372;
        text-transform: uppercase;
    }

    tbody{
        tr:nth-child(odd){
            background-color: #fbfcfc;
        }
        tr:nth-child(even){
            background-color: #fafffe;
        }

        td{
            height: 45px;
            vertical-align: middle;
        }
    }
}



// edit

.bus_pass_buttons{
    display: flex;
    justify-content: center;
}

.bus_dashboard_common_table_depot_pass {
  height: 60%;
  padding: 32px;
}
.dashboard_sub_header_depot_pass {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #7529f2;
  height: 214px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
}

.sub_header--field_depot_small {
  input {
    width: 81px !important;
    background: none !important;
  }
}
.sub_header--field_depot_large {
  input {
    width: 196px !important;
    background: none !important;
  }
}
