.bus_bg {
  background-color: $color-bus !important;
  color: $color-white;
}
.bus_gradient_color {
  background-color:  $color-bus !important;
}
.bus_text_color {
  color: $color-bus !important;
}

.bus_border {
  border: solid 1px #7d30fa !important;
}

//dash board common header
.dash_header {
  .dash_header--main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    width: 110px;
  }
  .right_side_menu{
    font-size: 10px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #8ea0b7;
    display: flex;
    align-items: baseline;


    .right_side_menu__data {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 25px;
      text-transform: uppercase;
      img {
        width: 25px;
        height:25px;
        margin-bottom: 10px;
      }
    }
  }
}

//family popup scss in dashboard
.modal-dailog__family {
  width: 87%;
}
.modal-content_family {
  background: none;
  border: none;
  box-shadow: none;
}
.modal_body__family {
  .bus_dashboard_common_table {
    padding: 0;
  }
}
.print-icon_bus{
  font-size:22px;
 }
