.add_servie_content_form {
  text-align: center;
    padding: 21px 88px;
  p {
    opacity: 0.6;
    font-family: $font-oswald-regular;
    font-size: 27px;
    letter-spacing: 0.8px;
  }
  .add_services_fields {
    margin-top: 38px;
  }
  .add_services_fields__input {
    margin-bottom: 20px;
    label {
      width: 187px;
      font-family: $font-oswald-regular;
      font-size: 23px;
      letter-spacing: 1px;
      text-align: left;
      color: #526372;
    }
    input {
      border-radius: 4px;
      background: none;
      padding: 10px;
      border: solid 1px #526372;
      width: 300px;
    }
  }
}

.depot_bus_dashboard_common_table {
  height: 75%;
}

.request_cards_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12%;
  button {
    border: none;
    background-color: $color-bus;
    color: $color-white;
    font-weight: bold;
    letter-spacing: 1.1px;
    padding: 10px ;
    font-size: 20px;
    border-radius: 20px;
    height: 40px;
    width: 250px;
    text-transform: uppercase;
  }
}
.request_cards_container {
  background-color: #eff3f6;
  padding: 40px;
  height: 92%;
}
.page_indication_text {
  opacity: 0.07;
  font-family: Oswald;
  font-size: 169px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.91;
  letter-spacing: normal;
  text-align: right;
  text-transform: uppercase;
  color: #78797a;
  padding-top: 15%;
}
.total_numebr_cards {
  border-bottom: 1px solid;
  margin-bottom: 5px;
  // border-image-source: linear-gradient(to right, #ffffff00, rgba(1, 1, 1, 0.22) 52%, #ffffff00);
  border-image-source: linear-gradient(to right, #ffffff, rgba(1, 1, 1, 0.22) 52%, #ffffff);
  border-image-slice: 1;
  text-align: center;
  input {
    border: none;
    background: none;
    text-align: right;
    font-family:$font-oswald-medium;
    font-size: 85px;
    width: 220px;
    font-weight: 300;
    color: #5d6e7d;
  }
  span {
    position: relative;
    bottom: 3ex;
    font-family: $font-oswald-regular;
    font-size: 32px;
    font-weight: 300;
    color: #9b9b9b;
  }
}
.total_count_value {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78797a;
  span {
    color: #2cb673;
  }
}

.depot_notification_container {
  height: 100%;
  background-color: #eff3f6;
}
