.guest__page--bus {
  .cart-count {
    background-color: $color-bus;
  }

  .mer-cust-btn {
    padding-top: 0;
  }
  .login_register_button {
    border: 1px solid $color-bus;
    color:  $color-bus;
    &:hover {
      color: #fff !important;
      background-color: $color-bus;
    }
  }

  .select-input {
    border: 1px solid $color-bus;
  }
  .faq-sub {
    background: $color-bus;
    border: 1px solid $color-bus;
  }

  .bus_slider_content {
    border-bottom: 1px solid $color-bus;
    padding-bottom: 13px;
  }

  .bus_features-slider {
    li {
      border: 1px solid $color-bus !important;
    }
    .active {
      background-color: $color-bus;
      margin-bottom: -17px;
    }
  }

  .bus_products_indicators{
    bottom: -13px !important;
    li {
      border: 1px solid $color-bus;
    }
    .active {
      background-color: $color-bus !important;
    }
  }
}


//sidemenu css
.busmenunav {
  .active {
    .menu-text {
      color: $color-bus !important;
    }
  }
  .bus_logout_btn {
    border: 1px solid $color-bus;
    color: $color-bus;

    &:hover {
      background-color: $color-bus;
      color: $color-white;
    }
  }
}
