/*===========================================
All the buttons should be here
=============================================*/
.button_default {
  height: 30px;
  padding: 0px 15px;
  border:  1px solid $color-drak-grey;
  color: $color-drak-grey;
  background: none;
  border-radius: 30px;
  text-transform: uppercase;
}


