.dashboard_register_form {
  padding: 10px 20px;
  .register_form__field_container {
    display: flex;
    margin-bottom: 15px;
    label {
     max-width: 169px;
     min-width: 169px;
     font-family: $font-oswald-regular;
     font-size: 18px;
     letter-spacing: 0.7px;
     text-align: left;
     color: #526372;
    }
    input {
      width: 100%;
      height: 42px;
      object-fit: contain;
      border-radius: 4px;
      border: solid 2px #95999c;
      margin-left: 10px;
      padding: 12px;
    }
  }
}

.field_container_column {
  flex-direction: column;
  input {
    margin: 0 !important;
  }
}

// profile picture
.profile_section_form {
  display: flex;
  align-items: center;
  .profile_section{
    img{
      width: 100px;
    }

    h5 {
      font-family: $font-oswald-regular;
      font-size: $font-size-extra-small;
    }
  }
}

.dashboard_register_form_bg {
  background-color: #f8fafc;
  border-bottom: solid 2px #dbe5ea;
  border-bottom-style: dotted;
}

.dash_register_form_action_buttons {
  display: flex;
  justify-content: center;
  button {
    margin-right: 21px;
    width: 182px;
    height: 43px;
    object-fit: contain;
    border-radius: 100px;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.27);
    color: #fff;
    text-transform: uppercase;
    font-family: $font-oswald-medium;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.8px;
  }
  .dash_delete_action {
    background-color: #2b323a;
  }
  .dash_save_action {
    background-color: #1dae66;
  }
}
.depot_custum_raido_button {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
    margin: 11px;
    font-family: $font-oswald-regular;

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 25px;
      height: 25px;
      border: 2px solid $color-bus;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 15px;
      height: 15px;
      background: $color-bus;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}


// table scss
.bus_dashboard_table {
  .table>tbody>tr>td,
  .table>thead>tr>th {
    vertical-align: middle;
    text-align: center;
  }
  .dash_table_container {
    thead {
      background-color: #526372;
      color: #fff;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-family: $font-OpenSans-Regular;
    }
    .dash_table_container_body {
      font-family: $font-oswald-medium;
      font-size: 16px;
      font-weight: 500;
      color: #4a4a4a;
      text-align: center;
      img {
        width: 70px;
      }
      tr:nth-child(even) {
        background-color: #fbfcfc;
      }
      tr:nth-child(odd) {
        background-color: #fafffe;
      }

      .table_delete_option {
        img {
          width: 37px;
        }
      }
    }
  }
}

.bus_dashboard_common_table {
  height: 86%;
  padding: 0px;
  .bus_dashboard_table {
    margin: 0 !important;
  }
  .dash_register_form_action_buttons {
    margin: 22px;
  }
}
.bus_table_address {
  width: 120px;
}

@media only screen and (min-width: 1020px) and (max-width: 1250px)  {
  .table>tbody>tr>td,
  .table>thead>tr>th {
    padding: 0px;
  }
}
