// .dashboard_register_form__section {
//   margin: 20px -20px;
// }

.button_bus {
  color: #000;
  background-color: #000;
  color: #fff;
  padding: 0px 30px;
}


.button_bus_profile{
  background-color: #8b57cf;
  color: white;
  border-color: #8b57cf;
}

// dropdown bus

.sub_header_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    color: #fff;
  }

  .common_select_styles{
    padding: 3px 60px;
    background-color: #8b57cf;
    color: #fff;
    font-family: oswald-regular;
    font-size: 21px;
    border-color: #fff;
  }
}



.dropdown_bus_section{

  .dropdown {
    margin-left: 20px;
  }
  .dropdown_bus {
    background-color: #8b57cf;
    border-color: #fff;
    border-radius: 4px;
    font-family: Oswald-Regular;
    width: 200px;
    font-size: 20px;
  }


  .dropdown-menu {
    background-color: #8b57cf;
    color: white !important;
    width: 200px;
    margin-top: 0;
    position: absolute;
  }

  .btn-primary {
    &:hover {
      color: #fff;
      background-color: #8b57cf;
      border-color: #fff;
    }
    &.active {
      &.focus, &:focus, &:hover {
        background-color: #8b57cf;
        color: white !important;
        border-color: #fff;
      }
    }
    &:active {
      &.focus, &:focus, &:hover {
        background-color: #8b57cf;
        color: white !important;
        border-color: #fff;
      }
    }
  }

  .open > .dropdown-toggle.btn-primary {
    &.focus, &:focus, &:hover {
      background-color: #8b57cf;
      color: white !important;
      border-color: #fff;
    }
  }

  .dropdown-menu a:hover {
    color: #8b57cf !important;
    background-color: #ffffff !important;
  }

  .btn-primary {
    &.active, &:active {
      background-image: none;
      border-color: #fff;
      background-color: #8b57cf;
    }
  }

  .open > .dropdown-toggle.btn-primary {
    background-image: none;
    border-color: #fff;
    background-color: #8b57cf;
  }

}

// styling for first form field

.sub_header_dropdown_form {
display: flex;
input{
  width: 200px;
  height: 38px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #fff;
  margin-left: 10px;
  padding: 12px;
  background-color: #8b57cf;
  color: #fff;
}
}



// left_menu_layout

@media screen and (max-width: 1250px){

  .left_menu_layout{
    width: 80px;
    padding: 13px;
    .left_menu_options {
      display: block;
      width: 50px;
      text-align: center;
      padding: 0;
      span {
        font-size: 9px;
      }
      img {
        margin-right: 0;
      }


    }
  }

}



// edit officers dropdown
.active_dropdown{

  .common_select_styles{
    padding: 5px 30px 5px 10px;
    font-size: 15px;
  }

//   .btn-primary {
//     color: #000;
//     background-color: #ffffff;
//     border-color: #d2d2d2;
// }
//   .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
//     color: #3ea44e;
//     background-color: #ffffff;
//     border-color: #c9c9c9;
//   }

//   .dropdown-menu {
//     background-color: #ffffff;
//     width: auto;
//     position: absolute;
//     margin-top: 0;
// }


// .text_color_grey{
//   color:rgb(165, 165, 165)!important;
// }


// .dropdown-menu a:hover {
//   background-color: #d9d9d9 !important;
//   color: inherit;
// }


// .text_color_red{
//   color:#ff0000!important;
// }

// .text_color_red:hover{
//   color:#ff0000!important;
// }

// .text_color_green{
//   color:#008000!important;
// }

}
