/*****    be merchant page css starts      *****/
.be-merchant .financial-headpart {
  color: #fa7173;
}
.be-merchant .knw-abt {
  color: #fa7173;
}

.be-merchant .blck3 .content {
  border: solid 1px #fa7173 ;
}

.be-merchant .blck2-img img {
  width: 650px;
}
/*****    be merchant page css ends      *****/

/*****    merchant page css starts      *****/
.toll .merchant-list {
  padding-top:15px;
  background-color: #f2f3f5;

}
.toll .merchant-list .text-hover{
  color:grey;
  position: relative;
  bottom: -18px;
  font-family: Oswald-Regular;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: right;
}

.toll .merchant-list .park-hov-img {
  height:25px !important;
  margin-top:5px;
}

.toll .merchant-list .rail-hov-img {
  height:20px !important;
  margin-top:10px;
}

.toll .merchant-list .mer-hov-img {
  height:40px;
}

.toll .merchant-list .mer-un {
  width:100px;
}


.merchant-list .text-hover {
  color:grey;
  position: relative;
  bottom: -30px;
  font-family: Oswald-Regular;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.8px;
  text-align: right;
}

.mer-list .mer-hover {
  display:none;
}

.mer-list:hover .mer-hover, .mer-list:focus .mer-hover, .mer-list.active .mer-hover  {
  display:inline-block;
}

.mer-list:hover .mer-non-hover, .mer-list:focus .mer-non-hover , .mer-list.active .mer-non-hover  {
  display:none;
}

.merchant-list .park-hov-img {
  height:35px !important;
  margin-top:15px;
}

.merchant-list .rail-hov-img {
  height:45px !important;
  margin-top:5px;
}

.merchant-list .mer-hov-img {
  height:95px;
}

.merchant-list .mer-un {
  width:150px;
}

.retail-cc {
  color:#65cb75 !important;
}

.metro-cc {
  color:#3a78e9 !important;
}

.railways-cc {
  color:#df4f4f !important;
}

.toll-cc {
  color:#fa7173 !important;
}

.bus-cc {
  color:#8c58d0 !important;
}

.parking-cc {
  color:#22beb9 !important;
}

.merchant #section1 {
  padding-top:10%;
}

.toll #section1 {
  padding-top:15%;
}

/*****    merchant page css ends      *****/
