.merchant_login {
  hr {
    border-top: 1px solid #fa7173 !important;
  }
}

.merchant_login_form--fields {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid rgba(35, 34, 38, 0.28);
  margin-bottom: 20px;
  span {
    font-family: $font-OpenSans-Light;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(35, 34, 38, 0.43);
  }
  input {
    background: none;
    border: none;
    font-size: 23px;
    font-family: $font-OpenSans-Bold;
    color: #232226;
    text-align: right;
  }
}

/*****    customer and merchant login css starts     *****/
.login-customer,
.login-merchant {
  //background-color: #e3ecf1;
  font-family: $font-OpenSans-Light;
  nav {
    img {
      margin-top: -5px;
    }
  }
  .field-row {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #232226;
    overflow-y: scroll;
    //padding-top: 61px;
    padding-bottom: 60px;

    img {
       padding-top: 10px;
     }

     hr {
       border-top: 1px solid #2bb673;
     }

     .input-box {
       background: transparent;
       border: 0px solid;
       font-family: Oswald-Regular;
       width: 100%;
       font-size: 20px;
       font-weight: normal;
       font-style: normal;
       padding: 9px 0px 0px 0px;
       font-stretch: normal;
       /* letter-spacing: 0.9px; */
       text-align: right;
       color: #000000;
     }
  }
}

.login-customer {
  nav {
    background-color: #2bb673 !important;
  }

  .field-row {
    .input-row {
      border-bottom: 1px solid #232226;
    }
    .input-text {
      padding: 18px 0px 0px 0px;
    }

    .submit-box{
      background: #2bb673;
      //padding: 15px 100px;
      border: 1px solid #2bb673;
      border-radius: 30px;
      color: white;
      font-family: openSans-Regular;
      font-size: 20px;
      margin-top: 30px;
      height: 41px;
      width: 157px;
    }

  }
}

.login-merchant {
  nav {
    background-color: #fa7173 !important;
  }

  .field-row {
    .submit-box{
      background: #fa7173;
       padding: 5px 50px 5px 50px;
      border: 1px solid #fa7173;
      border-radius: 20px;
      color: white;
      margin-top: 50px;
    }
  }
}

// input:required {
//   box-shadow:none;
//   padding-top: 3%;
// }

.error_popup_content {
  border-radius: 15px !important;
}
.error_popup_header{
  background-color: #2bb673;
  font-family: OpenSans-semibold;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.8px;
  text-align: left;
  color: #ffffff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 12px;

}
.error_popup_footer {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  button {
    width: 183px;
    height: 46px;
    object-fit: contain;
    background-color: #2bb673;
    border: solid 1px #2bb673;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
  }
}
.error_popup_content_section {
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.8px;
  text-align: left;
  color: #555555;
  padding: 23px;
}
.error_popup_modal {
  margin: 183px auto !important;
}
/*****    customer and merchant login css ends      *****/
