<div id="main" class="guest__page side_menu_list guest__page--office">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="main-logo_img">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_office">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>

    <!--side menu  -->
    <div class="row home-menu text-center" id="fp-nav">
        <ul class="home-menu-tag metro-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow"><img src="assets/images/demo/office/office-forma.png" alt="office_form_img"><span class="office_text_color">ABOUT OFFICE</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/office/office-forma-1.png" alt="office_form_img"><span>ABOUT OFFICE</span></div>
              </a>
          </li>
          <li class="section2">
              <a data-target="#2">
                <div class="text-center flow"><img src="assets/images/demo/office/office-forma.png" alt="office_form_img"><span class="office_text_color">FEATURES</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/office/office-forma-1.png" alt="office_form_img"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow"><img src="assets/images/demo/office/office-forma.png" alt="office_product_img"><span class="office_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/office/office-forma-1.png" alt="office_product_img"><span>PRODUCTS</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#4">
                <div class="text-center flow"><img src="assets/images/demo/office/office-forma.png"><span class="office_text_color">FAQS</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/office/office-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>

    <div class="row sectiondiv" id="metro-landing-page" mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" [mnFullpageControlArrows]="false" mnFullpageSlidesNavPosition="bottom">
      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row metrosection fp-section fp-table " data-section-name="ABOUTMETRO">
        <div class="row fp-tableCell service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="finace-head" [innerHTML]="content?.OFFICE.ABOUT.INTRO_LINE"></h3>
                  <p class="finace-sub">{{content?.OFFICE.ABOUT.SUB_TITLE}}</p>

                  <!-- <span class="finace-subpart office_text_color" [routerLink]="['/office/merchant']" >Want to become an DOE Merchant?</span> -->
                </div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/office/office-smart.png" alt="office-smart_img"></div>
              </div>
          </div>
        </div>
      </div>
      <!-- Section 1 ends here-->

      <!-- Section 2 starts here-->

       <div id="section2" class="container-fluid row metrosection fp-section fp-table" data-section-name="FEATURES">
         <div class="row service_section_alignment">
           <div class="col-md-2"></div>
           <div class="col-md-8">
             <div col="row">
               <h1 class="text-center"><span class="basic-color office_text_color">Lorem Ipsum </span> is simply dummy text of</h1>
             </div>
               <div id="myCarousel" class="carousel slide parking__slider guest_page_slider_height" data-ride="carousel">
                 <ol class="carousel-indicators guest__features-slider metro_features-slider">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 </ol>
                 <div class="carousel-inner guest_page--slider_content" role="listbox">
                     <div class="row item active">
                         <div class="col-md-12">
                           <div class="col-md-4">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/office/traditional.png" alt="traditional_img">
                               <img class="img-hover cursor" src="assets/images/demo/office/traditional-hover.png" alt="traditional-hover_img">
                               <h4 class="text-center name-text features_tilte" [innerHTML]="content?.OFFICE.FEATURES.CONTENT_TABS.MULTI_UTILITY.NAME"></h4>
                               <input  class="img-hover parking_view_btn office_bg" type="submit" value="VIEW" OfficeSideMenu [type]="'traditional'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center" [innerHTML]="content?.OFFICE.FEATURES.CONTENT_TABS.MULTI_UTILITY.SUMMARY">lorem ipsum as efault message, lorlorem ipsum as efault message, lorlorem ipsum as efault message, lor</p>
                             </div>
                           </div>
                           <div class="col-md-4">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/office/coworking.png" alt="coworking_png">
                               <img class="img-hover cursor" src="assets/images/demo/office/coworking-hover.png" alt="coworking-hover_png">
                               <h4 class="text-center name-text features_tilte" [innerHTML]="content?.OFFICE.FEATURES.CONTENT_TABS.PARKING_FACILITIES.NAME"></h4>
                               <input class="img-hover parking_view_btn office_bg" type="submit" value="VIEW" OfficeSideMenu [type]="'coworking'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center" [innerHTML]="content?.OFFICE.FEATURES.CONTENT_TABS.PARKING_FACILITIES.SUMMARY"></p>
                             </div>
                           </div>
                           <div class="col-md-4">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/office/cubicles.png" alt="cubicles_img">
                               <img class="img-hover cursor" src="assets/images/demo/office/cubicles-hover.png" alt="coworking-hover_img">
                               <h4 class="text-center name-text features_tilte" [innerHTML]="content?.OFFICE.FEATURES.CONTENT_TABS.EASIER_MONITORING.NAME"></h4>
                               <input  class="img-hover parking_view_btn office_bg" type="submit" value="VIEW" OfficeSideMenu [type]="'cubicles'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center" [innerHTML]="content?.OFFICE.FEATURES.CONTENT_TABS.EASIER_MONITORING.SUMMARY"></p>
                             </div>
                           </div>
                         </div>
                     </div>
                 </div>
               </div>
           </div>
           <div class="col-md-2"></div>
         </div>
       </div>

        <!-- Section 2 ends here-->

        <!-- section Scroll PRODUCTS from toll -->
        <div id="section4" class="container-fluid row metrosection fp-section fp-table" data-section-name="PRODUCTS">
          <div class="fp-tableCell service__products service_section_alignment">
            <div class="procucts__cards_layout">
              <ng-container *ngFor="let item of officeLand.deviceinfo.items | keys; let i=index" >
                <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                  <div class="procuct__image">
                    <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                    <img src="{{officeLand.deviceinfo.items[item].image}}" alt="device_info_img">
                  </div>
                  <div class="product__details">
                    <h4 class="Product_title">{{officeLand.deviceinfo.items[item].name}}</h4>
                    <p class="product__description">{{officeLand.deviceinfo.items[item].summary}} </p>

                    <h3 class="prdct_cost"><span class="rupee_symbol_font">&#8377;</span>{{officeLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
        <!--section 4 ends here -->

        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row metrosection  fp-section fp-table" data-section-name="FAQ">
        <div class="fp-tableCell service_section_alignment">
          <div class="faq__section_content">
            <h1 class="faq row">FAQs</h1>
            <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
            <div class="row">
              <div class="select-topic col-md-3">Select a topic</div>

              <div class="col-md-6 select-input cursor" #c (change)="changefaqbyid(c.value)">
                  <select class="cursor" #c (change)="changefaqbyid(c.value)">
                    <ng-container *ngFor="let item of content?.OFFICE.FAQS; let j=index ">
                      <option value="{{j}}" >{{item.description}}</option>
                    </ng-container>
                  </select>
              </div>
              <div class="col-md-3">
                <input CommonSideMenu [type]="'office_faq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
              </div>
            </div>
          </div>
        </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>

    <office-footer></office-footer>
</div>

<!-- faq page -->

<!-- right faq nav bar ends -->

<office-features-side-bar></office-features-side-bar>

<!-- right faq nav bar starts -->

<div id="office-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img office_bg" style="height:100px;width:97px;border-radius:62%;">
    <!-- <img class="top-img1" src="assets/images/metro/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/metro/metro-white-faq.png" alt="office_faq_img">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(officeLand.selectedFaqTopic && officeLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{officeLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of officeLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="toll_form_img"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->
