.consumer_guest_home_page {
  background-color: #f8f6f8;
}
.text_overflow {
  text-overflow: ellipsis;
  overflow: hidden !important;
}
.text_iniitial_captilize{
  text-transform:capitalize;
}
.accnt_settings__info_content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  // height: 65%;
  // overflow-y: auto;
  // overflow-x: hidden;
  padding-left: 30px;
  //box-shadow: 1px 4px 5px 0px rgba(0,0,0,.075);

  .card__content__thumbnail,
  .card__content__thumbnail__image{
    height: 75px;
    width: 75px;
  }

  .card__content__thumbnail {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
  }

  .card__content__thumbnail__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
  }
  .edit-upload {
    position: absolute;
    width: 25px;
    top: 71px;
    right: 13%;
  }
}

.consumer_profile_card {
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.2);
  width: 159px;
  height: 210px;
  margin-top: 7px;
  padding-top: 18px;
  background-image: linear-gradient(to top, #f6f6f8, #e0dfe1);
  .profile_card_name {
    margin-right: 15px;
    text-align: right;
    font-family: $font-OpenSans-Semibold;
    font-size: 12px;
    line-height: 1.67;
    color: #26294c;
  }
}

.accnt_settings_header {
  display: flex;
  align-items: center;
  img {
    width: 16px;
    margin-right: 10px;
  }
}
.settingInputFieldDisabled {
  background: transparent;
  border: none;
  width: 250px;
}

.input-row-disabled {
  border-bottom: none !important;
}

.user_settings_lostcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.consumer_alert_msg {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.user_actions_text {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
}

.rechargePopupModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.quic-rchrg-slct-card {
    // overflow: auto !important;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    box-shadow: 0px 27px 3px 0px rgba(0,0,0,.33)

}

.delet-crd-txt{
      line-height: 1.5 !important;
}

.disabled_button {
  background-color: #ccc !important;
  border: none !important;
}

.add__card_section_image {
  border: 2px solid #9e9e9e;
  border-style: dashed;
  text-align: center;
  height: 176px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  border-radius: 2px;
  margin: 10px 0;
  img {
    padding-top: 0 !important;
  }
}

.blocked__card_layer {
  color: #2bb673;
  display: flex;
  justify-content: center;
  border: 2px solid rgba(128, 128, 128, 0.28);
  border-style: dashed;

  .blocked__card_layer_content {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


.map_content_section {
  position: relative;
  padding-top: 0px !important;
  .map-overlay-content_section {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    z-index: 2;
    margin:0 auto;
    font-family: $font-OpenSans-Light;
  }
}
.carousel_slide_hieht {
  height: 100% !important;
  .fp-tableCell {
    height: 100% !important;
  }
}

.customer_setting_error_msg {
  text-align: left;
}
//have to move some other file
.customer_login_rupee_symbol {
  display: flex;
  justify-content: center;
}
.coustmer__guest__page_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-top: 14px;
}
.customer_header_section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 83%;
  .customer_landing_location_button {
    display: flex;
  }
  .location_select_button {
    border: 1px solid #227360;
    color: #227360;
    text-transform: uppercase;
    font-family: $font-OpenSans-Semibold;
    font-size: 15px;
    padding: 10px;
    border-radius: 42px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .customer_action_buttons {
    font-family: $font-OpenSans-Semibold;
    font-size: 15px;
    border: 1px solid #227360;
    background: none;
    width: 141px;
    padding: 10px;
    border-radius: 42px;
    color: #2bb673;
    text-transform: uppercase;
    margin: 0 13px;
    &:hover {
      background-color: #2bb673;
      color: #fff;
    }
  }
  .customer_landing_auth_buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.cards_amount_limits {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .current_month_usage {
    border-right: 2px solid rgba(34, 115, 96, 0.5);
    .current_month_usage_header {
      display: flex;
      justify-content: flex-end;
      margin-right: 11px;
      font-family: OpenSans;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #227360;
    }
    .ekyc_text {
      display: flex;
      justify-content: flex-end;
      margin-right: 11px;
      margin-top: -12px;
      font-family: OpenSans;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      align-items: center;
      text-decoration: underline;
      .info_icon{
        color: #2bb673;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        background-color: #ffffff;
        margin: 3px;
      }
    }
    .current_month_usage_numbers {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .current_month_usage_chart {
        width: 50px;
        height: 50px;
        border: 1px solid grey;
        border-radius: 50%;
      }
      .used_amount, .total_amount {
        margin: 10px;
        font-family: OpenSans;
        font-size: 21px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
      .total_amount {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
.home_menu_side_nav {
  margin-top: 0 !important;
}

.conformation_msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 105px;
}
.conformation_msg_sure {
  font-family: $font-OpenSans-Light;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.2;
  letter-spacing: normal;
  text-align: center;
  color: #fa7173;
}
.conformation_msg_tetx {
  font-family: $font-OpenSans-Light;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  margin-top: 55px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #232226;
}
.conformation_msg_button {
  display: flex;
  button {
    width: 176px;
    height: 39px;
    object-fit: contain;
    background-color: #fff;
    background: none;
    border: solid 1px #2bb673;
    border-radius: 20px;
    color: #2bb673;
    margin: 20px;
    &:hover {
      background-color: #2bb673;
      color: #fff;
    }
  }
}

.quick_recharge_page, .open_sans_light_font {
  font-family: $font-OpenSans-Light;
}
.consumer_guet_scroll_title {
  font-family: $font-OpenSans-Light;
}

.open_sans_semibold_font {
  font-family: $font-OpenSans-Semibold;
}

.file_choose_button {
  background: none;
  border-radius: 20px;
  color: #333;
  border-color: #ccc;
  padding: 5px 20px 5px 20px;
  border: 1px solid #ccc;
}
.edit_card_preview {
  display: flex;
  flex-direction: column;
}
.coustmer_guest_header {
  display: flex !important;
  align-items: center !important;
}
