

/*****    customer login page css starts     *****/
.customer-login{
    background-color: #2bb673;
    height: 100%;
    width: 100%;
    color: white;
    position: fixed;
}
.customer-login .doe-tag{
    font-family: $font-OpenSans-Bold;
    font-size: 25px;
    color:white;
    margin: 0 !important;
}

.login-merchant .social-feed{
     color: #fa7173 !important;
}

.login-merchant .credential{
     color: #fa7173 !important;
}

.customer-login .social-feed{
  color: #227360;
  position: absolute;
  width: 200px;
  bottom: 80px;
  left: -50px;
  transform: rotate(-90deg);
  display: flex;
  justify-content: space-around;

  .social-feed__icons_share a {
    margin-right: 10px;
  }
}

.customer-login .credential{
    color: #227360;
    right:-100px;
    position: absolute;
    bottom: 120px;
    transform: rotate(-90deg);
    font-family: $font-OpenSans-Semibold;

}

.customer-login .slash{
    width:15px !important;
}

.customer-login .credential-text{
    width: 115px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: $font-OpenSans-Semibold;
}

.customer-login .social-icon{
    transform: rotate(90deg);
        width: 12px;
    margin-left: 5px;
}

.cust-menu{
     width: 80px;
    padding-top: 35px;
    float: right;
    text-align: center;
}
.customer-login .active{
    box-shadow: 0 2px 0px 0 white;
}

.customer-login .navbar{
    box-shadow: 0 2px 7.6px 0.4px rgba(0, 0, 0, 0.35);
}
.cust-login-close{
    right: 30px;
    position: absolute;
    top: 30px;
}
.cust-login-info{
       padding-top: 30%;
}

.cust-reg-info{
       padding-top: 12%;
}


.cust-reg-img2{
        position: absolute;
    top: 30%;
    right: 33%;
}

.cust-submit{
    position: absolute;
    top: 52%;
    left: 48%;
}

.cust-input{
        background: transparent;
    border: none;
    width: 250px;
    border-bottom: 1px solid #ffffff;
}


.forgot-password{
    font-family: $font-OpenSans-Light;
}

.cust-login-input{
        width: 175px !important;
    margin-left: 20px;
}

.forgot-password .cust-login-txt {
    font-size: 120.1px !important;

}
.cust-login-txt{
   opacity: 0.1;
    position: absolute;
    right: 30px;
    font-family: OpenSans;
    font-size: 190px;
    bottom: 35px;
    font-weight: 300;
    line-height: 0.5;
    text-align: center;
    color: rgb(198, 198, 198);
    font-family:$font-OpenSans-Light;
    }
.ruppee-icon{
    width:85%;
    margin-bottom: 7%;
    }

.failed-otp-text{
    float: left;
    //margin: 4% -1% 3% 36%;
    font-family: OpenSans;
    font-weight: 300;
    line-height: 2;
    color: #595959;
}
.opt-submit-button{
    background: #2bb673;
    padding: 15px 100px;
    border: 1px solid #2bb673;
    border-radius: 30px;
    color: white;
    font-family: $font-OpenSans-Regular;
    font-size: 20px;
}
.login-merchant .cust-login-txt{
    color: #fa7173 !important;
}

.customer .get-card{
        width: 250px;
    padding-top: 30px;
}

.customer-login .line-bar-green{
    width:80%;
}
.customer-login .termsncondtns{
    font-family: $font-OpenSans-Bold;
    opacity: 14;
    color: rgba(0, 0, 0, 0.5);
}
.modal-terms-dialog{
    width: 72%;
    margin: 30px auto;
}
.terms-span{
    font-family: $font-OpenSans-Light;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #1a1818;
}
.modal-body .terms-li{

    font-family: $font-OpenSans-Light;
    font-size: 17px;
    line-height: 1.3;
    text-align: left;
    color: #7a7d81;
    margin: 0 0 15px 0;
}
.terms-header{
    background: #2bb673;
    box-shadow: 0px 2px 7.6px 0.4px rgba(0, 0, 0, 0.35);
}
.doe-tag-modal{
    font-family: $font-OpenSans-Bold;
    font-size: 25px;
    color:white;
}
.p-color{
    color:white;
}
.terms-agree{
    margin:3% 30% 6% 36%;
    width: 30%;
    background: #2bb673;
    border-radius: 30px;
    height: 60px;
    color: white;
    border: 1px solid white;
    font-size: 21px;
}
.terms-modal-content{
    margin-top: 7%;
    width: 100%;
    background: white;
}
.terms-div{
    margin: 3% 0 2% 0;
    text-align: center;
}
.terms-modal-dialog{
    margin: 0% 15%;
}
.terms-contents-space{
    padding: 0 4% 0 4%;
}
.terms-close-icon{
    float: right;
    margin-right: -17%;
}
.customer-login .p-l-0{
    padding-left:0px;
}
.forgot_password_mobile_field{
  border-bottom: 1px solid rgba(35, 34, 38, 0.39);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 90px;
  .forget-password-feild{
      border: none;
  }
}
.forget-password-feild{
    width: 50%;
    border-bottom: 1px black solid;
    margin-left: -5px;
    border-right: 1px #E3ECF1 ;
    background: #E3ECF1 ;
    border-left: 1px solid #E3ECF1 ;
    border-top: 1px solid #E3ECF1 ;
    font-family: Oswald-Regular;
    text-align: right;
    font-size: 19px;
}
.first-static-feild
{
    width: 50%;
    border-bottom: 1px black solid;
    margin-left: -5px;
    border-right: 1px #E3ECF1 ;
    background: #E3ECF1 ;
    border-left: 1px solid #E3ECF1 ;
    border-top: 1px solid #E3ECF1 ;
    text-align: left;
    font-size: 15px;
}
.alert-style{
    margin-bottom: 0px !important;
}
.alert-number-reset{
    margin-bottom: -10px !important;
}
.resend-otp{
    text-align: center;
    padding: 2% 0%;
}
.lost-card-resend{
    color:#337ab7;
}


@media only screen and (min-width: 1020px) and (max-width: 1650px) {
    .cust-reg-img1{
        width:150px;
    }

    .customer .get-card{
        width:230px;
        padding-top: 25px;
    }

    .customer #section1 h1{
        font-size:58px !important;
    }
    .cust-reg-img2 {
        position: absolute;
        top: 30%;
        right: 33%;
        width: 40px;
    }
}
/*****    customer login page css ends     *****/
