/*--------------------------------------------- cust db css starts -----------------------------------------------*/
.user_profile_section_view {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .transaction-list {
    position: relative !important;
  }
}

.home_page_image_hover {
  img {
    width: 120px;
  }
}

.merchant_feature_block {
  background-color: #e8e8e8;
  border-radius: 50%;
  width: 217px;
  height: 217px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #efefef;
  margin: auto;
  cursor: pointer;
  img {
    width: 193px;
  }
}
.merchant_feature_block_text {
  font-size: 15px !important;
}
.side_bar__content_list {
  p {
    font-size: 16px !important;
    text-align: justify !important;
    ul {
        width: 250px;
        margin: 15px auto;
        font-family: $font-OpenSans-Semibold !important;
    }
  }
}
.account_settings_page_layout {
  padding: 9px;
}
.recharge_form_fields--rupee_symbol {
  position: relative;
  .quick_rechagre_amount_field {
    margin: 0 auto;
    display: flex;
    align-items: center;
    input {
      border: none;
    }
  }
  label {
    position: absolute;
    font-weight: bold;
    color: #2bb673;
    top: 2px;
  }
  input {
    padding-left: 13px;
  }
}
.consumer__form_error_message {
  color: #ff0000 !important;
  font-weight: bold;
  font-size: 16px;
  margin-right: -10px;
}
.disabled_field {
  color: rgba(93,93,93,0.7) !important;
  border-bottom:1px solid #ccc !important
}
.header_name_section {
  width: 200px;
  background-color: #2bb673;
  border: none;
}
.cust-db {
  background-color: #e3ecf1 !important;
  font-family: $font-OpenSans-Regular;
  color:#ffffff;
  overflow-y: hidden;

  .graph {
    height: calc(100% - 100px) !important;
    position: relative;
    margin-left:-75px;
    margin-right:-40px;
  }

  .cards-layout{
    padding: 15px 0px 0px 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 150px);
  }
}

.cust-db .card .doe-card{
    margin-bottom: 15px;
}

.cust-db .card .select-card{
    position: absolute;
    top: 5px;
    left: 210px;
}

.cust-db .all-cards .money, .quic-rchrg .money{
  //border: 1px solid #232226;
  border-radius: 50%;
  color: #232226;
  width: 65px;
  margin: 0 auto;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top, #f6f6f8, #f8f7f9 100%);
}

.cust-db .all-cards .money.active, .quic-rchrg .money.active{
    border: none;
    color: $color-white;
    //font-size: 18px;
    font-family: $font-OpenSans-Bold;
    background: #2bb673;

    .rupee_symbol {
      color: $color-white;
    }
}

.quic-rchrg .money{
    width: 85px;
    height: 85px;
}

.cust-db .all-cards .value, .quic-rchrg .value{
       padding:0px;

}


.cust-db .card .select-card .hover{
    display:none;
}

.cust-db .card .select-card.active .hover{
    display:inline-block;
}

.cust-db .card .select-card.active .nonhover{
    display:none;
}

.cust-db .card .profile-avatar{
    position: absolute;
            top: 265px;
    left: 35px;
}

.cust-db .card .profile-avatar img{
        width: 30px;
}

.cust-db .card .card-content{
           position: absolute;
    top: 175px;
    color: #26294c;
    font-size: 12px;
    left: 95px;
}

.cust-db .card .delete-card{
    color: red;
    right: 25px;
    position: absolute;
    bottom: -10px;
    font-size: 10px;
    text-decoration: underline;
}

.cust-db .card .card-content h4{
    font-size: 15px;
}
.cust-db .settings {
  color: black;
}
.cust-db .settings .act-set-text{
    font-family: $font-OpenSans-Regular;
    font-size: 39.5px;
    padding: 55px 0px 0px 80px;
    color: rgba(35, 34, 38, 0.7);
}

.cust-db .settings .act-set-text p{
    font-size: 12px;
}

.cust-db .settings .act-set-close{

}

.cust-db .settings .update-password, .cust-db .settings .update-mobile{
    padding-top: 4%;
}

.cust-db .settings .act-set-close img{
        padding: 30px 35px 0px 0px;
}

.cust-db .settings .side-list{
    background: none;
    border:none;
    color: #232226;
    padding: 10px 0px 0px 20px;
    text-align: center;
}

.cust-db .settings .side-list.active{
    border: 2px solid #2bb673;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

.cust-db .settings .side-menu{
    padding: 30px 0px 0px 0px
}

.cust-db .settings .side-menu .row{
   margin-bottom:10px;
}

.cust-db .settings .field-name{
   opacity: 0.8;
    font-family: $font-OpenSans-Regular;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: rgba(35, 34, 38, 0.8);
}


.cust-db .settings .fields-row{
    padding:40px 0px 0px 0px;
}

.cust-db .settings .message{
    color:rgba(40, 40, 40, 0.5);
    font-size:12px;
    padding:0px 0px 0px 0px;
}

.cust-db .settings .submit{
        background: none;
    padding: 5px 75px 5px 75px;
    border: 1px solid #2bb673;
    border-radius: 20px;
    color: #232226;
    margin-top: 10px;
}

.cust-db .settings .settings-tab{
      background: none;
    padding: 5px 15px 5px 50px;
    border: 1px solid #2bb673;
    border-radius: 20px;
    color: #2bb673;
}

.cust-db .settings .settings-green{
        position: absolute;
    right: 90px;
    width: 25px;
    top: 3px;
}

.cust-db .settings .submit:hover{
        background:  #2bb673;
    padding: 5px 75px 5px 75px;
    border: 1px solid #2bb673;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 10px;
}

.cust-db .settings .set-lst-crd{
    margin-top: 30px;
    margin-bottom: 40px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.cust-db .settings .message{
    color:rgba(40, 40, 40, 0.5);
    font-size:12px;
    padding:20px 0px 20px 0px;
}

.cust-db .settings input[type='text'], .cust-db .settings input[type='password']{
    background: none;
    //box-shadow: none;
    border-radius: 0;
    border: none;
    width: 250px;
    border-bottom: 1px solid rgba(40, 40, 40, 0.5);
}

.cust-db .name-text{
    font-size:50px;
    padding: 30px 0px 0px 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.1px;
    display: flex;
}

.cust-db .name-text img{
        width: 12px;
    margin-top: -25px;
}

.cust-db .head-panel .cur-bal{
        margin-top:-10px !important;
    }

.cust-db .logout-text{
    padding: 10px 45px 0px 0px;
}

.cust-db .logout-text-color{
    color:#227360;
}

.cust-db .profile-image{
    border-radius: 50%;
        margin-top: 50px;
        height: 180px;
        padding: 0px;
}

.cust-db .balance-rupee img{
    margin: -25px 10px 0px;
}

.cust-db .right-divider{
    padding: 0px 40px 20px 40px;
}

.transaction-list_border {
  border-top: 1px solid #fff;
}

.cust-db .transaction-list{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 44%;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.cust-db .transaction-list .no-transac{
    color: rgba(227, 236, 241, 0.2);
    font-size: 15px;
    font-family: $font-OpenSans-Regular;
    margin-left: 15px;
    margin-top: 20px;
}

.cust-db .transaction-list .no-transac img{
    width:50%;
}

/* BORDERS AND BULLETS */

.cust-db .amount{
    text-align: right;
    color: rgba(207, 34, 87, 0.9);
    opacity: 0.9;
}

.cust-db .amount.credit{
    color:#2bb673;
}

.cust-db .sub-menu .transaction-item{
}
.cust-db .sub-menu .loc{
    font-size:12px;
}

.cust-db .sub-menu .time{
    font-size:10.5px;
}

.cust-db .sub-menu .amount{
    font-size:11px; /* isuue : DOE-833 */
}
.cust-db ul.sub-menu li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2.5em;
    list-style-type: none;

    .credit-type{
      position: absolute;
      left: -40px;
      top: 13px;
      .glyphicon-triangle-top{
        color: rgba(207, 34, 87, 0.9);
      }
      .glyphicon-triangle-bottom{
        color: #2bb673;
      }
    }
}


.cust-db ul.sub-menu li:after {
    /* bullets */
    content: url('../assets/images/customer/ellipse-68111.png');
    position: absolute;
    left: -20px; /*adjust manually*/
    top: 13px;
}


.cust-db ul.sub-menu li.credit:after {
    /* bullets */
    content: url('../assets/images/customer/ellipse-6-copy-28113.png');
    position: absolute;
    left: -20px; /*adjust manually*/
    top: 13px;
}

.cust-db ul.sub-menu li:before {
    /* lines */
    content:"";
    position: absolute;
    left: -15px; /* adjust manually */
    border-left: 1px solid #ffffff;
    height: 100%;
    width: 1px;
    padding-top: 20px;
}

.cust-db ul.sub-menu li:first-child:before {
   /* first li's line */
   top: 15px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

.cust-db ul.sub-menu li:last-child:before {
    /* last li's line */
   height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}


.cust-db .head-panel{
    height: 185px;
    background-color: #2bb673;
    font-family: $font-OpenSans-Light;
    position:fixed;
    width:100%;
    z-index:1000;
}
.cust-db .head-panel .top-up-field{
    background: none;
    border: none;
    -webkit-appearance: none;
}

.cust-db .head-panel .top-up-field::-ms-expand {
    display: none;
}
.cust-db .head-panel .bal-amt{
    padding: 0px 45px 0px 0px;
    margin:0px;
}

.cust-db .head-panel .balance{
    font-size:49.8px;
    line-height: 0.9;
}

.cust-db .body-panel{
    padding-top:185px;
    position:relative;
    // overflow-x:hidden;
    // added to fix horizontal scroll issue - shantanu
}

.cust-db .body-left-panel{
    height:100%;
    padding-right: 0px;
    width:71.875%;
}

.cust-db .body-right-panel{
    background-color: #232226;
    height:100%;
    padding-left: 0px;
    width:28.125%;
}

.cust-db .panel-box{
   border: none;
    box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    margin-top: 5px;
    margin-right: 5px;
    position: relative;
    background: #fff;
    padding: 15px;
    display: block;
}

.cust-db .all-cards{
    padding:15px;
    height:100%;
}

 .cust-db .transaction-page .all-cards{
    margin-top:20px;
 }

.cust-db .all-cards .left-inner-panel{
    padding-left:20px;
    padding-right:5px;
    height:100%;
}

.cust-db .all-cards .right-inner-panel{
    padding-left:10px;
     height:100%;
}

.cust-db  .all-cards .cards-info{
    height: calc(100% - 100px);
    display:block;
     -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
}

.cust-db  .all-cards .cards-info.strt-allcard-animate{
     height:75px;
}

.cust-db  .all-cards .transaction{
    height:75px;
    margin-bottom:5px !important;
        line-height: 3.17;
    color: rgba(35, 34, 38, 0.7);
        padding: 22px;
         -webkit-transition: height 1s; /* For Safari 3.1 to 6.0 */
    transition: height 1s;
    display: flex;
}

.cust-db  .all-cards .transaction.strt-allcard-animate{
    height: calc(100% - 100px);
}
.cust-db  .all-cards .transaction.strt-allcard-animate .animate-efft{
    opacity :0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}
.cust-db  .all-cards .transaction .animate-efft{
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
     opacity: 1;
     display: flex;
     align-items: center;
}
.cust-db  .all-cards .cards-info.strt-allcard-animate .animate-efft{
    opacity :0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}
.cust-db  .all-cards .cards-info .animate-efft{
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
     opacity: 1;
}


.cust-db  .all-cards .cards-info .circle, .cust-db  .all-cards .top-up .circle {
    //width: 0px;
    height: 66px;
    border-right: 19px solid transparent;
    // border-top: 0px;
    // border-bottom: 75px solid #2bb673;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 72px;
    right: 0px;
    background-color: #2bb673;
}

.cust-db  .all-cards .cards-info .circle img{
    margin: 5px 0px 0px 20px;
    width: 40px;
}

.cust-db  .all-cards .top-up .circle img{
    margin: 10px 0px 0px 20px;
    width: 45px;
}



.cust-db  .all-cards .top-up{
    height: calc(100% - 100px);
    display:block;
}



.cust-db  .all-cards .transaction-text{
    opacity: 0.7;
    font-family: $font-OpenSans-Regular;
    line-height: 0.7;
    color: rgba(35, 34, 38, 0.7);
    font-size:30px;
        padding:10px;
}

.cust-db  .all-cards .right-arrow{
    padding-top:5px;
}

.cust-db  .all-cards .all-cards-text{
    opacity: 0.7;
    font-family: $font-OpenSans-Regular;
    color: rgba(35, 34, 38, 0.7);
    font-size: 20px;
    padding: 20px 0px 0px 20px;
}

.cust-db  .all-cards .sel-amt{
    opacity: 0.7;
    font-family: $font-OpenSans-Regular;
    color: rgba(35, 34, 38, 0.7);
    font-size: 10px;
    padding: 0px 0px 0px 20px;
    margin-top:2px;
}

.cust-db  .all-cards .top-up .top-up-field{
    //background: transparent;
    border: none;
    border-radius: 0;
    color: black;
    width:100%;
    border-bottom: 1px solid rgb(43, 182, 115);
}

.cust-db  .all-cards .top-up  .top-up-submit{
     background: none;
    padding: 5px 60px;
    border: 1px solid #2bb673;
    border-radius: 20px;
    color: #232226;
    margin-top: 10px;
    max-width: 100%;
}

.cust-db  .all-cards .top-up  .top-up-submit:hover{
    background: #2bb673;
    padding: 5px 60px;
    border: 1px solid #2bb673;
    border-radius: 20px;
    color: #ffffff;
    margin-top: 10px;
    max-width: 100%;
}

.cust-db  .all-cards .top-up  .top-up-select{
    margin-top:20px;
}

.cust-db  .all-cards .add-card-text{
    opacity: 0.7;
    font-family: $font-OpenSans-Regular;
    font-size: 20px;
    line-height: 1.2;
    color: rgba(35, 34, 38, 0.7);
}

.cust-db  .all-cards .set-lst-crd-text img{
         height:25px;
    }

.cust-db  .all-cards .divider{
    font-size: 30px;
    object-fit: contain;
    opacity: 0.5;
    color: #232226;
}

.cust-db  .all-cards .set-lst-crd{
    padding-top:15px;
}

.cust-db  .all-cards .set-lst-crd-text{
     padding-top:12px;
}

.cust-db  .all-cards .cards-list{
    overflow:auto;
    height: calc(100% - 100px);
}

.cust-db .settings .divider{
    color: #232226;
    font-size: 20px;
}
.cust-db .settings .lost-card-text {
     color: #232226;
     font-size: 14px;
     padding-top:5px;
}


.cust-db .lc-success{
    padding-top:10%;
}

.cust-db .lc-success .lc-suc-img{
    width:35px;
}

.cust-db .lc-success .lc-sc-msg{
    font-family: $font-OpenSans-Regular;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: center;
    color: #2bb673;
}

.cust-db .lc-success .lc-sc-txt{
    font-family: $font-OpenSans-Regular;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #232226;
}

.cust-db .lc-success .lc-code{
    background-color: rgb(225,227, 236);
    box-shadow: 0 0 0 5px white;
    padding: 10px;
}

.cust-db .lc-success input[type='password']{
    width:100% !important;
}

.cust-db .cards-info .cards-info-row, .cust-db .top-up .cards-info-row {
    padding:25px;
    width:100%;
    height:100%;
}
.cust-db .cards-info .cards-info-row .head-text{
    font-family: $font-OpenSans-Regular;
    font-size: 39.5px;
    line-height: 3.17;
    color: rgba(35, 34, 38, 0.7);
}

.cust-db .cards-info-row .sup-head{
    margin:0px;
}
.cust-db .top-up .cards-info-row .head-text{
    font-family: $font-OpenSans-Regular;
    font-size: 39.5px;
    line-height: 3.17;
    color: rgba(35, 34, 38, 0.7);
}

.cust-db .top-up .cards-info-row .sub-head{
    font-family: $font-OpenSans-Regular;
    font-size: 11.5px;
    line-height: 3.17;
    color: rgba(35, 34, 38, 0.7);
}



/* --- New css starts here --- */





.cust-db .cards-info .all-cards-section{
    padding: 15px;
    margin-top: 20px;
    max-height: 90%;
    overflow-y: auto;
}

.cust-db .cards-info .all-cards-section-head .card-back-arrow{
    margin-bottom: 5px;
    height: 30px;
    margin-right: 10px;
}

.cust-db .cards-info .card-section{
        padding: 15px;
    //margin-top: 15%;
    //max-height: 75%;
        overflow: auto !important;
}
.cust-db .edit-card-section .edit-preview-part{
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 13px;
    background: linear-gradient(to top, #f6f6f8, #e0dfe1);
     box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.2);
}
.cust-db .edit-card-section .edit-preview-part .edit-card{
    width:100%;
}

// .cust-db .edit-card-section .edit-preview-part .card-tile{
//     position:absolute;
// }

.cust-db .edit-card-section .edit-preview-part .card-details{
    color: #26294c;
    // position: absolute;
    // float: right;
    // bottom: 0%;
    // right: 15%;
}

.cust-db .edit-card-section .edit-preview-part .card-details .card-name{
    font-size: 12px;
    font-weight: bold;
    font-family: $font-OpenSans-Bold;
    width: 80%;
    max-width: 93px;
    white-space: nowrap;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    margin-left: 20%;
}

.cust-db .edit-card-section .edit-preview-part .card-number{
    font-size:10px;
    float:right;
    font-family: $font-OpenSans-Bold
}

.cust-db .cards-info .card-section .edit-info-part{
    padding: 20px;
    max-height: 100%
}
.cust-db .cards-info .add-card-section .card-section .edit-card-name{
    background: none;
    border: none;
    border-bottom: 1px solid #2bb673;
    //width: 80%;
    color: black;
    margin: 5px;
}



.cust-db .cards-info .card-section .edit-card-name{
        background: none;
    border: none;
    border-bottom: 1px solid #2bb673;
    width: 100%;
    color:black;
    margin:10px 0px;
}
.cust-db .cards-info .card-section .edit-card-submit{
    background-color: transparent;
    margin: 20px;
    border: 1px solid #2bb673;
    color: black;
    padding: 5px 50px;
    border-radius: 20px;
}
.cust-db .cards-info .card-section .delet-crd-txt{
    font-family: $font-OpenSans-Regular;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 0.2;
    text-align: center;
    color: #fa7173;
}

.cust-db .cards-info .card-section .delete-select{
        width: 50%;
    float: left;
}
.cust-db .cards-info .card-section .edit-card-submit:hover{
    background-color: #2bb673;
    margin: 20px;
    border: none;
    padding: 5px 50px;
    border-radius: 20px;
    color:white;
}

.cust-db .cards-info .card-section .edit-card-info{
        border: 1px dashed black;
    background-color: #f6f6f8;
    padding:15px;

}

.cust-db .cards-info .card-section .edit-card-info .info-title{
    color: rgba(40, 40, 40, 0.4);
    font-size:10px;
    text-align:left;
    margin-bottom:0px;
}

.cust-db .cards-info .card-section .edit-card-info .info-description{
    color: black;
    font-size:15px;
    text-align:left;
    margin-top:5px;
}

.cust-db .cards-info .card-section .edit-card-img .edit-upload{
    position: absolute;
    width: 25px;
    top: 70px;
    right: 35%;
    display: none;
}

.cust-db .cards-info .add-card-section .card-section .edit-card-img .edit-upload{
    position: absolute;
    width: 25px;
    top: 160px;
    right: 13%;
    display: none;
}

.cust-db .cards-info .card-section .edit-card-img:hover .edit-upload{
    display:block;
}


.cust-db .cards-info .card-section .card__content__thumbnail,
.cust-db .cards-info .card-section .card__content__thumbnail__image{
     height: 75px;
    width: 75px;
}


.cust-db .cards-info .card-section .card__content__thumbnail {
        margin: 0 auto;
   border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
}

.cust-db .cards-info .edit-card-section .card__content__thumbnail__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
}

.cust-db .cards-info .all-cards-section .card-tile{
    margin-top: 10px;
     margin-bottom: 10px;
}

.cust-db .cards-info .all-cards-section .card-tile.lost__card__tile{
    margin-top: 10px;
     margin-bottom: 10px;
     margin-left:15px;
     margin-right:15px;
}

.cust-db .cards-info .all-cards-section .active-card{
    width:100%;
}

.cust-db .cards-info .all-cards-section .add-card{
    width: 80%;
    padding-top: 5px;
}

.cust-db .cards-info .all-cards-section .block-card{
    width: 80%;
    opacity: 0.5;
    padding-top: 5px;
}

.cust-db .cards-info .all-cards-section .edit-text{
    font-family: $font-OpenSans-Regular;
    font-size: 8px;
    letter-spacing: -0px;
    color: #7e7e7f;
    margin-top:10px;
}

.cust-db .cards-info .all-cards-section .edit-text.active{
    color: #2bb673;
    text-decoration: underline;

}

.cust-db .cards-info .all-cards-section .delete-text{
    font-family: $font-OpenSans-Regular;
    font-size: 8px;
    letter-spacing: -0px;
    color: #7e7e7f;
    margin-right:15px;
    margin-top:10px;
}

.cust-db .cards-info .all-cards-section .delete-text.active{
     text-decoration: underline;
    color: #ff2d55;
}

.cust-db .cards-info .all-cards-section .card-details{
    color: #26294c;
    position: absolute;
    float: right;
    bottom: 20%;
    right: 17%;
    font-family:$font-OpenSans-Bold;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.cust-db .cards-layout.cards-info .all-cards-section .card-details{
    color: #26294c;
    position: absolute;
    float: right;
    bottom: 15%;
    right: 20%;
}


.cust-db .cards-info .all-cards-section .card-details .card-name{
    font-size: 12px;
    font-weight: bold;
    font-family: $font-OpenSans-Bold;
    width: 80%;
    max-width: 93px;
    white-space: nowrap;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
}

.cust-db .cards-info .all-cards-section .card-details .card-number{
    font-size:10px;
    float:right;
    margin:0;
}

.cust-db .cards-info .card__content__thumbnail,
.cust-db .cards-info .card__content__thumbnail__image{
     height: 25px;
    width: 25px;
}


.cust-db .cards-info .card__content__thumbnail {
   border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
}

.cust-db .cards-info .card__content__thumbnail__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
}

.cust-db .cards-info .card__content__thumbnail__image.no-img{
        background-color: #2bb673;
    padding: 3px;
}

.cust-db .cards-layout.cards-info .card-img{
    position: absolute;
    bottom: 0%;
    left: 5%;
}

.cust-db .cards-info .card-img{
    position: absolute;
    bottom: 12%;
    left: 5%;
}

.cust-db .cards-info .block-card-overlay{
  position: absolute;
  width: 85%;
  height: 86%;
  top: 0;
  left: 11px;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.81);
  z-index: 2;
  cursor: pointer;
  box-shadow: -1px 15px 0 11px #fffc;
}

.cust-db .cards-info .replace-cont{
        position: absolute;
    text-align: center;
    width: 100%;
    color: #2bb673;
    top: 25%;
    height: 100%;
    margin: 0 auto;
}

.cust-db .cards-info .replace-card-img{
        width: 30%;
    margin-bottom: 10px;
}

.cust-db .cards-info .plus-icon-img{
        width: 30%;
    padding-top:20%;
}

.cust-db .cards-info .replace-cont p{
    font-size:10px;
}

.cust-db .card-tile .select-card{
  position: absolute;
  top: -8px;
  right: 7%;
}
.lost_card_select-card{
  position: absolute;
  top: -8px !important;
  right: -2% !important;
}
.lost_card_card-img {
  bottom: -4% !important;
  left: -6% !important;
}
.lost_card_card-details {
  bottom: 2% !important;
  right: 7% !important;
  .card-number {
    line-height: 2.2;
  }

}


.cust-db .card-tile .select-card .hover{
        display:none;
    }

.cust-db .card-tile .select-card.active .hover{
        display:inline-block;
    }

.cust-db .card-tile .select-card.active .nonhover{
        display:none;
    }

.cust-db .all-cards .recharge-section{
        padding: 15px;
}





.cust-db .body-right-panel .profile-image .edit-upload{
    position: absolute;
    width: 25px;
    top: 50px;
    right: 40%;
    display: none;
}

.cust-db .body-right-panel .profile-image:hover .edit-upload{
    display:block;
}


.cust-db .body-right-panel .profile-image .card__content__thumbnail,
.cust-db .body-right-panel .profile-image .card__content__thumbnail__image{
     height: 180px;
    width: 180px;
}


.cust-db .body-right-panel .profile-image .card__content__thumbnail {
        margin: 0 auto;
   border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
}

.cust-db .body-right-panel .profile-image .card__content__thumbnail__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
}

.setting-top{
    margin-top: -20px !important;
}



/* --- New css ends here --- */

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (min-width: 1630px) {
  .allcards_card_layout {
    width: 25%;
  }
  .add__card_section_image {
    height: 209px;
  }
}
@media only screen and (min-width: 1020px) and (max-width: 1600px) {


    .cust-db  .all-cards .add-card-text{
        font-size: 17px;
    }

    .cust-db  .all-cards .divider{
        font-size: 25px;
    }

    .cust-db  .all-cards .set-lst-crd{
        padding-top:10px;
    }

    .cust-db  .all-cards .set-lst-crd-text{
         padding-top:10px;
    }

    .cust-db  .all-cards .set-lst-crd-text img{
         height:22px;
    }

    .p-l-t-0{
        padding-left:0px;
        padding-right:0px;
    }

    .p-t-3{
            padding-top: 3px;
    }
    .cust-db .head-panel{
       height: 125px;
    }

    .cust-db .body-panel{
        padding-top:125px;
        position:relative;
        height:100%;
    }

    .cust-db .body-left-panel{
        height:100%;
        padding-right: 0px;
        width:71.875%;
    }

    .cust-db .body-right-panel{
        background-color: #232226;
        height:100%;
        padding-left: 0px;
        width:28.125%;
    }

    .cust-db .head-panel .balance{
        font-size:35px;
    }

    .cust-db .balance-rupee img{
         margin: -20px 10px 0px;
        height: 25px;
    }

    .cust-db .head-panel p{
        font-size: 10px;
    }

    .cust-db .name-text{
        font-size:35px;
        padding: 20px 0px 0px 40px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.1px;
    }
    .cust-db .head-panel .cur-bal{
        margin-top:5px !important;
    }
    .cust-db .settings .act-set-close img {
        padding: 30px 35px 0px 0px;
        height: 75px;
    }

    .cust-db .settings .act-set-text {
        font-family: $font-OpenSans-Regular;
        font-size: 29.5px;
        padding: 40px 0px 0px 60px;
        color: rgba(35, 34, 38, 0.7);
    }

    .cust-db .settings .field-name{
        font-size: 15px;
    }

    .cust-db .settings .set-lst-crd{
        margin-top: 30px;
        margin-bottom: 20px;
        position: absolute;
        width: 100%;
        bottom: 0px;
    }

    .cust-db .card .doe-card{
            width: 150px;
    }



    .cust-db .card .profile-avatar{
        position: absolute;
            top: 155px;
        left: 20px;
    }

    .cust-db .card .profile-avatar img{
            width: 30px;
    }

    .cust-db .card .card-content{
            position: absolute;
        top: 100px;
        color: #26294c;
        font-size: 8px;
        left: 60px;
    }

    .cust-db .card .card-content h4{
        font-size: 10px;
    }

    .cust-db  .all-cards .transaction .rupee-img{
        width:30px;
        padding:0px;
    }

     .cust-db  .all-cards .transaction-text{
        font-size:20px;
        padding:10px;
    }

    .cust-db  .all-cards .right-arrow{
        height:25px;
        padding-top:2.5px;
    }
}


// consumer forms new SCSS
.consumer_form_two_side {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 11px;
  .form_fields_data {
    width: 64%;
  }
}

.user_profile_card_preview {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 13px;
  background: linear-gradient(to top, #f6f6f8, #e0dfe1);
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 188px;
}


.consumer_input_fields_common {
  font-family: $font-oswald-regular;
  //border-radius: 4px;
  border-bottom: 1px solid #2bb673 !important;
  text-transform: uppercase;
}

.consumer__settings_section {
  border: none;
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  margin-top: 10px;
  margin-right: 19px;
  position: relative;
  background: #fff;
  padding: 15px;
  padding-top: 1px;
  height: 87%;
}

.account_info__form {
  width: 55%;
}
/****  floating-Lable style start ****/
.consumer_settings_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  margin-right: 19px;
}
.consumer_footer_buttons {
  display: flex;
  align-items: center;
  .divider {
    border: 1px solid rgba(35, 34, 38, 0.7);
    opacity: 0.7;
    width: 2px;
    height: 27px;
  }
}
.consumer_settings_footer_leftpane {
  display: flex;
  width: 60%;
  padding: 11px;
  background-color: rgba(255, 255, 255, 0.32);
  justify-content: space-between;
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.2);
  img {
    height: 30px;
  }
  .left_pane_text {
    display: flex;
    align-items: center;
    opacity: 0.7;
    font-family: $font-OpenSans-Regular;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 0.67;
    color: rgba(35, 34, 38, 0.7);
    p {
      margin: 0 10px;
    }
  }
}
.consumer_settings_footer_rightpane {
  width: 38%;
  img {
    width: 26px;
  }
}
.consumer_footer_buttons--settings {
  button {
    opacity: 0.7;
    font-family: $font-OpenSans-Regular;
    font-size: 18px;
    line-height: 1.25;
    color: rgba(35, 34, 38, 0.7);
    border: none;
    background: none;
    display: flex;
    align-items: center;
    margin: 0 14px;
    text-transform: uppercase;
    span {
      margin-left: 5px;
    }
  }
  .consumer_footer_buttons--settings--active {
    padding: 2px 12px;
    border: 1px solid #2bb673;
    border-radius: 20px;
    color: #2bb673;
  }
}
.consumer_settings_floating-label {
  position:relative;
  margin-bottom:20px;
  border-bottom:2px solid rgba(35, 34, 38, 0.29);
  .consumer_settings_tooltip {
    display: flex;
    align-items: center;
    i {
      color: #fb7c7e;
      font-size: 16px;
    }
    &:hover .tooltiptext {
      visibility: visible;
    }
    .tooltiptext {
      width: 52% !important;
      top: -94%;
      height: 112%;
    }
  }

  label {
    color:#999;
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:5px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

}
.floating-input , .floating-select {
  font-size:19px;
  padding:4px 4px;
  display:block;
  width:100% !important;
  height:30px;
  background-color: transparent;
  border:none !important;
  color: #000000;
}

.floating-input:focus , .floating-select:focus {
     outline:none;
     //border-bottom:2px solid #5264AE;
}



.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-18px;
  font-size:14px;
  //color:#5264AE;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:14px;
  //color:#5264AE;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:50%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/****  floating-Lable style end ****/
