.parking-be-merchant {
  .knw-abt {
    color: #22beb9 !important;
  }
  .blck3 {
    .content {
        border: solid 1px #22beb9 !important;
    }
  }
}

.login_register_button { /* TODO: have to move to common css */
  border-radius: 31px;
  text-align: center;
  padding: 10px 17px;
}
.reader-card , .question{
  cursor: pointer;
}
.back, .cart-icon, .cart-count {
  cursor: pointer;
}
.module_type img {
  cursor: pointer;
}

.parking {
  .login_register_button {
    border: 1px solid #22beb9 !important;
  }
  .cart-count {
    background-color: #22beb9 !important;
  }
  .home-menu-tag .flow span {
    color: #22beb9 !important;
  }

  .select-input {
    border: 1px solid #22beb9;
  }
  .faq-sub {
    background: #22beb9 !important;
    border: 1px solid #22beb9 !important;
  }
  footer {
    background-color: #22beb9 !important;
  }

  .readers-list {
    .reader-description {
      p.value {
       color: #22beb9 !important;
     }
    }
  }
}

.parking__finace-subpart {
  text-decoration: underline;
  cursor: pointer;
}

/*.parking__slider {
  padding-top: 110px;
}*/
.parking_slider_content {
  border-bottom: 1px solid #22beb9;
}

.parking__features-slider {
  bottom: 0px !important;
  background: #f8f6f8 !important;
  width: auto !important;
  margin: 0 !important;
  padding-left: 13px !important;
  padding-right: 13px !important;

  li {
    width: 22px !important;
    height: 22px !important;
    border: 1px solid #22beb9 !important;
    background-color: none !important;
    margin-bottom: -17px;
  }

  .active {
    background-color: #22beb9 !important;
    margin-bottom: -17px;
  }
}


/*parking riht side bar*/
// .parkingmenunav .active .menu-text{
//     color: #22beb9 !important;
// }

.parkingmenunav {
  .active {
    .menu-text {
      color: #22beb9 !important;
    }
  }
  .social-feed {
    .flw-us {
      color: #22beb9 !important;
      font-family: OpenSans-Regular;
    }
  }
}


.parkingfaq {
  .panel-default {
    .panel-heading {
      background-color: #f7fcfe !important;
    }
  }
}



/*parking reader*/
.reader_header_section {
  display: flex;
}
.parking-reader-item .reader-rgt-top-panel {
  padding-top: 105px !important;
}
.reader__heading {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-family: $font-OpenSans-Light;
}
.reader__content {
  font-size: 16.6px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.4px;
  color: #a8a8a8;
}
.parking_cost_section {
  padding-top: 7%;
  font-family: $font-OpenSans-Light;
}
.reader__heading_cost {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: $font-OpenSans-Semibold;
}

.qty_number_label {
  border: none;
  width: 59px;
  border-radius: 20px;
  padding: 5px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  font-family: $font-oswald-regular;
}

.old_cost {
  text-decoration: line-through;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.parking_cart_btn {
  margin-top: 45px;
}

.back_view {
  display: flex;
  margin-left: 20px;
}

.back_view p {
  margin-left: 20px;
  font-size: 19px;
  opacity: 0.5;
  font-weight: 300;
  text-align: center;
  color: rgba(35, 34, 38, 0.5);
}

.back_img {
  width: 25px !important;
  height: 23px;
  cursor: pointer;
}

.header_options {
  display: flex;
  justify-content: flex-end;
}
.reader_carousel {
  margin-top: 50px;
}
.right_margin {
  margin-left: 20px;
}
.reader__Card--wide-image {
  display: flex;
  align-items: center;
}

.parking_register_header {
  background-color: #22beb9 !important;
}
