.parking__triangle-down-right {
  &:after{
    border-right: 1049px solid #22beb9 !important;
  }
}



.total_device_header {
  height: 47px;
  background-color: #818f9c;
  color: #ffffff;
  font-family: $font-oswald-regular;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 6px;
  text-transform: uppercase;
}
.total_devices_content {
  background: #eff3f6;
  padding:14px 20px;
  font-family: $font-oswald-regular;

  .total_devices_content__data {
    .devices__names {
      border-bottom: solid 1px #979797;
      font-family: $font-oswald-medium;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.4px;
      color: #2bb673;
      margin-top: 17px;
      padding-bottom: 3px;
      font-family: $font-oswald-regular;
    }
  }

  .devices_content__header{
    font-family: Oswald-Bold;
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    color: #4a4a4a;
    text-transform: uppercase;
  }
}
.total_devices_footer {
  background: #313942;
  padding: 6px 20px;
  font-family: $font-oswald-regular;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-transform: uppercase;
}
.total_devices_section_footer {
  margin: 30px 57px;
  text-align: center;
  border-top: solid 2px #979797;
  border-bottom: solid 2px #979797;
  padding: 9px;
  font-family: Oswald-Light;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: #293c47;
}

.parking-branch {
  .branch-right-db{
    .sales-tab {
      .menu.active {
        border-bottom: 2px solid #22beb9 !important;
      }
    }
  }
}

.parking_sales_tab {
  padding: 0 20px;
}


//fee structure

.fee__structure_header {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;

  .progress {
    width: 100%;
  }

  .parking__fee_button {
    height: 46px;
    color: #ffffff;
    border-radius: 31px;
    text-align: center;
    padding: 10px 26px;
    border: none;
    text-transform: uppercase;
  }
}

.company-fee_table {
  padding-top: 0px !important;
  .table-bordered{
    thead>tr>th {
      border: 1px solid #fff;
      color: #fff;
    }
  }
}
