.register_layout_bg {
  background-color: #e3ecf1 !important;
}

.register-finalsetup {
  .finalsetup_layout {
    position: relative;
    top: 24%;
    padding: 0 20%;
  }

  .finalsetup_layout_body {
    padding: 45px;
  }

  .company_logo_upload {
    background-repeat:no-repeat;
    background-position:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dbe5ea;
    background-color: #f8fafc;
    border-radius: 4px;
    border-style: dashed;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    p {
      opacity: 0.5;
      font-family: Oswald-Regular;
      font-size: 14px;
      letter-spacing: 0.6px;
      text-align: center;
      color: #000000;
      margin: 20px;
      text-transform: uppercase;
    }
  }

  .finalsetup_layout_content {
    text-align: center;
    font-family: Oswald;
    h3 {
      font-size: 26px;
      letter-spacing: 0.9px;
      color: #000000;
      text-transform: uppercase;
      font-family: $font-oswald-regular;
    }
    p {
      font-size: 20px;
      line-height: 1.3;

      color: #77909d;
    }
  }
  .finalsetup_layout_button {
    font-family: $font-oswald-medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.1px;
  }
}
.screen_layer_text {
  opacity: 1.5;
  font-family: Oswald !important;
  font-size: 167px;
  font-weight: 900 !important;
  text-align: left;
  color: #e2e7eb;
  line-height: 0.8;
  letter-spacing: 18px;
  z-index: -100;
}
