.orders_list_header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px;
  p {
    font-family: $font-oswald-medium;
    font-size: 26px;
    color: #3a3b3b
  }
}

.orders_table {
  font-family: $font-OpenSans-Semibold;
  font-size: 18px;
  table {
    margin-bottom: 0 !important;
  }
  .table-fixed{
    box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.14);
    tbody {
      max-height: 638px !important;
      overflow-y: scroll;
      height: 53vh;
      tr {
        height: 60px;
        td {
          padding: 12px !important;
          text-align: center;
          vertical-align: middle !important;
        }
      }
    }
    thead {
      tr{
        th{
          float:left;
          background-color: #ffffff;
          border-bottom: 2px solid #ddd;
          text-align: center;
          padding: 20px !important;
          height: 61px;
        }
      }
    }
  }
}

.order__access_actions {
  display: flex !important;
  justify-content: space-around !important;
  a {
    text-decoration: underline;
  }
  .view_order {

  }
  .cancel_order {
    color: red;
  }
}

.pop_up_close_outside {
  float: right;
  margin: 47px;
  background: none;
  border: 0;
  span {
    color: white;
    font-size: 37px;
  }
}


.modal__wrapper_order_data {
  margin: 55px auto !important;
}

.order_page_scroll {
  height: 80%;
  overflow-y: scroll;
  padding: 20px 40px;
}

.modal__content__order_page {
  height: auto;
  padding: 30px;
  text-align: center;
  .oder_cancel {
    p {
      font-family: $font-OpenSans-Semibold;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.67;
      color: #ff5757;
    }
    span {
      font-family: Oswald-Light;
      font-size: 19px;
      font-weight: 300;
      letter-spacing: -0.3px;
      color: #4a4a4a;
      margin-bottom: 15px;
    }
    button {
      width: 237px;
      height: 51.3px;
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.3px;
      border-radius: 100px;
      background-color: #2bb673;
      border: none;
      margin: 20px auto;
    }
  }
}
