
.parking_text_color{
  color: #22beb9 !important;
}
.parking_bg {
  background-color: #22beb9 !important;
}

.parking_button_bg {
  width: 214px;
  height: 46px;
  color: #ffffff;
  background-color: #22beb9;
  border-radius: 31px;
  text-align: center;
  padding: 10px 26px;
  border: none;
  text-transform: uppercase;
}

.parking_button_default {
  height: 37px;
  border-radius: 100px;
  border: none;
  background-color: #888f98;
  color: #fff;
  text-align: center;
  width: 230px;

  &:hover {
    background-color: #22beb9;
  }
}

.parking_products_indicators{
  bottom: -13px !important;
  li {
    border: 1px solid #22beb9;
  }
  .active {
    background-color: #22beb9 !important;
  }
}

.parking-register {
  nav {
    background-color: #22beb9 !important;
  }
 .register_content-section {
    height: 71% !important;
    margin: 143px 50px 15px 150px !important;
    background: white !important;
  }
}
.common_pannel-arrows {
  .panel-heading {
    .accordion-toggle {
      &:after {
        /* symbol for "opening" panels */
        font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
        content: "\e260";   /* adjust as needed, taken from bootstrap.css */
        float: right;        /* adjust as needed */
        color: grey;         /* adjust as needed */
      }
      .collapsed {
        &:after {
          /* symbol for "collapsed" panels */
          font-family: 'Glyphicons Halflings';
          content: "\e259";    /* adjust as needed, taken from bootstrap.css */
          color: grey;
        }
      }
    }

  }
}

.procced_button_parking {
  background-color: #22beb9;
  text-align: center;
  border: none;
  border-radius: 40px;
  padding: 10px;
  width: 250px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


.pannel_toggle_divs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parking_view_btn {
  position: relative;
  background: #20c0bf;
  top: -121px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  border: none;
  width: 65px !important;
}


.two_sections_layer {
  display: flex;

  .setting_company_details_description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}


.parking_dropdown_menu {
  a {
    &:hover {
      background-color: #22beb9 !important;
    }
  }
}
