.notification_section {
  display: flex;
}
.notification_msg_section {
  width: 100%;

  .notification_msg_header {
    height: 70px;
    background-color: #eff3f6;
    padding: 22px;
    color: #4a4a4a;
  }
  .notification_msg_content {
    background-color: #ffffff;
    height: 80vh;
    overflow-y: scroll;
    padding: 20px;

    .timeline > li + li {
      margin-top: 36px;
    }
    .timeline-first-icon_notification a {
      width: 56px;
      height: 31px;
      border: none;
      border-radius: 40px !important;
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

.notification_search_section {
  width: 30%;

  .notification_search_header {
    height: 70px;
    background-color: #526372;
    padding: 22px;
    color: #ffffff;
  }

  .notification_search_content {
    background-color: #eff3f6;
    height: 77vh;
    overflow-y: scroll;
    padding-bottom: 25px;

    .timeline > li + li {
      margin-top: 36px;
    }

    .timeline:before {
      background: #fff;
    }
    .timeline-first-icon_notification a {
      width: 56px;
      height: 31px;
      margin-left: -12px;
      border: none;
      border-radius: 40px !important;
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
}
