//dashboard common css
.parking-company {
  .menu-bar {
    &.active {
      color:#22beb9 !important;
      text-decoration:underline;
    }
  }
}

.parking_company_overview {
  .progress-bar-success {
    background-color: #22beb9 !important;
  }
  .toll-company-body {
    .indiv-toll-prog  {
      .carousel-indicators {
        .active {
          background-color: #22beb9 !important;
        }
      }
    }
  }
}
