	<!-- Server Down Error Porpup here -->

		<div class="modal_popup pop_text_color" id="serverDownErrorPopup" role="dialog">
			<div class="modal-dialog error_popup_modal">
				<div class="modal-content error_popup_content">
					<!-- <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" *ngIf = "onlineStatus">Internal Server Error</h4>
						<h4 class="modal-title" *ngIf = "!onlineStatus">Offline</h4>

					</div> -->
						<div class="error_popup_header">
							<h4 class="modal-title" *ngIf = "onlineStatus">Internal Server Error</h4>
							<h4 class="modal-title" *ngIf = "!onlineStatus">Offline</h4>
						</div>
						<div class="error_popup_content_section">
							<p *ngIf = "onlineStatus">Internal Server Error, Kindly Try after some time.</p>
							<p *ngIf = "!onlineStatus">Please verify your internet connection</p>
						</div>
						<div class="error_popup_footer">
							<button type="button" class="" data-dismiss="modal" (click)="close()">Close</button>
						</div>
				</div>

			</div>
		</div>

		<!-- Server Down Error Porpup here -->
