<div id="main" class="guest__page side_menu_list guest__page--metro">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="toll_main_logo">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_metro">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>

    <!--side menu  -->
    <div class="row home-menu text-center" id="fp-nav">
        <ul class="home-menu-tag metro-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow"><img src="assets/images/metro/metro-forma.png" alt="metro-logo"><span class="metro_text_color">ABOUT METRO</span></div>
                <div class="text-center non-flow"><img src="assets/images/metro/metro-forma-1.png" alt="metro_logo"><span>ABOUT METRO</span></div>
              </a>
          </li>
          <li class="section2">
              <a data-target="#2">
                <div class="text-center flow"><img src="assets/images/metro/metro-forma.png" alt="metro-feature_logo"><span class="metro_text_color">FEATURES</span></div>
                <div class="text-center non-flow"><img src="assets/images/metro/metro-forma-1.png" alt="metro_features-logo"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow"><img src="assets/images/metro/metro-forma.png" alt="metro-product_img"><span class="metro_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow"><img src="assets/images/metro/metro-forma-1.png" alt="metro-product_img"><span>PRODUCTS</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#4">
                <div class="text-center flow"><img src="assets/images/metro/metro-forma.png"><span class="metro_text_color">FAQS</span></div>
                <div class="text-center non-flow"><img src="assets/images/metro/metro-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>

    <div class="row sectiondiv" id="metro-landing-page" mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" [mnFullpageControlArrows]="false" mnFullpageSlidesNavPosition="bottom">
      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row metrosection fp-section fp-table" data-section-name="ABOUTMETRO">
        <div class="row fp-tableCell service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="finace-head" [innerHtml]="content?.METRO.ABOUT.INTRO_LINE"></h3>
                  <p class="finace-sub">{{content?.METRO.ABOUT.SUB_TITLE}}</p>

                  <!-- <span class="finace-subpart metro_text_color" [routerLink]="['/metro/merchant']" >Want to become an DOE Merchant?</span> -->
                </div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/metro/metro-smart.png" alt="metro-smart_logo"></div>
              </div>
          </div>
        </div>
      </div>
      <!-- Section 1 ends here-->

      <!-- Section 2 starts here-->

       <div id="section2" class="container-fluid row metrosection fp-section fp-table" data-section-name="FEATURES">
         <!-- <div class="row service_section_alignment">
           <div class="col-md-2"></div>
           <div class="col-md-8">
             <div col="row">
               <h1 class="text-center" [innerHtml]="content?.METRO.FEATURES.TAG_LINE"></h1>
             </div>
               <div id="myCarousel" class="carousel slide parking__slider guest_page_slider_height" data-ride="carousel">
                 <ol class="carousel-indicators guest__features-slider metro_features-slider">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                 </ol>
                 <div class="carousel-inner guest_page--slider_content" role="listbox">
                     <div class="row item active">
                         <div class="col-md-12">
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/metro/customer.png">
                               <img class="img-hover cursor" src="assets/images/metro/customer-hover.png">
                               <h4 class="text-center name-text features_tilte">{{content?.METRO.FEATURES.CONTENT_TABS.INCREASED_EFFICIENCY.NAME}}</h4>
                               <input  class="img-hover parking_view_btn metro_bg_color" type="submit" value="VIEW" MetroSideMenu [type]="'BMRCL'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center">{{content?.METRO.FEATURES.CONTENT_TABS.INCREASED_EFFICIENCY.SUMMARY}}</p>
                             </div>
                           </div>
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/metro/cost.png">
                               <img class="img-hover cursor" src="assets/images/metro/cost-hover.png">
                               <h4 class="text-center name-text features_tilte">{{content?.METRO.FEATURES.CONTENT_TABS.BETTER_CUSTOMER_SERVICE.NAME}}</h4>
                               <input class="img-hover parking_view_btn metro_bg_color" type="submit" value="VIEW" MetroSideMenu [type]="'CMRL'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center">{{content?.METRO.FEATURES.CONTENT_TABS.BETTER_CUSTOMER_SERVICE.SUMMARY}}</p>
                             </div>
                           </div>

                         </div>
                     </div>
                     <div class="row item">
                         <div class="col-md-12">
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/metro/customer.png">
                               <img class="img-hover cursor" src="assets/images/metro/customer-hover.png">
                               <h4 class="text-center name-text features_tilte">{{content?.METRO.FEATURES.CONTENT_TABS.CASHLESS_TRANSACTIONS.NAME}}</h4>
                               <input  class="img-hover parking_view_btn metro_bg_color" type="submit" value="VIEW" MetroSideMenu [type]="'DMRL'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center">{{content?.METRO.FEATURES.CONTENT_TABS.CASHLESS_TRANSACTIONS.SUMMARY}}</p>
                             </div>
                           </div>
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/metro/cost.png">
                               <img class="img-hover cursor" src="assets/images/metro/cost-hover.png">
                               <h4 class="text-center name-text features_tilte">{{content?.METRO.FEATURES.CONTENT_TABS.ONE_CARD_FOR_ALL.NAME}}</h4>
                               <input class="img-hover parking_view_btn metro_bg_color" type="submit" value="VIEW" MetroSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center">{{content?.METRO.FEATURES.CONTENT_TABS.ONE_CARD_FOR_ALL.SUMMARY}}</p>
                             </div>
                           </div>

                         </div>
                     </div>
                 </div>
               </div>
           </div>
           <div class="col-md-2"></div>
         </div> -->
         <div class="fp-tableCell service_section_alignment">
           <div class="merchant__feature_container">
             <div col="row">
               <h1 class="text-center" [innerHTML]="content?.METRO.FEATURES.TAG_LINE"></h1>
             </div>
             <div class="merchant_services_features_layout">
               <div class="services_features_section services_features_section__metro" MetroSideMenu [type]="'BMRCL'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__metro">
                   <img class="non-hover-image" src="assets/images/demo/metro/train-station-non-hover.png" alt="train-station_img">
                   <img class="hover-image" src="assets/images/demo/metro/train-station-hover.png" alt="train-station_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.INCREASED_EFFICIENCY.NAME"></h4>
                   <p [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.INCREASED_EFFICIENCY.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__metro" MetroSideMenu [type]="'CMRL'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__metro">
                   <img class="non-hover-image" src="assets/images/demo/metro/support-non-hover.png" alt="support-non-hover_img">
                   <img class="hover-image" src="assets/images/demo/metro/support-hover.png" alt="support-hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.BETTER_CUSTOMER_SERVICE.NAME"></h4>
                   <p [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.BETTER_CUSTOMER_SERVICE.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__metro" MetroSideMenu [type]="'DMRL'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__metro">
                   <img class="non-hover-image" src="assets/images/demo/metro/fare-non-hover.png" alt="fare-non-hover_img">
                   <img class="hover-image" src="assets/images/demo/metro/fare-hover.png" alt="fare_hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.CASHLESS_TRANSACTIONS.NAME"></h4>
                   <p [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.CASHLESS_TRANSACTIONS.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__metro" MetroSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__metro">
                   <img class="non-hover-image" src="assets/images/demo/metro/cards-non-hover.png" alt="card_nonhover_img">
                   <img class="hover-image" src="assets/images/demo/metro/cards-hover.png" alt="cards-hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.ONE_CARD_FOR_ALL.NAME"></h4>
                   <p [innerHTML]="content?.METRO.FEATURES.CONTENT_TABS.ONE_CARD_FOR_ALL.SUMMARY"></p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>

        <!-- Section 2 ends here-->

        <!-- section Scroll PRODUCTS from toll -->
        <div id="section4" class="container-fluid row metrosection fp-section fp-table" data-section-name="PRODUCTS">
          <div class="fp-tableCell service__products service_section_alignment">
            <div class="procucts__cards_layout">
              <ng-container *ngFor="let item of metroLand.deviceinfo.items | keys; let i=index" >
                <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                  <div class="procuct__image">
                    <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                    <img src="{{metroLand.deviceinfo.items[item].image}}" alt="deviceinfo_img">
                  </div>
                  <div class="product__details">
                    <h4 class="Product_title">{{metroLand.deviceinfo.items[item].name}}</h4>
                    <p class="product__description">{{metroLand.deviceinfo.items[item].summary}} </p>

                    <h3 class="prdct_cost" *ngIf="metroLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{metroLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
        <!--section 4 ends here -->

        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row metrosection  fp-section fp-table" data-section-name="FAQ">
        <div class="fp-tableCell service_section_alignment">
          <div class="faq__section_content">
            <h1 class="faq row">FAQs</h1>
            <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
            <div class="row">
              <div class="select-topic col-md-3">Select a topic</div>

              <div class="col-md-6 select-input cursor" #c (change)="changefaqbyid(c.value)">
                  <select class="cursor" #c (change)="changefaqbyid(c.value)">
                    <ng-container *ngFor="let item of content?.METRO.FAQS; let j=index ">
                      <option value="{{j}}" >{{item.description}}</option>
                    </ng-container>
                  </select>
              </div>
              <div class="col-md-3">
                <input CommonSideMenu [type]="'metro_faq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
              </div>
            </div>
          </div>
        </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>

    <metro-footer></metro-footer>
</div>

<!-- faq page -->

<!-- right faq nav bar ends -->

<metro-features-side-bar></metro-features-side-bar>

<!-- right faq nav bar starts -->

<div id="metro-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img metro_bg_color" style="height:100px;width:97px;border-radius:62%;">
    <!-- <img class="top-img1" src="assets/images/metro/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/metro/metro-white-faq.png" alt="top_img">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(metroLand.selectedFaqTopic && metroLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{metroLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of metroLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="toll_form_img"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->
