<div id="main" class="home" >
  <!-- guest header starts -->
  <div class="guest__page__header_section">
    <!-- <div class="col-md-2 guest__page__header--logo">
      <div class="text-left cursor main-logo-cnt">
        <img  class="main-logo" src="assets/images/guest/main-logo.png">
      </div>
    </div> -->

    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
        <div class="container-fluid coustmer__guest__page_nav">
          <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/corporate']">
            <div class="text-left cursor main-logo-cnt">
              <img  class="main-logo" src="assets/images/demo/logo.png" alt="dummy_logo">
            </div>
          </div>
         <div class="merchant-list guest_merchant_list">
            <div class="consumer_page_header">
              <button  type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
              <button type="button" name="button" [routerLink]="['/merchant']">Business</button>
              <button class="button_active" type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
            </div>
          </div>
          <div class="merchant_action_buttons">
            <button class="search_action" type="button" name="button">
              <img src="assets/images/demo/search_icon.png" alt="search_icon">
            </button>
            <!-- <button type="button" name="button" data-section-name="joinussection">Join Us</button> -->
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- guest header ends -->
    <div class="row home-menu text-center home_menu_side_nav hiding_for_tablets" id="fp-nav">
        <ul class="home-menu-tag home-menu-js">
          <li class="active section1">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="guest-slide_img"><span>HOME</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="guest-slide2_img"><span>HOME</span></div>
              </a>
          </li>
          <li class="section5">
            <a>
              <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="guest-slide_img"><span>JOIN US</span></div>
              <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="guest-slide2_img"><span>JOIN US</span></div>
            </a>
          </li>
          <li class="section2">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="guest-slide_img"><span>VIDEOS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="guest-slide2_img"><span>VIDEOS</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png"><span>CONTACT US</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png"><span>CONTACT US</span></div>
              </a>
          </li> -->
        </ul>
    </div>


  <div id="" class="row sectiondiv consumer_guest_home_page" mnFullpage [mnFullpageNavigation]="true"
   [mnFullpageKeyboardScrolling]="true"
   [mnFullpageSlidesNavigation]="true"
   [mnFullpageControlArrows]="false"
   mnFullpageSlidesNavPosition="bottom" >

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row section fp-section fp-table" data-section-name="home">
        <div class="corporate_section1">
          <div class="corporate_section1_image">
            <img src="assets/images/demo/reader-device.png" alt="reader-device_img">
          </div>
          <div class="corporate_section1_contnent">
            <h3 class="text-right" [innerHTML]="content?.CORPORATE_LANDING_PAGE['HOME'][0].INTRO_LINE"></h3>
            <p [innerHTML]="content?.CORPORATE_LANDING_PAGE['HOME'][0].SUB_TITLE"></p>
          </div>
        </div>
        <img src="assets/images/demo/hand-icon.gif" alt="" style="position:absolute;top:28%;" alt="hand-icon_img">
      </div>
      <!-- Section 1 ends here-->

      <!-- Process Section  starts here-->
      <div id="section5" class="container-fluid row section fp-section fp-table" data-section-name="joinussection">
          <div class="joinus_options">
            <div class="joinus_option_merchant">
              <!-- <p>Sign Up For Merchant</p>-->
              <img class="" src="assets/images/demo/signup-merchant.png" alt="signup_merchant_img">
              <div class="joinus_service_button" [routerLink]="[ '/merchant-joinus']">
                <p>Signup as Merchant</p>
                <img src="assets/images/demo/arrow-group-right.png" alt="arror_right_icon">
              </div>
            </div>
            <div class="joinus_option_consumer">
              <!-- <p>Sign Up For Consumer</p>
              <img class="slide-right" src="assets/images/demo/group-1.png" alt=""> -->
              <img class="" src="assets/images/demo/signup-consumer.png" alt="consumer_img">
              <div class="joinus_service_button" [routerLink]="[ '/consumer-joinus']">
                <p>Want a DOE card?</p>
                <img  src="assets/images/demo/arrow-group-right.png" alt="arrow_group">
              </div>
            </div>

          </div>
      </div>
      <!-- Process Section  ends here-->

      <!-- Video Section  starts here-->
      <div id="videosection" class="container-fluid row section fp-section fp-table videosection_slider" data-section-name="videosection">
        <div class="carousel__container" style="margin:0 43px;width:100%;height:100%;">
          <div class="carousel__center_text" style="width:84%;height:100%;padding:72px 0;display:flex;align-items:center;justify-content:center;">
              <div id="clientscarousel" class="carousel slide carousel_slide_hieht" data-ride="carousel" style="padding-bottom:66px;">
                <ol class="carousel-indicators carousel-indicators_custom">
                 <li data-target="#clientscarousel" data-slide-to="0" class="active" *ngIf="videos?.length > 6"></li>
                  <li data-target="#clientscarousel" data-slide-to="1" *ngIf="videos?.length > 6"></li>
                  <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="item active">

                    <div class="videosection_cards_layout">
                      <div class="videosection_card" *ngFor="let item of videos; index as i; ">
                        <div class="video_thumnail_image" (click)="showVideoPopup(item.src)">
                          <img class="bgcover_image" [src]="item.thumnail" alt="cover_icon">
                          <img class="play_icon" [src]="item.playbutton" alt="play_icon">
                        </div>
                        <div class="video_content">
                          <p class="Product_title">{{item.content}}</p>
                          <p class="product_description">{{item.description}}</p>
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="item " *ngIf="videos?.length > 6">
                    <div class="videosection_cards_layout">
                      <div class="videosection_card" *ngFor="let item of videos; index as i; ">
                        <div class="video_thumnail_image" (click)="showVideoPopup(item.src)">
                          <img class="bgcover_image" [src]="item.thumnail" alt="cover_icon">
                          <img class="play_icon" [src]="item.playbutton" alt="play_icon">
                        </div>
                        <div class="video_content">
                          <p class="Product_title">{{item.content}}</p>
                          <p class="product_description">{{item.description}}</p>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
          </div>
        </div>

      </div>
      <!-- Video Section  ends here-->


      <!-- Section 3 starts here-->
      <!-- <div id="section4" class="container-fluid row section fp-section fp-table map_content_section" data-section-name="location">

        <div class="map_location_container" style="display:flex;flex-direction:column;background:none;">
          <div class="" style="cursor:pointer">
            <img src="assets/images/common/2-copy.svg" alt="KGJ Technologies" width="100%" onclick='window.open("https://www.google.com/maps/place/Hashtaag%E2%84%A2+-+KGJ+Software+Technologies+Pvt.+Ltd./@12.9122256,77.6360746,15z/data=!4m5!3m4!1s0x0:0xf8dcb170ed1f4ce3!8m2!3d12.9122256!4d77.6360746");return false;'>
          </div>
          <div class="company_adds" style="">
            <div class="company_adds_name">
              <div class="our_menu_services">
                <h3 style=""> DOE CARDS SOLUTIONS PVT. LTD</h3>
                <p [routerLink]="['/terms']">Terms of services</p>
                <p [routerLink]="['/privacy-policy']">privacy policy</p>
                <div class="social_icons" style="display:flex">
                  <span>Follow Us</span>
                   <div class="social_icons_imgs">
                     <img  onclick='window.open("https://twitter.com/");return false;' src="assets/images/demo/twitter-icon.png" alt="">
                     <img  onclick='window.open("https://www.facebook.com/");return false;' src="assets/images/demo/facebook-icon.png" alt="">
                     <img onclick='window.open("https://www.linkedin.com/");return false;' src="assets/images/demo/linkedin.png" alt="">
                   </div>
                </div>

              </div>
            </div>
            <div class="company_adds_location">
              <div class="contactus">
                <p>Contact us</p>
                <address class="" [innerHTML]="content?.LANDING_PAGE.CONTACT_US.ADDRESS">
                </address>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Section 3 ends here-->

  </div>

    <!-- guest-footer starts -->
    <guest-footer></guest-footer>
    <!-- guest-footer ends -->
</div>



<!-- Video section popup -->
<div id="videomodal" class="modal" role="dialog" *ngIf="videopopup" style="display: block;closeTimer: 1000;background-color: rgba(0, 0, 0, 0.90);">
  <div class="close_button" style="text-align: right;
      position: relative;
      right: 50px;
      top: 21px;">
    <button type="button" class="" data-dismiss="modal" (click)="videopopup = false" style="background: none;border: none;color: rgba(255, 255, 255, 0.72);font-size:22px;">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </div>
  <div class="modal-dialog" style="width:70%;">
    <!-- Modal content-->
    <div class="modal-content" style="background:none;border:none;">
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" [src]="videopopupSrc" allowfullscreen></iframe>
        </div>
      </div>
      <!-- <div class="modal-footer">
    		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="videopopup = false">Close</button>
    	</div> -->
    </div>

  </div>
</div>
