<div id="main" class="guest__page side_menu_list guest__page--residence">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="doe_img">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_residence">
               <button type="button" name="button" [routerLink]="[ '/joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>

    <!--side menu  -->
    <div class="row home-menu text-center" id="fp-nav">
        <ul class="home-menu-tag metro-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow"><img src="assets/images/demo/residence/residence-forma.png"><span class="residence_text_color">ABOUT RESIDENCE</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/residence/residence-forma-1.png"><span>ABOUT RESIDENCE</span></div>
              </a>
          </li>
          <li class="section2">
              <a data-target="#2">
                <div class="text-center flow"><img src="assets/images/demo/residence/residence-forma.png"><span class="residence_text_color">FEATURES</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/residence/residence-forma-1.png"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow"><img src="assets/images/demo/residence/residence-forma.png"><span class="residence_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/residence/residence-forma-1.png"><span>PRODUCTS</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#4">
                <div class="text-center flow"><img src="assets/images/demo/residence/residence-forma.png"><span class="residence_text_color">FAQS</span></div>
                <div class="text-center non-flow"><img src="assets/images/demo/residence/residence-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>

    <div class="row sectiondiv" id="metro-landing-page" mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true" [mnFullpageControlArrows]="false" mnFullpageSlidesNavPosition="bottom">
      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row metrosection fp-section fp-table" data-section-name="ABOUTMETRO">
        <div class="row fp-tableCell service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="finace-head" [innerHTML]="content?.RESIDENCE.ABOUT.INTRO_LINE"> </h3>
                  <p class="finace-sub"> {{content?.RESIDENCE.ABOUT.SUB_TITLE}}</p>

                  <!-- <span class="finace-subpart residence_text_color" [routerLink]="['/residence/merchant']" >Want to become an DOE Merchant?</span> -->
                </div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/residence/residence-smart.png"></div>
              </div>
          </div>
        </div>
      </div>
      <!-- Section 1 ends here-->

      <!-- Section 2 starts here-->

       <div id="section2" class="container-fluid row metrosection fp-section fp-table" data-section-name="FEATURES">
         <div class="row service_section_alignment">
           <div class="col-md-2"></div>
           <div class="col-md-8">
             <div col="row">
               <h1 class="text-center" [innerHTML]="content?.RESIDENCE.FEATURES.TAG_LINE"></h1>
             </div>
               <div id="myCarousel" class="carousel slide parking__slider guest_page_slider_height" data-ride="carousel">
                 <ol class="carousel-indicators guest__features-slider">
                   <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                   <li data-target="#myCarousel" data-slide-to="1"></li>
                 </ol>
                 <div class="carousel-inner guest_page--slider_content" role="listbox">
                     <div class="row item active">
                         <div class="col-md-12">
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/residence/apartments.png">
                               <img class="img-hover cursor" src="assets/images/demo/residence/apartments-hover.png">
                               <h4 class="text-center name-text features_tilte" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.MULTIPLE_ACCESS.NAME"></h4>
                               <input  class="img-hover parking_view_btn residence_bg" type="submit" value="VIEW" ResidenceSideMenu [type]="'appartments'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.MULTIPLE_ACCESS.SUMMARY"></p>
                             </div>
                           </div>
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/residence/commercials.png">
                               <img class="img-hover cursor" src="assets/images/demo/residence/commercials-hover.png">
                               <h4 class="text-center name-text features_tilte" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.INCREASED_SECURITY.NAME">ACCESS TO FACILITIES</h4>
                               <input class="img-hover parking_view_btn residence_bg" type="submit" value="VIEW" ResidenceSideMenu [type]="'commercials'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.INCREASED_SECURITY.SUMMARY">Provide your apartments or gated communities with a single access card. Monitor who’s entering the premises and grant permissions for visitors with their Doe cards. Doe cards can also be used as ID Cards ensuring further security for the residents. </p>
                             </div>
                           </div>
                           <!-- <div class="col-md-4">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/residence/gated-communities.png">
                               <img class="img-hover cursor" src="assets/images/demo/residence/gated-communities-hover.png">
                               <h4 class="text-center name-text features_tilte">GATED COMMUNITES</h4>
                               <input  class="img-hover parking_view_btn residence_bg" type="submit" value="VIEW" ResidenceSideMenu [type]="'gatedcommunity'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center">lorem ipsum as efault message, lorlorem ipsum as efault message, lorlorem ipsum as efault message, lor</p>
                             </div>
                           </div> -->
                         </div>
                     </div>
                     <div class="row item">
                         <div class="col-md-12">
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/residence/commercials.png">
                               <img class="img-hover cursor" src="assets/images/demo/residence/commercials-hover.png">
                               <h4 class="text-center name-text features_tilte" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.EASY_PROCESSING.NAME"></h4>
                               <input  class="img-hover parking_view_btn residence_bg" type="submit" value="VIEW" ResidenceSideMenu [type]="'resorts'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.EASY_PROCESSING.SUMMARY"> </p>
                             </div>
                           </div>
                           <div class="col-md-6">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/demo/residence/apartments.png" alt="apartments_img">
                               <img class="img-hover cursor" alt="apartments-hover_img" src="assets/images/demo/residence/apartments-hover.png">
                               <h4 class="text-center name-text features_tilte" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.SEAMLESS_EXPERIANCE.NAME"></h4>
                               <input class="img-hover parking_view_btn residence_bg" type="submit" value="VIEW" ResidenceSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                               <p class="text-center" [innerHTML]="content?.RESIDENCE.FEATURES.CONTENT_TABS.SEAMLESS_EXPERIANCE.SUMMARY"></p>
                             </div>
                           </div>
                           <!-- <div class="col-md-4">
                             <div class="hm-scr2-blck">
                               <img class="img-defalt cursor" src="assets/images/metro/risk.png">
                               <img class="img-hover cursor" src="assets/images/metro/risk-hover.png">
                               <h4 class="text-center name-text features_tilte">Risk Reduction</h4>
                               <input  class="img-hover parking_view_btn residence_bg" type="submit" value="VIEW">
                               <p class="text-center">lorem ipsum as efault message, lorlorem ipsum as efault message, lorlorem ipsum as efault message, lor</p>
                             </div>
                           </div> -->
                         </div>
                     </div>
                 </div>
               </div>
           </div>
           <div class="col-md-2"></div>
         </div>
       </div>

        <!-- Section 2 ends here-->

        <!-- section Scroll PRODUCTS from toll -->
        <div id="section4" class="container-fluid row metrosection fp-section fp-table" data-section-name="PRODUCTS">
          <div class="fp-tableCell service__products service_section_alignment">
            <div class="procucts__cards_layout">
              <ng-container *ngFor="let item of residenceLand.deviceinfo.items | keys; let i=index" >
                <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                  <div class="procuct__image">
                    <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                    <img src="{{residenceLand.deviceinfo.items[item].image}}" alt="">
                  </div>
                  <div class="product__details">
                    <h4 class="Product_title">{{residenceLand.deviceinfo.items[item].name}}</h4>
                    <p class="product__description">{{residenceLand.deviceinfo.items[item].summary}} </p>

                    <h3 class="prdct_cost"><span class="rupee_symbol_font">&#8377;</span>{{residenceLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                  </div>
                </div>
              </ng-container>

            </div>
          </div>
        </div>
        <!--section 4 ends here -->

        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row metrosection  fp-section fp-table" data-section-name="FAQ">
        <div class="fp-tableCell service_section_alignment">
          <div class="faq__section_content">
            <h1 class="faq row">FAQs</h1>
            <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
            <div class="row">
              <div class="select-topic col-md-3">Select a topic</div>

              <div class="col-md-6 select-input cursor" #c (change)="changefaqbyid(c.value)">
                  <select class="cursor" #c (change)="changefaqbyid(c.value)">
                    <ng-container *ngFor="let item of residenceLand.faqTopics; let j=index ">
                      <option value="{{j}}" >{{item.description}}</option>
                    </ng-container>
                  </select>
              </div>
              <div class="col-md-3">
                <input CommonSideMenu [type]="'residence_faq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
              </div>
            </div>
          </div>
        </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>

    <residence-footer></residence-footer>
</div>

<!-- faq page -->

<!-- right faq nav bar ends -->

<residence-features-side-bar></residence-features-side-bar>

<!-- right faq nav bar starts -->

<div id="residence-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img residence_bg" style="height:100px;width:97px;border-radius:62%;">
    <!-- <img class="top-img1" src="assets/images/metro/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/residence/residence-white-faq.png">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(residenceLand.selectedFaqTopic && residenceLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{residenceLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of residenceLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->
