/*---------------------------------------- Common Css starts here --------------------------------*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
button{
  outline: none;
}

.page-loader {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    font-family: Arial;
}
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
.spinner {
    min-width: 100px;
    margin: 0;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    margin-left: -50px;
    bottom: 0;
    text-align: center;
    position: fixed;
    line-height: 16px;
}
.spinner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -54px;
}
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, .3);
    border-top-color: rgba(0, 0, 0, .6);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

/*****    common css starts     *****/

.ui-loader{
    display:none;
}

.freeze{
    position:fixed;
}



.p-r-0{
    padding-right : 0px;
}

.widget {
    box-shadow: 0 32px 51px 0 rgba(0, 0, 0, 0.22);
    width: 75%;
    left: 12.5%;
    border: none;
    margin-bottom: 20px;
    position: relative;
    background: #fff;
    padding: 20px;
    display: block;
}

.avatar{
    padding:0px;
}

.selection{

}

.widget h3{
    font-family: $font-OpenSans-Bold;
    font-size: 26px;
    text-transform: capitalize;
}

.widget p {
    opacity: 0.6;
    font-family: $font-OpenSans-Semibold;
    font-size: 20px;
    font-weight: 600;
    color: rgba(35, 34, 38, 0.6);
}
.widget .select-card{
    right: 1px;
    position: absolute;
    width: 25px;
    top: 0px;
}
.widget-row{
        margin-right: -20px;
    margin-left: -20px;
}

.widget-top-row{
    margin-top: -20px;
}

.widget-submit{
    background: #2bb673;
    border-radius: 15px;
    width: 287px;
    color: white;
    border: solid 1px #2bb673;
}

.widget-btn{
        padding-top:35px;
    }

.widget-top{
    padding-top: 50px;
}
.widget-last-row{
    padding-right:20px;
}

.widget-line{
    padding-right:0px;
}

.widget-line hr{
    border-top: 2px solid #282828;
    opacity:0.1;
}

.text-rs{
    font-family: $font-OpenSans-Bold;
    font-size: 30px;
    font-weight: 600;
    color: #2bb673;
}

.text-amt{
    font-family: $font-OpenSans-Regular;
    font-size: 30px;
    //font-weight: bold;
    color: #2bb673;
}

.cursor{
    cursor: pointer;
}
.basic-color{
    color:#2bb673;
}

.check-box{
    background: #2bb673;
}

.map-overlay-content{
    margin: auto;
  top: 10%;
  left:5%;
  position: absolute;
}

.pin-code{
    background: transparent;
    margin-right: -5px;
}

body {
  font-family: 'OpenSans';
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald/Oswald-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url('./fonts/Oswald/Oswald-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('./fonts/Oswald/Oswald-Bold.ttf') format('truetype');
}

@media (max-width: 1024px) {
    .hidden-xs{
        display:none;
    }
}

@media only screen and (min-width: 1020px) and (max-width: 1600px) {

    .text-amt{
        font-size: 20px;
    }

    .text-rs{
        font-size: 20px;
    }
    //
    // .widget p{
    //     font-size: 12px;
    // }

    .avatar img{
        width:50px;
    }

    .widget h3{
        font-family: $font-OpenSans-Bold;
        font-size: 21px;
        margin-top: 10px;
    }

    .widget-submit{
        width: 190px;
    }

    .widget-btn{
        padding-top:20px;
        padding-bottom:20px;
    }

}
/*****    common css ends     *****/


.check-box{
    width: 29%;
    object-fit: contain;
    background-color: #2bb673;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.map-overlay-content{
    margin: auto;
    top: 83%;
    left: 5%;
    position: absolute;
}
.form-pincode{
    width: 67%;
    margin: 6% 0 0 25%;
    background: transparent;
    opacity: 0.55;
    object-fit: contain;
    border-radius: 3px;
    background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0)), linear-gradient(#000000, #000000);
    box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.08), inset 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
    height: 39px;
}
.pin-code{
    background: transparent;
    width: 68%;
    height: 33px;
    border: 0px;
}
.alert-message{
    display: none;
    color:#fa7173;
    float: left;
    margin-left: 25%;
}


/*****    common css ends     *****/

/*****    menu page css starts     *****/

.menu-page{
    opacity: 0.98;
    background-color: #232226;
    min-height: 100%;
    height: 100%;
    font-family: $font-OpenSans-Semibold;
}

.menu-page h2{
    color: #b1b1b1;
    line-height: 2.25;
    font-size: 29px;
}

.menu-page p{
    color: #f2f3f5;
}

.menu-page .menu-row{
    padding:25px;
    padding-bottom: 50px;
}

.menu-page .soc-icon{
    padding:5px;
}

.menu-page .icon{
    width:15px;
}

.menu-page .menu-icon{
        position: absolute;
    width: 100%;
    bottom: 50px;

}

@media (max-width: 1024px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}

@media only screen and (min-width: 1020px) and (max-width: 1650px) {

}
/*****    menu page css ends     *****/

/*****    find-more page css starts     *****/
.find-more {
  background-color:#37353f;
  //min-height: 100%;
  color: #37353f;
  //height: 100vh;
  h1 {
      font-size:45px;
  }
  .blck1{
    padding-top: 70px;
    padding-bottom: 25px;
    font-family: $font-OpenSans-Light;
    font-size:18px;
  }
  .blck1-img{
      width:135px;
  }
  .blck2{
    height: 450px;
    background-color: #ffffff;
    margin: auto;
    .knw-abt{
      font-size: 25px;
      color: #2bb673;
      font-family: $font-OpenSans-Regular;
      text-transform: uppercase;
      margin-bottom: 21px;
    }
    .knw-abt__more {
      font-family: $font-OpenSans-Regular;
      font-size: 16px;
      color: #000000;
    }
    .left-sect{
      padding-left: 81px;
      padding-top: 75px;
    }
  }
  .blck2-img{
    overflow: hidden;
    height: 100%;
    padding:0px;
    img{
      width: 815px;
    }
    &:after{
      content:'';
      position: absolute;
      top: 0%;
      left: 0%;
      margin-left: 0px;
      width:100%;
      height: 0%;
      border-top: solid 450px transparent;
      border-left: solid 200px white;
      border-right: solid 0px white;
    }
  }

  .blck3 {
    padding-top: 40px;
    font-family: $font-OpenSans-Regular;
    font-size: 18px;
    text-align: center;
    color: #000000;
    .content{
      border: solid 1px #2bb673;
      text-align: center;
      padding: 10px;
    }
  }

  .mobile-icon{
    padding-top:0px;
    margin-left:25px;
  }

  .boxed-layout{
    position: relative;
    width: 1024px;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: 0 2px 24px rgba(0,0,0,.4);
    background: #f2f3f5;
  }

  .close-btn{
    position: absolute;
    right: -50px;
    margin-right: -30px;
    padding-top: 10px;
  }

  .p-0{
    padding:0px;
  }

}


@media (max-width: 1024px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}

@media only screen and (min-width: 1020px) and (max-width: 1650px) {

}

/*****    find-more page css ends     *****/


/*****    customer page css starts     *****/
.p-t-45{
    padding-top: 45px;
}

.customer .arrow {
    top:100px;
}
.customer .home-menu{
   position: fixed;
       z-index: 1000;
       top:48%;
       left:50px;
}
.customer .home-menu-tag{
    list-style: none;
    padding-left: 0px;
}

.customer .home-menu-tag .active .flow{
    display:inline-block;
}

.customer .home-menu-tag .active .non-flow{
    display:none;
}

.home-menu-tag .flow span{
  padding-left: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #2bb673;
  font-family:$font-OpenSans-Regular;
  line-height: 17px;
	vertical-align: middle;
}

.home-menu-tag .non-flow span{
    padding-left: 5px;
    font-size: 12px;
    font-weight: 600;
    color: rgba(1, 38, 119, 0.3);
    font-family: $font-OpenSans-Semibold;
}

.customer .home-menu-tag .flow{
    display:none;
}

.customer .home-menu-tag .non-flow{
    display:inline-block;
}



.customer .home-menu-tag li{
    padding : 5px;
}



.customer .login-reg{
    background-color: #f2f3f5;
    height: 47px;
    width: 200px;
    color: #2bb673;
    border-radius: 30px;
    border-color: #227360;
    border-width: 1px;
}


.customer .content{
        top: 100px;
    width: 100%;
    left: 300px;
    position: relative;
}
.customer .content2{
        top: 50px;
    width: 100%;
    left: 300px;
    position: relative;
}

.customer .content3{
    top: 0px;
    width: 100%;
    position: relative;
}

.customer .header{
    padding-top: 25px
}

.customer .menu{
    padding-top: 15px;
    text-align: left;
}
.consumer__forgot_password {
  margin: 12px;
  color: #227360;
  font-size: 18px;
  font-family: $font-OpenSans-Semibold;
  text-align: center;
  display: flex;
  justify-content: center;
}

/*****    customer page css ends     *****/


.add-card-close-icon{
  width: 35px;
float: right;
margin-top: -65px;
position: absolute;
right: 5px;
}


/* Form validation errors*/
// input[type='text'].ng-invalid.ng-touched, input[type='password'].ng-invalid.ng-touched, input[type='number'].ng-invalid.ng-touched{
//     border-bottom: 1px solid #df4f4f !important;
// }

/* Form validation registration errors*/
// .well input[type='text'].ng-invalid.ng-touched, .well input[type='password'].ng-invalid.ng-touched, .well input[type='number'].ng-invalid.ng-touched{
//     border-bottom: none !important;
// }

.alert p img{
    padding:0px !important;
}

.alert p {
    color:black !important;
}

.lst-card-gst-name{
    background-color: black;
    text-align: center;
    color: white;
    width: 75%;
    height: 50px;
    padding: 15%;
}

.lst-card-gst-name p{
  color: white;
  font-size: 20px;
  font-family: Oswald-Bold;
}
