.company_dashboard {
    font-family: $font-OpenSans-Regular;
    height:100%;
    background-color: #f4f4f4;

    .head-row {
      border-bottom: 2px solid #d8d8d8;
      height:72px;

      .tol-db-log {
        border-right: 2px solid #d8d8d8;
        height: 72px;
      }

      .tol-db-log-img{
        padding: 15px 5px 15px 15px;
        width: 125px;
        margin-top: 17px;
        margin-left: 40px;
      }
    }

    .right-nav {
      padding:23px 50px 0px 20px;
    }

    .cmpn-menu-icon {
      padding: 8px;
      margin-left: 4px;
    }

    @media screen and (max-width: 1367px) {
      .cmpn-menu-icon {
        margin-left: -9px;
      }
    }

    .company_name{
      margin-top: 7px;
    }
    .menu-bar {
      font-family: $font-oswald-regular;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: $color-light-text;
      padding:33px 0px 0px 0px;

      &.active {
        color:$color-toll;
        text-decoration:underline;
      }
    }

    .cmpny-name {
      font-family: OpenSans-Regular;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      color: #f36061;
    }
    .cmpny-menu{
      font-family: Oswald-Bold;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      padding: 15px;
      letter-spacing: normal;
      color: #42444d;
    }

    .message-count {
      color: white;
      font-size: 13px;
      margin-left: 6px;
      border-radius: 50%;
      width: 10px;
      height: 30px;
      width: 30px;
      background-color: $color-light-text;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card{
      box-shadow: 5px 10px 30px 5px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
      background: white;
    }

    .card__content__thumbnail {
      border-radius: 50%;
      border: 1px solid #dedede;
      cursor: pointer;
      background-color: #fff;
      // box-shadow: 5px 10px 30px 5px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
    }

    .card__content__thumbnail__image {
      background-position: center;
      background-repeat: no-repeat;
      //background-size: 80%;
    }


    .card__content__thumbnail,
    .card__content__thumbnail__image{
      height: 38px;
      width: 38px;
      border-radius: 50%;
    }

  .card__content__thumbnail_add_branch{
    position: relative;
    border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
    background-color: #fff;
    p{
      text-align: center;
      font-family: $font-oswald-regular;
      font-size: 14px;
      margin: 5px 0px;
      color: #293c47;
    }
    .card__content__thumbnail__image__hover{
     display: none;
    }
  }
  .card__content__thumbnail_add_branch:hover .card__content__thumbnail__image__hover,
  .card__content__thumbnail_add_branch.active .card__content__thumbnail__image__hover{
    position: absolute;
    display: block;
    top: 0px;
    width: 75px;
    text-align: center;
    left: 0;
    background-color: #737373a8;
    right: 0;
    /* justify-content: center; */
    /* align-items: center; */
    height: 75px;
    border-radius: 50%;
  }
  .card__content__thumbnail__image_add_branch{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }
  .card__content__thumbnail_add_branch,
  .card__content__thumbnail__image_add_branch{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    i{
      transform: rotate(-90deg);
      font-size: 25px;
      display: flex;
    }
  }


}

.nav-elements {
  p{
    font-size: 18px!important;
  }
}

.first-card{
  margin-top: 20px;
}

.pending-action{
  margin-top: 20px;
}

.actions-section{
  margin-left: -13px;
}

.overview-buttons{
  display: flex;
  height: 78px;
  align-items: center;
}

.overview-left{
  margin-left: -35px;
}

@media only screen and (max-width: 600px){

}
// .cross-icon{
//   margin-left: 7px;
// }

.pending-action{
  margin-left: -30px;
}

// .welcome-container{
//   margin-top: 20px;
// }

.msg-display{
  display: flex;
  align-items: flex-end;
}

.message-count{
  margin-bottom: 7px;
}

@media screen and (min-width: 1280px) {
  .nav-elements {
    p{
      font-size: 16px!important;
    }
  }
.card-block{
  .menu-icon{
  width: 75px;
  margin-right: -19px;
  }
}
}

// .profile-pic-container{
//   margin-top: 20px;
// }

.toll-branch .branch-right-db .branch-db-menu .month-btn{
  background-color: #f5f9fa;
  color: #d8d8d8;
  border-bottom-right-radius: 148px;
  border-top-right-radius: 148px;

  .active{
    color: #000!important;
  }
}

// .dropdown__statelist_register p {

// }
