/*****    home page css starts     *****/
body{
    position:relative;
    overflow-x: hidden;
}
.consumer_guest_home_page {
  #section1,#section2,#section3,#section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0 !important;
    background-color: #f8f6f8;
  }
  #section3 {
    padding-bottom: 0 !important;
  }
  //#section1 {
    // width: 100%;
  //}
}

.consumer__footer {
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section1 {height:100%;color: #fff; }
#section2 {
  //padding-top:235px;
  height:100%;
  color: #fff;
}
#section3 {height:100%;color: #fff; position:relative; padding-bottom:50px;}
#section4 {padding-top:135px;height:100%;color: #fff;}

#section1 h1, #section4 h1{
  color:#37353f;
  font-family: $font-OpenSans-Light;

}

#section1 h1{
  font-size:62px;
}

.carousel__container {
  //width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .carousel__arrow_marks {
    .carousel-control {
      position: relative;
    }
  }
  .carousel__center_text {

  }
}
// Map view css
.map_location_container {
  margin-left: 10%;
  width: 81%;
  height: 76%;
  background-color: rgba(74, 152, 74, 0.5);
  display: flex;
  .map_location_view {
    width: 71%;
  }
  .map_location_container--search {
    width: 29%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: 0px 10px 30px 0 rgba(18, 48, 18, 0.25);
    background-color: #2bb673;
    padding: 10px;

    .services_search {
      .title {
        border-radius: 3px;
        background-color: #0f4e65;
        font-family: $font-OpenSans-Regular;
        font-size: 15px;
        text-align: left;
        color: #ffffff;
        padding: 6px;
      }
      .services_search--input {
        height: 33px;
        width: 100%;
        background-color: #fff;
        display: flex;
        input {
          width: 88%;
          height: 100%;
          margin: 0;
          border: none;
          padding: 5px;
          font-family: $font-OpenSans-Semibold;
          font-size: 14px;
          font-weight: 300;
          color: #0f4e65;
        }
        button {
          background-color: #0f4e65;
          color: $color-white;
          border:none;
          margin: 0;
          color: #fff;
          /* background: none; */
          /* border: none; */
          width: 12%;
          // text-align: center;
          // display: flex;
          // align-items: center;
          // justify-content: center
        }
      }
    }

    .Service_filter {
      margin-top: 10px;
      p {
        margin: 0;
        font-family: $font-OpenSans-Regular;
        //font-size: 17px;
      }
      .Service_filter--button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        background-color: #fff;
        color: #0f4e65;
        font-family: $font-OpenSans-Bold;
        font-size: 16px;
        margin-bottom: 10px;
        cursor: pointer;
        p {
          margin: 0;
        }
        i {
          display: none;
        }
      }
      .active {
        background-color: #0f4e65;
        color: #ffffff;
        i {
          display: block;
        }
      }
    }
  }
.service_filter_results{
    background-color: $color-white;
    height: 51%;
    width: 100%;
    .service_filter_noresults {
      font-family: $font-OpenSans-Regular;
      font-size: 18px;
      color: #0f4e65;
      padding: 20px 10px;
    }
    .service_filter_results_data {
      display: flex;
      font-family: $font-OpenSans-Regular;
      font-size: 18px;
      color: #0f4e65;
      padding: 10px;
      img {
        height: 26px;
        margin-right: 13px;
      }
    }
  }
}
.Service_filter_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  i {
    display: block !important;
  }
}
.open .Service_filter_dropdown--customized {
  display: block;
}
.Service_filter_dropdown--customized {
  position: absolute;
  top: 97%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 100%;
  //padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  height: 270px;
  overflow-y: scroll;
  .active {
    background-color: #0f4e65;
    color: #ffffff;
    i {
      display: block;
    }
  }
}

.Service_filter_dropdown_list--slecetall {
  border-bottom: 1px solid;
  padding: 5px 11px;
}
.service_filter_dropdown_list {
  margin: 5px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #ccc;
  color: #0f4e65;
  font-family: $font-OpenSans-Bold;
  font-size: 16px;
  cursor: pointer;
  p {
    margin: 0;
  }
  i {
    display: none;
  }
}

.home {
  .mobile-icon {
    padding-top: 25px;
    padding-left: 10px;
  }
  .arrow {
    top:120px;
    text-align: center !important;
  }

  .home-menu{
    position: fixed;
    z-index: 1000;
    top:41%;
    left:29px;
  }

  .home-menu-tag {
    list-style: none;
    padding-left: 0px;

    .flow {
      display:none;
    }

    .non-flow {
      display:inline-block;
      img {
          padding-left:5px;
      }
    }

    .active {
      .flow {
        display:inline-block;
      }
      .non-flow{
          display:none;
      }
    }

    li{
      padding : 5px;
      text-align: left;
    }
  } //home-menu-tag

  .content{
    top: 200px;
    width: 100%;
    left: 300px;
    position: relative;
  }
  .content2{
    top: 50px;
    width: 100%;
    left: 300px;
    position: relative;
  }

  .content3{
    top: 0px;
    width: 100%;
    position: relative;
  }
}

#section2 h1{
  color: #37353f;
  font-family: $font-OpenSans-Light;
}

.hm-scr2-blck {
  width: 100%;
  text-align: center;

  p {
      font-size: 12px
  }

  p,h4{
    color:#37353f;
    padding-top: 15px;
    padding-left: 5px;
    font-family: $font-OpenSans-Regular;
  }
}

.hm-scr2-blck .img-hover{
    display:none;
}

.hm-scr2-blck:hover .img-hover, .hm-scr2-blck:focus .img-hover{
    display:inline-block;
}

.hm-scr2-blck:hover .img-defalt, .hm-scr2-blck:focus .img-defalt{
    display:none;
}

.find-ot-span{
  background-color: #2bb673;
  height: 47px;
  border-radius: 30px;
  text-align:center;
  width:200px;
}

.find-ot{
  padding-top: 10px;
}

.find-out-p{
  padding-top: 13px;
}

.sect1-text{
  color: rgba(1, 38, 119, 0.76);
  font-family: $font-OpenSans-Regular;
  margin-top: 0px;
}

agm-map {
  width: 100%;
  height: 100%;
  position: relative;
  //color:black;
}
.overlay {
  opacity:    0.8;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    1050;
  top:        0;
  left:       0;
  position:   fixed;
}
.overlay__close_marks {
  p {
    font-size: 23px;
    color: #757373;
    border: 2px solid #757373;
    text-align: center;
    border-radius: 50%;
    font-family: $font-OpenSans-Regular;
  }
}

.left-overlay-close{
  position:absolute;
  position: absolute;
  left: 42%;
  top: 15px;
  width: 39px;
  height: 39px
}

.right-overlay-close{
  position:absolute;
  right:42%;
  top:15px;
  width: 39px;
  height: 39px
}

.map-overlay{
  opacity:    0.5;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    0;
  top:        0;
  left:       0;
  position:   absolute;
}

.sext2-line hr {
  border-top: 1px solid #227360;
}

.sec-row {
  padding-top:50px;
  display: flex;
  justify-content: center;
}

.thrd-row{
  padding-top:30px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1020px) and (max-width: 1650px) {

    #section1 h1{
        font-size: 60px;
    }

    .home .mobile-icon img{
        width:160px;
    }

    .find-ot-span {
        height: 32px;
        border-radius: 30px;
        width: 135px;
    }

    .find-out-p {
        padding-top: 8px;
        font-size: 12px;
    }

    .arrow img{
        width:30px;
    }

    .home .carousel-control{
        left:initial !important;
        right:initial !important;
    }


    .hm-scr2-blck .img-defalt{
          width:120px;
    }



    #section2 h1, #section3 h1, #section4 h1 {
        //line-height: 20px;
        font-size: 30px;
    }

    .home .rupee-img{
        width:15px;
        padding-top: 14px
    }

    #section2{
        //padding-top:80px;
    }

    #section4{
        padding-top:42px;
    }
}

/*****    home page css ends     *****/

.home_side_corner {
  background-color: #2bb673;
  height: 92px;
  width: 94px;
  border-radius: 50%;
  top: -11px !important;
  left: -8px !important;
  img {
    position: relative !important;
    top: 1px !important;
    right: -29px !important;
    width: 35px !important;
    margin-top: 26px;
  }
}
.home_side_corner_right {
  background-color: #2bb673;
  height: 92px;
  width: 94px;
  border-radius: 50%;
  top: -18px !important;
  right: -1px !important;
  img {
    position: relative !important;
    top: 9px !important;
    right: -29px !important;
    width: 35px !important;
    margin-top: 26px;
  }
}
