/*****    Right and left menu css starts     *****/

body {
    transition: background-color .5s;
}

.lost-card .lc-code{
        border: 10px solid #e3ecf1;
    padding: 10px;
}
.lost-card .lc-suc-img{
    width:30px;
}

.sidenav-input{
  background: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #2bb673;
  width:375px;
}

.quic-rchrg{
    padding-top: 17%;
}

.lost-card {
    padding-top: 30%;
}


.lost-card-img{
    position: absolute;
    top: -30px;
    right: -10px;
    z-index: 2000;
}

.qck-rchrg-img{
    position: absolute;
    top: -50px;
    left: -25px;
}

.quic-rchrg-slct-card{
}

.rightsidenav{
	right:0;
}

.leftsidenav{
	left:0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1056;
    top: 0;
    /*left: 0;*/
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    //padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #818181;
    display: block;
    transition: 0.3s
}

// .sidenav a:hover, .offcanvas a:focus{
//     color: #f1f1f1;
// }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    //transition: margin-right .5s;
    /*padding: 16px;*/
}

#quickPayment{
    font-family: Opensans-Regular;
}

#quickPayment p{
    color: #363636;
}

#quickPayment hr{
    border-top: 1px solid #227360;
}

#toll{
    font-family: Opensans-Regular;
}

#toll p{
    color: #363636;
}

#toll hr{
    border-top: 1px solid #fa7173;;
}

.qick-pay-row{
    padding-top: 10%;
    font-family: $font-OpenSans-Regular;
    h3 {
      font-size: 35px;
    }
    ul{
      text-align: left;
    }
}

.toll-btn img{
    width:100%;
}

.toll-text{
    position: absolute;
    top: 23%;
    color: white;
    left: 20%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pay-circle{
    width:75px;
}

@media only screen and (min-width: 1020px) and (max-width: 1650px) {

    .lost-card-img img{
        width:100px;
    }

    .qck-rchrg-img img{
        width:100px;
    }

    .lost-card-img{
        position: absolute;
        top: -20px;
        right: 5px;
    }

    .qck-rchrg-img{
        position: absolute;
        top: -30px;
        left: -5px;
    }

    #quickPayment p{
        color: #363636;
        font-size:12px;
    }

    #toll p{
        color: #363636;
        font-size:12px;
    }

    .toll-text{
        font-size:12px;
    }

}
/*****    Right and left menu css ends     *****/
