/*---------------------------------------- mobile screen Css starts here --------------------------------*/

.mobile-mode{
    width:100%;
    height:100%;
}

.mobile-mode #mob1{
    background-image: url("../assets/images/common/topBg@2x.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center bottom;
    background-color: rgb(36,39,88);
    height:100%;
}

.mobile-mode .colps-icns{
    position: absolute;
    top: 5%;
    right: 15%;
}

.mobile-mode .colps-icns .share-icon{
    background-color: rgb(129,215,109);
    border: 15px solid rgb(129,215,109);
    border-radius: 50%;
}

.mobile-mode .head-text{
    padding: 15px;
    margin: 45px 0px;
}

.mobile-mode .head-text h4{
        color: white;
    font-size: 22px;
}

.mobile-mode .head-text h3{
        color: white;
    margin-top: 0px;
    font-size: 35px;
    margin-left: 15px;
    font-family: Opensans-Bold;
}

.mobile-mode #mob2{
    background-color: #ffffff;
     height:100%;
}
.mobile-mode #mob3{
    background-color: #ffffff;
     height:100%;
}
.mobile-mode #mob4{
    background-color: #ffffff;
     height:100%;
}
.mobile-mode #mob5{
    background-color: #ffffff;
     height:100%;
}
.mobile-mode #mob6{
    background-color: #ffffff;
     height:100%;
}
.mobile-mode #mob7{
    background-color: #ffffff;
     height:100%;
}

.mobile-mode .sub-head{
    height:50%;
    color: rgb(231,231,231);
    font-family: OpenSans-Bold;
    margin: 0 15px;
    padding-bottom: 15px;
}

.mobile-mode .sub-head h3{
     font-size: 35px;
}

.mobile-mode .sub-head img{
    width:100%;
}

.mobile-mode .sub-foot h3{
    color: rgb(194,194,194);
    font-family: OpenSans-Bold;
    font-size:20px;
}

.mobile-mode .sub-foot p{

}

.mobile-mode .sub-foot{
    background-color: rgb(231,231,231);
    margin: 15px 15px;
    padding:25px;
}
.mobile-mode .sub-foot .carousel-indicators{
    bottom: -25px;
}
.mobile-mode .sub-foot .carousel-indicators .active{
    background-color: #58c17c;
}

.mobile-mode .sub-foot .carousel-indicators li{
    border:1px solid #b5adad;
}

.mobile-mode .mob-rail, .mob-bus, .mob-park, .mob-metro{
    height:60%;
    width:100%;
    top:0;
}

.mobile-mode #mob8{
    background-image: url("../assets/images/common/footerBg@2x.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center bottom;
    background-color: rgb(36,39,88);
    height:100%;
    color:rgb(255,255,255);
}

.mobile-mode .mob-splash{
    height:50%;
    margin-top:12%;
}

.mobile-mode .store-icon{
    margin:20px 0px;
    width:50%;
     color:rgb(231,231,231);
}

.mobile-mode .store-icon img{
    width:80%;
}

.mobile-mode .mob-rail-sect, .mob-bus-sect, .mob-metro-sect, .mob-park-sect{
    position: relative;
    top: -45px;
    left: 15%;
}

.mobile-mode .sect-text{
        padding: 0 15%;
}

.mobile-mode .sect-text h3{
    color:rgb(231,231,231);
    font-family: OpenSans-Bold;
    margin-top:0px;
}

.mobile-mode .foot-sect h3{
    color:rgba(238, 238, 238, 0.27);
    font-family: OpenSans-Bold;
}

.mobile-mode .foot-sect p{
      color:rgba(238, 238, 238, 0.27);
      font-family: OpenSans-Regular;
}

.mobile-mode .sect-text p{
    color:black;
     font-family: OpenSans-Regular;
}
.mobile-mode .store-div{
    display:flex;
    align-items: center;
}

.mobile-mode .doe-foot{

}

.mobile-mode .doe-foot p{
    color:rgba(238, 238, 238, 0.27);
      font-family: OpenSans-Regular;
      font-size:10px;
      margin-top: 25px;
}

/*---------------------------------------- mobile screen Css starts here --------------------------------*/
