.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 3px;
    background: #ebeced;
    left: 5%;
    margin-left: -1.5px;
}
.timeline > li:before,
.timeline > li:after {
    content: '';
    display: table;
    clear: both;
}
.timeline > li {
    position: relative;
}
.timeline > li + li {
    margin-top: 20px;
}
.timeline .timeline-body {
    margin-left: 12%;
}
.timeline .timeline-icon, .timeline .timeline-first-icon {
    position: absolute;
    left: 0%;
    width: 10%;
    text-align: center;
}
.timeline .timeline-icon a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    line-height: 32px;
    border: 3px solid #9696a0;
    background: white;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}

.timeline .timeline-first-icon a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    line-height: 32px;
    border: 3px solid #9696a0;
    background: #9696a0;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}
.timeline .timeline-icon a:hover,
.timeline .timeline-icon a:focus, 
.timeline .timeline-icon.active a {
    color: #fff;
    background: #2bb673;
    border:2px solid #2bb673;
}
.timeline-header {
    margin-bottom: 5px;
    float: left;
    width: 100%;
}
.timeline-footer{
        margin-bottom: 25px;
    float: left;
    width: 100%;
    padding-left: 25px;
    font-size: 10px;
}

.timeline-footer img{
    width:25px;
    height:25px;
    border-radius:10px;
}


.timeline-footer .card__content__thumbnail,
.timeline-footer .card__content__thumbnail__image{
     height: 25px;
    width: 25px;
}


.timeline-footer .card__content__thumbnail {
        margin: 0 auto;
   border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
}

.timeline-footer .card__content__thumbnail__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
}

.timeline-header .userimage {
    float: left;
    width: 30px;
    height: 30px;
    font-size: 10px;
}
.timeline-header .userimage img {
    max-width: 100%;
}
.timeline-header .username,
.timeline-header .userimage,
.timeline-header .username small {
    display: block;
}
.timeline-header .username {
    margin-left: 40px;
    font-size: 12px;
    padding: 0;
}
