<div id="main" class="home merchant">
  <!-- guest header starts -->
  <!-- <nav class="navbar navbar-fixed-top">
      <div class="container-fluid row">
          <div class="col-md-4">
              <div class="text-left cursor main-logo-cnt">
                  <img  class="main-logo" src="assets/images/common/main-logo.png">
              </div>
          </div>
      </div>
    </nav> -->
  <!-- guest header ends -->
    <div class="row sectiondiv">

      <!-- Section 1 starts here-->
      <div id="merchant__header" class="">
        <div class="merchant_page_header_layout">
          <div class="merchant__payment_services">

            <div class="mer-list" [ngClass]="{active: merchant.name == 'TOLL'}">
              <div class="text-center cursor" [routerLink]="[ '/toll']" >
                  <img class="mer-hover mer-hov-img" src="assets/images/common/toll-logo-hover.png" alt="logo_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/common/toll-logo-non-hover.png" alt="toll_logo">
              </div>
            </div>

            <div class="mer-list" [ngClass]="{active: merchant.name == 'BUS'}">
               <div class="text-center cursor" [routerLink]="[ '/bus']">
                  <img class="mer-hover mer-hov-img" src="assets/images/common/bus-logo-hover.png" alt="bus_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/common/bus-logo-non-hover.png" alt="bus_logo">
                </div>
            </div>

            <div class="mer-list" [ngClass]="{active: merchant.name == 'PARKING'}">
              <div class="text-center cursor" [routerLink]="[ '/parking']">
                  <img class="mer-hover mer-hov-img" src="assets/images/common/parking-logo-hover.png" alt="parking_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/common/parking-logo-non-hover.png" alt="parking_logo">
              </div>
            </div>

            <div class="mer-list" [ngClass]="{active: merchant.name == 'EDUCATION'}">
               <div class="text-center cursor" [routerLink]="[ '/education']">
                  <img class="mer-hover mer-hov-img" src="assets/images/common/education-logo-hover.png" alt="education_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/common/education-logo-non-hover.png" alt="education_logo">
                </div>
            </div>

            <div class="mer-list" [routerLink]="[ '/retail']" [ngClass]="{active: merchant.name == 'RETAIL'}">
              <div class="text-center cursor" >
                <img class="mer-hover mer-hov-img" src="assets/images/common/retail-logo-hover.png" alt="retail_logo">
                <img class="mer-non-hover mer-hov-img" src="assets/images/common/retail-logo-non-hover.png" alt="retail_logo">
              </div>
            </div>

            <div class="mer-list" [ngClass]="{active: merchant.name == 'METRO'}">
               <div class="text-center cursor" [routerLink]="[ '/metro']">
                  <img class="mer-hover mer-hov-img" src="assets/images/common/metro-logo-hover.png" alt="metro_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/common/metro-logo-non-hover.png" alt="metro_logo">
              </div>
            </div>

            <div class="mer-list" [ngClass]="{active: merchant.name == 'RAILWAYS'}">
               <div class="text-center cursor" [routerLink]="[ '/railways']">
                  <img class="mer-hover mer-hov-img" src="assets/images/demo/cp-railways-hover.png" alt="railways_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/demo/cp-railways.png" alt="railways_logo">
                </div>
            </div>
          </div>

          <div class="merchant__other_services">
            <div class="mer-list" [ngClass]="{active: merchant.name == 'ACCESS'}">
               <div class="text-center cursor" [routerLink]="[ '/access']">
                  <img class="mer-hover mer-hov-img" src="assets/images/demo/id-access-hover.png" alt="access_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/demo/id-access.png" alt="access_logo">
                </div>
            </div>
            <div class="mer-list" [ngClass]="{active: merchant.name == 'LOYALITY'}">
               <div class="text-center cursor" [routerLink]="[ '/loyality']">
                  <img class="mer-hover mer-hov-img" src="assets/images/demo/id-loyality-hover.png" alt="loyality_logo">
                  <img class="mer-non-hover mer-hov-img" src="assets/images/demo/id-loyality.png" alt="loyality_logo">
                </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <div class="row merchant-list">
              <div class="col-md-2 mer-list" [routerLink]="[ '/retail']" [ngClass]="{active: merchant.name == 'RETAIL'}">
               <div class="row text-center cursor" >
                    <img class="mer-hover mer-hov-img" src="assets/images/common/retail-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/common/retail-logo-non-hover.png">
                </div>
              </div>

              <div class="col-md-2 mer-list" [ngClass]="{active: merchant.name == 'TOLL'}">
                <div class="row text-center cursor" [routerLink]="[ '/toll']" >
                    <img class="mer-hover mer-hov-img" src="assets/images/common/toll-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/common/toll-logo-non-hover.png">
                </div>
              </div>

              <div class="col-md-2 mer-list" [ngClass]="{active: merchant.name == 'METRO'}">
                 <div class="row text-center cursor" [routerLink]="[ '/metro']">
                    <img class="mer-hover mer-hov-img" src="assets/images/common/metro-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/common/metro-logo-non-hover.png">
                </div>
              </div>

              <div class="col-md-2 mer-list" [ngClass]="{active: merchant.name == 'PARKING'}">
                <div class="row text-center cursor" [routerLink]="[ '/parking']">
                    <img class="mer-hover mer-hov-img" src="assets/images/common/parking-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/common/parking-logo-non-hover.png">
                </div>
              </div>

              <div class="col-md-2 mer-list" [ngClass]="{active: merchant.name == 'BUS'}">
                 <div class="row text-center cursor" [routerLink]="[ '/bus']">
                    <img class="mer-hover mer-hov-img" src="assets/images/common/bus-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/common/bus-logo-non-hover.png">
                  </div>
              </div>
              <div class="col-md-2 mer-list" [ngClass]="{active: merchant.name == 'RESIDENCE'}">
                 <div class="row text-center cursor" [routerLink]="[ '/residence']">
                    <img class="mer-hover mer-hov-img" src="assets/images/common/residence-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/common/residence-logo-non-hover.png">
                  </div>
              </div>
              <div class="col-md-2 mer-list" [ngClass]="{active: merchant.name == 'EDUCATION'}">
                 <div class="row text-center cursor" [routerLink]="[ '/education']">
                    <img class="mer-hover mer-hov-img" src="assets/images/common/education-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/common/education-logo-non-hover.png">
                  </div>
              </div>

              <div class="col-md-2 mer-list" [ngClass]="{active: merchant.name == 'OFFICE'}">
                <div class="row text-center cursor" [routerLink]="[ '/office']">
                    <img class="mer-hover mer-hov-img" src="assets/images/demo/office-logo-hover.png">
                    <img class="mer-non-hover mer-hov-img" src="assets/images/demo/office-logo-non-hover.png">
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    <!-- Section 1 ends here-->
    </div>
</div>



<!-- right nav bar starts -->
<div id="quickPayment" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/common/quick-payment-clicked.png" alt="quickPayment_logo"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>QUICK PAYMENT</h3>
        </div>
        <div class="row form-group">
           <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>

          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat Volutpat wisi enim ad minim veniam,</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/common/ruppee-button.png"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="toll" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/common/toll-hover.png" alt="toll-hover_img"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>TOLL</h3>
        </div>
        <div class="row form-group">
           <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>

          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat Volutpat wisi enim ad minim veniam,</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/common/ruppee-button.png" alt="ruppee-button_img"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum</p>
        </div>
        <div class="row">
          <div class="col-md-6 text-center toll-btn">
            <img src="assets/images/common/rounded-rectangle-2.png" alt="rounded-rectangle_img">
            <div class="toll-text">Toll Customer Info</div>
          </div>
          <div class="col-md-6 text-center toll-btn">
            <img src="assets/images/common/rounded-rectangle-2-copy.png" alt="rounded-rectangle_img">
            <div class="toll-text">Toll Merchant Info</div>
          </div>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
