<div class="page_not_found__layout">
  <div class="page_not_found__layout__images">
    <img class="page_not_found_number" src="assets/images/demo/404.png" alt="404_icon">
    <img class="page_not_found__doe_card" src="assets/images/demo/doe-cards-nfc.png" alt="doecarda_icon">
  </div>
  <p>Sorry,Page not found</p>
  <button type="button" name="button" [routerLink]="[ '/']">Go to Home page</button>
</div>
