<div class="terms_policy__pages">
  <div class="pages__header_height">
    <div class="guest__page__header_section">
      <div class="navbar_header_menu_section">
        <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
          <div class="container-fluid coustmer__guest__page_nav">
            <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/']">
              <div class="text-left cursor main-logo-cnt">
                <img  class="main-logo" src="assets/images/demo/logo.png" alt="doe_logo">
              </div>
            </div>
           <div class="merchant-list guest_merchant_list">
              <div class="consumer_page_header">
                <button type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
                <button type="button" name="button" [routerLink]="['/merchant']">Business</button>
                <button type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
              </div>
            </div>

            <div class="merchant_action_buttons">
              <button class="search_action" type="button" name="button">
                <img src="assets/images/demo/search_icon.png" alt="search_icon">
              </button>
              <button type="button" name="button" [routerLink]="[ '/consumer-joinus']">Join Us</button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="terms_conditions">
    <h3 class="heading_line"><img src="assets/images/demo/privacy.png" alt="">Privacy policy</h3>
    <div class="terms_conditions_content">

      <ng-container *ngFor="let item of content?.PRIVACY_POLICY">
        <h4 class="paragraph_heading" [innerHTML]="item.heading"> </h4>
        <div class="terms__paragraph" >
          <p [innerHTML]="item.summary"></p>
        </div>
        <ul class="paragraph_points" >
            <li *ngFor="let point of item.points">{{point}}</li>
        </ul>
      </ng-container>


      <!-- <h4 class="paragraph_heading"> When do we collect information?</h4>
      <div class="terms__paragraph">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum

          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>

      </div>


      <h4 class="paragraph_heading"> How do we use your information?</h4>
      <div class="terms__paragraph">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum
        </p>
      </div>

      <h4 class="paragraph_heading"> How do we protect your information?</h4>
      <div class="terms__paragraph">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum
        </p>
      </div>

      <h4 class="paragraph_heading"> Third-party disclosure</h4>
      <div class="terms__paragraph">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
      <h4 class="paragraph_heading"> Third-party links</h4>
      <div class="terms__paragraph">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
      <h4 class="paragraph_heading"> Does our site allow third-party behavioral tracking?</h4>
      <div class="terms__paragraph">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
      <h4 class="paragraph_heading"> How does our site handle Do Not Track signals?</h4>
      <div class="terms__paragraph">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div> -->

      <h4 class="terms_more_info">For information about how to contact DOE CARDS SOLUTIONS PVT. LTD, please visit our Join us page.</h4>

    </div>
  </div>
</div>


<!-- guest-footer starts -->
<guest-footer></guest-footer>
<!-- guest-footer ends -->
