<div id="main" class="guest__page side_menu_list guest__page--loyality">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="main_logo">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_loyality">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>


    <div class="row home-menu text-center toll_guest_homepage" id="fp-nav">
        <ul class="home-menu-tag toll-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow cursor "><img src="assets/images/demo/loyality-forma.png" alt="loyalty1_img"><span class="loyality_text_color">ABOUT LOYALITY</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/loyality/loyality-forma-1.png" alt="loyalty2_img"><span>ABOUT LOYALITY</span></div>
              </a>
          </li>
          <!-- <li class="section2">
              <a data-target="#2">
                <div class="text-center flow cursor"><img src="assets/images/demo/loyality-forma.png"><span class="loyality_text_color">FEATURES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/loyality/loyality-forma-1.pngg"><span>FEATURES</span></div>
              </a>
          </li> -->
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow cursor"><img src="assets/images/demo/loyality-forma.png" alt="loyalty1_img"><span class="loyality_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/loyality/loyality-forma-1.png" alt="loyalty_product_img"><span>PRODUCTS</span></div>
              </a>
          </li>
          <li class="section5">
              <a data-target="#4">
                <div class="text-center flow cursor"><img src="assets/images/demo/loyality-forma.png" alt="loyalty1_img"><span class="loyality_text_color">SERVICES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/loyality/loyality-forma-1.png" alt="loyality_service_img"><span>SERVICES</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#5">
                <div class="text-center flow cursor"><img src="assets/images/demo/loyality-forma.png"><span class="loyality_text_color">FAQS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/loyality/loyality-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>


    <div class="row sectiondiv" id="tolllandpage" mnFullpage [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row tollsection slide fp-section fp-table" data-section-name="abouttoll">
        <div class="row fp-tableCelln service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
              	<div class="col-md-7">
              		<h3 class="finace-head" [innerHTML]="content?.LOYALTY.ABOUT.INTRO_LINE"></h3>
              		<p class="finace-sub" [innerHTML]="content?.LOYALTY.ABOUT.SUB_TITLE"></p>

              		<!-- <span class="finace-subpart" [routerLink]="['./be-merchant']" >Want to become an DOE Merchant?</span> -->
              	</div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/loyality/loyality-landing.png"></div>
              </div>
          </div>
        </div>
        <div class="fixed_menu_buttons loyality_clr">
          <button type="button" name="button" [routerLink]="[ '/']">Consumer</button>
          <button class="active_button" type="button" name="button">Bussiness</button>
          <button type="button" name="button" [routerLink]="[ '/corporate']">Corporate</button>
        </div>
      </div>

    <!-- Section 1 ends here-->



        <!-- Section 4 starts here-->
      <div id="section4" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="products">
        <div class="fp-tableCell service__products">
          <div class="procucts__cards_layout">
            <ng-container *ngFor="let item of loyalityLand.deviceinfo.items | keys; let i=index" >
              <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                <div class="procuct__image">
                  <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                  <img src="{{loyalityLand.deviceinfo.items[item].image}}" alt="deviceinfo_img">
                </div>
                <div class="product__details">
                  <h4 class="Product_title">{{loyalityLand.deviceinfo.items[item].name}}</h4>
                  <p class="product__description">{{loyalityLand.deviceinfo.items[item].summary}}
                  </p>
                  <h3 class="prdct_cost" *ngIf="loyalityLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{loyalityLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
   <!-- Section 4 ends here-->
   <!-- Section 5 starts here-->

   <div id="section4" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="services">
     <div class="fp-tableCell service__products">

       <div class="services__container six_layer_service_container">
         <div col="row">
           <!-- <h1 class="text-center"><span class='basic-color'>LOREM IPSUM</span> IS SIMPLY DUMMY TEXT OF</h1> -->
         </div>
         <div class="services__sections__layout four_layer_service_section_box">
           <div class="srvice_section_box" RetailSideMenu [type]="'retail-restuarent'" emmitcustomevent [scrollFlag]="'on'">
             <div class="service__section loyalty__service_section cursor" >
               <div class="service_procuct__image">
                 <img src="assets/images/demo/loyality/group-departures.png" alt="group-departures_img">
               </div>
             </div>
             <p>Airlines</p>
           </div>
           <div class="srvice_section_box" RetailSideMenu [type]="'retail-fuelstation'" emmitcustomevent [scrollFlag]="'on'">
             <div class="loyalty__service_section cursor" >
               <div class="service_procuct__image">
                 <img src="assets/images/demo/loyality/group-clubs.png" alt="loyality_img">
               </div>
             </div>
             <p>Clubs</p>
           </div>
           <div class="srvice_section_box" RetailSideMenu [type]="'retail-taxi'" emmitcustomevent [scrollFlag]="'on'">
             <div class="loyalty__service_section cursor" >
               <div class="service_procuct__image">
                 <img src="assets/images/demo/loyality/group-loyality.png" alt="group-loyality_img">
               </div>
             </div>
             <p>Restuarents</p>
           </div>
           <div class="srvice_section_box" RetailSideMenu [type]="'retail-supermarket'" emmitcustomevent [scrollFlag]="'on'">
             <div class="loyalty__service_section cursor" >
               <div class="service_procuct__image">
                 <img src="assets/images/demo/loyality/group-fuel.png" alt="group-fuel_img">
               </div>
             </div>
             <p>Petrol Cards</p>
           </div>
         </div>
       </div>

     </div>
   </div>





    <!-- Section 5 ends here-->


        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row tollsection slide fp-section fp-table" data-section-name="faq">
          <div class=" fp-tableCell">
              <div class="faq__section_content">
                  <h1 class="faq row">FAQs</h1>
                  <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
                  <div class="row">
                    <div class="select-topic col-md-4">Select a topic</div>
                    <div class="col-md-6 select-input" #c (change)="changefaqbyid(c.value)">
                        <select class="" #c (change)="changefaqbyid(c.value)">
                          <ng-container *ngFor="let item of content?.TOLL.FAQS; let j=index ">
                            <option value="{{j}}" >{{item.description}}</option>
                          </ng-container>
                        </select>
                    </div>
                    <div class="col-md-2">
                      <input CommonSideMenu [type]="'tollfaq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
                    </div>
                  </div>
              </div>
          </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>
    <loyality-footer></loyality-footer>
</div>

<!-- right features nav bar starts -->
<loyality-features></loyality-features>


<!-- right features nav bar ends -->

<!-- right faq nav bar starts -->

<div id="toll-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png" alt="toll_img">
    <img class="top-img2" src="assets/images/toll/faq-logo.png" alt="toll_faq">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(loyalityLand.selectedFaqTopic && loyalityLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{loyalityLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of loyalityLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="toll_fom_img"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->
<modal></modal>



<!-- right nav bar starts -->
<div id="retail-restuarent" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner loyality_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_loyalty_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LOYALTY.SERVICES.AIRLINES.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LOYALTY.SERVICES.AIRLINES.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LOYALTY.SERVICES.AIRLINES.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="retail-fuelstation" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner loyality_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="top_retail_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LOYALTY.SERVICES.CLUBS.NAME}}</h3>
        </div>
        <div class="row form-group">
            <p [innerHTML]="content?.LOYALTY.SERVICES.CLUBS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LOYALTY.SERVICES.CLUBS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-taxi" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner loyality_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_loyalty_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LOYALTY.SERVICES.RESTUARENT.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LOYALTY.SERVICES.RESTUARENT.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LOYALTY.SERVICES.RESTUARENT.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-supermarket" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner loyality_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LOYALTY.SERVICES.PETRO_CARDS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LOYALTY.SERVICES.PETRO_CARDS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png"  alt="ruppe-bar_icon">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LOYALTY.SERVICES.PETRO_CARDS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
