.dasboard_reports__page {
  height: 100%;
  background-color: #e5e9ed;
  .dashboard_sub_header {
    height: 80px;
    display: flex;

  }
}

.dashboard_reports--sub_header {
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  .more_action_button {
    width: 30px;
    height: 30px;
    margin:3px;
    border-radius: 50%;
    background-color: $color-white;
    color: $color-education;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  .dashboard_sub_header--extra-fields {
    padding: 15px 15px 0px 15px;
  }
}
.reports__extra_fileds {
  flex-wrap: wrap;
  border-top: 1px solid $color-white;
  padding-top: 20px;;
  .field_width {
    width: 26%;
    margin-bottom: 10px;
    .report_label__width {
      min-width: 100px;
      font-size: 15px !important;
    }
  }
}
.reports_page_links {
  height: 61px;
  background-color: $color-white;
  display: flex;
  .doe_cards__tab--active {
    border-bottom: 5px solid $color-education;
    p {
      opacity: 1;
    }
  }

  p {
    opacity: 0.5;
    font-family: $font-oswald-medium;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #4a4a4a;
    margin: 15px;
    cursor: pointer;
    text-transform: uppercase;
  }
}


.reports__summary_section {
  // box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
  // background-color: #eae7f0;
  // padding: 15px 38px;;
  .summary_tables_headings {
    font-family: $font-oswald-bold;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: #444444;
    margin: 15px 25px;
  }
  .transactions__summary_section,
  .cards__summary_section {
    font-family: $font-oswald-regular;
    font-size: 17px;
    line-height: 0.91;
    color: #3a3b3b;
  }
  .total_summary_deatils{
    background-color: $color-white;
    width: 100%;
    display: flex;
    .escrow_deatils{
      border-right: 2px solid rgba(221, 221, 221, 0.29);;
    }
    .escrow_deatils,
    .merchant_deatils {
      width: 50%;
      font-family: $font-oswald-regular;
      font-size: 18px;
      letter-spacing: 0.7px;
      padding: 33px;
      p {
        opacity: 0.3;
        color: #444444;
      }
      span {
        color: #000000;
      }
    }
  }

}
