//dashboard scss
.bus_dashboard_layout {
  height: 100vh;
}
.bus_dashboard_layout_nav {
  nav {
    position: relative;
    margin-bottom: 0;
    background-color: $color-white;
    border: 0 !important;
    .dash_header--main {
      height: 80px;
      width: 100%;
    }
  }
}
.dash_header_section {
  display: flex;
}
.dash_header_logo_section {
  width: 300px;
  .dash_header_logo_section--image {
    display: flex;
    width: 100%;
    align-items: center;
    .dash_header_back_arrow {
      /*background-color: $color-bus;*/
      padding: 30px 10px 30px 39px;
      img {
        width: 20px;
      }
    }
    .dash_header_name {
      padding: 10px;
      color: #fff;
      font-family: $font-oswald-medium;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 500;
      width: 100%;
      text-align: left;

    }
  }
}
.header_corporation_name {
  padding: 11px;
  color: $color-bus;
  font-size: $font-size-extra-small;
  text-transform: uppercase;
  font-family: $font-oswald-bold;
  img {
    width: 55px !important;
    margin-right: 20px;
  }
}

.dashboard_sub_header_fields {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  .sub_header--field {
    display: flex;
    align-items: center;
    p {
      margin-bottom: 0;
      margin-right: 15px;
      font-family: $font-oswald-regular;
      font-size: 17px;
      letter-spacing: 0.7px;
      color: $color-white;
    }
    input, select {
      width: 250px;
      height: 45px;
      border-radius: 4px;
      border: solid 2px #d9e1e6;
      background-color: $color-bus;
      color: $color-white;
      padding: 9px;
      font-size: 20px;
    }
  }
}

.dasboard_left_side_layout {
  height: 90%;
  display: flex;
  background-color: #e5e9ed;

  .dashboard_content_section {
    width: 100%;

    .dashboard_sub_header {
      height: 80px;
      background-color: #687988;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .content_section_form {
      background-color: #fff;
      height: 56vh;
      overflow-y: scroll;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
      h4 {
        background-color: #526372;
        color: #fff;
        padding: 13px;
        margin: 0;
      }

    }
  }

}
.left_menu_layout {
  height: 100%;
  background-color: #313942;
  color: $color-white;
  width: 300px;
  //padding: 25px 0;
  overflow-y: scroll;


  .left_menu_options {
    display: flex;
    align-items: center;
    font-family: $font-oswald-medium;
     font-size: 16px;
     font-weight: 500;
     color: #888f98;
     margin: 15px 2px;
     padding:4px 0px 4px 30px;
     text-transform: uppercase;
    &.copy_right{
      font-size: 11px;
      border-top: 2px solid #22282e;
      padding-top: 10px;
    }
    img{
      height: 25px;
      width:25px;
      margin-right: 15px;
    }
    // .left_menu_list_icon {
    //   width: 30px;
    //   height: 30px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }

  .active {
    background-color: #5d6e7d;
    color: $color-white;
  }
}
