// .dashboard_sub_header {
//     background-color: #8b57cf;
// }

.bus_dashboard_table{

    -webkit-box-shadow: 0px 0px 15px 2px rgba(120,120,120,0.64);
    -moz-box-shadow: 0px 0px 15px 2px rgba(120,120,120,0.64);
    box-shadow: 0px 0px 15px 2px rgba(120,120,120,0.64);
    .table_heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        height: 70px;
    }

    .color_green {
        background-color: #43b76b;
    }

    .color_yellow {
        background-color: #f9e400;
    }

    .color_blue {
        background-color: #2f2497;
    }

}
