.landing_page {
  background-color: $color-aliceblue;
  height: 100vh;
}
.header_section {
  height: 90px;
  background-color: $color-white;
}
.landing_page_container {
  text-align: center;
  background-color: $color-aliceblue;
}
.landing_page_conatiner--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0px;
  //margin-bottom: 15px;
  font-size: $font-size-large;
  color: $color-blackish;
}
.merchant_company__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 31px;
  .merchant_company__logo__name {
    margin-left: 88px;
    border-left: solid 2px rgba(34, 40, 46, 0.22);
  }
}
.headofiice_name {
  .headofiice_name_title {
    font-family: $font-oswald-bold;
    font-size: 35px;
    color: #232226;
    border-bottom: 1px solid #4a4a4a;
    text-transform: uppercase;
    margin: 0;
  }
  .headofiice_name_sub-title {
    font-family: $font-oswald-regular;
    font-size: 23px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #9b9b9b;
  }
  .custom_dropdown_border-bottom {
    border-bottom: 1px solid #4a4a4a;

    .custom_dropdown_layout--data {
      align-items: center !important;
      p {
        font-family: $font-oswald-bold;
        font-size: 36px;
        color: #232226;
        text-transform: uppercase;
      }

    }
  }
}
.sub_text {
  font-size: $font-size-normal;
  color: $color-drak-grey;
  width: 71%;
  margin: 20px auto;
  font-family: $font-oswald-regular;
  font-size: 29px;
}
.header_section_search {
  height: 90px;
  background-color: #fff;
  box-shadow: 0 2px 30px 3px rgba(0, 0, 0, 0.27);
  padding: 27px 27px 27px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .close_serch {
    border: none;
    background: none;
    i {
      color: #6f8294;
      font-size: 24px;
    }
  }

  .header_section_search_layout {
    display: flex;
    align-items: center;
    border-radius: 30px;
    height: 48px;
    width: 86%;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

    select {
      height: 47px;
      margin-left: 18px;
      border: none;
      background-color: #fff;
      border-right: 1px solid;
      width: 15%;
    }
    .custom_dropdown_search-section {
      width: 26%;
      color: #3b3d4d;
      .custom_dropdown_search-layout{
        border-right: 1px solid #f1f1f1;
        padding: 10px 30px;
        border-radius: none;
        margin-bottom: 0;
        .custom_dropdown_layout--data {
          justify-content: space-between;
          width: 100%;
          p {
            opacity: unset !important;
          }
        }
      }
    }

    input {
      height: 45px;
      border: none;
      width: 60%;
      font-family: $font-oswald-regular;
      font-size: 19px;
      color: #000000;
      padding: 0 18px;
    }
    button {
      height: 100%;
      border: none;
      width: 20%;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      color: $color-white;
      font-family: $font-oswald-regular;
      font-size: 20px;
      i {
        margin-right: 20px;
      }
    }
  }
}
.landing_page_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 89%;
  margin: auto;

  .cards_section {
    width: 256px;
    height: 228px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-medium;
    font-family: Oswald-Medium;
    font-weight: 500;
    letter-spacing: 2px;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.16), 0 0 20px 0 rgba(0, 0, 0, 0.04);

    &:hover{
      box-shadow: 0 0 20px rgba(33, 33, 33, 0.59);
    }
  }


  .add_card {
    background-color: #07b67a;
  }

  .edit_card {
    background-color: #9a224a;
  }
  .view_card {
    background-color: #ffc500;
  }
  .cash_card {
    background-color: #e5306f;
  }
  .overview_card {
    background-color: #e74e14;
  }
  .graph_card {
    background-color: #307dda;
  }
  .request_card {
    background-color: #292f7d;
  }
  .support_card{
    background-color: #87b82b;
  }
}

.drop_down--state_name {
  font-size: 18px;
  font-family: $font-oswald-bold;
  padding: 0 10px;
}
.drop_down--branch_name_list {
  font-size: 17px !important;
  font-family: $font-oswald-regular;
  padding: 0 15px;
  p {
    &:hover {
      background-color: grey;
      color: #fff !important;
    }
  }
}
