.modal-dailog__dash_login {
  margin-top: 13%;
  width: 868px;
}

.modal-content_dash_login {
  background-color: #e9eef1;
  border: none;
}
.modal_body__dash_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  h2 {
    text-transform: uppercase;
    font-size: $font-size-smaller;
    font-family: $font-oswald-medium;
  }

  .dash_login_container {
    width: 75%;
    text-align: center;

    .bus_login_fields--username {
      input:focus ~ .floating-label,
      input:not(:focus):valid ~ .floating-label{
        top: 120px;
        bottom: 10px;
        left: 167px;
        font-size: 14px;
        opacity: 1;
      }
      .floating-label {
        position: absolute;
        pointer-events: none;
        left: 167px;
        top: 133px;
        transition: 0.2s ease all;
      }
    }
    .bus_login_fields--password {
      input:focus ~ .floating-label,
      input:not(:focus):valid ~ .floating-label{
        top: 180px;
        bottom: 10px;
        left: 185px;
        font-size: 14px;
        opacity: 1;
      }
      .floating-label {
        position: absolute;
        pointer-events: none;
        left: 167px;
        top: 193px;
        transition: 0.2s ease all;
      }
    }

    .bus_login_fields {
      border-bottom: 1px solid $color-white;
      margin: 17px;
      display: flex;
      justify-content: space-between;
      color: $color-white;
      font-size: 22px;
      input {
        background: none;
        border: none;
      }
      span {
        opacity: 0.6;
        cursor: pointer;
      }
    }

    .stay_radio_button {
      display: flex;
      label {
        font-family: $font-oswald-regular;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1.2px;
        color: #000000;
      }
      [type="radio"]:checked,
      [type="radio"]:not(:checked) {
          position: absolute;
          left: -9999px;
      }
      [type="radio"]:checked + label,
      [type="radio"]:not(:checked) + label
      {
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block;
          color: #666;
      }
      [type="radio"]:checked + label:before,
      [type="radio"]:not(:checked) + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 22px;
          height: 22px;
          border: 2px solid $color-education;
          border-radius: 100%;
          //background: #fff;
      }
      [type="radio"]:checked + label:after,
      [type="radio"]:not(:checked) + label:after {
          content: '';
          width: 14px;
          height: 14px;
          background: $color-education;
          position: absolute;
          top: 4px;
          left: 4px;
          border-radius: 100%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
      }
      [type="radio"]:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
      }
      [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
      }
      // span {
      //   margin-left: 10px;
      //   text-align: left;
      //   font-family: $font-oswald-regular;
      //   font-size: 16px;
      // }
    }

    .default_button {
      width: 245px;
      height: 48px;
      object-fit: contain;
      border-radius: 100px;
      background-color: #ffffff;
      color: $color-white;
      font-family: $font-oswald-regular;
      font-size: 17px;
      margin: 20px auto;
      text-transform: uppercase;
    }
  }
}

.modal_dialog_close {
  justify-content: flex-end;
  display: flex;
  margin-bottom: 21px;
  margin-left: 37px;
  position: relative;
  right: -61px;
  .modal_dialog_close_button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 900;
    i {
      color: grey;
    }
  }
}



.dashbaord_login_field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;

  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
    color: $color-education;
  }

  input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 2px solid $color-education;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    background: none;
  }

  input:focus {
    outline: 0;
  }

  label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
    text-align: left;
    font-family: $font-oswald-regular;
    font-size: 14px;
  }

  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when
  * there's something in the input at all.
  */

  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

}



@media screen and (max-height: 730px) and (min-height: 600px){
  .modal-dailog__dash_login {
    margin-top: 5%;
  }
}


// buss css

.dash_login_container--bus {
  .dashbaord_login_field {
    label, input {
      color: $color-bus;
    }

    input {
      border-bottom: 2px solid $color-bus;
    }
  }

  .stay_radio_button {
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      border: 2px solid $color-bus !important;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      background: $color-bus !important;
    }
  }
}
