.dashboard_overview {
  height: 100vh;
}
.overview_container {
  background-color: #eff3f6;
  padding: 40px;
  .overview_container_cards {
    height: 205px;
    background-color: $color-white;
    margin: 13px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.04);
    h4 {
      border-bottom: solid 2px rgba(151, 151, 151, 0.1);
      padding: 6px;
      text-transform: uppercase;
      opacity: 0.5;
      font-family: $font-oswald-bold;
      font-size: 17px;
      letter-spacing: 0.2px;
      color: $color-black;
      text-align: center;
    }
  }
}
.overview_container_content {
  display: flex;
  justify-content: space-between;
}
.container_four_cards {
  width: 80%;
}
.container_one_card {
  width: 18%;
}
.five_of_four_cards {
  display: flex;
  justify-content: space-between;
}

.four_of_one_card {
  width: 23%;
}
.card_data {
  padding: 43px 0;
  font-family: $font-oswald-regular;
  font-size: 31px;
  text-align: center;
  color: $color-bus;
}

  //graph container scss
.overview_graph__container {
  background-color: #eff3f6;
  padding: 40px;
  width: 100%;
  height: 90vh;

  .overview_grpah__container_box {
    height: 100%;
    background-color: $color-white;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
    padding: 0 20px;
  }
}

.overview_scroll_card {
  padding: 10px 22px;
}
.container_cards__data {
  display: flex;
  height: 78%;
  padding: 20px 0;
}
.container_cards__date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(34, 40, 46, 0.19);
  .date_title {
    font-family: $font-oswald-regular;
    font-size: 18px;
    color: #697b8c;
  }
  .date_number {
    font-family: $font-oswald-light;
    font-size: 26px;
    font-weight: 300;
    color: #2b323a;
    //opacity: 0.3;
  }
}
.earnings__data {
  width: 15%;
  border-right: 2px solid rgba(34, 40, 46, 0.19);
  .earnings__data__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    .earnings_data__heading {
      font-family: $font-oswald-medium;
      font-size: 22px;
      font-weight: 500;
      color: #4f677d;
    }
    .earnings__cost {
      font-family: $font-oswald-regular;
      font-size: 25px;
      line-height: 1;
    }
  }
}
.branchwise__data {
  height: 98px;
  width: 85%;
  margin-left: 10px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.slider_auto_slide {
  display: flex;
  justify-content: space-between;
  width: 128%;
  .branchwise__data__list {
    margin-right: 40px;
    font-weight: 300;
    text-align: right;
    color: #4f677d;
    font-family: $font-OpenSans-Light;
    text-transform: capitalize;
  }
}
.branchwise__inner-data{
  display: block;
  width: 100%;
  position: absolute;
  -webkit-animation: marquee 20s linear infinite;
  animation: marquee 20s linear infinite;
  .branch__name {
    font-family: $font-oswald-medium;
    font-size: 21px;
    font-weight: 500;
    color: #4f677d;
  }
  .branch__cost {
    font-family: $font-oswald-regular;
    font-size: 23px;
    line-height: 1;
    color: #4f677d;
  }
  a {
    font-family: $font-oswald-regular;
    font-size: 13px;
    line-height: 1;
    color: #0051ff;
    text-decoration: underline;
  }
}

.branch_transactions_view {
  text-align: center;
  height: 100%;
  padding: 7px;
  .branch_tnsc__name {
    height: 30px;
    //opacity: 0.8;
    font-family: $font-oswald-regular;
    font-size: 19px;
    letter-spacing: 1px;
    color: #090909;
    text-transform: uppercase;
  }
  .branch_tnsc__cost {
    font-family: $font-oswald-regular;
    font-size: 40px;
    text-align: center;
  }
  .avg_trnsc__name {
    //opacity: 0.3;
    font-family: $font-oswald-medium;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
  }
  .avg_trnsc__cost {
    opacity: 0.5;
    font-family: $font-oswald-regular;
    font-size: 25px;
    color: #000000;
  }
}
