.metro_options_choose {
  border-radius: 4px;
  border: solid 1px #e6ecef;
  background-color: $color-white;
  margin-bottom: 9px;
  width: 100%;
  p {
    font-family: $font-oswald-regular;
    font-size: 16px;
    color: #77909d;
    border: solid 1px #e6ecef;
    background-color: $color-white;
    padding: 10px;
  }
  .metro_options_list_section {
    display: flex;
    justify-content: space-around;
  }
  .metro_options_list_name {
    font-family: $font-oswald-regular;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #9b9b9b;
    display: flex;
    margin: 0 10px;
    span {
      margin: 0 10px;
      width: 100px;
    }
    .line_dots {
      .dot {
        height: 12px;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}

.connected_line_dots {
  .chains {
    position: relative;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      border-color: #9b9b9b;
      border-style: solid;
      border-width: 0 0 2px 0;
      width: 100%;
      z-index: 0;
      top: 14px;
    }
  }

  .chain {
    display: inline-block;
    list-style-type: none;
    background-color: #9b9b9b;
    margin-left: 2px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;

    &:first-child {
        margin-left: 0;
    }
    &:nth-child(2),&:nth-child(3) ,&:nth-child(4)  {
      width: 6px;
      height: 6px;
    }
  }
}
.purple_line_dots {
  .chains {
    &::before {
      border-color: #a73882;
    }
  }
  .chain {
    background-color: #a73882;
  }
}

.green_line_dots {
  .chains {
    &::before {
      border-color: #2bb673;
    }
  }
  .chain {
    background-color: #2bb673;
  }
}
.yellow_line_dots {
  .chains {
    &::before {
      border-color: #ffeb3b;
    }
  }
  .chain {
    background-color: #ffeb3b;
  }
}
.red_line_dots {
  .chains {
    &::before {
      border-color: #f44336;
    }
  }
  .chain {
    background-color: #f44336;
  }
}
.blue_line_dots {
  .chains {
    &::before {
      border-color: #2196f3;
    }
  }
  .chain {
    background-color: #2196f3;
  }
}
.pink_line_dots {
  .chains {
    &::before {
      border-color: #ffc0cb;
    }
  }
  .chain {
    background-color: #ffc0cb;
  }
}

.metro_button_default {
  height: 37px;
  &:hover {
    background-color: $color-metro;
  }
}
