.metro__triangle-down-right::after{
  border-right: 1049px solid $color-metro !important;
}

.metro_company_overview{
  .progress-bar-success {
    background-color: $color-metro !important;
  }
 .metro_carousel-indicators{
   .carousel-indicators {
     position: relative;
     margin-top: 20px;
     .active {
        background-color: $color-metro !important;
      }
   }
 }
}

.metro_dropdown_menu a:hover {
  background-color: $color-metro !important;
}

.metro-company {
  .menu-bar {
    &.active {
      color: $color-metro;
      text-decoration: underline;
    }
  }
}
