.metro_text_color {
  color: $color-metro !important;
}

.metro_bg_color {
  background-color: $color-metro !important;
}
.metro_border {
  border: solid 1px $color-metro !important;
}

.guest__page--metro {
  .cart-count {
    background-color: $color-metro;
  }

  .mer-cust-btn {
    padding-top: 0;
  }
  .login_register_button {
    border: 1px solid $color-metro;
    color:  $color-metro;
    &:hover {
      color: #fff !important;
      background-color: $color-metro;
    }
  }

  .select-input {
    border: 1px solid $color-metro;
  }
  .faq-sub {
    background: $color-metro;
    border: 1px solid $color-metro;
  }

  .guest_page--slider_content {
    border-bottom: 1px solid $color-metro;
    padding-bottom: 13px;
  }

  .metro_features-slider {
    li {
      border: 1px solid $color-metro !important;
    }
    .active {
      background-color: $color-metro;
      margin-bottom: -17px;
    }
  }

  .metro_products_indicators{
    bottom: -13px !important;
    li {
      border: 1px solid $color-metro;
    }
    .active {
      background-color: $color-metro !important;
    }
  }

  .hm-scr2-blck {
    &:hover, &:focus {
      .name-text {
        width: 97px;
      }
    }
  }
}


.metro_menunav {
  .active {
    .menu-text {
      color: $color-metro !important;
    }
  }

  .metro_logout_btn {
    border: 1px solid $color-metro ;
    color: $color-metro;

    &:hover {
      background-color: $color-metro;
      color: $color-white;
    }
  }
}

.reder_issues_side_bar {
  .reader_renewel_fields {
    .renewel_input_label {
      border-bottom:2px solid rgba(58, 120, 233, 0.33);
    }
  }
}


.metro_reader_issues_checkboxes {
  /* Check symbol aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after,
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    color: $color-metro;
  }

  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    border: 1px solid $color-metro;
  }
}
