<div id="toll-renewel" class="sidenav rightsidenav tollsidenav" >
  <div class="row lost-card-img">
    <img class="top-img1" src="assets/images/toll/ellipse-1.png" alt="doe_logo">
    <img class="top-img2" src="assets/images/toll/toll-i-c-o-n.png">
  </div>
  <div class="col-md-12 qick-pay-row">
    <div class="text-center" [formGroup]="form">
      <div class="row form-group">
        <h3>CARD READER ISSUES</h3>
      </div>
      <div class="reader_renewel_fields">
        <div class="renewel_input_label">
          <input type="text" name="" value="" placeholder="Company Name" formControlName="companyName">
        </div>
        <!-- <p class="form_error_message">{{formErrors.companyName}}</p> -->

        <div class="renewel_input_label">
          <input type="text" name="" value="" placeholder="Branch Name" formControlName="branchName">
        </div>
        <!-- <p class="form_error_message">{{formErrors.branchName}}</p> -->

        <div class="renewel_input_label">
          <input type="text" name="" value="" placeholder="Address(Replace address location)" formControlName="address">
        </div>
        <!-- <p class="form_error_message">{{formErrors.address}}</p> -->

        <div class="renewel_fields_two_col">
          <div class="renewel_input_label">
            <input type="text" name="" value="" placeholder="Contact Person Name" formControlName="contactPersonName">
          </div>
          <!-- <p class="form_error_message">{{formErrors.contactPersonName}}</p> -->

          <div class="renewel_input_label">
            <input type="text" name="" value="" placeholder="Contact Mobile Number" formControlName="contactPersonMobileNumber">
          </div>
          <!-- <p class="form_error_message">{{formErrors.contactPersonMobileNumber}}</p> -->

        </div>
        <div class="renewel_fields_two_col">
          <div class="renewel_input_label">
            <input type="text" name="" value="" placeholder="Reader Name" formControlName="readerName">
          </div>
          <!-- <p class="form_error_message">{{formErrors.readerName}}</p> -->

          <div class="renewel_input_label">
            <input type="text" name="" value="" placeholder="Product ID" formControlName="productId">
          </div>
          <!-- <p class="form_error_message">{{formErrors.productId}}</p> -->

        </div>
        <div class="renewel_input_label">
          <input type="text" name="" value="" placeholder="Issue Description" formControlName="description">
        </div>
        <!-- <p class="form_error_message">{{formErrors.description}}</p> -->

      </div>
      <div class="toll_renewel_checkboxes">
        <input type="checkbox" id="applicable-value" name="" value="">
        <label for="applicable-value">Charges Applicable (<span class="toll_text_color"> &#8377; 3000.00(approx)</span>)</label>
      </div>
      <div class="toll_renewel_checkboxes">
        <input type="checkbox" id="terms" name="" value="">
        <label for="terms">Ullamcorper suscipit lobortis nisl <span class="terms_conditions"> Terms & Conditions.</span></label>
      </div>
      <div class="toll_renewel_button toll">
        <button type="button" name="button" class="order_button login_register_button" (click)="fetchValues()">NEXT</button>
      </div>
    </div>
  </div>
</div>

<div class="modal rechargePopupModal" id="confirmationrechargeModal" role="dialog" *ngIf="ticketNumber" style="display: block;closeTimer: 1000">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
              <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
              <p>Ticket successfully Created and the Ticket Number is {{ticketNumber}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="ticketNumber = false">OK</button>
            </div>
          </div>

        </div>
      </div>
