<div class="find-more be-merchant">
  <div class="boxed-layout" >
    <div [routerLink]="['/retail']" class="close-btn cursor"> <img src="assets/images/retail/retail-close.png" alt="close-btn_icon"></div>
  		<div class="container-fluid row blck1" style="">
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-8 row">
              <div class="col-md-8">
                <div class="row text-right" style="font-size:50px;">
                  <h1 class="finace-head">CONTRIBUTION TO <br> <span class="financial-headpart retail_text_color">FINANCIAL</span> GROWN</h1>
                </div>
                <div class="row">
                   <div class="col-xs-12 col-md-12">
                      <p class="sect1-text text-right">Tap, pay and go at multiple terminals across various services and categories.
                      </p>
                   </div>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="row mobile-icon">
                    <span class="pull-left p-l-30"><img class="blck1-img" src="assets/images/demo/retail/retail-smart.png" alt="retail-smart)icon" style="width:254px"></span>
                  </div>
              </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
  	   </div>
        <div class="row blck2">
          <div class="col-md-6 left-sect">
            <p class="knw-abt retail_text_color" >Contributes to Financial Growth</p>
            <p class="knw-abt__more">DOE cards works with merchants / agents to setup infrastructure required to accept the DOE cards and all transactions will happen only on DOE supplied terminals/devices</p>
          </div>
          <div class="col-md-6 blck2-img">
            <img src="assets/images/toll/pexels-photo-69866.png" alt="toll-icon">
          </div>
        </div>
        <div class="container-fluid row blck3">
          <div class="col-md-1"></div>
          <div class="col-md-10 p-0">
              <p class="content" style="border: solid 1px #e6831a;">DOE cards works with merchants / agents to setup infrastructure required to accept the DOE cards and all transactions will happen only on DOE supplied terminals/devices</p>
              <p>DOE cards works with merchants / agents to setup infrastructure required to accept the DOE cards and all transactions will happen only on DOE supplied terminals/devices</p>
          </div>
          <div class="col-md-1"></div>
        </div>
  </div>
</div>
