<!-- quick recharge side bar starts -->
<quick-recharge></quick-recharge>
<!--  quick recharge side bar ends -->

<div id="main" class="home" >
  <!-- guest header starts -->
  <guest-header></guest-header>
  <!-- guest header ends -->
    <div class="row home-menu text-center home_menu_side_nav hiding_for_tablets" id="fp-nav">
        <ul class="home-menu-tag home-menu-js">
          <li class="active section1">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="home_icon"><span>HOME</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="home_icon"><span>HOME</span></div>
              </a>
          </li>
          <li class="section2">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="features_icon"><span>FEATURES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="features_icon"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section2">
            <a>
              <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="scope_icon"><span>SCOPE</span></div>
              <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="scope_icon"><span>SCOPE</span></div>
            </a>
          </li>

          <li class="section4">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="services_icon"><span>SERVICES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="services_icon"><span>SERVICES</span></div>
              </a>
          </li>
          <li class="section5">
            <a>
              <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="joinus_icon"><span>JOIN US</span></div>
              <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="joinus_icon"><span>JOIN US</span></div>
            </a>
          </li>
          <li class="section2">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="video_icon"><span>VIDEOS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="videos_icon"><span>VIDEOS</span></div>
              </a>
          </li>

          <li class="section3">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="faq_icon"><span>FAQs</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="faq_icon"><span>FAQs</span></div>
              </a>
          </li>
        </ul>
    </div>


  <div id="" class="row sectiondiv consumer_guest_home_page" mnFullpage [mnFullpageNavigation]="true"
   [mnFullpageKeyboardScrolling]="true"
   [mnFullpageSlidesNavigation]="true"
   [mnFullpageControlArrows]="false"
   mnFullpageSlidesNavPosition="bottom" [mnFullpageOnLeave]="afterReload">

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row section fp-section fp-table" data-section-name="home">
        <div class="carousel__container" style="width:74%">
          <div class="carousel__arrow_marks">
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <!--span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span-->
                 <img src="assets/images/guest/left-arrow.png" alt="previous_icon">
                <span class="sr-only">Previous</span>
              </a>
          </div>
          <div class="carousel__center_text" style="width:100%">
              <div id="myCarousel" class="carousel slide carousel_slide_hieht" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <ng-container *ngFor="let slide of content?.LANDING_PAGE.HOME; let i = index;">
                    <div class="item" [ngClass]="{'active': i==0}">
                      <div class="slide_home">
                        <div class="slide_content_home">
                          <div class="row">
                            <h1 class="text-right" [innerHTML]="slide.INTRO_LINE"></h1>
                          </div>
                          <div class="row">
                              <h4 class="sect1-text text-right"> {{slide.SUB_TITLE}}</h4>
                          </div>
                          <div class="row find-ot">
                            <div class="pull-right find-ot-span cursor"  (click)="redirectTo(slide.TAG)"><p class="find-out-p" style="font-family:OpenSans-Regular;font-size:14px;">FIND OUT MORE<p></div>
                          </div>
                        </div>
                        <div class="slide_image_home">
                          <img [src]="slide.IMG_SRC" alt="product_description_img">
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
          </div>
          <div class="carousel__arrow_marks">
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <!--span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span-->
                <img src="assets/images/guest/reightarrow.png" style="width:32px;height:32px;" alt="next_icon">
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
        <img src="assets/images/demo/hand-icon.gif" alt="" style="position:absolute;top:12%;" alt="hand_icon">
      </div>
      <!-- Section 1 ends here-->

      <!-- Section 2 features starts here-->
      <div id="section2" class="container-fluid row section fp-section fp-table" data-section-name="features">
          <div class="col-md-2"></div>
          <div class="col-md-8 row">
            <div col="row" [innerHTML]="content?.LANDING_PAGE.FEATURES.TAG_LINE">
            </div>
            <div class="row sec-row">
              <div class="col-md-4">
                <div class="hm-scr2-blck home_page_image_hover">
                  <div class="merchant_feature_block" >
                    <img src="assets/images/customer/payment-feature.png" showfaqanswer [type]="'quickPayment'" emmitcustomevent [scrollFlag]="'on'" alt="payment_feature">
                  </div>
                  <!-- <img class="img-defalt cursor" src="assets/images/guest/track-and-manage.png">
                  <img class="img-hover cursor" src="assets/images/guest/track-and-manage-clicked.png" showfaqanswer [type]="'quickPayment'" emmitcustomevent [scrollFlag]="'on'"> -->
                  <h4 class="text-center">{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.PAYMENTS.NAME}}</h4>
                  <p class="text-center merchant_feature_block_text">{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.PAYMENTS.SUMMARY}}</p>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="hm-scr2-blck home_page_image_hover">
                    <div class="merchant_feature_block" >
                      <img src="assets/images/customer/access-feature.png" showfaqanswer [type]="'access'" emmitcustomevent [scrollFlag]="'on'" alt="access_feature">
                    </div>
                    <!-- <img class="img-defalt cursor" src="assets/images/guest/instant-block.png">
                    <img class="img-hover cursor" src="assets/images/guest/instant-block-clicked.png" showfaqanswer [type]="'access'" emmitcustomevent [scrollFlag]="'on'"> -->
                    <h4 class="text-center">{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.ACCESS.NAME}}</h4>
                    <p class="text-center merchant_feature_block_text">{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.ACCESS.SUMMARY}}</p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="hm-scr2-blck home_page_image_hover">
                    <div class="merchant_feature_block" >
                      <img src="assets/images/customer/loyality-feature.png" showfaqanswer [type]="'loyalty'" emmitcustomevent [scrollFlag]="'on'" alt="loyalty_access">
                    </div>
                    <!-- <img class="img-defalt cursor" src="assets/images/guest/quick-payment.png">
                    <img class="img-hover cursor"  src="assets/images/guest/quick-payment-clicked.png" showfaqanswer [type]="'loyalty'" emmitcustomevent [scrollFlag]="'on'"> -->
                    <h4 class="text-center">{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.LOYALITY.NAME}}</h4>
                    <p class="text-center merchant_feature_block_text">{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.LOYALITY.SUMMARY}}</p>
                  </div>
              </div>

            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3 sext2-line"><hr></div>
                <div class="col-md-2 text-center"><img class="rupee-img" src="assets/images/guest/ruppee-button.png" alt="rupee-icon"></div>
                <div class="col-md-3 sext2-line"><hr></div>
                <div class="col-md-2"></div>
            </div>
          </div>
          <div class="col-md-2"></div>
      </div>
      <!-- Section 2 ends here-->

      <!-- Process Section  starts here-->
      <div id="section4" class="container-fluid row section fp-section fp-table" data-section-name="processsection">
          <div class="video" style="text-align: center;">
              <video id="myVideo" width="90%" height="100%" #videoPlayer autoplay loop muted>
                  <source src="assets/videos/cc.mp4" alt="scope_video" type="video/mp4" />
                  Browser not supported
              </video>
          </div>
      </div>
      <!-- Process Section  ends here-->

      <!-- Section 4 starts here-->



      <div id="videosection" class="container-fluid row section fp-section fp-table videosection_slider" data-section-name="services" >
        <div class="carousel__container" style="margin:0 43px;width:100%;height:100%;">
          <div class="carousel__center_text consumer__services_fp_slider" style="width:74%;height:100%;padding:72px 0;display:flex;align-items:center;justify-content:center;">
              <div id="clientscarousel1" class="carousel slide carousel_slide_hieht" data-ride="carousel" style="padding-bottom:66px;">
                <ol class="carousel-indicators carousel-indicators_custom">
                  <li data-target="#clientscarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#clientscarousel1" data-slide-to="1"></li>
                 <li data-target="#clientscarousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="item active">

                    <div class="row customer__text_color_change">
                      <h1 class="text-center">Payments</h1>
                    </div>
                    <div class="row sec-row">
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/toll.png" alt="toll_payment_img">
                          <img class="img-hover cursor" src="assets/images/demo/toll-hover.png" showfaqanswer [type]="'cust-toll'" emmitcustomevent [scrollFlag]="'on'" alt="toll_payment_img">
                          <!-- <h4>TOLL</h4> -->
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/metro.png" alt="metro_payment_img">
                            <img class="img-hover cursor" src="assets/images/demo/metro-hover.png" showfaqanswer [type]="'cust-metro'" emmitcustomevent [scrollFlag]="'on'" alt="metro_payment_img">
                            <!-- <h4>METRO</h4> -->
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/retail.png" alt="retail_payment_img">
                            <img class="img-hover cursor" src="assets/images/demo/retail-hover.png" showfaqanswer [type]="'cust-retail'" emmitcustomevent [scrollFlag]="'on'" alt="retail_payment_img">
                            <!-- <h4>RETAIL</h4> -->
                          </div>
                      </div>
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/parking.png" alt="parking_payment_img">
                          <img class="img-hover cursor" src="assets/images/demo/parking-hover.png" showfaqanswer [type]="'cust-parking'" emmitcustomevent [scrollFlag]="'on'" alt="parking_payment_img">
                          <!-- <h4>PARKING</h4> -->
                        </div>
                      </div>
                    </div>
                    <div class="row thrd-row">
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/bus.png" alt="bus_payment_img">
                            <img class="img-hover cursor" src="assets/images/demo/bus-hover.png" showfaqanswer [type]="'cust-bus'" emmitcustomevent [scrollFlag]="'on'" alt="bus_payment_img">
                            <!-- <h4>BUS</h4> -->
                          </div>
                      </div>
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/railways.png" alt="railways_payment_img">
                          <img class="img-hover cursor" src="assets/images/demo/railways-hover.png" showfaqanswer [type]="'cust-railways'" emmitcustomevent [scrollFlag]="'on'" alt="railways_payment_img">
                          <!-- <h4>RAILWAYS</h4> -->
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/education.png" alt="education_payment_img">
                            <img class="img-hover cursor"  src="assets/images/demo/education-hover.png" showfaqanswer [type]="'cust-education'" emmitcustomevent [scrollFlag]="'on'" alt="education_payment_img">
                            <!-- <h4>EDUCATION</h4> -->
                          </div>
                      </div>
                      <!-- <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/office.png">
                            <img class="img-hover cursor"  src="assets/images/demo/offices-hover.png" showfaqanswer [type]="'cust-office'" emmitcustomevent [scrollFlag]="'on'">
                            <h4>OFFICE</h4>
                          </div>
                      </div> -->
                    </div>

                  </div>


                  <div class="item ">
                    <div class="row customer__text_color_change" >
                      <h1 class="text-center">Access</h1>
                    </div>
                    <div class="row sec-row">
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/residence.png" alt="residence_access_img">
                          <img class="img-hover cursor" src="assets/images/demo/residence-hover.png" showfaqanswer [type]="'cust-access-residence'" emmitcustomevent [scrollFlag]="'on'" alt="residence_access_img">
                          <!-- <h4>RESIDENCE</h4> -->
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/offices.png" alt="office_access_img">
                            <img class="img-hover cursor" src="assets/images/demo/offices-hover.png" showfaqanswer [type]="'cust-access-offices'" emmitcustomevent [scrollFlag]="'on'" alt="office_access_img">
                            <!-- <h4>OFFICES</h4> -->
                          </div>
                      </div>
                      <!-- <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/employees.png">
                            <img class="img-hover cursor" src="assets/images/demo/employees-hover.png" showfaqanswer [type]="'cust-retail'" emmitcustomevent [scrollFlag]="'on'">
                            <h4>EDUCATIONAL INSTITUTIONS</h4>
                          </div>
                      </div> -->
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/edu-institutes.png" alt="education_access_img">
                          <img class="img-hover cursor" src="assets/images/demo/edu-institutions-hover.png" showfaqanswer [type]="'cust-access-education'" emmitcustomevent [scrollFlag]="'on'" alt="education_access_img">
                          <!-- <h4>EMPLOYEES</h4> -->
                        </div>
                      </div>
                    </div>
                    <div class="row thrd-row">
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/hotels.png" alt="hotel_access_img">
                            <img class="img-hover cursor" src="assets/images/demo/hotel-hover.png" showfaqanswer [type]="'cust-access-hotels'" emmitcustomevent [scrollFlag]="'on'" alt="hotel_access_img">
                            <!-- <h4>HOTELS</h4> -->
                          </div>
                      </div>
                      <!-- <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/residency.png">
                          <img class="img-hover cursor" src="assets/images/demo/residency-hover.png" showfaqanswer [type]="'cust-residency'" emmitcustomevent [scrollFlag]="'on'">
                          <h4>RESIDENCE</h4>
                        </div>
                      </div> -->
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/gated-community.png" alt="apartment_access_img">
                            <img class="img-hover cursor"  src="assets/images/demo/gated-community-hover.png" showfaqanswer [type]="'cust-access-gated-community'" emmitcustomevent [scrollFlag]="'on'" alt="apartment_access_img">
                            <!-- <h4>GATED COMMUNITY</h4> -->
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/hospitals.png" alt="hospital_access_img">
                            <img class="img-hover cursor"  src="assets/images/demo/hospitals-hover.png" showfaqanswer [type]="'cust-access-hospital'" emmitcustomevent [scrollFlag]="'on'" alt="hospital_access_img">
                            <!-- <h4>HOSPITALS</h4> -->
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="row customer__text_color_change">
                      <h1 class="text-center" [innerHTML]="content?.LANDING_PAGE.SERVICES.TAG_LINE_LOYALITY"></h1>
                    </div>
                    <div class="row sec-row">
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/airlines.png" alt="airline_access_img">
                          <img class="img-hover cursor" src="assets/images/demo/airlines-hover.png"  showfaqanswer [type]="'cust-loyalty-airlines'" emmitcustomevent [scrollFlag]="'on'" alt="airline_access_img">
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/clubs.png" alt="club_access_img">
                            <img class="img-hover cursor" src="assets/images/demo/clubs-hover.png" showfaqanswer [type]="'cust-loyalty-clubs'" emmitcustomevent [scrollFlag]="'on'" alt="club_access_img">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/restuarent.png" alt="restuarent_access_img">
                            <img class="img-hover cursor" src="assets/images/demo/restuarent-hover.png" showfaqanswer [type]="'cust-loyalty-restuarent'" emmitcustomevent [scrollFlag]="'on'" alt="restuarent_access_img">
                          </div>
                      </div>
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/petro-cards.png" alt="petrolcard_access_img">
                          <img class="img-hover cursor" src="assets/images/demo/petro-cards-hover.png" showfaqanswer [type]="'cust-loyalty-petrocards'" emmitcustomevent [scrollFlag]="'on'" alt="petrolcard_access_img">
                        </div>
                      </div>
                    </div>
                    <div class="row thrd-row">
                      <!-- <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/guest/bus.png">
                            <img class="img-hover cursor" src="assets/images/guest/bus-hover.png" showfaqanswer [type]="'cust-bus'" emmitcustomevent [scrollFlag]="'on'">
                            <h4>BUS</h4>
                          </div>
                      </div>
                      <div class="col-md-3">
                        <div class="hm-scr2-blck home_page_image_hover">
                          <img class="img-defalt cursor" src="assets/images/demo/residency.png">
                          <img class="img-hover cursor" src="assets/images/demo/residency-hover.png" showfaqanswer [type]="'cust-residency'" emmitcustomevent [scrollFlag]="'on'">
                          <h4>RESIDENCE</h4>
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/education.png">
                            <img class="img-hover cursor"  src="assets/images/demo/education-hover.png" showfaqanswer [type]="'cust-education'" emmitcustomevent [scrollFlag]="'on'">
                            <h4>EDUCATION</h4>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="hm-scr2-blck home_page_image_hover">
                            <img class="img-defalt cursor" src="assets/images/demo/office.png">
                            <img class="img-hover cursor"  src="assets/images/demo/offices-hover.png" showfaqanswer [type]="'cust-office'" emmitcustomevent [scrollFlag]="'on'">
                            <h4>OFFICE</h4>
                          </div>
                      </div> -->
                    </div>
                  </div>

                </div>

              </div>
          </div>
        </div>

      </div>


      <!-- Process Section  starts here-->
      <div id="section5" class="container-fluid row section fp-section fp-table" data-section-name="joinussection">
        <!-- <div class="joinus_options">
          <consumer-joinus-form></consumer-joinus-form>
        </div> -->
        <div class="joinus__container_layout">
          <div class="Joinus__page_conatiner--form" style="margin-top:46px;">
            <div class="joinus__page_logo_section">
              <div class="logo_section_content">
                <h3>DOE</h3>
                <p>Rechargeable and Contactless Smart Card that Everyone can Use</p>
              </div>
              <div class="logo_section_image">
                <!-- <img src="assets/images/demo/doe_card_slant.png" alt=""> -->
              </div>
            </div>
            <div class="joinus__page_form_section">
              <p class="form_sub_text" style="font-size:17px;">Thank you for your interest. Just fill in the details and our team will reach out with further steps. </p>
              <div class="joinus_form__fields">
                <form class="" [formGroup]="joinusForm" (ngSubmit)="onSubmit()" name="userregistration">
                  <div class="joinus__form_layout">
                    <div class="field_input_floating">
                      <div class="float_input_style joinus_fields">
                        <input formControlName = "name" focus-next type="text" maxlength="25" class="input-box joinus_floating-input" placeholder="Name">
                        <label for="fullname">Name</label>
                      </div>
                      <p class="form_error_message">{{formErrors.name}}</p>
                    </div>
                    <div class="field_input_floating">
                      <div class="float_input_style joinus_fields">
                        <input formControlName = "mobileNumber" focus-next type="text" class="input-box joinus_floating-input" placeholder="Mobile Number">
                        <label for="fullname">Mobile Number</label>
                      </div>
                      <p class="form_error_message">{{formErrors.mobileNumber}}</p>
                    </div>
                    <div class="field_input_floating">
                      <div class="float_input_style joinus_fields">
                        <input formControlName = "email" focus-next type="text" class="input-box joinus_floating-input" placeholder="Email(Optional)">
                        <label for="fullname">Email</label>
                      </div>
                      <p class="form_error_message">{{formErrors.email}}</p>
                    </div>

                    <div class="">
                      <p class="" style="color: #ff0000;font-weight: bold;font-size: 16px;font-family: OpenSans-Semibold;">{{formErrors.recaptcha}}</p>
                      <div class="captcha__section">
                        <ngx-recaptcha2 #captchaElem
                          [siteKey]="siteKey"
                          (reset)="handleReset()"
                          (expire)="handleExpire()"
                          (load)="handleLoad()"
                          (success)="handleSuccess($event)"

                          [size]="size"
                          [hl]="lang"
                          [theme]="theme"
                          [type]="type"
                          formControlName="recaptcha">
                        </ngx-recaptcha2>
                      </div>
                    </div>

                    <div class="joinus_submit_action">
                      <button type="submit" class="submit-box">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Process Section  ends here-->

      <!-- Video Section  starts here-->
      <div id="videosection" class="container-fluid row section fp-section fp-table videosection_slider" data-section-name="videosection">
        <div class="carousel__container" style="margin:0 43px;width:100%;height:100%;">
          <div class="carousel__center_text" style="width:84%;height:100%;padding:72px 0;display:flex;align-items:center;justify-content:center;">
              <div id="clientscarousel" class="carousel slide carousel_slide_hieht" data-ride="carousel" style="padding-bottom:66px;">
                <ol class="carousel-indicators carousel-indicators_custom">
                  <li data-target="#clientscarousel" data-slide-to="0" class="active" *ngIf="videos?.length > 6"></li>
                  <li data-target="#clientscarousel" data-slide-to="1" *ngIf="videos?.length > 6"></li>
                  <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="item active">

                    <div class="videosection_cards_layout">
                      <div class="videosection_card" *ngFor="let item of videos; index as i; ">
                        <div class="video_thumnail_image" (click)="showVideoPopup(item.src)">
                          <img class="bgcover_image" [src]="item.thumnail" alt="vidoe_section_img">
                          <img class="play_icon" [src]="item.playbutton" alt="play_icon">
                        </div>
                        <div class="video_content">
                          <p class="Product_title">{{item.content}}</p>
                          <p class="product_description">{{item.description}}</p>
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="item " *ngIf="videos?.length > 6">
                    <div class="videosection_cards_layout">
                      <div class="videosection_card" *ngFor="let item of videos; index as i; ">
                        <div class="video_thumnail_image" (click)="showVideoPopup(item.src)">
                          <img class="bgcover_image" [src]="item.thumnail" alt="vidoe_section_img">
                          <img class="play_icon" [src]="item.playbutton" alt="play_icon">
                        </div>
                        <div class="video_content">
                          <p class="Product_title">{{item.content}}</p>
                          <p class="product_description">{{item.description}}</p>

                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
          </div>
        </div>

      </div>
      <!-- Video Section  ends here-->

    <!-- consumer FAQs section -->
      <div id="section4" class="row container-fluid section fp-section fp-table consumer_faq_section" data-section-name="location">


        <div class="carousel__container" style="margin:0 43px;width:100%;height:100%;">
          <div class="carousel__center_text consumer__services_fp_slider" style="width:74%;height:100%;padding:72px 0;display:flex;align-items:center;justify-content:center;">
              <div id="clientscarousel2" class="carousel slide carousel_slide_hieht" data-ride="carousel" style="padding-bottom:66px;">
                <ol class="carousel-indicators carousel-indicators_custom">
                  <li data-target="#clientscarousel2" data-slide-to="0" class="active"></li>
                  <li data-target="#clientscarousel2" data-slide-to="1"></li>
                 <li data-target="#clientscarousel2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="item active">

                    <div class="col-md-2"></div>
                    <div class="col-md-8 faq-main-style">
                      <div class="faq-heading-title">
                        <h1>FAQs</h1>
                        <h4>If you've got any questions about how we can make your life easier, please check out our FAQ</h4>
                      </div>
                      <div class="panel-group accordion overflow-style" id="accordionExample">
                        <ng-container *ngFor="let item of content?.LANDING_PAGE.FAQS[0].QNA; let i=index;">
                          <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" *ngIf="i < 3">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="{{'heading' + i}}">
                                <h4 class="panel-title">
                                <a class= "faq-questions faq_questions_section" role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse' + i}}" aria-expanded="false" aria-controls="collapseOne">
                                  <span></span>
                                  <p>{{item.question}}</p>
                                </a>
                              </h4>
                              </div>
                              <div id="{{'collapse' + i}}" class="panel-collapse collapse faq-context" [attr.role]="'tabpane' + i" [attr.aria-labelledby]="'heading' + i">
                                <div class="panel-body" [innerHTML]="item.answer">
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-2"></div>

                  </div>


                  <div class="item ">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 faq-main-style">
                      <div class="faq-heading-title">
                        <h1>FAQs</h1>
                        <h4>If you've got any questions about how we can make your life easier, please check out our FAQ</h4>
                      </div>
                      <div class="panel-group accordion overflow-style" id="accordionExample">
                        <ng-container *ngFor="let item of content?.LANDING_PAGE.FAQS[0].QNA; let i=index;">
                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="i > 2 && i < 6">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="{{'heading' + i}}">
                                <h4 class="panel-title">
                                  <a class= "faq-questions faq_questions_section" role="button" data-toggle="collapse" data-parent="#accordion2" href="{{'#collapse' + i}}" aria-expanded="false" aria-controls="collapseOne">
                                    <p>{{item.question}}</p>
                                  </a>
                                </h4>
                              </div>
                              <div id="{{'collapse' + i}}" class="panel-collapse collapse faq-context" [attr.role]="'tabpane' + i" [attr.aria-labelledby]="'heading' + i">
                                <div class="panel-body" [innerHTML]="item.answer">
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-2"></div>
                  </div>

                  <div class="item ">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 faq-main-style">
                      <div class="faq-heading-title">
                        <h1>FAQs</h1>
                        <h4>If you've got any questions about how we can make your life easier, please check out our FAQ</h4>
                      </div>
                      <div class="panel-group accordion overflow-style" id="accordionExample">
                        <ng-container *ngFor="let item of content?.LANDING_PAGE.FAQS[0].QNA; let i=index;">
                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="i > 5 && i < 9">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="{{'heading' + i}}">
                                <h4 class="panel-title">
                                <a class= "faq-questions faq_questions_section" role="button" data-toggle="collapse" data-parent="#accordion3" href="{{'#collapse' + i}}" aria-expanded="false" aria-controls="collapseOne">
                                  <p>{{item.question}}</p>
                                </a>
                              </h4>
                              </div>
                              <div id="{{'collapse' + i}}" class="panel-collapse collapse faq-context" [attr.role]="'tabpane' + i" [attr.aria-labelledby]="'heading' + i">
                                <div class="panel-body" [innerHTML]="item.answer">
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="col-md-2"></div>
                  </div>

                </div>

              </div>
          </div>
        </div>



      </div>
      <!-- FAQ Section ends here-->

  </div>

    <!-- guest-footer starts -->
    <guest-footer></guest-footer>
    <!-- guest-footer ends -->
</div>

<!-- lost card side bar starts -->
<lost-card></lost-card>
<!-- lost card side bar ends -->


<!-- right nav bar starts -->
<div id="quickPayment" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/quick-payment-clicked.png" alt=""></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.PAYMENTS.NAME}}</h3>
        </div>
        <div class="row form-group side_bar__content_list">
           <p [innerHTML]="content?.LANDING_PAGE.FEATURES.CONTENT_TABS.PAYMENTS.DESCRIPTION_PART1"> </p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group side_bar__content_list">
          <p [innerHTML]="content?.LANDING_PAGE.FEATURES.CONTENT_TABS.PAYMENTS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div id="access" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/quick-payment-clicked.png" alt="payment_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.ACCESS.NAME}}</h3>
        </div>
        <div class="row form-group side_bar__content_list">
           <p [innerHTML]="content?.LANDING_PAGE.FEATURES.CONTENT_TABS.ACCESS.DESCRIPTION_PART1"></p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group side_bar__content_list">
          <p [innerHTML]="content?.LANDING_PAGE.FEATURES.CONTENT_TABS.ACCESS.DESCRIPTION_PART2"></p>
          <!-- <p>This multi-utility card can be used for access and micropayments at toll booths, metro stations, retail outlets, parking lots, bus/railway stations, etc. </p> -->
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div id="loyalty" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/quick-payment-clicked.png" alt="payment_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.FEATURES.CONTENT_TABS.LOYALITY.NAME}}</h3>
        </div>
        <div class="row form-group side_bar__content_list">
            <p [innerHTML]="content?.LANDING_PAGE.FEATURES.CONTENT_TABS.LOYALITY.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group side_bar__content_list">
          <p [innerHTML]="content?.LANDING_PAGE.FEATURES.CONTENT_TABS.LOYALITY.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="toll" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/toll-hover.png" alt="toll_icom"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.TOLL.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p [innerHTML]="content?.LANDING_PAGE.SERVICES.CONTENT_TABS.TOLL.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.LANDING_PAGE.SERVICES.CONTENT_TABS.TOLL.DESCRIPTION_PART2"></p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="toll_bg" [routerLink]="[ '/toll']" id="right-o-close"  showfaqanswer type="right-close" >Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close" >Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="metro" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/metro-hover.png" alt="metro_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.METRO.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.METRO.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.METRO.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="metro_bg" [routerLink]="[ '/metro']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="retail" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/retail-hover.png" alt="retail_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RETAIL.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RETAIL.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RETAIL.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="retail_bg" [routerLink]="[ '/retail']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="parking" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/parking-hover.png" alt="parking_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.PARKING.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.PARKING.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.PARKING.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="parking_bg" [routerLink]="[ '/parking']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="office" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/offices-hover.png" alt="office_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.OFFICE.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.OFFICE.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.OFFICE.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="office_bg" [routerLink]="[ '/office']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="bus" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/bus-hover.png" alt="bus_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.BUS.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.BUS.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.BUS.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="bus_bg" [routerLink]="[ '/bus']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="residency" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/residency-hover.png" alt="residency_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RESIDENCE.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RESIDENCE.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RESIDENCE.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="residency_bg" [routerLink]="[ '/residence']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="education" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/education-hover.png" alt="education_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.EDUCATION.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.EDUCATION.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.EDUCATION.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="railways" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/railways-hover.png" alt="railways_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RAILWAYS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RAILWAYS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.RAILWAYS.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="access-residence" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/residence-hover.png" alt="residence_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_RESIDENCE.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_RESIDENCE.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_RESIDENCE.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="parking_bg" [routerLink]="[ '/parking']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="access-office" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/offices-hover.png" alt="offices_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_OFFICE.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_OFFICE.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_OFFICE.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="office_bg" [routerLink]="[ '/office']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="access-education" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/edu-institutions-hover.png" alt="education_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_EDUCATION.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_EDUCATION.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_EDUCATION.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="bus_bg" [routerLink]="[ '/bus']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="access-gated-community" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/gated-community-hover.png" alt="apartment_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_GATED_COMMUNITY.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_GATED_COMMUNITY.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_GATED_COMMUNITY.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="residency_bg" [routerLink]="[ '/residence']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="access-hotels" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/hotel-hover.png" alt="hotel_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_HOTELS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_HOTELS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_HOTELS.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<div id="access-hospitals" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/hospitals-hover.png" alt="hospital_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_HOSPITALS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_HOSPITALS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.ACCESS_HOSPITALS.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<!-- ///// -->
<div id="loyalty-airlines" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/airlines-hover.png" alt="airlines_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_AIRLINES.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_AIRLINES.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_AIRLINES.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<!-- ///// -->
<div id="loyalty-clubs" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/clubs-hover.png" alt="clubs_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_CLUBS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_CLUBS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_CLUBS.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<!-- ///// -->
<div id="loyalty-restuarent" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/restuarent-hover.png" alt="restuarent_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_RESTUARENT.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_RESTUARENT.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_RESTUARENT.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<!-- ///// -->
<div id="loyalty-petrocards" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/demo/petro-cards-hover.png" alt="petro-cards_icon"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_PETRO_CARDS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_PETRO_CARDS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_icon"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.LANDING_PAGE.SERVICES.CONTENT_TABS.LOYALTY_PETRO_CARDS.DESCRIPTION_PART2}}</p>
        </div>
        <!-- <div class="row">
          <div class="col-md-6 text-center know_more_btn ">
            <button type="button" name="button" class="education_bg" [routerLink]="[ '/education']" id="right-o-close"  showfaqanswer type="right-close">Know More</button>
          </div>
          <div class="col-md-6 text-center contact_btn">
            <button type="button" name="button" [routerLink]="[ '/joinus']" id="right-o-close"  showfaqanswer type="right-close">Contact Us</button>
          </div>
        </div> -->
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- ///// -->
<!-- right nav bar ends -->





<!-- right faq nav bar starts -->

<div id="toll-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img">
    <img class="top-img1" src="assets/images/guest/quick-payment-clicked.png" alt="payment_icon">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(faq.selectedFaqTopic && faq.selectedFaqTopic.description)" >
          <p class="faq_title">{{faq.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of faq.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="silde_img"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->

<!-- Video section popup -->
<div id="videomodal" class="modal" role="dialog" *ngIf="videopopup" style="display: block;closeTimer: 1000;background-color: rgba(0, 0, 0, 0.90);">
<div class="close_button" style="text-align: right;
    position: relative;
    right: 50px;
    top: 21px;">
  <button type="button" class="" data-dismiss="modal" (click)="videopopup = false" style="background: none;border: none;color: rgba(255, 255, 255, 0.72);font-size:22px;">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>
  <div class="modal-dialog" style="width:70%;">
    <!-- Modal content-->
    <div class="modal-content" style="background:none;border:none;">
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" [src]="videopopupSrc" allowfullscreen></iframe>
        </div>
      </div>
      <!-- <div class="modal-footer">
    		<button type="button" class="btn btn-default" data-dismiss="modal" (click)="videopopup = false">Close</button>
    	</div> -->
    </div>

  </div>
</div>

<div class="modal" id="confirmationrechargeModal" role="dialog" *ngIf="showRegisterPopup.show" style="display: block;closeTimer: 1000;background-color: rgba(0, 0, 0, 0.90);">
  <div class="modal-dialog success_modal-dialog">
    <div class="modal-content success_modal-content">
    	<div class="modal-body success_modal-body">
				<img src="assets/images/demo/lc-suc.png" alt="success_icon">
				<div class="success_content">
					<h4>successfully Submitted</h4>
					<p>Your request has been placed. We will get back to you soon.</p>
				</div>
				<button type="button" class="success_done_btn" data-dismiss="modal" (click)="showRegisterPopup.show = false">DONE</button>
    	</div>
    </div>
  </div>
</div>
