.transactions_table {
  height: 105%;
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.14);

  .transactions_table_data {
    padding: 0 !important;

    table{
      tbody {
        tr{
          height: 60px;
          td{
            text-align: center !important;
          }
        }
      }
    }
  }
}

.side_notification_bar {
  top:8%!important;
  padding-top: 0 !important;
  a {
    padding: 0 !important;
    font-size: 16px;
  }
}

@media screen and (max-width: 1367px) {
  .side_notification_bar {
    top:12% !important;
  }
}



.side_notification_header {
  display: flex;
  justify-content: space-between;
}
