.service_register {
  background-color: #e3ecf1 !important;
  .register-type-box {
    height: 71%;
    margin: 0px 50px 15px 150px;
    background: white;
  }
  .register-type {
    padding-top: 110px;
  }
}
.retail-register-branch {
  background-color: #e3ecf1 !important;
}
