.retail_bg {
  background-color: #e6831a !important;
}
.retail_text_color {
  color: #e6831a !important;
}

.retail_border {
  border: solid 1px #e6831a !important;
}

.retail_button_default {
  height: 37px;
  border-radius: 100px;
  border: none;
  background-color: #888f98;
  color: #fff;
  text-align: center;
  width: 230px;
  &:hover {
    background-color: #e6831a;
  }
}

.retail_products_indicators{
  bottom: -13px !important;
  li {
    border: 1px solid #e6831a;
  }
  .active {
    background-color: #e6831a !important;
  }
}

.image_rotate {
  -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

//common styels
.guest__page--retail {
  .cart-count {
    background-color: #e6831a;
  }

  .mer-cust-btn {
    padding-top: 0;
  }
  .login_register_button {
    border: 1px solid #e6831a;
    color:  #e6831a;
    &:hover {
      color: #fff !important;
      background-color: #e6831a;
    }
  }

  .select-input {
    border: 1px solid #e6831a;
  }
  .faq-sub {
    background: #e6831a;
    border: 1px solid #e6831a;
  }

  .retail_slider_content {
    border-bottom: 1px solid #e6831a;
    padding-bottom: 13px;
  }

  .retail_features-slider {
    li {
      border: 1px solid #e6831a !important;
    }
    .active {
      background-color: #e6831a;
      margin-bottom: -17px;
    }
  }
}


.retailmenunav .active .menu-text {
  color: #e6831a !important;
}

.sidebar_corner {
  background-color: #e6831a;
  height: 87px;
  width: 88px;
  border-radius: 50%;
  img {
    position: relative !important;
    top: -1px !important;
    right: -25px !important;
    width: 35px !important;
    margin-top: 26px;
  }
}

.retail_renewal_fields {
  .renewel_input_label {
    border-bottom: 2px solid rgba(230, 131, 26, 0.28);
  }
}


.retail_dropdown_menu {
  a {
    &:hover {
      background-color: #e6831a !important;
    }
  }
}
