.retail-company {
  .menu-bar {
    &.active {
      color:#e6831a !important;
      text-decoration:underline;
    }
  }
}

.retail_company_overview {
  .progress-bar-success {
    background-color: #e6831a !important;
  }
  .toll-company-body {
    .indiv-toll-prog  {
      .carousel-indicators {
        .active {
          background-color: #e6831a !important;
        }
      }
    }
  }
}

.retail__triangle-down-right {
  &:after{
    border-right: 1049px solid #e6831a !important;
  }
}

//messages
.retail_msg_subject {
  border-left: 2px solid #e6831a !important;
}

.retail_timeline {
  .retail_timeline_icon {
    a{
      &:hover,
      &:focus {
        background-color: #e6831a;
        border: 2px solid #e6831a;
      }
    }
  }
}
