.merchant__register_container {
  height: 85%;
  margin: 0px 50px 15px 150px;
  border: none;
  overflow-y: scroll;
  .custom_accordian__heading.collapsed .acc_arrow_top{
    display:block;
  }
  .custom_accordian__heading .acc_arrow_top{
    display:none;
  }

  .custom_accordian__heading.collapsed .acc_arrow_bottom{
    display:none;
  }
  .custom_accordian__heading .acc_arrow_bottom{
    display:block;
  }
  .custom_accordian__heading {
    border-radius: 4px;
    background-color: #f8fafc;
    border: solid 2px #dbe5ea;
    border-style: dashed;
    // border-left: 0;
    // border-right: 0;
    height: 54px;
    font-family: $font-oswald-medium;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #000000;
    //margin-bottom: 5px;
    .custom_accordian__panel-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 6px;
      p {
        margin: 0;
      }
    }
  }
  .merchant__register_pannel-body {

  }
}
.merchant__register_devices_container {
  height: 86%;
  margin: 0px 50px 15px 150px;
  border: none;
}

.dropdown_not_selected {
  font-family: $font-oswald-regular;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #77909d;
  font-size: 17px;
  text-transform: uppercase;
}
.readers_dropdown__selected {
  font-size: 25px;
  color: #000000;
  border: none;
  font-family: $font-oswald-regular;
}

.merchant_branch_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 85px;
  margin-bottom: 15px;
  padding: 10px 46px;
  text-transform: uppercase;
  h4 {
    position: absolute;
    top: 86px;
    left: 175px;
    color: rebeccapurple;
    font-size: 76px;
    opacity: 0.04;
    font-family: $font-oswald-medium;
    font-weight: 900;
    line-height: 1;
    color: #fb7d7e;
  }
  .merchant_branch_header_dropdown {
    width: 48%;
    .settings_operator_dropdown {
      width: 100%;
    }
  }
}
.merchant_header_dropdown {
  padding: 12px;
  border: none;
  text-align: left;
  font-family: $font-OpenSans-Semibold;
  font-size: 18.6px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  p {
    margin: 0;
  }
  i {
    color: #77909d;
  }
}
.add_new_mervhant_branch {
  button {
    border-radius: 100px;
    background-color: rgba(124, 144, 155, 0.33);
    color: $color-white;
    height: 45px;
    width: 250px;
    font-family: $font-oswald-medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
  }
}

.register_devices_contnet {
  background-color: $color-white;
  height: 62%;
  overflow-y: scroll;
  .register_devices_contnet--header {
    background-color: #f0f5f7;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: $font-oswald-bold;
    font-size: 25px;
    letter-spacing: 0.9px;
    color: #000000;
    border: 2px solid #e6eff3;
    border-style: dashed;
    p {
      margin: 0;
    }
  }
}

.register__device_fields_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .register_device_dropdown {
    width: 48%;
    height: 46px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .register_device_dropdown--field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 10px;
      border: 2px solid #d9d9d9;
      p {
        margin: 0;
      }
    }
    .register_device_samnumber {
      width: 80%;
    }
  }
  .register_device_dropdown--select-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    i {
      color: #77909d;
    }
  }
}

.merchant_devices_header {
  background-color: #fff;
  height: auto;
  padding: 20px 31px;
  margin-bottom: 15px;
  .merchant_branch_header_dropdown {
    width: 60%;
    margin-bottom: 10px;
  }
}

.readers_devices_branch_name {
  h4 {
    position: absolute;
    top: 95px;
    left: 175px;
    font-size: 76px;
    opacity: 0.04;
    font-family: $font-oswald-medium;
    font-weight: 900;
    line-height: 1;
    color: #fb7d7e;
  }
  .merchant_branch_header_dropdown,
  .settings_operator_dropdown {
    width: 100%;
  }
}
.readers_devices_tollbooth_list {
  display: flex;
  justify-content: space-between;
  .settings_operator_dropdown {
    width: 100%;
  }
}
.register_devices_contnet--details {
  padding: 10px 30px;
}
.add__sam_button {
  width: 15%;
  border: 2px solid #d9d9d9;
  background: none;
  font-size: 19px;
}

.open .dropdown_customised {
  display: block;
}
