.register_content-section {
    margin: 0px 50px 15px 50px !important;
  .head {
    font-family: $font-Roboto-Regular !important;
    font-size: 45px;
    text-align: center;
    color: #232226;
  }
  .description {
    font-family: $font-Roboto-Regular;
    font-size: 21px;
    text-align: center;
    color: #7d95a1;
  }
}

.register_fields_two_col {
  display: flex;
  justify-content: space-between;

  input {
    border: none;
    background: none;
    font-family: Oswald-Regular;
    font-size: 30px;
    letter-spacing: 0.9px;
    text-align: right;
    color: #000000;
  }
}

.register_fields_labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  object-fit: contain;
  border-radius: 4px;
  border: solid 1px #e6ecef;
  background-color: #ffffff;
  //width: 48%;
  margin-bottom: 9px;
  padding: 8PX;
  &:focus-within {
    border: solid 1px $color-toll;
  }


  .filed_label {
    font-family: Oswald-Regular;
    font-size: 16px;
    color: #77909d;
    margin: 0;
  }
}

.register_form_fields {
  border-top: 1px solid #eff3f5;
  border-bottom: 1px solid #eff3f5;
  padding: 27px 0 20px 0;
}
.register_action_section {
  color: #77909d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eff3f5;
  padding: 20px 0;
  margin-top: 30px;
}
.policy_text {
  font-family: Oswald-Medium;
  font-size: 18px;
  font-weight: 200;
  color: #77909d;
  //margin-left: 25px;

  span{
    font-weight: 500;
    color: #22beb9;
  }
}

.continue_btn {
  button {
    border: none;
    background-color: #22beb9;
    border-radius: 30px;
    width: 328px;
    height: 46px;
    font-family: Oswald-Bold;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  }
}
.fotter_text {
  font-family: Oswald-Light;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  color: #7d95a1;
  margin-top: 15px;
  span {
    color: #22beb9;
  }
}








/*
=====
Animation styles
=====
*/

.button{
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	font-family: inherit;
}

.button_hb{
  text-transform: uppercase;
  border: 2px solid #888f98;
  color: #888f98;
  position: relative;
	overflow: hidden;
	transition: color .5s ease-out;
  font-family: Oswald;
  font-weight: bold;
  letter-spacing: 1.1px;
  padding: 10px 75px;
  font-size: 20px;
  border-radius: 20px;
  &:hover {
    color: #fff;
    border: none;
  }
}


.button_hb:before{
	content: "";
	background-color: #ff5657;
}

.button_hb:focus{
	outline: none;
}

.button_hb .button__icon, .button_hb:not(.button_hidden-text) .button_label{
	position: relative;
	z-index: 2;
}
.button_hover_animation:before{
	width: 0;
	height: 0;
	padding: 50%;
	border-radius: 50%;

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate3d(-50%, -50%, 0) scale(0);
  transition: transform .15s ease-out;
}

.button_hover_animation:hover:before, .button_hover_animation:focus:before{
  transition-duration: .3s;
	transform: translate3d(-50%, -50%, 0) scale(1.5);
}

.accordian-title{
  width: 100%;
  height: 76px;
  text-align: left;
  padding: 28px;
  margin-bottom: 23px;
  background-color: #fff;
  border: 1px solid #c5c5c5;
}

.accordian-expand{
  background-color: #fff;
  margin-top: -22px;
  padding-top: 29px;
  width: 100%;
  margin-bottom: 20px;
}

.error_popup{
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #f7b5b5;
  width: 86%;
  margin-left: 7%;
  border-radius: 10px;
  margin-top: 64px;
  height: 46px;
  align-items: flex-end;
}



// .pull-right:focus-within{
//   background-color: red!important;
// }

// input[type=text]:focus{
//   background-color: green!important;
// }


// register page dropdowns

// .option_select{
//   text-align: right!important;
// }


// .option_dropdown{
//   text-align: right!important;
//   background-color: yellow;
// }
