.register_page_fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
  padding: 13px;
  margin-bottom: 20px;
  background-color: $color-white;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  font-family: $font-oswald-regular;

  label {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #77909d;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
  }

  input {
    border: none;
    font-size: 20px;
    letter-spacing: 0.9px;
    text-align: right;
    width: 50%;
    color: #000000;
  }
}
.list_header {
  text-transform: uppercase;
}
