.branch-help-coantiner {
  padding-top: 49px;
  padding-bottom: 30px;
  background-color: white !important;
  border-radius: 5px;
  margin: 0px 25px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  height: 80vh;
  overflow-y: scroll;
  .help-tab-head {
    flex-direction: column;
    overflow-y: scroll;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 25px;
  }
}
.help_conatiner-footer {
  font-size: 15px;
  color: #293c47;
  font-weight: 300;
  line-height: 1.2;
  font-family: $font-oswald-regular;
  padding: 0px 75px;
  text-align: center;
  p {
    border-bottom: 1px solid #979797;
    border-top: 1px solid #979797;
    padding: 6px 0px;
  }
}



// orders_page

.branch_dash_orders_list {
  height: 100vh;
  .orders_list_header {
    margin: 0;
    padding: 13px 26px;
  }
  .branch_dash_orders_list_table {
    margin: 15px 0;
  }
}

.toll-branch-help-sales {
  position: relative;
  .toll-branch-help-indvl {
    position: absolute;
    top: 62px;
    right: 0;
    left: 0;
    .help-heading-container {
      padding: 20px 25px;
    } 
  }
}
