.company_dashboard__layout {
  position: fixed;
  width: 100%;
  .branch-dashboard {
    height: calc(100% - 85px);
    position: fixed;
    width: 100%;
    .branch-name {
      height: 55px;
      border: solid 2px #22282e;
      padding:10px 0;
      select {
        background: none;
        color: white;
        width: 100%;
        font-family: $font-oswald-regular;
        font-size: 20px;
        border: none;
        vertical-align: middle;
      }
    }
  }
  .sales-db {
    background-color: white !important;
    height: 100%;
  }
  .branch-right-db {
    background-color: #eff3f6;
    height: 100%;
    .sales-tab {
      height: 60px;
      width: 100%;
      z-index: 10;
      position: fixed;
      background-color: #eff3f6;
      border: 1px solid transparent;
      .menu {
        font-family: $font-oswald-regular;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #888f98;
        padding: 15px;
      }
    }
  }
  .branch-side-menu {
    background-color: #313942;
    height: 100%;
    width: 2.66%;
    .menu-list {
      width: 116%;
      margin-left: -8% !important;
      padding-left: 9%;
      padding-top: 5px;
    }
    .left-menu-text {
      font-family: $font-oswald-regular;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #888f98;
    }
    .side-menu-btn {
      border-radius: 28px;
      background: #ff5757;
      border: none;
      color: white;
      padding: 10px 40px 10px 40px;
      margin: 15px 20px;
      font-size: 15px;
      font-weight: bold;
      font-family: Oswald;
      width: 142px !important;
    }
    .menu-list-more-last {
      margin-top: 20px;
    }
    .left-menu-more-text {
      font-family: $font-oswald-regular;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #888f98;
    }
    .copy-right {
      border-top: solid 1px #888f98;
    }
  }

  .operators-db {
    .view-operators {
      .table-cell {
        height: calc(100% - 60px);
        overflow-y: scroll;
        padding: 10px 25px 5px 25px;
        tr {
          height: 75px;
        }
        td {
          vertical-align: middle;
          text-align: center;
        }
      }
      .table-foot {
        bottom: 95px;
        padding: 0px 25px;
        tr {
          height: 70px;
          background-color: #3498cd;
          color: white;
          vertical-align: middle;
        }
        th {
          border: none;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}

.Devices_page_tittle {
  font-family: $font-oswald-medium;
  font-size: 23px !important;
  font-weight: 500;
  text-align: left;
  color: $color-medium-text;
}

.devices_page_table_fotter {
  box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
  tr {
    th {
      border: none !important;
    }
  }
}

.devices_table_header {
  background-color: $color-white;
  border-radius: 8px;
}

.devices_table_container {
  border-radius: 8px
}
#devices_table_branchname {
  text-align: left !important;
  padding-left: 65px !important;
}
.devices_table_container_body{
  font-family: $font-oswald-light;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #4a4a4a;
}
.redirect_arrow {
  margin-left: 25px;
}
.table_fotter_devices {
  box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
  position: relative;
  tr {
    height: 70px;
    background-color: #3498cd !important;
    color: white;
    vertical-align: middle;
  }
  th {
    background-color: #3498cd !important;
    border: none;
    border-bottom: none !important;
    vertical-align: middle;
    text-align: center;
  }
}

.table_fixed_body {
  height: 54vh !important;
}
@media only screen and (min-height: 650px) and (max-height: 750px) {
  .table_fixed_body {
    height: 40vh !important;
  }
}
