.company-doecards {
  //margin-top: -21px;
  .sales-tab {
    background-color: #eff3f6;
    font-family: $font-oswald-regular;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #888f98;
    height: 70px;
    display: flex;
    align-items: center;
    .active {
      color: $color-metro;
    }

  }
  .request-layout_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .add_doe_card{
        label{
          width: 150px !important;
        }
      }
    .request-layout_form_fields {
      display:flex;
      align-items: center;
    }
      .request-layout_fields {
          margin-bottom: 10px;
          label {
            width: 190px;
            font-family: $font-oswald-regular;
            font-size: 23px;
            letter-spacing: 0.8px;
            text-align: left;
            color: #526372;
            opacity: 0.78;
          }
        .doecards_form_fields {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: solid 2px rgba(82, 99, 114, 0.34);
          width: 300px;
          input {
            height: 36px;
            object-fit: contain;
            border-radius: 4px;
            border: none;
            font-family: $font-oswald-regular;
            font-size: 20px;
            line-height: 0.91;
            letter-spacing: normal;
            color: #4a4a4a;
            opacity: 0.78;
            padding: 10px;
          }
          i {
            font-size: 18px;
            color: $color-toll;
          }
          &:hover .tooltiptext {
            visibility: visible;
          }
          .tooltiptext {
            width: 62% !important;
          }
        }

     }
  }
}
.doecards-db {
  .view-doecards {
    padding-top: 59px;
  }
}
.view-doecards__comapny {
  height: 100%;
  background-color: #fff;
}


.doe_table_strcture {
  //font-family: $font-oswald-regular;
  letter-spacing: 0.5px;
  tbody {
    tr {
      height: 47px !important;
    }
    height:638px;
    overflow-y:scroll;
    width: 100%;
    tr:nth-child(odd) {
     background-color: #f9f9f9;
   }
    tr:nth-child(even) {
     background-color: #fbfcfc;
   }
  }

  thead {
    background-color: #526372;
    color: $color-white;
    text-transform: uppercase;
    font-family: $font-OpenSans-Semibold;
  }
  tr {
    height: 65px;
    th,td {
      vertical-align: middle !important;
      text-align: center;
      border: solid 2px rgba(155, 155, 155, 0.22) !important;
      word-break: break-word;
    }
  }
}

.dashboard-request-doecards {
  position: absolute;
  left: auto;
  right: 0;
  left: 0;
  top: 39px;
  height: 100%;
  .request-layout {
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cost_field_input {
    text-align: center;
  }
  .brdr-effct {
    border-bottom: 1px solid;
    margin-bottom: 5px;
    border-image-source: linear-gradient(to right, #ffffff, rgba(0, 0, 0, 0.16) 52%, #ffffff);
    border-image-slice: 1;
  }
  .card-num {
    border: none;
    text-align: right;
    font-family: Oswald;
    font-size: 85px;
    width: 220px;
    font-weight: 300;
    color: #5d6e7d;
  }
  .sup {
    position: relative;
    bottom: 3ex;
    font-family: Oswald;
    font-size: 32px;
    font-weight: 300;
    color: #9b9b9b;
  }
  .cards-quant {
    font-family: $font-oswald-regular;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #9b9b9b;
    margin-bottom: 60px;
  }
  .cards-payment {
    font-family: Oswald;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #78797a;
    margin-bottom: 60px;
    .amt-value {
      color: #2cb673;
    }
  }
  .metro_button_hover {
    .button_hb:before {
      content: "";
      background-color: $color-metro;
    }
  }
}

.branch_doe_cards {
  display: flex !important;
  align-items: center;
  justify-content: space-around;

  td {
    border: none !important;
  }
}

.doecards_dropdown_data_section {
  display: flex;
  width: 300px;
  height: 36px;
  border-radius: 4px;
  border: solid 2px rgba(82, 99, 114, 0.34);
  //margin-bottom: 10px;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  p {
    margin: 0;
  }
  .selected_item_value {
    font-family: $font-oswald-regular;
    font-size: 20px;
    line-height: 0.91;
    letter-spacing: normal;
    color: #4a4a4a;
    opacity: 0.78;
  }
  .drop_down_carrot_symbol {
    img {
      width: 14px;
    }
  }

}
.doecards_dropdown_data_list {
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

// table-fixed
.table_header_fixed,
.fixed_table_body,
.fixed_table_footer {
  table {
    margin: 0 !important
  }
}
.table_header_fixed{
  font-family: $font-OpenSans-Light;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.table__max-height {
  max-height: 53vh !important;
  height: auto !important;
}

.fixed_table_body {
  height: 53vh;
  overflow-y: scroll;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  background-color: $color-white;
  font-family: $font-oswald-regular;
  font-size: 17px;
  line-height: 0.91;
  color: #3a3b3b;
  tr:nth-of-type(odd) {
    background-color: #fafffe;
  }
  td:first-child {
   border-left: none !important;
  }
   td:last-child {
    border-right: none !important;
  }
  .nodata_found_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 32px;
  }
}

.fixed_table_footer {
  table {
    width: 100%;
    .table_fotter {
      background-color: #526372;
      color: #fff;
      .table_fotter_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
        height: 67px;
        .table_fotter_row--data {
          p {
            margin: 0;
            font-family: $font-oswald-medium;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1.5px;
            span {
              font-family: $font-OpenSans-Semibold;
              font-size: 19px;
              font-weight: 500;
              line-height: 1.15;
              letter-spacing: 1.3px;
            }
          }
        }
      }
      .tbale__fotter--pagenation{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 235px;
      }
    }
  }
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 6px !important;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #5c6e7d !important;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.doecards_page_buttons {
  width: 208px;
  height: 38px;
  object-fit: contain;
  border-radius: 100px;
  background-color: $color-toll;
  color: #fff;
  font-family: $font-oswald-regular;
  letter-spacing: 1.1px;
  font-size: 18px;
  border: none;
}

.reports__table_footer {
  table {
    tbody {
      tr:nth-child(odd) {
        background: radial-gradient(circle at 50% 14%, #f5f9ff, #c6d8f4), linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25)), linear-gradient(to bottom, #f5f8ff, #f5f8ff);
      }
      tr:nth-child(even) {
        background-color: #edf9fe;
      }
    }
  }
  .summary_row {
    background: #b4cdd5 !important;
    td {
      text-align: left !important;
    }
  }
  .count_heading {
    opacity: 0.66;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
    background-color: #ffffff !important;
  }
}


// branch doecards
.branch__doecard_conatiner {
  display: flex;

  .branch__doecard_content {
    height: 100vh;
    position: relative;
    width: 100%;
    background-color: $color-white;
  }
}
.branch-inactive-doecards {
  margin: 59px 25px;
}
