.merchant__login_container {
  height: 100%;
  width:100%;
  position: fixed;

  .social-feed{
    position: absolute;
    width: 200px;
    bottom: 80px;
    left: -50px;
    transform: rotate(-90deg);

    display: flex;
    justify-content: space-around;
    .social-feed__followus--text {
      margin-left: -14px;
    }
    .social-feed__icons_share a {
      margin-right: 10px;
      img {
        height: 13px;
      }
    }
  }
  .merchant_watermark_container {
    .water_mark_text {
      opacity: 0.1;
      position: absolute;
      right: 30px;
      font-family: $font-OpenSans-Light;
      font-size: 240px;
      bottom: 33px;
      font-weight: 300;
      line-height: 0.5;
      text-align: center;
      color: #c6c6c6;
    }
  }
}
.merchant__header {
  display: flex;
  justify-content: space-between;
  //padding: 0 10px;
  .merchant__header--logo {
    font-family: $font-OpenSans-Bold;
    font-size: 25px;
    color:$color-white;
    margin-left: 30px;
  }
  .merchant__header--actions {
    width: 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    font-family: $font-OpenSans-Light;
    font-size: 15px;
    .active {
      border-bottom: 3px solid $color-white;
      margin-bottom: -2px;
    }
    .merchant_login_text_action {
      //padding-right: 14px;
    }
  }
}


.merchant_login_linebar {
  padding: 10px 80px;
  img {
    width: 100%;
  }
}
.merchant_subtitle {
  font-family: $font-OpenSans-Light;
  font-size: 21px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #232226;
}
.merchant_login__butoon {
  text-transform: uppercase;
  height: 46px;
}

.merchant__forgot_password {
  margin: 12px;
  color: $color-toll;
  font-size: 18px;
  font-family: $font-OpenSans-Light;
  text-align: center;
  display: flex;
  justify-content: center;

  p{
    &:hover {
      //border-bottom: 1px solid $color-toll;
      text-decoration: underline;
    }
  }
}
