.company_dashboard_messages_page {
  height: 93%;
  position: fixed;
  width: 100%;
  background-color: white;
  display: flex;
  .company_messages_data_list {
    height: 100%;
    .company-messages-list {
      padding: 0;
      height: 76vh;
      overflow-y: scroll;
    }
  }
  .metro_msg_subject {
    border-left: 2px solid $color-metro !important;
  }
  .company-messages {
   box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
    padding: 0;
    margin: 15px;
    height: 82%;
    z-index: 2;
    background: white;
    position: relative;
  }
  .company_messages_data {
    margin-right: 0 !important;
  }
  .company_messages__search {
    margin-left: 0 !important;
    padding: 0 !important;
    margin-right: 38px !important;
    z-index: 1 !important;

  }
}
.company_messages__search_area {
  display: flex;
  align-items: center;
  height: 65px;
  .messages__search_area_input {
    height: 100%;
    background-color: #526372;
    width: 80%;
    input{
      background: none;
      height: 100%;
      border: none;
      color: #fff;
      padding: 15px;
      &::placeholder{
        color: #fff;
        font-family: $font-OpenSans-Light;
      }
    }

  }
  .messages__search_area_image {
    height: 100%;
    background-color: #2bb673;
    width: 20%;
    button {
      background: none;
      border: none;
      text-align: center;
      height: 100%;
      width: 100%;
      color: #fff;
    }
  }
}
.search_messages_section {
  height: 66vh;
  overflow-y: scroll;
  li {
    list-style: none;
  }
}

.searc_no-msgs {
  height: 100%;
  .messages_no_data_found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 200px;
    }
    p {
      font-family: $font-OpenSans-Regular;
      font-size: 19px;
      text-align: center;
      color: $color-light-text;
    }
    span {
      font-family: $font-OpenSans-Semibold;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      color: $color-black;
      i {
        color: $color-toll;
      }
    }
  }
}

// messages__inbox_list styles
.messages__inbox_list {
  font-family: $font-OpenSans-Semibold;
  .userimage{
    opacity: 0.32;
    font-size: 11px;
    font-weight: 600;
    color: #4d4651;
  }
  .messages__inbox_list--description {
    opacity: 0.54;
    font-size: 14px !important;
    line-height: 1.5;
    color: #3d3d4f;
  }
  .messages__inbox_list--footer{
    .messages_username,
    .messages_time {
      opacity: 0.32;
      font-size: 11px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      color: #4d4651;
    }
  }
}

// messages__view_section
.messages__view_description {
  p {
    font-family: $font-OpenSans-Semibold;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    color: #4d4651;;
  }
}
.company_notices_message_description {
  padding: 0 2px;
}

// messages_list
.company-messages-list__header {
  height: 50px;
  background-color: #ffffff;
  box-shadow: -8px 0 20px 0 rgba(4, 11, 35, 0.08);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: $font-OpenSans-Bold;
  font-size: 15px;
  line-height: 1.67;
  color: #3d3d4f;
  p {
    margin-left: 20px;
    margin-bottom: 0;
  }
}
.messages_left_pane{
  border-bottom: 1px solid #e1e6edfa;
}
.messages_left_pane__card {
  display: flex;
  background: linear-gradient(to right, #ffffff, #f7f9fc);
  padding: 10px;
  height: 100px;
  .left_pane_msg_content {
    margin-left: 10px;
    width: 84%;
    .left_pane_msg_content--user-details {
      display: flex;
      justify-content: space-between;
      font-family: $font-OpenSans-Semibold;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.67;
      color: $color-light-text;
    }
    .left_pane_msg_subject--description {
      font-family: $font-OpenSans-Semibold;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: $color-medium-text;
      margin: 0;
    }
    .left_pane_msg_subject--body {
      width: 277px;
      margin: 0;
      font-family: $font-OpenSans-Semibold;
      font-size: 11px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: $color-medium-text;
      display: -webkit-box;
      max-width: 277px;
      height: 38px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.625;
    }
  }
  &:hover{
    border-left: 4px solid #2bb673;
    box-shadow: -21px 0 16px 0 rgba(0, 0, 0, 0.06);
    background: #ffffff !important;
    position: relative;
    z-index: 1;
  }
}
.message__active {
  border-left: 4px solid #2bb673;
  box-shadow: -21px 0 16px 0 rgba(0, 0, 0, 0.06);
  background: #ffffff !important;
  position: relative;
  z-index: 1;
}

.search_msgs_active {
  box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.08), inset 1px 0 0 0 #ececec;
  border-left: 4px solid #2bb673;
  background-color: rgba(239, 243, 246, 0.61);
}
// message search card section
.search_msgs_container__card {
  border-bottom: 1px solid #ececec;
  padding: 28px;
  &:hover{
    box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.08), inset 1px 0 0 0 #ececec;
    border-left: 4px solid #2bb673;
    background-color: rgba(239, 243, 246, 0.61);
  }
  .search_msgs_subject {
    font-family: $font-OpenSans-Bold;
    font-size: 13px;
    line-height: 1.71;
    color: $color-medium-text;
    margin-bottom: 10px;
    p {
      margin: 0;
    }
  }
  .serach_msgs_user_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
    }

    .serach_msgs_user_details--image {
      display: flex;
      align-items: center;
      .card__content__thumbnail,
      .card__content__thumbnail__image {
        width: 27px !important;
        height: 27px !important;
      }
      p {
        margin-bottom: 0;
        margin-left: 10px;
        font-family: $font-OpenSans-Semibold;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.67;
        color: $color-light-text;
      }
    }
    .user_details_time {
      margin: 0;
      font-family: $font-OpenSans-Semibold;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.67;
      color: $color-light-text;
    }
  }
}
