.operators-db {
  .branch_view-operators {
    padding-top: 61px;
    background: $color-white;
    height: 95vh;
  }
}

.operators_table_data {
  font-family: $font-OpenSans-Semibold;
  font-size: 18px;
  margin: 0 27px;
  background-color: $color-white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  table {
    margin-bottom: 0;
    tr {
      height: 50px;
    }
    th {
      vertical-align: middle !important;
      text-align: center;
    }
  }
  .operators_table_body {
    height: 50vh;
    overflow-y: scroll;
    table {
      tbody{
        tr {
          height: 55px;
          td {
            vertical-align: middle !important;
            text-align: center;
          }
        }
        tr:nth-of-type(odd) {
          background-color: rgba(219,219,219,0.2);
        }
        tr:nth-of-type(even) {
          background-color: #fafffe;
        }

      }
    }
  }
  .operators_table_footer {
    background-color: #5c6e7d;
    color: #fff;
    height: 64px;
    .table_fotter {
      tr {
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        td {
          border-top: 0;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 235px;
        }
      }
    }
  }
}

.operatordetails__view_tabpane {
  display: flex;
  justify-content: space-between;
  .tab_operator_details_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 72%;
  }
  .tab_operator_user_image {
    width: 24%;
    .operator_user_iamge_upload {
      height: 207px;
      border: 1px solid #dfdfdf;
      margin-bottom: 15px;
      .upload_profile_pic_data {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        i {
          transform: rotate(-90deg);
          font-size: 29px;
        }
        p {
          font-family: $font-OpenSans-Semibold;
          font-size: 16px;
          letter-spacing: 0.5px;
          color: $color-light-text;
          margin-top: 10px;
        }
      }
      .upload_profile_pic_data__hover{
          display: none;
        }
    }
    .tab_operator_details_button {
      button {
        width: 100%;
        background: #ffffff;
        height: 51px;
        background: #2bb673;
        color: #fff;
        border: none;
        border-radius: 100px;

        &:hover {
          background: #2bb673;
          color: #fff;
        }
      }
    }
  }

  .tab_operator_user_image:hover .upload_profile_pic_data__hover{
    position: absolute;
    display: block;
    top: 19%;
    width: 22.6%;
    text-align: center;
    left: 75%;
    background-color: #737373a8;
    right: 0;
    height: 53%;
    i{
      transform: rotate(-90deg);
      font-size: 25px;
      display: flex;
    }
}
}

.input_field_label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  margin-bottom: 17px;
  width: 332px;
  height: 55px;
  object-fit: contain;
  border: solid 1px #e0e0e0;

  &:visited {
    border: 1px solid black;
  }

  input {
    border: none;
    text-align: right;
    width: 248px;
  }
}
.operator_acess {
  color: #337ab7;
  cursor: pointer;
}
.view-operators {
  .table-head {
    table {
      box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.14);
    }
    tr {
      height: 70px;
      background-color: white;
    }
    th {
      vertical-align: middle;
      text-align: center;
    }
  }
  .invisible {
    tr {
      height: 60px !important;
    }
  }
  .table-striped{
    tbody{
      tr:nth-of-type(odd) {
        background-color: #f9f9f9;
      }
    }
  }
}
.tab_operator_details{
  .input_field_label {
    font-family: $font-OpenSans-Regular;
    span {
      font-size: 14px;
      letter-spacing: 0.5px;
      text-align: left;
      color: #8c909d;
    }
    input {
      font-size: 20px;
      color: #000000;
    }
  }
}

// Add operators page css
.operators__Add {
  margin-top: 60px !important;
  height: 72vh;
  overflow-y:scroll;
}
.add_operators {
  padding-top: 61px;
  background: $color-white;
  height: 90vh;
}
.branch_add_operatrs__header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 35px;
  .operator_details_header {
    width: 70%;
    h3 {
      font-family: $font-oswald-medium;
      font-size: 18px;
      font-weight: 500;
      color: $color-medium-text;
      margin-top: 0;
    }
    p {
      font-family: $font-oswald-light;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      color: $color-light-text;
      -webkit-text-stroke: 1px #979797;
    }
  }
}
.branch_add_operatrs__conatiner {
  margin:0 20px;
  padding: 15px 0px;
  border-radius: 6px;
  background-color: $color-white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  height: 66vh;
  overflow-y: scroll;
}
.branch_add_operatrs__form-fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 18px 35px;
}
.add_operatrs__bank-form-fields {
  background-color: #f8fafc;
  padding: 0 35px;
  border: 2px solid #dbe5ea;
  border-style: dashed;
  border-left: 0;
  border-right: 0;
}
