.branch-help-indvl {
  padding: 75px 75px 50px 75px;
  overflow: auto;
  height: 100%;
  margin: 10px;
  max-height: 95%;
}

.branch-privacy-policy {
  padding: 100px 60px 35px 100px;
  height: 100%;
  background-color: white;
  text-align: left;
}
.dash_orders_list {
  background-color:#eff3f6;
  height:100%;
  //padding:30px;
}

//branch menu list dropdown
.branch__side_nav_dropdown {
  .dropdown_customised {
    p {
      color: #fff !important;
    }
  }
  .branch__dropdown_menu_list {
    height: 300px;
    overflow-y: scroll;
    background-color: #232930;
    color: #fff;
    p {
      &:hover {
        background-color: $color-toll;
      }
    }
  }
}
.branch__dropdown_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 21px;
  padding: 0 10px;
  .drop_down_carrot_symbol {
    img {
      width: 20px;
    }
  }
}

.operator_page-dropdown_field {
  border: 2px solid #9e9e9e;
}
.operator_adharfiled {
  display: flex;
  align-items: center;
  padding: 0 !important;
  button {
    height: 39px;
    margin-left: 10px;
    background-color: $color-toll;
    border-radius: 30px;
    border: none;
    color: #fff;
  }
}
.other_page_settings_deatils {
  height: 100%;
  display: flex;
  align-items: center;
  .settings-account__company_details {
    display: flex;
    align-items: center;
  }
}

.pending_actions_table_body,
.pending_actions_table_body {
  td {
    text-align: center;
  }
}
.pendingactions_container {
  height: 88vh;
}
.pending_actions_no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .pending_actions_no_data_found {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .success_color_green {
      color: #2bb673 !important;
    }
    img {
      width: 250px;
    }
    span {
      color: $color-medium-text;
      font-family: $font-oswald-bold;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.wrapper_order_list--popup {
  margin: 0 auto !important;
  height: 100% !important;
  width: 1080px !important;
}
.order_popup_scroll {
  height: 97%;
  overflow-y: scroll;
  padding: 20px 40px;
  font-family: $font-OpenSans-Semibold;
}
.cancel_order_disabled {
  color: #dddddd !important;
}
.pop_up_close_outside--orders {
  margin: 0 47px !important;
}


#otherdetails_date_picker_customized {
  .dropdown-menu {
    left: 52% !important;
  }
}

.company_branch_side_menu_list {
  .active{
    background-color: #5d6e7d;
    p {
     color: #fff !important;
    }
  }

}


// common table css
.stats_table {
  .table-fixed{
    width: 100%;
    background-color: #f3f3f3;
    tbody {
      height:638px;
      overflow-y:auto;
      width: 100%;
      td{
        float:left;
      }
      tr:nth-child(odd) {
       background-color: #f9f9f9;
     }
      tr:nth-child(even) {
       background-color: #fbfcfc;
     }
    }
    thead,tbody,tr,td,th{
      display:block;
    }
    tbody>tr>td {
      padding: 12px !important;
    }
    thead {
      background-color: #ffffff;
      //height: 72px;
      font-family: $font-oswald-medium;
      font-size: 17px;
      font-weight: 500;
      color: $color-light-text;
      tr{
        th{
          float:left;
          border-bottom: 2px solid #ddd;
          text-align: center;
          padding: 20px !important;
          height: 60px;
        }
      }
    }
  }
}


// notices pagae
.company_notices_data {
  box-shadow: 0px -1px 20px 9px rgba(0, 0, 0, 0.14);
  margin: 15px;
  height: 82%;
  z-index: 2;
  background: white;
  position: relative;
  width: 100%;
}

//Fee structure

.Mask {
  width: 100%;
  height: 68vh;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


// Dashboard Branch Page CSS
.dash_branch_table_header {
  background-color: #fff;
  border-radius: 8px;
}


.HighWayType__selection_buttons {
  width: 55%;
  display: flex;
  justify-content: space-between;
  label {
    font-family: $font-oswald-medium;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #000000;
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 22px;
      height: 22px;
      border: 2px solid $color-toll;
      border-radius: 100%;
      background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 14px;
      height: 14px;
      background: $color-toll;
      position: absolute;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}

.HighWayType__selection_buttons.parent_bank_account{
  margin: 15px 35px;
}


// orderDetail page
.order_popup_scroll {
  .order_details_view_page {
    .order_numbers {
      p {
        font-size: 22px;
      }
      span {
        font-size: 16px;
        color: $color-light-text;
        opacity: 1;
      }
    }
  }
}



// common input fields
.common__input_fields {

}
.common__form-fields{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 17px;
}
.common__input_fields,
.common__input_fields--upload {
  width: 48%;
}
.common__input_fields.upload_cheque{
  display:flex;
  width:100%;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  p{
    margin:0px;
    color: #77909d;
  }
  .uplaod__icon_text {
    transform: rotate(-90deg);
    font-size: 20px;
  }
}

.common__input_fields{
  position: relative;
  font-family: $font-oswald-regular;
  margin-bottom: 8px;
  border-radius: 4px;
  border: solid 2px rgba(74, 74, 74, 0.26);
  height: 55px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: $color-white;

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label{
    top: 4px;
    bottom: 10px;
    left: 9px;
    font-size: 11px;
    opacity: 1;
  }

  .inputText {
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: right;
    color: #000000;
    border: none;
  }
  .error_info_highlight {
    font-size: 20px;
    color: $color-toll
  }

  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 14px;
    transition: 0.2s ease all;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #77909d;
  }
  &:hover .tooltiptext {
    visibility: visible;
  }
}

.common__input_fields--upload {
  display: flex;
  justify-content: space-between;

  .upload__documents_input {
    width: 80% !important;
  }
  .settings_uplaod__icon {
    width: 15%;
    height: 55px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #e6ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .uplaod__icon_text {
      transform: rotate(-90deg);
      font-size: 22px;
    }
    span {
      font-size: 11px;
      color: #000;
      font-family: $font-oswald-regular;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.16);
    }
  }
  .settings_uplaod__icon--bgimage {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.settings_action_button {
  text-align: center;
  button {
    width: 211px;
    height: 42px;
    border-radius: 100px;
    background-color: $color-toll;
    opacity: 0.8;
    font-family: $font-oswald-medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $color-white;
  }
}
.input_fields--width-100 {
  width: 100% !important;
}
.common_verify_button {
  background-color: #ced4d8;
  button {
    background: none;
    border: none;
    color: #000;
    font-family: $font-oswald-bold;
  }
}

.common_add_contact_button {
  width: 251px;
  height: 45px;
  margin: 10px;
  border-radius: 100px;
  background-color: #ced4d8;
  border: none;
  font-family: $font-oswald-medium;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  color: #526372;
  text-transform: uppercase;
}
