.compnay_overview_page_body {
  padding: 34px 40px;
  display: flex;
  justify-content: space-between;
}
.toll_dashboard_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 58px;
  }
}
.modal__content_add_branch_popup {
  height: 95%;
  //padding: 10px;
}
.toll-name {
  font-family: $font-oswald-medium;
  font-size: 16px;
}
.deatils--description {
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.add_branch_operator_details {
  height: 82vh;
  overflow-y: scroll;
  .add_branch_operator_details--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.accnt_settings_form__uploads {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .form__uploads--label {
    width: 79%;
  }
  .form__uploads--image {
    margin-bottom: 0 !important;
    height: 40px !important;
  }
}

.popup-upload__images {
  background-size: 100%;
  height: 40px;
  border: 2px solid #9e9e9e;
}

.formfield_with_image {
  border: 2px solid #9e9e9e;
  display: flex;
  input {
    border: none;
  }
}
.accnt_settings_form--label {
  .date_picker_customized {
    input {
      width: 100% !important;
    }
  }
}
.settings_form_conatiner {
  padding: 0 !important;
}

.overview_count_messages {
  .overview_count_messages_number {
    position: relative;
    left: 36px;
    top: 23px;
    background-color: #2bb673;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    color: #fff;
  }
}
.overview_count_title_text {
  margin-top: 37px;
  font-family: $font-oswald-medium;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #42444d;
}

.pending-actions,
.messages {
  display: flex;
  align-items: center;
}
.pend-act-img_temp {
  width: 60px;
}
.overview_stats_card {
  height: 483px;
  overflow-y: scroll;
  margin-top: 20px !important;
}
.overview_scroll__avatr{
  width: 30px;
  height: 30px;
  background: #f4f4f4;
  border-radius: 50%;
  box-shadow: 5px 2px 8px 1px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
}
.company_notice {
  background-color: #313942 !important;
  //z-index: 9;
  position: relative;
  font-family: $font-OpenSans-Regular;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
  .click-here {
    color: #4a90e2;
    text-decoration: underline;
  }
  p {
    margin: 0;
    padding: 0 54px;
    .notice_alert__icon {
      color: #f8e71c;
    }
  }
}

.overview__left_section {
  width: 28%;
  height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.welcome_text_profilepic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}
.overview__card {
  height: auto;
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.16), 0 0 20px 0 rgba(0, 0, 0, 0.04);
  padding: 2px 13px;
  .overview__card--content {
    display: flex;
    align-items: center;
    padding: 10px;
    img {
      height: 28px;
    }
    p {
      margin: 0;
      font-family: $font-oswald-medium;
      font-size: 22px;
      font-weight: 500;
      text-align: left;
      color: $color-light-text;
      margin-left: 17px;
    }
  }
}
.small_card {
  width: 74%;
  margin: 34px 0;
}


.rupee_symbol_font {
  font-family: monospace;
}
.branchlist_table {
  font-size: 18px;
  font-family: $font-OpenSans-Semibold;
}

.overview__branches_scroll {
  height: 184px;
  width: 100%;
  .overview__branches_scroll--items {
    padding: 0 !important;
    .overview__branches_scroll--list {
      display: flex;
      .overview__branches_scroll--avtar {
        padding: 0 !important;
      }
    }
  }
}

.overview__right_section {
  width: 70%;
  height: 67vh;
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.16), 0 0 20px 0 rgba(0, 0, 0, 0.04);
}
.overview__right_section_cards {
  height: 221px;
}
.right_section_cards {
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  height: 100%;
  .right_section_cards--head {
    border-right: 1px solid #d8d8d8;
    width: 34%;
    text-align: center;
    h3 {
      font-family: $font-oswald-medium;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 1px;
      color: #090909;
      border-bottom: 1px solid #d8d8d8;
      margin: 0;
      padding: 10px;
      text-transform: uppercase;
    }
    .trnctns {
      font-family: $font-OpenSans-Regular;
      font-size: 43px;
      text-align: center;
      color: $color-toll;
    }
    .trnctns-val-txt{
      font-family: $font-oswald-medium;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      color: $color-light-text;
    }
    .trnctns-val{
      font-family: $font-OpenSans-Regular;
      font-size: 20px;
      text-align: center;
      color: $color-medium-text;
    }

  }
  .right_section_cards--transctions {
    .transactions_card {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 79%;
      .transactions_card_value,
      .transactions_card_AVG_value {
        padding: 11px;
      }
      .transactions_card_value {
        display: flex;
      }
    }
  }
  .right_section_cards--stats {
    font-family: $font-oswald-regular;
    .stats_card_section {
      height: 79%;
    }
    .stats__card_rate {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 12px 5px 12px;
      .stats__card_rate--text {
        font-size: 14px;
        letter-spacing: 1px;
        color: $color-medium-text;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
      }
    }
    .stats__card_earnings {
      text-align: left;
      color: #37394c;
      .earnings {
        font-family: $font-oswald-medium;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: $color-light-text;
      }
      .earn-value {
        font-size: 20px;
        font-family: $font-OpenSans-Regular;
        text-align: center;
        color: $color-medium-text;
      }
      .stats__card_earnings_route {
        display: flex;
        justify-content: center;
        align-items: baseline;
        .trans-arrow {
          margin-left:13px;
          color: $color-toll;
          font-size: 20px;
        }
      }
    }
  }
  .right_section_cards--issues {
    .readerissues--card {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 79%;
      font-family: $font-oswald-regular;
      font-size: 18px;
      font-weight: 600;;
      text-align: center;
      color: $color-light-text;
    }
  }
}

.overview__right_section_graphs {
  display: flex;
  height: 48%;
  justify-content: space-between;
  align-items: center;
  .charts_divider_line {
    width: 2px;
    border-left: 1px solid #d8d8d8;
    opacity: 0.89;
    /* background-color: #d8d8d8; */
    height: 77%;
  }
  .weekly__chart_graphs,
  .tollbooth_chart_graphs {
    width: 48%;
    height: 95%;
    padding: 5px 26px;
    .chart_graphs_view {
      height: 85%;
    }
    canvas {
      height: 97% !important;
      width: 100% !important;
    }
    p {
      font-family: $font-oswald-bold;
      font-size: 20px;
      font-weight: 600;
      text-align: left;
      color: $color-light-text;
    }
  }
}

.no_data_found{
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 32%;
  }
  p {
    color: $color-light-text;
    font-family: $font-oswald-regular !important;
    font-size: 24px !important;
  }
  span {
    color: $color-medium-text;
    font-family: $font-oswald-bold;
    font-size: 18px;
    font-weight: 600;
  }
  i {
    color:$color-toll !important;
    margin: 5px;
  }
}

.chart_graphs_headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .chart_graphs_headings__colors {
    display: flex;
    .graph_color_indicators {
      display: flex;
      margin-right: 10px;
      .sales_label {
        background: #fc76ff;
        background: -webkit-linear-gradient(left, #fc76ff, #33a9f4);
        background: -moz-linear-gradient(left, #fc76ff, #33a9f4);
        background: -ms-linear-gradient(left, #fc76ff, #33a9f4);
        background: -o-linear-gradient(left, #fc76ff, #33a9f4);
        background: linear-gradient(to bottom, #fc76ff, #33a9f4);
      }
      .recharge_label {
        background: #ffbb41;
        background: -webkit-linear-gradient(left, #ffbb41, #fa3835);
        background: -moz-linear-gradient(left, #ffbb41, #fa3835);
        background: -ms-linear-gradient(left, #ffbb41, #fa3835);
        background: -o-linear-gradient(left, #ffbb41, #fa3835);
        background: linear-gradient(to bottom, #ffbb41, #fa3835);
      }
    }
    label {
      width: 15px;
      height: 15px;
      border: 1px solid #d8d8d8;
    }
    p {
      margin: 0;
      font-size: 13px;
      font-family: $font-OpenSans-Bold;
      color: #000 !important;
    }
  }
}

.powredby__text {
  position: relative;
  top: 74%;
  right: 0;
  left: -5%;
  color: $color-white;
  opacity: 0.9;
  font-family: $font-OpenSans-Semibold;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-align: right;
  span {
    /* text-decoration: underline; */
    font-family: $font-OpenSans-Bold;
  }
}

.carousel__items {
  height: 97px;
}
@media only screen and (min-height: 650px) and (max-height: 750px) {
  .triangle-down-right {
    &:after {
      margin-top: 46px;
      border-right: 953px solid #fc6465;
    }
  }
}


// usermenu css
.User_menu_container {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 999;
  height: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;

}
.usermenu_bg {
  position: relative;
  right: auto !important;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  z-index: 1;
  height: 0;
}



// header bar csss
.company_dashboard__userdtails {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .company_dashboard__userdtails__name {
    margin: 0 10px;
    p {
      margin: 0;
    }
  }
}

.dashboard__menu--list {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
}
.dashboard_menu--titles {
  p {
    position: relative;
  }
  .active  {
    text-decoration: none !important;
    &::after {
      border-bottom: 2px solid $color-toll;
      bottom: -3px;
      content: " ";
      left: 0;
      position: absolute;
      width: 15px;
    }
  }
}

.userdetails__blackbg {
  background-color: #313942;
  color: #fff;
  height: auto;
  position: absolute;
  right: 0;
  //left: 184px;
  z-index: 999;
  top: -1px;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-radius: 8px;
  background-color: #313942;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.13);
  .menu_nav_list {
    padding-top: 15px;
  }
  .userdetails__blackbg_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    padding: 6px 10px;
    padding-left: 21px;
    .userdetails__blackbg_name {
      display: flex;
      align-items: center;
      .card__content__thumbnail,
      .card__content__thumbnail__image {
        height: 25px;
        width: 25px;
        border-radius: 50%;
      }
      .card__content__thumbnail__image {
        //background-size: 78%;
      }
      .company_dashboard__userdtails__name {
        p {
          margin: 5px 8px;
          color: $color-white;
          font-family: $font-OpenSans-Bold;
          font-size: 14px;
          line-height: 1.25;
          text-align: left;
        }
      }
    }
  }
  .menu_nav_list {
    .menu_nav_list_item {
      display: flex;
      align-items: center;
      color: $color-white;
      font-size: 16px;
      font-family: $font-oswald-regular;
      letter-spacing: 1px;
      padding: 10px;
      padding-left: 21px;
      &:hover {
        background-color: $color-toll;
      }
      p {
        margin: 0 15px;
        text-align: left;
      }
      .menu_nav_list_item--img {
        width: 26px;
        height: 26px;
        text-align: center;
        img {
          height: 15px;
        }
      }

    }
  }
}

.menu_overlay_background {
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  z-index: 3;
  width: 100%;
  top: 0;
}

.date_form_fields--customized {
  width: 100%;
  border: none;
  input {
    text-align: right;
  }
}
#add-branch-from-date,
#add-branch-to-date {
  .dropdown-menu {
    left: 61% !important;
  }

}
