.branch_header {
  display: flex;
}
.small-card-sub-text-value {
  font-size: 23px !important;
}
.branch_header_menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  .branch_header_menu--list {
    width: 25%;
  }
  .branch_header_menu_user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 20%;
    .company_dashboard__userdtails__name {
      .cmpny-name {
        margin: 0 10px;
      }
    }
  }
}
.header-menu_branch-name {
  font-family: $font-oswald-medium;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: normal;
  text-align: center;
  color: #616161;
  margin: 0;
  text-transform: uppercase;
}
.branch_notifications {
  padding: 23px 50px 0px 20px;
  position: relative;
  span{
    position: absolute;
    left: 32px;
    width: 20px !important;
    height: 20px !important;
    top: 23px;
    //z-index: 1;
  }
  img {
    width: 30px;
  }
}
// side_nav_container
.dashboard_side_nav_container {
  .menu-list-active{
    .side_nav_container--sel_img{
      display : block !important;
    }
    .side_nav_container--list_img {
      display: none !important;
    }
  }
  .side_nav_container--list {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 45px;
    margin-bottom: 8px;

    .side_nav_list_icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      .side_nav_container--list_img {
          display: block;
      }
      .side_nav_container--sel_img{
        display : none;
      }
    }

    .side_nav_container--list_text {
      margin: 0;
      margin-left: 13px;
      font-family: $font-oswald-regular;
      font-size: 18px;
      font-weight: 500;
      color: #888f98;
      text-transform: uppercase;
    }
  }




  .side_nav_send_report_button {
    button{
      border-radius: 28px;
      background: #ff5757;
      border: none;
      color: white;
      padding: 10px 40px 10px 40px;
      margin: 15px 20px;
      font-size: 15px;
      font-family: $font-oswald-medium;
      width: 162px;
    }
  }
}

.dashboard_side_nav_container_toggle {
  .side_nav_container--list {
    height: 29px !important;
    padding-top: 0 !important;
  }
  .side_nav_container--list_text {
    font-family: $font-oswald-regular;
    font-size: 12px !important;
    font-weight: 500;
    color: #888f98;
  }
}
.branch__dashboard__overview {
  background-color: #eff3f6;
  height: 100%;
  .graph {
    padding: 10px 60px 10px 45px;
    margin-left: -15px;
    .card-block {
      padding: 40px 30px 30px 40px;
    }
  }
  .stats {
    padding: 10px 45px 30px 30px;
  }
  .card {
    height: 250px;
    .small-card-value {
      font-family: Oswald;
      font-size: 50px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $color-metro;
    }
    .small-card-title {
      opacity: 0.5;
      font-family: $font-oswald-regular;
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      border-bottom: 1px solid #d8d8d8;
      padding: 10px;
    }
    .small-card-text {
      opacity: 0.3;
      font-family: Oswald-Regular;
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    .card-sales-value-container {
      display: flex;
      justify-content: center;
      .card-sales-value {
        margin-top: 24px;
        text-align: center;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: 3px solid #cecece;
      }
    }
  }
  .notice {
    height: 60px;
    background-color: #9E9E9E;
    .notice-btn {
      color: white;
      border: none;
      background-color: #313942;
      padding: 10px 20px 10px 20px;
      margin-top: 15px;
      border-radius: 5px;
      font-size: 10px;
    }
    .notice-msg {
      padding: 20px;
      font-family: Oswald;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }

  .branch-db-menu {
    padding: 15px 60px 0px 45px;
  }

  .branch-db-menu {
    .btn-group {
      border-radius: 40%;
      background-color: #f5f9fa;
      color: #d8d8d8;
    }
    .day-btn {
      background-color: #f5f9fa;
      border-top-left-radius: 40%;
      border-bottom-left-radius: 40%;
      color: #d8d8d8;
      border: none;
    }
    .week-btn {
      background-color: #f5f9fa;
      color: #d8d8d8;
      border: none;
    }
    .month-btn {
      background-color: #f5f9fa;
      color: #d8d8d8;
      border: none;
      border-bottom-right-radius: 148px;
      border-top-right-radius: 148px;
    }
  }

}

.branch_navbar {
  margin-bottom: 0px !important;
}
.branch_overview_header {
  display: flex;
  align-items: center;
  padding: 10px 60px 10px 45px !important;
  border: solid 1px #eeeeee;
}

.get-access-button {
    left: 36%;
    background: #2bb673;
    border-radius: 30px;
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    position: absolute;
    top: 43%;
    color: white;
}

.get-access-button-disble {
    left: 36%;
    background: #979898;
    border-radius: 30px;
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    position: absolute;
    top: 43%;
    color: white;
}

.get-access-button:hover{
  background: #1e8d57 !important;
}

.notifictaion__more_button {
  text-align: center;
  margin: 10px;
  button {
    border-radius: 28px;
    background: #ff5757;
    border: none;
    color: white;
    padding: 10px 40px 10px 40px;
    //margin: 15px 20px;
    font-size: 15px;
    font-family: $font-oswald-medium;
    width: 110px;
  }
}
