.devices_page_content_section {
  margin-top: 61px;
  width: 100%;
}
.devices_page_container {
  display: flex;
  height: 95vh !important;
  .branch-view__devices {
    //padding-top: 60px;
    padding-bottom: 30px;
    margin: 0 25px;
    background-color: white !important;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
    height: 71vh;
    overflow-y: scroll;
    .view__devices--cards-layout {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      .cards_layout_booth_cards {
        width: 33%;
        padding: 0;
      }
    }
    .cards-layout {
      padding: 20px 10px;
    }
    .card {
      margin: 15px 5px;
      height: 225px;
      background-color: #eff3f6 !important;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
      .card-title {
        padding: 10px 0px 10px 0px !important;
      }
      .reader-head {
        height: 150px;
        padding: 0px 30px;
        .card-title-blck {
          padding-left: 0px;
          .reader_edit_actions {
            color: #4a4a4a;
            i {
              margin-left: 8px;
            }
          }
        }
        .reader-info {
          border-bottom: solid 1px #969696;
          padding-bottom: 3px;
          padding-top: 3px;
          padding-left: 0px;
          padding-right: 0px;
          font-size: 14px;
          font-family: $font-OpenSans-Semibold;
          color: $color-light-text;
          .reader-info__name {}
          .reader-info__status {
            color: #2bb673;
          }
          .reader-info__count {
            color: #4a4a4a;
          }
        }
      }
      .reader-foot {
        height: 75px;
        background-color: #313942 !important;
        color: #ffffff;
        font-family: $font-OpenSans-Light;
        padding: 15px;
        font-size: 14px;
        letter-spacing: 0.3px;
        .m-b-10 {
          margin-bottom: 10px;
        }
        .reader-foot_status {
          color: #2bb673;
        }
      }
    }
  }
}
.readers_repairs_picture-upload {
  width: 100%;
  height: 120px;
  border: solid 2px #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}
