.dashboard__company-body {
  position: absolute;
  z-index: 1;
  padding-top: 20px;
  width: 100%;
  .card__content__thumbnail {
    border-radius: 50%;
    border: 1px solid #dedede;
    cursor: pointer;
  }
  .card__content__thumbnail,
  .card__content__thumbnail__image {
    height: 125px !important;
    width: 125px !important;
  }
  .welcome {
    opacity: 0.3;
    font-family: $font-oswald-medium;
    font-size: 58px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    text-align: left;
    margin: 0px;
  }
  .today-date {
    opacity: 0.5;
    text-align: left !important;
    font-family: $font-oswald-regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.0;
    letter-spacing: normal;
    text-align: center;
    color: #37394c;
  }

  .notification {
    .pend-act-img,
    .msg-img {
      width: 60px;
    }
    .not-num {
      position: absolute;
      right: 5px;
      top: -5px;
      border: 5px solid #2bb673;
      background: #2bb673;
      -webkit-box-shadow: 0 0 0 2px white;
      box-shadow: 0 0 0 2px white;
      color: white;
      font-size: 12px;
      border-radius: 50%;
    }
  }
  .indiv-section-prog {
    padding-top: 60px;
    .dash_avatar {
      width: 30px;
    }
    .progress {
      height: 5px !important;
      margin-top: 5px !important;
    }
    .carousel-indicators {
      li {
        background-color: #dedede !important;
        border: none !important;
        margin: 2px !important;
      }
    }
  }

   .branch-trnctns,
   .reader-issues,
   .stats {
     .card-title {
       border-bottom: 1px solid #d8d8d8;
      }
   }

   .branch-trnctns {
     font-family: $font-oswald-regular;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     .trnctns {
        text-align: center;
        font-size: 55px;
        color: #ff5757;
      }
     .trnctns-val-txt {
        text-align: center;
        opacity: 0.3;
        font-size: 17px;
        font-weight: 500;
        color: #000000;
      }
      .trnctns-val {
         text-align: center;
         opacity: 0.5;
         font-size: 20px;
         color: #000000;
       }
   }

    .reader-issues {
      .reader-issues-txt {
        opacity: 0.3;
        font-family: Oswald-Regular;
        font-size: 15px;
        padding: 50px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
      }
    }
    .middle-card {
      border-bottom: 1px solid #d8d8d8;
    }
    .stats {
      font-family: $font-oswald-regular;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      .percent {
        font-size: 20px;
        margin: 0px;
        letter-spacing: normal;
        padding: 12px 0px 0px 0px;
        color: #37394c;
      }
      .rate-txt {
        font-size: 10px;
        letter-spacing: 1px;
        color: #999999;
      }
      .earnings {
        font-size: 10px;
        color: #37394c;
        margin: 0px;
      }
      .earn-value {
        font-size: 20px;
        color: #37394c;
      }
    }

    .weeklychart-container,
    .activetollbooths-container {
      width: 80%;
      margin: 15px auto;
    }
    .graph-title {
      opacity: 0.3;
      font-family: $font-oswald-bold;
      font-size: 17px;
      font-weight: 600;
      color: #37394c;
    }
}
