.metro_dashboard_layout {
  .active-tab {
    border-bottom: 4px;
    border-bottom-color: $color-metro;
    border-bottom-style: solid;
    padding-bottom: 6px !important;
  }
}
.readers-db-head {
  .repair-btn-replace {
    background-color: #2bb673;
    border: none;
    color: white;
    font-family: Oswald;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 50px;
    border-radius: 25px;
  }
}
.dashboard_branch_readers_page {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: white !important;
  border-radius: 5px;
  margin: 10px 0px 20px 0px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
  .cards-layout {
    padding: 20px 20px 20px 20px;
  }
  .card {
    margin: 15px 5px;
    height: 225px;
    background-color: #eff3f6 !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
    .reader-head {
      height: 150px;
      padding: 0px 30px;
      .card-title-blck {
        padding-left: 0px;
      }
      .reader-info {
        border-bottom: 1px solid #aaa;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;
      }
    }
    .reader-foot {
      height: 75px;
      background-color: #313942 !important;
      color: #ffffff;
      font-family: OpenSans;
      padding: 15px;
      font-size: 13px;
      letter-spacing: 0.3px;
      .m-b-10 {
        margin-bottom: 10px;
      }
    }
  }

  .repair-head {
    height: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px 75px;
    h4 {
      font-family: Oswald-Bold;
      font-size: 18px;
      font-weight: 500;
      color: #293c47;
    }
    p {
      font-family: OpenSans;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      color: #293c47;
    }
    .repair-btn-replace {
      background-color: #eff3f6;
      border: none;
      color: white;
      font-family: Oswald;
      font-size: 15px;
      font-weight: bold;
      margin-top: 20px;
      padding: 10px 100px;
      border-radius: 25px;
    }
  }
  .repair-foot {
    font-size: 15px;
    color: #293c47;
    font-weight: 300;
    line-height: 1.2;
    font-family: Oswald;
    padding: 0px 75px;
    text-align: center;
  }
}
