.metro_sales_db {
  .active-tab {
    border-bottom: 4px;
    border-bottom-color: $color-metro;
    border-bottom-style: solid;
    padding-bottom: 6px !important;
    color: $color-medium-text !important;
  }
}
.transaction_search{
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid;
}
.transaction-filter_close {
  font-family: $font-oswald-regular;
  font-size: 20px;
  font-weight: 300;
  color: #cfcfcf;
  height: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 20px;
}
.sales-reports__left-pane {
  padding: 0;
}
.reports-tab__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 56%;
  .reports-tab__print,
  .reports-tab__download {
    opacity: 0.6;
    font-family: $font-oswald-medium;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: $color-light-text;

    &:hover {
      color: $color-medium-text;
    }
  }
}
.reports-tab__date {
  p {
    font-family: $font-oswald-light;
    font-size: 28px;
    font-weight: 300;
    color: $color-medium-text;
    margin: 0;
  }
}
.reports_card_stats {
  display: flex;
  justify-content: space-between;
}
.total_tolls_list_rates {
  font-family: $font-oswald-regular;
  font-size: 20px;
  color: $color-medium-text;

}
.total_list_cost {
  color: #2bb673;
}

.sales_reports_page {
  padding-top: 60px;

  .reports-inner-tab {
    margin: 20px;
    height: 85%;
    overflow-y: scroll;
    padding: 15px;
  }
  .reports-right-tab {
    height: 50px;
    border: 1px solid transparent;
    .active {
      background-color: #5d6e7d;
    }
  }
  .panel-heading {
    color: white;
    background-color: #526372;
    font-family: $font-oswald-regular;
  }
  .reports-inner-left-tab {
    border-right: 1px solid #526372;
  }
  .reports-inner-left-tab, .reports-inner-right-tab {
    background-color: rgba(93, 110, 125, 0.84);
    height: 100%;
    color: white;
    cursor: pointer;
    font-family: $font-OpenSans-Bold;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active::after {
      content: "";
      position: absolute;
      left: 48%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #526372;
      clear: both;
    }
  }
  .reports-card {
    height: 375px;
    padding: 15px;
    box-shadow: none !important;
  }
  .report-booths {
    padding: 15px;
    padding-top: 0px;
  }
}

//transactions page
.sale_transaction_table_container {
  table {
    margin-bottom: 0;
  }
  .sale_transaction_table_header {
    table{
      thead {
        background-color: #f3f5f7;
        th {
          text-align: center;
        }
      }
    }
  }

  .sale_transaction_table_body {
    height: 42vh;
    overflow-y: scroll;
    table {
      tr {
        height: 60px;
        td {
          vertical-align: middle !important;
          input {
            margin: 0 !important;
          }
        }
      }
      tr:nth-of-type(odd) {
        background-color: #ffffff;
        border: solid 1px #dadada;
      }
      tr:nth-of-type(even) {
        background-color: rgba(239, 255, 252, 0.34);
        border: solid 1px #dadada;
      }
    }
  }
}
.sales_transaction_filter_dates {
  height: 61px;
  display: flex;
  .today-date{
    color: $color-white !important;
  }
  .transaction_filter_dates_view {
    width: 75%;
    background-color: #526372;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .transaction_export_view {
    width: 25%;
    background-color: #ecf1f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    h4 {
      color: #2bb673;
      font-size: 18px;
      font-family: $font-oswald-regular;
    }
    a {
      color: #8695a5 !important;
      font-size: 18px;
      font-family: $font-oswald-regular;
      text-decoration: underline;
    }
  }
}
.sale_transaction_table_fotter {
  background-color: #5c6e7d;
  color: #fff;
  height: 64px;
  table {
    width: 100%;
    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      height: 66px;
      .tbale__fotter--pagenation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 235px;
      }
    }
  }
}
.sales-transactions {
  .transaction-filter {
    height: 135px !important;
    border-bottom: 2px solid rgba(175, 175, 175, 0.5);
    .close-btn {
      font-family: Oswald-Regular;
      font-size: 20px;
      font-weight: 300;
      color: #cfcfcf;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  .transactional-list {
    padding: 18px 3px 40px 3px !important;
    .panel-one {
      background-color: rgba(238, 255, 251, 0.34);
      border-bottom: 1px solid rgba(175, 175, 175, 0.5);
    }

    .panel-two {
      border-bottom: 1px solid rgba(175, 175, 175, 0.5);
    }

    .list-head {
      background-color: #526372;
      color: #ffffff;
      padding: 28px;
    }
    .list-right-head {
      background-color: #ecf1f5;
      padding: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .transaction-find {
    margin: 30px 0px 30px 20px;
  }

  .find-holder {
    background: none;
    border: none;
    font-family: Oswald-Regular;
    color: #4a4a4a;
    width: 100%;
    border-bottom: 1px solid #4a4a4a;
  }

  .slt-btn {
    margin: 0 10px;
    font-size: 12px;
    font-family: Oswald-Regular;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6f8294;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #6f8294;
    padding: 7px 20px 7px 20px;
    cursor: pointer;

    .active {
      background-color: #6f8294;
      color: white;
      border: none;
    }

    .tollbooth {
      padding: 7px 40px 7px 40px;
      margin: 0px 10px 0px 20px;
    }

    .operator {
      padding: 7px 40px 7px 40px;
      margin: 0px 20px 0px 10px;
    }
  }

  .shw-act {
    margin: 0px 0px 0px 10px;
  }

  .transaction-filters,.transaction-activity {
    margin: 10px 0px 10px 20px;
    display: flex;
    align-items: baseline;
  }
}
.transactions_table_pagenation {
  height: 70px;
  background-color: #ecf1f4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  margin-top: -20px;
}

.sales_dropdown_data_section {
  display: flex;
  width: 150px;
  //height: 36px;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  p {
    margin: 0;
  }
  .selected_item_value {
    font-family: $font-oswald-regular;
    //font-size: 22px;
    line-height: 0.91;
    letter-spacing: normal;
    color: #3a3b3b;
  }
  .drop_down_carrot_symbol {
    img {
      width: 15px;
    }
  }
}
#toll_booth_list-names {
  font-size: 15px !important;
  &:hover {
    background-color: #f86d6e;
    color: #fff !important;
  }
}

//sales transaction

@media only screen and (min-height: 650px) and (max-height: 750px) {
  .reports-inner-tab {
    height: 70vh !important;
    overflow-y: scroll !important;
  }
}
