.company__settings_container.branch_settings_container{
  margin:0px;
}

.company__settings_container {
  position: relative;
  top:61px;
  margin: 0 -15px;
  height: 100%;

  .custom_accordian__panel-default {
    border: none;
  }
  .custom_accordian__heading.collapsed .acc_arrow_top{
    display:block;
  }
  .custom_accordian__heading .acc_arrow_top{
    display:none;
  }

  .custom_accordian__heading.collapsed .acc_arrow_bottom{
    display:none;
  }
  .custom_accordian__heading .acc_arrow_bottom{
    display:block;
  }
  .custom_accordian__heading {
    border-radius: 4px;
    background-color: #f8fafc;
    border: solid 2px #dbe5ea;
    border-style: dashed;
    border-left: 0;
    border-right: 0;
    height: 54px;
    font-family: $font-oswald-medium;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #000000;
    margin-bottom: 5px;
    .custom_accordian__panel-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 6px;
      p {
        margin: 0;
      }
    }
  }
}
.company__settings_pannel-group {
  height: 69vh;
  overflow-y: scroll;
}
.company__settings_pannel-body {
  border-top: none !important;
  padding: 15px 35px !important;
  .company__settings_body_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height:100px;
    .settings_main_title {
      width: 70%;
      h3 {
        opacity: 0.8;
        font-family: $font-oswald-medium;
        font-size: 18px;
        font-weight: 500;
        color: #293c47;
        margin-top: 0;
      }
      p{
        opacity: 0.5;
        font-family: $font-oswald-light;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #293c47;
        -webkit-text-stroke: 1px #979797;
      }
    }
    .settings___logo {
      position: relative;
      .settings___logo__border,
      .settings___logo__image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid lightgrey;
      }
      .settings___logo__image__hover{
        display: none;
      }
      p{
        text-align: center;
        font-family: $font-oswald-regular;
        font-size: 13px;
        margin: 5px 0px;
        color: #293c47;
      }
    }

    .settings___logo.active .settings___logo__image__hover,
    .settings___logo:hover .settings___logo__image__hover{
      position: absolute;
      display: block;
      top: 0px;
      width: 70px;
      text-align: center;
      left: 0;
      background-color: #737373a8;
      right: 0;
      /* justify-content: center; */
      /* align-items: center; */
      height: 70px;
      border-radius: 50%;
      i{
        transform: rotate(-90deg);
        font-size: 25px;
        display: flex;
      }
  }




  }
}

.settings__form-fields{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 17px;
}
.settings__input_fields,
.settings__input_fields--upload {
  width: 48%;
}
.settings_operator_dropdown--field{
  .popup_operator_dropdown--values{
    height: 200px;
    overflow-y: scroll;
    p {
      &:hover {
        background-color: $color-toll;
        color: $color-white !important;
      }
    }

  }
}

.settings__input_fields.upload_cheque{
  display:flex;
  width:100%;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  p{
    margin:0px;
    color: #77909d;
  }
  .uplaod__icon_text {
    transform: rotate(-90deg);
    font-size: 20px;
  }
}

.settings__input_fields{
  position: relative;
  font-family: $font-oswald-regular;
  margin-bottom: 8px;
  border-radius: 4px;
  border: solid 2px rgba(74, 74, 74, 0.26);
  height: 55px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: $color-white;

  input:focus ~ .floating-label,
  input:not(:focus):valid ~ .floating-label{
    top: 4px;
    bottom: 10px;
    left: 9px;
    font-size: 11px;
    opacity: 1;
  }

  .inputText {
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: right;
    color: #000000;
    border: none;
  }
  .error_info_highlight {
    font-size: 20px;
    color: $color-toll
  }

  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 14px;
    transition: 0.2s ease all;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #77909d;
  }
}

.settings__input_fields--upload {
  display: flex;
  justify-content: space-between;

  .upload__documents_input {
    width: 80% !important;
  }
  .settings_uplaod__icon {
    width: 15%;
    height: 55px;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #e6ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .uplaod__icon_text {
      transform: rotate(-90deg);
      font-size: 22px;
    }
    span {
      font-size: 11px;
      color: #000;
      font-family: $font-oswald-regular;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.16);
    }
  }
}
.settings_action_button {
  text-align: center;
  button {
    width: 211px;
    height: 42px;
    border-radius: 100px;
    background-color: $color-toll;
    opacity: 0.8;
    font-family: $font-oswald-medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: $color-white;
    border: none;
  }
}
.input_fields--width-100 {
  width: 100% !important;
}

.settings_operator_dropdown {
  width: 48%;
}
.settings_operator_dropdown--field {
  border: 2px solid #d9d9d9;
  .settings_summary_dropdown{
    padding: 4px;
    border: none;
    background: url(../assets/images/guest/forma-1-copy-4.png) right 10px center no-repeat #ffffff;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
    margin: 0;
    font-family: $font-OpenSans-Semibold;
    font-size: 18.6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 4px;
  }
}

@media only screen and (min-height: 650px) and (max-height: 800px) {
  .company__settings_pannel-group {
    height: 63vh;
    overflow-y: scroll;
  }
}



// .panel-heading :after {
//     /* symbol for "opening" panels */
//     font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
//     content: "\e114";    /* adjust as needed, taken from bootstrap.css */
//     float: right;        /* adjust as needed */
//     color: grey;         /* adjust as needed */
// }
// .panel-heading .collapsed:after {
//     /* symbol for "collapsed" panels */
//     content: "\e113";    /* adjust as needed, taken from bootstrap.css */
// }
