.company_dashboard_stats_page {
  height: calc(100% - 85px);
  //margin-top: -20px;
  position: fixed;
  width: 100%;
  //background-color: $color-white;
  .company-stats-section {
    padding: 15px 10px;
    height: 100%;
    z-index: 1;
    .branch-list {
      height: 191px;
      box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.16), 0 0 20px 0 rgba(0, 0, 0, 0.04);
      border: none;
      border-radius: 6px;
      margin-bottom: 20px;
      position: relative;
      background: #fff;
      padding: 20px;
      display: block;
    }
    .earn-data-head {
      font-family: $font-OpenSans-Regular;
      font-size: 15px;
      color: $color-medium-text;
      padding: 0px 10px;
      margin-bottom: 25px;
      span{
        margin-left: 10px;
      }
    }
    .total-earnings {
      border-right: 2px solid rgba(34, 40, 46, 0.2);
      color: $color-light-text;
      padding: 10px 20px;
      font-family: $font-OpenSans-Semibold;
      p {
        font-size: 22px;
      }
      h4 {
        font-size: 30px;
        color: $color-toll;
      }
    }
    .earn-branch-data{
      padding: 0;
      td {
       border: none;
     }
    }

    .branch-earnings {
      width: 200px;
      font-weight: 300;
      text-align: right;
      color: #4f677d;
      font-family: $font-OpenSans-Light;
      text-transform: capitalize;
      p {
        font-size: 20px;
      }
      h4 {
        font-size: 27px;
      }
    }
    .total-list {
      height: 191px;
      box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.16), 0 0 20px 0 rgba(0, 0, 0, 0.04);
      border-radius: 6px;
      border: none;
      margin-bottom: 20px;
      position: relative;
      background: #fff;
      padding: 10px;
      display: block;
      .stats__page_list-data {
        text-align: center;
        .stats__page_list-transactions {
          opacity: 0.8;
          font-family: $font-oswald-regular;
          font-size: 18px;
          letter-spacing: 1px;
          color: #090909;
        }
        h3 {

        }
      }
      .stats_page_earnings_part {
        color: #000000;
        p {
          color:$color-light-text;
          font-family: $font-oswald-medium;
          font-size: 20px;
          font-weight: 500;
          text-align: center;
        }
        h4{
          //opacity: 0.5;
          font-family: $font-oswald-regular;
          font-size: 30px;
          text-align: center;
        }
      }
    }
    .donut-graph-part {
      height: 90px;
      //padding: 5px;
    }
    .earnings-part {
      font-family: $font-OpenSans-Regular;
      padding-left: 25px;
      p {
        font-size: 10px;
        margin-bottom: 5px;
      }
    }
    .graph-data {
      box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.16), 0 0 20px 0 rgba(0, 0, 0, 0.04);
      border: none;
      border-radius: 6px;
      margin-bottom: 20px;
      margin-top: 10px;
      position: relative;
      background: #fff;
      padding:0px 20px;
      display: block;
      height: 570px;
    }
    .graph-data-head {
      border-bottom: 1px solid rgba(140, 160, 179, 0.4);
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .filter-list {
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
    }
    .graph-filter {
      font-size: 12px;
      font-family: $font-oswald-regular;
      color: #6f8294;
      background-color: #ffffff;
      border-radius: 20px;
      border: 1px solid #6f8294;
      padding: 7px 20px 7px 20px;
      cursor: pointer;
      margin: 0px 15px;

      &:hover{
        background-color: #6f8294;
        color: $color-white;
        .stats_page_dates::placeholder{
          color: $color-white;
        }
        .dates_icons{
          color: $color-white;
        }
      }
      .stats_page_dates {
        border: none;
        background: none;
        box-shadow: none;
      }
      .stats_page_dates::placeholder{
        color: #6f8294;
        font-size: 12px;
      }
      .dates_icons {
        font-size: 16px;
        color: #9299a2;
      }
    }
    .active {
      background-color: #6f8294;
      color: $color-white;
    }

    .company-stats {
      padding: 15px;
      height: 150px;
    }
  }
}
.selected_dropdown_list_data {
  p {
    color: $color-toll !important;
  }

}
.export-text{
  font-family: $font-OpenSans-Semibold;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #8ca0b3;
  border-left: 1px solid #8ca0b3;
  padding-left: 15px
}
.stats_date_picker_customized {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  input {
    width: 63% !important;
    box-shadow: none !important;
  }
  .dropdown-menu {
    background-color: #fafafc !important;
    font-size: 13.7px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: right;
    color: #8b8b8e !important;
    margin-top: 6px !important;
  }
  .bg-primary {
    background-color: $color-toll;
  }
  .ngb-dp-month {
    width: 100% !important;
  }
  .ngb-dp-weekday {
    color: #8b8b8e !important;
  }
  .ngb-dp-week {
    justify-content: space-between;
  }
}
@media only screen and (min-height: 650px) and (max-height: 700px) {
  // #company-stats-graph {
  //   height: 34vh !important;
  // }
  #company-graphdata {
    height: 289px !important;
  }
  .toll-graph-container{
      .chartjs-graph{
        height: 34vh !important;
     }
  }
}


.brances_stats_data {
  height: 98px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.brances_stats_data--inner {
  display: block;
  width: 80%;
  position: absolute;
  animation: marquee 20s linear infinite;
}

.brances_stats_data--inner:hover {
  animation-play-state: paused;
}

/*.half {
  float: left;
  width: 10%;
}*/
.slider_auto_slide {
  display: flex;
}
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
