<div id="main" class="home" >
  <!-- guest header starts -->
  <div class="guest__page__header_section">
    <!-- <div class="col-md-2 guest__page__header--logo">
      <div class="text-left cursor main-logo-cnt">
        <img  class="main-logo" src="assets/images/guest/main-logo.png">
      </div>
    </div> -->

    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
        <div class="container-fluid coustmer__guest__page_nav">
          <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/merchant']">
            <div class="text-left cursor main-logo-cnt">
              <img  class="main-logo" src="assets/images/demo/logo.png" alt="merchant_logo">
            </div>
          </div>
         <div class="merchant-list guest_merchant_list">
            <div class="consumer_page_header">
              <button  type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
              <button class="button_active" type="button" name="button" [routerLink]="['/merchant']">Business</button>
              <button  type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
            </div>
          </div>
          <div class="merchant_action_buttons">
            <button class="search_action" type="button" name="button">
              <img src="assets/images/demo/search_icon.png" alt="search_icon">
            </button>
            <button type="button" name="button"  [routerLink]="['/merchant-joinus']">Join Us</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- guest header ends -->
    <div class="row home-menu text-center home_menu_side_nav hiding_for_tablets" id="fp-nav">
        <ul class="home-menu-tag home-menu-js">
          <li class="active section1">
              <a>
                <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="slide-1_img"><span>FEATURES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="slide-2_img"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section2">
            <a>
              <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="slide-1_img"><span>PAYMENTS</span></div>
              <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="slide-2_img"><span>PAYMENTS</span></div>
            </a>
          </li>
          <li class="section3">
            <a>
              <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="slide-1_img"><span>ACCESS</span></div>
              <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="slide-2_img"><span>ACCESS</span></div>
            </a>
          </li>
          <li class="section4">
            <a>
              <div class="text-center flow cursor"><img src="assets/images/guest/slide-1.png" alt="slide-1_img"><span>LOYALTY</span></div>
              <div class="text-center non-flow cursor"><img src="assets/images/guest/slide-2.png" alt="slide-2_img"><span>LOYALTY</span></div>
            </a>
          </li>
        </ul>
    </div>


  <div id="" class="row sectiondiv consumer_guest_home_page" mnFullpage [mnFullpageNavigation]="true"
   [mnFullpageKeyboardScrolling]="true"
   [mnFullpageSlidesNavigation]="true"
   [mnFullpageControlArrows]="false"
   mnFullpageSlidesNavPosition="bottom" >

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row section fp-section fp-table" data-section-name="home">
        <div class="merchant__features_section">

          <div class="merchant__circle_view_section cursor" showfaqanswer [type]="'quickPayment'" emmitcustomevent [scrollFlag]="'on'">
            <div class="merchant__features_circle">
              <img src="assets/images/demo/merchant-payments1.png" alt="merchant-payments_img">
            </div>
            <div class="merchant_circle_content">
              <p>PAYMENTS</p>
              <p [innerHtml]="content?.MERCHANT.HOME.PAYMENTS.SUMMARY"></p>
            </div>
          </div>

          <div class="merchant__circle_view_section cursor" showfaqanswer [type]="'access'" emmitcustomevent [scrollFlag]="'on'">
            <div class="merchant__features_circle">
              <img src="assets/images/demo/merchant-access1.png" alt="merchant-access_img">
            </div>
            <div class="merchant_circle_content">
              <p>ACCESS</p>
              <p [innerHtml]="content?.MERCHANT.HOME.ACCESS.SUMMARY"></p>
            </div>
          </div>

          <div class="merchant__circle_view_section cursor" showfaqanswer [type]="'loyalty'" emmitcustomevent [scrollFlag]="'on'">
            <div class="merchant__features_circle">
              <img src="assets/images/demo/merchant-loyality1.png" alt="merchant-loyality_img">
            </div>
            <div class="merchant_circle_content">
              <p>LOYALTY</p>
              <p [innerHtml]="content?.MERCHANT.HOME.LOYALITY.SUMMARY"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Section 1 ends here-->

      <!-- Process Section  starts here-->
      <div id="section2" class="container-fluid row section fp-section fp-table" data-section-name="paymentssection">
        <div class="merchant_services_view">
          <div class="merchant__services_reader">
            <img src="assets/images/demo/merchant-felica.png" alt="">
          </div>
          <div class="merchant_services_view__layer">
            <p>Payments</p>
            <div class="merchant__services_circle_layout">
              <div class="service__circle_view toll_circle_view" [routerLink]="['/toll']">
                <img class="service_non-hover" src="assets/images/demo/toll-merchant-service.png" alt="merchant_toll_img">
                <img class="service_hover" src="assets/images/demo/toll-merchant-service-hover.png" alt="merchant_toll_img">
              </div>
              <div class="service__circle_view bus_circle_view" [routerLink]="['/bus']">
                <img class="service_non-hover" src="assets/images/demo/bus-merchant-service.png" alt="merchant_bus_img">
                <img class="service_hover" src="assets/images/demo/bus-merchant-service-hover.png" alt="merchant_bus_img">
              </div>
              <div class="service__circle_view parking_circle_view" [routerLink]="['/parking']">
                <img class="service_non-hover" src="assets/images/demo/parking-merchant-service.png" alt="merchant_parking_img">
                <img class="service_hover" src="assets/images/demo/parking-merchant-service-hover.png" alt="merchant_parking_img">
              </div>
              <div class="service__circle_view education_circle_view" [routerLink]="['/education']">
                <img class="service_non-hover" src="assets/images/demo/edu-merchant-service.png" alt="merchant_education_img">
                <img class="service_hover" src="assets/images/demo/edu-merchant-service-hover.png" alt="merchant_education_img">
              </div>
              <div class="service__circle_view retail_circle_view" [routerLink]="['/retail']">
                <img class="service_non-hover" src="assets/images/demo/retail-merchant-service.png" alt="merchant_retail_img">
                <img class="service_hover" src="assets/images/demo/retail-merchant-service-hover.png" alt="merchant_retail_img">
              </div>
              <div class="service__circle_view metro_circle_view" [routerLink]="['/metro']">
                <img class="service_non-hover" src="assets/images/demo/metro-merchant-service.png" alt="merchant_metro_img">
                <img class="service_hover" src="assets/images/demo/metro-merchant-service-hover.png" alt="merchant_metro_img">
              </div>
              <div class="service__circle_view railways_circle_view" [routerLink]="['/railways']">
                <img class="service_non-hover" src="assets/images/demo/railway-merchant-service.png" alt="merchant_railways_img">
                <img class="service_hover" src="assets/images/demo/railway-merchant-service-hover.png" alt="merchant_railway_img">
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="carousel__container" style="margin:0 43px;width:100%;height:100%;">
          <div class="carousel__center_text consumer__services_fp_slider" style="width:84%;height:100%;padding:72px 0;display:flex;align-items:center;justify-content:center;">
              <div id="clientscarousel1" class="carousel slide carousel_slide_hieht" data-ride="carousel" style="padding-bottom:66px;">
                <ol class="carousel-indicators carousel-indicators_custom">
                  <li data-target="#clientscarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#clientscarousel1" data-slide-to="1"></li>
                 <li data-target="#clientscarousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="item active">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/merchant-felica.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Payments</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view toll_circle_view" [routerLink]="['/toll']">
                            <img class="service_non-hover" src="assets/images/demo/toll-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/toll-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view bus_circle_view" [routerLink]="['/bus']">
                            <img class="service_non-hover" src="assets/images/demo/bus-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/bus-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view parking_circle_view" [routerLink]="['/parking']">
                            <img class="service_non-hover" src="assets/images/demo/parking-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/parking-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view education_circle_view" [routerLink]="['/education']">
                            <img class="service_non-hover" src="assets/images/demo/edu-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/edu-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view retail_circle_view" [routerLink]="['/retail']">
                            <img class="service_non-hover" src="assets/images/demo/retail-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/retail-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view metro_circle_view" [routerLink]="['/metro']">
                            <img class="service_non-hover" src="assets/images/demo/metro-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/metro-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view railways_circle_view" [routerLink]="['/railways']">
                            <img class="service_non-hover" src="assets/images/demo/railway-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/railway-merchant-service-hover.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="item ">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/group-access-merchant.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Access</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view access__circle_view" >
                            <img class="" src="assets/images/demo/merchant-residency.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view" >
                            <img class="" src="assets/images/demo/merchant-office-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/merchant-edu-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/employe-merchant-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view ">
                            <img class="" src="assets/images/demo/merchant-hotels-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/group-2803.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view ">
                            <img class="" src="assets/images/demo/merchant-hospital-service.png" alt="">
                          </div>
                        </div>
                        <div class="read_more_button">
                          <button type="button" name="button" [routerLink]="['/access']">Read More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/group-loylity-reader.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Loyality</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-airlines.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-clubs.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-restarunt.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-petro.png" alt="">
                          </div>
                        </div>
                        <div class="read_more_button read_more_loyality">
                          <button type="button" name="button" [routerLink]="['/loyality']">Read More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div> -->
      </div>
      <!-- Process Section  ends here-->

      <!-- Process Section  starts here-->
      <div id="section3" class="container-fluid row section fp-section fp-table" data-section-name="accesssection">
        <!--<div class="carousel__container" style="margin:0 43px;width:100%;height:100%;">
          <div class="carousel__center_text consumer__services_fp_slider" style="width:84%;height:100%;padding:72px 0;display:flex;align-items:center;justify-content:center;">
              <div id="clientscarousel1" class="carousel slide carousel_slide_hieht" data-ride="carousel" style="padding-bottom:66px;">
                <ol class="carousel-indicators carousel-indicators_custom">
                  <li data-target="#clientscarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#clientscarousel1" data-slide-to="1"></li>
                 <li data-target="#clientscarousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="item active">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/merchant-felica.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Payments</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view toll_circle_view" [routerLink]="['/toll']">
                            <img class="service_non-hover" src="assets/images/demo/toll-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/toll-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view bus_circle_view" [routerLink]="['/bus']">
                            <img class="service_non-hover" src="assets/images/demo/bus-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/bus-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view parking_circle_view" [routerLink]="['/parking']">
                            <img class="service_non-hover" src="assets/images/demo/parking-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/parking-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view education_circle_view" [routerLink]="['/education']">
                            <img class="service_non-hover" src="assets/images/demo/edu-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/edu-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view retail_circle_view" [routerLink]="['/retail']">
                            <img class="service_non-hover" src="assets/images/demo/retail-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/retail-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view metro_circle_view" [routerLink]="['/metro']">
                            <img class="service_non-hover" src="assets/images/demo/metro-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/metro-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view railways_circle_view" [routerLink]="['/railways']">
                            <img class="service_non-hover" src="assets/images/demo/railway-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/railway-merchant-service-hover.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="item ">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/group-access-merchant.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Access</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view access__circle_view" >
                            <img class="" src="assets/images/demo/merchant-residency.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view" >
                            <img class="" src="assets/images/demo/merchant-office-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/merchant-edu-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/employe-merchant-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view ">
                            <img class="" src="assets/images/demo/merchant-hotels-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/group-2803.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view ">
                            <img class="" src="assets/images/demo/merchant-hospital-service.png" alt="">
                          </div>
                        </div>
                        <div class="read_more_button">
                          <button type="button" name="button" [routerLink]="['/access']">Read More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/group-loylity-reader.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Loyality</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-airlines.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-clubs.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-restarunt.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-petro.png" alt="">
                          </div>
                        </div>
                        <div class="read_more_button read_more_loyality">
                          <button type="button" name="button" [routerLink]="['/loyality']">Read More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div> -->
        <div class="merchant_services_view">
          <div class="merchant__services_reader">
            <img src="assets/images/demo/group-access-merchant.png" alt="group-access-merchant_img">
          </div>
          <div class="merchant_services_view__layer">
            <p>Access</p>
            <div class="merchant__services_circle_layout">
              <div class="service__circle_view access__circle_view" >
                <img class="" src="assets/images/demo/merchant-residency.png" alt="merchant_residency_img">
              </div>
              <div class="service__circle_view access__circle_view" >
                <img class="" src="assets/images/demo/merchant-office-service.png" alt="merchant_offline_img">
              </div>
              <div class="service__circle_view access__circle_view " >
                <img class="" src="assets/images/demo/merchant-edu-service.png" alt="merchant_education_img">
              </div>
              <div class="service__circle_view access__circle_view " >
                <img class="" src="assets/images/demo/employe-merchant-service.png" alt="merchant-service_img">
              </div>
              <div class="service__circle_view access__circle_view ">
                <img class="" src="assets/images/demo/merchant-hotels-service.png" alt="merchant_hotel_img">
              </div>
              <div class="service__circle_view access__circle_view " >
                <img class="" src="assets/images/demo/group-2803.png" alt="merchant_group_img">
              </div>
              <div class="service__circle_view access__circle_view ">
                <img class="" src="assets/images/demo/merchant-hospital-service.png" alt="merchamt_hospital_img">
              </div>
            </div>
            <div class="read_more_button">
              <button type="button" name="button" [routerLink]="['/access']">Read More</button>
            </div>
          </div>
        </div>

      </div>
      <!-- Process Section  ends here-->

      <!-- Process Section  starts here-->
      <div id="section4" class="container-fluid row section fp-section fp-table" data-section-name="loyalitysection">
        <!-- <div class="carousel__container" style="margin:0 43px;width:100%;height:100%;">
          <div class="carousel__center_text consumer__services_fp_slider" style="width:84%;height:100%;padding:72px 0;display:flex;align-items:center;justify-content:center;">
              <div id="clientscarousel1" class="carousel slide carousel_slide_hieht" data-ride="carousel" style="padding-bottom:66px;">
                <ol class="carousel-indicators carousel-indicators_custom">
                  <li data-target="#clientscarousel1" data-slide-to="0" class="active"></li>
                  <li data-target="#clientscarousel1" data-slide-to="1"></li>
                 <li data-target="#clientscarousel1" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                  <div class="item active">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/merchant-felica.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Payments</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view toll_circle_view" [routerLink]="['/toll']">
                            <img class="service_non-hover" src="assets/images/demo/toll-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/toll-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view bus_circle_view" [routerLink]="['/bus']">
                            <img class="service_non-hover" src="assets/images/demo/bus-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/bus-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view parking_circle_view" [routerLink]="['/parking']">
                            <img class="service_non-hover" src="assets/images/demo/parking-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/parking-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view education_circle_view" [routerLink]="['/education']">
                            <img class="service_non-hover" src="assets/images/demo/edu-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/edu-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view retail_circle_view" [routerLink]="['/retail']">
                            <img class="service_non-hover" src="assets/images/demo/retail-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/retail-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view metro_circle_view" [routerLink]="['/metro']">
                            <img class="service_non-hover" src="assets/images/demo/metro-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/metro-merchant-service-hover.png" alt="">
                          </div>
                          <div class="service__circle_view railways_circle_view" [routerLink]="['/railways']">
                            <img class="service_non-hover" src="assets/images/demo/railway-merchant-service.png" alt="">
                            <img class="service_hover" src="assets/images/demo/railway-merchant-service-hover.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="item ">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/group-access-merchant.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Access</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view access__circle_view" >
                            <img class="" src="assets/images/demo/merchant-residency.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view" >
                            <img class="" src="assets/images/demo/merchant-office-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/merchant-edu-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/employe-merchant-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view ">
                            <img class="" src="assets/images/demo/merchant-hotels-service.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view " >
                            <img class="" src="assets/images/demo/group-2803.png" alt="">
                          </div>
                          <div class="service__circle_view access__circle_view ">
                            <img class="" src="assets/images/demo/merchant-hospital-service.png" alt="">
                          </div>
                        </div>
                        <div class="read_more_button">
                          <button type="button" name="button" [routerLink]="['/access']">Read More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="merchant_services_view">
                      <div class="merchant__services_reader">
                        <img src="assets/images/demo/group-loylity-reader.png" alt="">
                      </div>
                      <div class="merchant_services_view__layer">
                        <p>Loyality</p>
                        <div class="merchant__services_circle_layout">
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-airlines.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-clubs.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-restarunt.png" alt="">
                          </div>
                          <div class="service__circle_view loylity__circle_view ">
                            <img class="" src="assets/images/demo/group-petro.png" alt="">
                          </div>
                        </div>
                        <div class="read_more_button read_more_loyality">
                          <button type="button" name="button" [routerLink]="['/loyality']">Read More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
          </div>
        </div> -->


        <div class="merchant_services_view">
          <div class="merchant__services_reader">
            <img src="assets/images/demo/group-loylity-reader.png" alt="group-loylity-reader_img">
          </div>
          <div class="merchant_services_view__layer">
            <p>Loyalty</p>
            <div class="merchant__services_circle_layout">
              <div class="service__circle_view loylity__circle_view ">
                <img class="" src="assets/images/demo/group-airlines.png" alt="airlines_logo">
              </div>
              <div class="service__circle_view loylity__circle_view ">
                <img class="" src="assets/images/demo/group-clubs.png" alt="merchant_club_img">
              </div>
              <div class="service__circle_view loylity__circle_view ">
                <img class="" src="assets/images/demo/group-restarunt.png" alt="group-restarunt_img">
              </div>
              <div class="service__circle_view loylity__circle_view ">
                <img class="" src="assets/images/demo/group-petro.png" alt="group-petro_img">
              </div>
            </div>
            <div class="read_more_button read_more_loyality">
              <button type="button" name="button" [routerLink]="['/loyality']">Read More</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Process Section  ends here-->

  </div>

    <!-- guest-footer starts -->
    <guest-footer></guest-footer>
    <!-- guest-footer ends -->
</div>



<!-- right nav bar starts -->
<div id="quickPayment" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/quick-payment-clicked.png" alt="quickPayment_logo"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.MERCHANT.HOME.PAYMENTS.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.MERCHANT.HOME.PAYMENTS.DESCRIPTION_PART1}} </p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="ruppee-button_logo"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.MERCHANT.HOME.PAYMENTS.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div id="access" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/quick-payment-clicked.png" alt="quickPayment_logo"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.MERCHANT.HOME.ACCESS.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.MERCHANT.HOME.ACCESS.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.MERCHANT.HOME.ACCESS.DESCRIPTION_PART2}}</p>
          <!-- <p>This multi-utility card can be used for access and micropayments at toll booths, metro stations, retail outlets, parking lots, bus/railway stations, etc. </p> -->
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div id="loyalty" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/guest/quick-payment-clicked.png" alt="quickPayment_logo"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.MERCHANT.HOME.LOYALITY.NAME}}</h3>
        </div>
        <div class="row form-group">
            <p>{{content?.MERCHANT.HOME.LOYALITY.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="ruppee-button_logo"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>{{content?.MERCHANT.HOME.LOYALITY.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
