<div id="main" class="home merchant height_vh">
  <!-- guest header starts -->
  <nav class="navbar navbar-fixed-top merchant_nav_header">
      <div class="container-fluid row">
          <div class="col-md-4">
              <div class="text-left cursor main-logo-cnt">
                  <img  class="main-logo" [routerLink]="['/']" src="assets/images/common/main-logo.png">
              </div>
          </div>
      </div>
      <!-- <div class="merchant-list guest_merchant_list">
         <div class="merchant_action_buttons">
           <button type="button" name="button" >Consumers</button>
         </div>
         <div class="merchant_action_buttons">
           <button type="button" name="button" [routerLink]="['/merchant']">Merchant</button>
         </div>
         <div class="merchant_action_buttons">
           <button type="button" name="button" [routerLink]="[ '/home']">Corporates</button>
         </div>
       </div> -->
    </nav>
  <!-- guest header ends -->
    <div class="row sectiondiv height_vh_child">

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row ">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row merchant-list">
              <div class=" col-md-12 merchant_list_container">
                <div class="col-md-4 mer-list merchant_list_data" >
                 <div class="row text-center cursor" [routerLink]="[ '/retail']">
                      <img class="mer-hover mer-hov-img" src="assets/images/common/land-retail-hover.png">
                      <img class="mer-non-hover mer-hov-img" src="assets/images/common/retail-logo-non-hover.png">
                  </div>
                </div>

                <div class="col-md-4 mer-list merchant_list_data" >
                  <div class="row text-center cursor" [routerLink]="[ '/toll']">
                      <img class="mer-hover mer-hov-img" src="assets/images/common/land-toll-hover.png">
                      <img class="mer-non-hover mer-hov-img" src="assets/images/common/toll-logo-non-hover.png">
                  </div>
                </div>

                <div class="col-md-4 mer-list merchant_list_data" >
                   <div class="row text-center cursor" [routerLink]="[ '/metro']">
                      <img class="mer-hover mer-hov-img" src="assets/images/common/land-metro-hover.png">
                      <img class="mer-non-hover mer-hov-img" src="assets/images/common/metro-logo-non-hover.png">
                  </div>
                </div>
              </div>

              <div class=" col-md-12 merchant_list_container merchant_list_container--mid">
                <div class="col-md-4 mer-list merchant_list_data" >
                  <div class="row text-center cursor" [routerLink]="[ '/parking']">
                      <img class="mer-hover mer-hov-img" src="assets/images/common/land-parking-hover.png">
                      <img class="mer-non-hover mer-hov-img" src="assets/images/common/parking-logo-non-hover.png">
                  </div>
                </div>

                <div class="col-md-4 mer-list merchant_list_data" >
                  <div class="row text-center cursor">
                      <img class="mer-hover mer-hov-img" src="assets/images/common/land-railway-hover.png">
                      <img class="mer-non-hover mer-hov-img" src="assets/images/common/railway-logo-non-hover.png">
                  </div>
                </div>

                <div class="col-md-4 mer-list merchant_list_data" >
                   <div class="row text-center cursor" [routerLink]="[ '/bus']">
                        <img class="mer-hover mer-hov-img" src="assets/images/common/land-bus-hover.png">
                        <img class="mer-non-hover mer-hov-img" src="assets/images/common/bus-logo-non-hover.png">
                    </div>
                </div>
              </div>

              <div class=" col-md-12 merchant_list_container">
                <div class="col-md-4 mer-list merchant_list_data" >
                   <div class="row text-center cursor">
                      <img class="mer-hover mer-hov-img" src="assets/images/common/land-residence-hover.png">
                      <img class="mer-non-hover mer-hov-img" src="assets/images/common/residence-logo-non-hover.png">
                    </div>
                </div>
                <div class="col-md-4 mer-list merchant_list_data" >
                   <div class="row text-center cursor" [routerLink]="[ '/education']">
                      <img class="mer-hover mer-hov-img" src="assets/images/common/land-education-hover.png">
                      <img class="mer-non-hover mer-hov-img" src="assets/images/common/education-logo-non-hover.png">
                    </div>
                </div>

                <div class="col-md-4 mer-list merchant_list_data" >
                   <div class="row text-center cursor">
                        <img class="mer-hover mer-hov-img" src="assets/images/common/bus-logo-hover.png" style="display:none">
                        <img class="mer-non-hover mer-hov-img" src="assets/images/common/education-logo-non-hover.png" style="display:none">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>

    <!-- Section 1 ends here-->


    </div>

    <!-- guest-footer starts -->
    <!-- <footer style="height:40px">
      <div class="footer__menu">
        <div class="footer_menu__list" >
          <p>Consumer</p>
          <p [routerLink]="[ '/merchant']">Merchant</p>
          <p [routerLink]="[ '/home']">Corporate</p>
          <p [routerLink]="[ '/aboutus']">About Us</p>
          <p [routerLink]="[ '/partners']">Partners</p>
        </div>
        <div class="copy__rights">
          <p>Copyright © 2018. All Rights Reserved By <span> DOE CARDS SOLUTIONS PVT. LTD</span></p>
        </div>
      </div>
    </footer> -->
    <!-- guest-footer starts -->
    <guest-footer></guest-footer>
    <!-- guest-footer ends -->
    <!-- guest-footer ends -->
</div>



<!-- right nav bar starts -->
<div id="quickPayment" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/common/quick-payment-clicked.png"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>QUICK PAYMENT</h3>
        </div>
        <div class="row form-group">
           <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>

          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat Volutpat wisi enim ad minim veniam,</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/common/ruppee-button.png"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="toll" class="sidenav rightsidenav">
  <div class="row lost-card-img"><img src="assets/images/common/toll-hover.png"></div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>TOLL</h3>
        </div>
        <div class="row form-group">
           <p>Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident</p>

          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat Volutpat wisi enim ad minim veniam,</p>
        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/common/ruppee-button.png"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum</p>
        </div>
        <div class="row">
          <div class="col-md-6 text-center toll-btn">
            <img src="assets/images/common/rounded-rectangle-2.png">
            <div class="toll-text">Toll Customer Info</div>
          </div>
          <div class="col-md-6 text-center toll-btn">
            <img src="assets/images/common/rounded-rectangle-2-copy.png">
            <div class="toll-text">Toll Merchant Info</div>
          </div>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
