<div class="terms_policy__pages">
  <div class="pages__header_height">
    <div class="guest__page__header_section">
      <div class="navbar_header_menu_section">
        <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
          <div class="container-fluid coustmer__guest__page_nav">
            <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/']">
              <div class="text-left cursor main-logo-cnt">
                <img  class="main-logo" src="assets/images/demo/logo.png" alt="doe_logo">
              </div>
            </div>
           <div class="merchant-list guest_merchant_list">
              <div class="consumer_page_header">
                <button type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
                <button type="button" name="button" [routerLink]="['/merchant']">Business</button>
                <button type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
              </div>
            </div>

            <div class="merchant_action_buttons">
              <button class="search_action" type="button" name="button">
                <img src="assets/images/demo/search_icon.png" alt="search_icon">
              </button>
              <button type="button" name="button" [routerLink]="[ '/consumer-joinus']">Join Us</button>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="terms_conditions">
    <h3 class="heading_line"><img src="assets/images/demo/terms.png" alt="terms_logo">Terms of services</h3>
    <div class="terms_conditions_content">
      <ng-container *ngFor="let item of content?.TERMS_OF_USE">
        <h4 class="paragraph_heading" [innerHTML]="item.heading"> </h4>
        <div class="terms__paragraph" >
          <p [innerHTML]="item.summary"></p>
        </div>
        <ul class="paragraph_points" >
            <li *ngFor="let point of item.points">{{point}}</li>
        </ul>
      </ng-container>
      <!-- <h4 class="paragraph_heading">1 Welcome DOE</h4>
      <div class="terms__paragraph">
        <span>1.1</span>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum
        </p>
      </div>
      <div class="terms__paragraph">
        <span>1.2</span>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>

      <h4 class="paragraph_heading">2 Using our Products and Services</h4>
      <div class="terms__paragraph">
        <span>2.1</span>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum
        </p>
      </div>
      <div class="terms__paragraph">
        <span>2.2</span>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>
      <div class="terms__paragraph">
        <span>2.3</span>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
      <div class="terms__paragraph">
        <span>2.4</span>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        </p>
      </div>

      <h4 class="paragraph_heading">3 Privacy and Copyright Protection</h4>
      <div class="terms__paragraph">
        <span>3.1</span>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum
        </p>
      </div>

      <h4 class="paragraph_heading">4 Business uses of our Product and Services</h4>
      <div class="terms__paragraph">
        <span>4.1</span>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum
        </p>
      </div>

      <h4 class="paragraph_heading">5 About these Terms</h4>
      <div class="terms__paragraph">
        <span>5.1</span>
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
          like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div> -->

      <h4 class="terms_more_info">For information about how to contact DOE CARDS SOLUTIONS PVT. LTD, please visit our Join us page.</h4>

    </div>
  </div>
</div>


<!-- guest-footer starts -->
<guest-footer></guest-footer>
<!-- guest-footer ends -->
