
<div class="page-container">
	<router-outlet ></router-outlet>
	<div id="overlay" class="overlay overlay__close_marks hide" showfaqanswer type="right-close">
		<p id="left-o-close" showfaqanswer type="right-close" class="cursor left-overlay-close hide" emmitcustomevent [scrollFlag]="'off'">X</p>
		<p id="right-o-close"  showfaqanswer type="right-close"  class="cursor right-overlay-close hide" emmitcustomevent [scrollFlag]="'off'">X</p>
	</div>

	<modal></modal>

	<style>
        .lds-hourglass {
          display: inline-block;
          position: relative;
          width: 64px;
          height: 64px;
        }
        .lds-hourglass:after {
          content: " ";
          display: block;
          border-radius: 50%;
          width: 0;
          height: 0;
          margin: 6px;
          box-sizing: border-box;
          border: 26px solid #2bb673;
          border-color: #2bb673 transparent #2bb673 transparent;
          animation: lds-hourglass 1.2s infinite;
        }
        @keyframes lds-hourglass {
          0% {
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          }
          50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          }
          100% {
            transform: rotate(1800deg);
          }
        }

        .lazy_load_page{
        	background: #fff;
			    width: 100%;
			    height: 100%;
			    z-index: 1050;
			    top: 0;
			    left: 0;
			    position: fixed;
	        }
	        .lazy_load_page:after{
			    margin: 26% auto;
        }

      </style>

      <div class="lds-hourglass lazy_load_page" [ngClass]="{'hide': !loading}">

      </div>

</div>
