<!----container box section starts  ----->
<div class="joinus__container_layout">
  <div class="Joinus__page_conatiner--form">
    <div class="joinus__page_logo_section">
      <div class="logo_section_content">
        <h3>DOE</h3>
        <p>Rechargeable and Contactless Smart Card that Everyone can Use</p>
      </div>
      <div class="logo_section_image">
        <!-- <img src="assets/images/demo/doe_card_slant.png" alt=""> -->
      </div>
    </div>
    <div class="joinus__page_form_section">
      <p class="form_sub_text">Thank you for your interest. Just fill in the details and our team will reach out with further steps. </p>
      <div class="joinus_form__fields">
        <form class="" [formGroup]="joinusForm" (ngSubmit)="onSubmit()" name="userregistration">
          <div class="joinus__form_layout">
            <div class="field_input_floating">
              <div class="float_input_style joinus_fields">
                <input formControlName = "name" focus-next type="text" maxlength="25" class="input-box joinus_floating-input" placeholder="Name">
                <label for="fullname">Name</label>
              </div>
              <p class="form_error_message">{{formErrors.name}}</p>
            </div>
            <div class="field_input_floating">
              <div class="float_input_style joinus_fields">
                <input formControlName = "mobileNumber" focus-next type="text" class="input-box joinus_floating-input" placeholder="Mobile Number">
                <label for="fullname">Mobile Number</label>
              </div>
              <p class="form_error_message">{{formErrors.mobileNumber}}</p>
            </div>
            <div class="field_input_floating">
              <div class="float_input_style joinus_fields">
                <input formControlName = "email" focus-next type="text" class="input-box joinus_floating-input" placeholder="Email(Optional)">
                <label for="fullname">Email</label>
              </div>
              <p class="form_error_message">{{formErrors.email}}</p>
            </div>

            <div class="">
              <p class="" style="color: #ff0000;font-weight: bold;font-size: 16px;font-family: OpenSans-Semibold;">{{formErrors.recaptcha}}</p>
              <div class="captcha__section">
                <ngx-recaptcha2 #captchaElem
                  [siteKey]="siteKey"
                  (reset)="handleReset()"
                  (expire)="handleExpire()"
                  (load)="handleLoad()"
                  (success)="handleSuccess($event)"

                  [size]="size"
                  [hl]="lang"
                  [theme]="theme"
                  [type]="type"
                  formControlName="recaptcha">
                </ngx-recaptcha2>
              </div>
            </div>

            <div class="joinus_submit_action">
              <button type="submit" class="submit-box">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!----container box section ends  ----->





<!-- Registration sucessfull Modal content-->
<div class="modal" id="confirmationrechargeModal" role="dialog" *ngIf="showRegisterPopup.show" style="display: block;closeTimer: 1000;background-color: rgba(0, 0, 0, 0.90);">
  <div class="modal-dialog success_modal-dialog">
    <div class="modal-content success_modal-content">
    	<div class="modal-body success_modal-body">
				<img src="assets/images/demo/lc-suc.png" alt="dummy_img">
				<div class="success_content">
					<h4>successfully Submitted</h4>
					<p>Your request has been placed. We will get back to you soon.</p>
				</div>
				<button type="button" class="success_done_btn" data-dismiss="modal" (click)="showRegisterPopup.show = false">DONE</button>
    	</div>
    </div>
  </div>
</div>


<modal></modal>
<!--mobile number modal ends here-->
