<div class="row field-row">
	<div class="col-md-6 text-center">
		<h2>MERCHANT BUSINESS LOGIN</h2>
		<p class="merchant_subtitle">Customer Business copy line what DOE is doing and how it will be helpful to the customer user</p>
		<div class="merchant_login_linebar">
			<img src="assets/images/toll/line-bar@3x.png" alt="line-bar_icon">
		</div>
		<form (ngSubmit)="userLogin()">
			<div class="merchant_login_form">
				<div class="merchant_login_form--fields">
					<span>Username</span>
					<input type="text" name="" value="" [(ngModel)]="login.phoneNumber" [ngModelOptions]="{standalone: true}" placeholder="Username">
				</div>
				<div class="merchant_login_form--fields">
					<span>Password</span>
					<input type="password" name="" value="" [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}" placeholder="Password">
				</div>

				<div [hidden]="!validation.passwordError" class="alert alert-style">
          <p><img src="assets/images/common/error.png" alt="error_icon"> {{serverError}}</p>
        </div>
        <div [hidden]="!validation.userTypeError" class="alert">
          <p><img src="assets/images/common/error.png" alt="error_icon"> INVALID USERTYPE, KINDLY LOGIN THROUGH MERCHANT DOMAIN.</p>
        </div>
				<div>
					<button type="submit" class="toll_button_default merchant_login__butoon toll_bg">Login</button>
				</div>

				<div class="merchant__forgot_password">
					<p class="cursor">Forgot Password ?</p>
					<!-- [routerLink]="['/toll/forgot-password']" -->
				</div>
			</div>
		</form>
	</div>
</div>
