<!-- right nav bar starts -->
<div id="food" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/retail/loyality_service-hover.png" alt="loyality_service-hover_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.FEATURES.CONTENT_TABS.CUSTOMER_MANAGEMENT_POS.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.CUSTOMER_MANAGEMENT_POS.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.CUSTOMER_MANAGEMENT_POS.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="health" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/retail/flash-hover.png" alt="flash-hover_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.FEATURES.CONTENT_TABS.FAST_TRANSACTION_PAYMENTS.NAME}}</h3>
        </div>
        <div class="row form-group">
           <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.FAST_TRANSACTION_PAYMENTS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee-divider_logo">
        </div>
        <div class="row form-group">
          <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.FAST_TRANSACTION_PAYMENTS.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->


<!-- right nav bar starts -->
<div id="servicerepairs" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/retail/group-loyality-hover.png" alt="group-loyality-hover_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.FEATURES.CONTENT_TABS.MULTIPLE_UTILITIES.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.MULTIPLE_UTILITIES.DESCRIPTION_PART1}}</p>

        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.MULTIPLE_UTILITIES.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="others" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/retail/secure-hover.png" alt="secure-hover_img">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.FEATURES.CONTENT_TABS.SECURE_PAYMENTS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.SECURE_PAYMENTS.DESCRIPTION_PART1}}</p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="ruppe-bar_img">
        </div>
        <div class="row form-group">
          <p>{{content?.RETAIL.FEATURES.CONTENT_TABS.SECURE_PAYMENTS.DESCRIPTION_PART2}}</p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="retail-restuarent" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.SERVICES.RESTUARENT.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.RESTUARENT.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.RESTUARENT.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="retail-fuelstation" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.SERVICES.FUEL_STATION.NAME}}</h3>
        </div>
        <div class="row form-group">
            <p [innerHTML]="content?.RETAIL.SERVICES.FUEL_STATION.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.FUEL_STATION.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-taxi" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.SERVICES.TAXI.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.TAXI.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.TAXI.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-supermarket" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.SERVICES.SUPER_MARKET.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.SUPER_MARKET.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.SUPER_MARKET.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-vendingmachine" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.SERVICES.VENDING_MACHINES.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.VENDING_MACHINES.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.VENDING_MACHINES.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-smallshop" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.RETAIL.SERVICES.SMALL_SHOPS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.SMALL_SHOPS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.RETAIL.SERVICES.SMALL_SHOPS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
