
<div id="mySidenav" class="sidenav leftsidenav">
  <div class="row qck-rchrg-img home_side_corner" emmitcustomevent [scrollFlag]="'off'" alt="recharge_logo">
    <img id="guest-qk-recharge" src="assets/images/common/quick-recharge.png" (click)="setDefaults()" alt="recharge_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>QUICK PAYMENT</h3>
        </div>
        <div class="row form-group">
           <p>A DOE Card is a Felica chip-enabled, contactless payment card which has account balance stored on it and is redeemable to a group of merchants which is in contract with the issuer, facilitating multiple payments with a single card.   It is simply a payment solution using a card which works on the basis of NFC (Near Field Communication) offering high-speed data transfer working at a high frequency.</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="rupee_logo"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>This multi-utility card can be used for access and micropayments at toll booths, metro stations, retail outlets, parking lots, bus/railway stations, etc. </p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<!--mobile number modal starts here-->
<div class="modal rechargePopupModal" id="confirmationrechargeModal" role="dialog" *ngIf="showrechargePopup" style="display: block;closeTimer: 1000">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
              <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
              <p>Recharge successfully done for card number ending with {{recharge.cardNumber.substring(recharge.cardNumber.length - 4)}}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="showrechargePopup = false">OK</button>
            </div>
          </div>

        </div>
      </div>

<!--mobile number modal ends here-->
