.overview_graph__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(140, 160, 179, 0.19);
  padding: 5px 0;
  .export_csv_text {
    font-family: $font-oswald-regular;
    font-size: 13px;
    color: #8ca0b3;
    margin: 0;
    img {
      width: 14px;
      margin-right: 5px;
    }
  }
}
.overview_graph__layout {
  .chart_graphs_view {
    height: 50vh;
  }
  canvas {
    height: 97% !important;
    width: 100% !important;
  }
}
.graph_branch_dropdown{
  width:20%;
}
.overview_graph__filters {
  display: flex;
  border-bottom: 2px solid rgba(140, 160, 179, 0.19);
  padding: 17px 0;
  margin-bottom: 17px;
  h4 {
    font-family: $font-oswald-regular;
    font-size: 16px;
    color: #4a4a4a;
  }
  .graph__filters--buttons {
    display: flex;
    align-items: center;
    .filter__buttons {
      border: 1px solid #979797;
      border-radius: 30px;
      padding: 6px 20px;
      font-family: $font-oswald-regular;
      font-size: 16px;
      text-align: center;
      color: #b7c0c9;
      margin: 0 10px;
      min-width: 93px;
      background: none;
      &:hover {
        background-color: #6f8294;
        color: $color-white;
      }
    }
    .filter__buttons--active {
      background-color: #6f8294;
      color: $color-white;
    }
    p {
      margin: 0 10px;
      font-family: $font-oswald-regular;
      font-size: 16px;
      color: #4a4a4a;
    }
  }
}

.overview_graph__layout--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  .sub_title {
    font-family: $font-oswald-regular;
    font-size: 18px;
    color: #adadad;
  }
  .graph__indicators {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 37%;
    .graph_color_indicators {
      display: flex;
      align-items: center;

      label {
        width: 18.9px;
        height: 19px;
        border-radius: 100px;
        margin: 0;
      }
      p {
        font-family: $font-oswald-regular;
        font-size: 16px;
        color: #363b4e;
        margin: 0 10px;
      }
      .doecard_label {
        background-color: #3ab875;
      }
      .recharge_label {
        background-color: #e25e10;
      }
      .Cash_label {
        background-color: #f9e531;
      }
      .card_label {
        background-color: #321f90;
      }
      .card_passes {
        background-color: #e33e83;
      }
    }
  }

}




// doe_cards_request_layout
.doe_cards_request_layout {
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .cards__quantity {
    width: 52%;
    text-align: center;
    margin-bottom: 20px;
  }
  h4 {
    font-family: $font-oswald-medium;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #9b9b9b;
  }
  .cards__quantity_input {
    border-bottom: 2px solid;
    margin-bottom: 5px;
    border-image-source: linear-gradient(to right, #ffffff, rgba(0, 0, 0, 0.16) 52%, #ffffff);
    border-image-slice: 1;
    input {
      font-family: $font-oswald-light;
      font-size: 85px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0px;
      color: #5d6e7d;
      text-align: right;
      width: 220px;
      border: none;
    }
    .subscript {
      position: relative;
      bottom: 3ex;
      font-family: $font-oswald-light;
      font-size: 32px;
      font-weight: 300;
      color: #9b9b9b;
    }
  }
}
.Payable__amount {
  margin-bottom: 30px;
  display: flex;
  p {
    font-family: $font-oswald-light;
    font-size: 35px;
    font-weight: 300;
    color: #78797a;
  }
  .payable_total {
    font-family: $font-oswald-regular;
    font-size: 35px;
    letter-spacing: 0px;
    color: #2cb673;
    margin-left: 12px;
  }
}

.request_action {
  button {
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-family: $font-oswald-regular;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    border-radius: 100px;
    border: none;
  }
}



.icon-device:before {
  content: "\e98e";
}
