.education_admin_body_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  margin-bottom: 10px;
  .admin_content_section {
    width: 80%;
    h3 {
      opacity: 0.8;
      font-family: $font-oswald-medium;
      font-size: 18px;
      font-weight: 500;
      color: #293c47;
      margin-top: 0;
    }
    p {
      opacity: 0.8;
      font-family: $font-oswald-light;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      color: #293c47;
    }
  }

  .admin_header_logo {
    position: relative;
    &:hover {
      .admin___logo-image_hover {
        position: absolute;
        display: block;
        top: 0px;
        width: 70px;
        text-align: center;
        left: 0;
        background-color: #737373a8;
        right: 0;
        height: 70px;
        border-radius: 50%;
      }
    }

    .admin___logo-image_placeholder {
      position: absolute;
      display: block;
      top: 0px;
      width: 70px;
      text-align: center;
      left: 0;
      background-color: #737373a8;
      right: 0;
      height: 70px;
      border-radius: 50%;

      .uplaod__icon_text {
        transform: rotate(-90deg);
        font-size: 25px;
        display: flex;
      }
    }

  }

  .admin_logo_section {
    border: 1px solid lightgrey;
    p {
      text-align: center;
      font-family: $font-oswald-regular;
      font-size: 13px;
      margin: 5px 0px;
      color: #293c47;
    }
  }
  .admin_logo_section,
  .admin_logo_section--image {
    width: 70px;
    height: 70px;
    border-radius: 50%;

  }
  .admin___logo-image_hover {
    display: none;
    .uplaod__icon_text {
      transform: rotate(-90deg);
      font-size: 25px;
      display: flex;
    }
  }
}

.table_filed__with_image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
