.doecards_body_section {
 /* margin: 20px;*/
  background-color: #fff;
  height: 63vh;
}
.doecards_body_section--nomargin {
  margin-top: 0;
}
.body_section--header {
  padding: 9px 20px;
  height: 47px;
  background-color: #526372;
  display: flex;
  align-items: center;
  h4 {
    margin: 0;
    opacity: 0.98;
    font-family: $font-oswald-bold;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
.doe_cards_form_section {
  text-align: center;
  padding: 30px;
  .doe_cards_form_fields {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    label {
      font-family: $font-oswald-regular;
      font-size: 21px;
      letter-spacing: 1px;
      color: #526372;
      width: 150px;
      text-align: left;
    }
    input {
      border: 1px solid #526372;
      width: 260px;
      padding: 10px;
      border-radius: 5px;
    }
    button {
      width: 200px;
      height: 45px;
      border-radius: 100px;
      box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.27);
      background-color: #9b0d41;
      font-family: $font-oswald-medium;
      font-size: 22px;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      text-transform:uppercase;
    }
  }
}

.doe_cards__tab_section {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 20px;
  .doe_cards__tab_section--name {
    font-family: $font-oswald-medium;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #9b9b9b;
    margin-right: 26px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    p {
      height: 100%;
      display: flex;
      align-items: flex-end;
    }
  }
  .doe_cards__tab--active {
    color: #3a3b3b;
    border-bottom: 3px solid #9b0d41;
  }
}

.education_doe_cards_header {
  .table_header_fixed {
    table{
      thead {
        tr {
          height: 47px;
        }
      }
    }
  }
}
.education_doe_cards {
  //height: 46vh !important;
  table {
    tr {
      height: 47px !important;
    }
  }
}

.doe_table_header_strcture {
  .doe_table_header_row {
    background-color: #5c6e7d !important;
  }
}
.reports_table_body {
  height: 60vh !important;
}
