.guest__page--education {

  .mer-cust-btn {
    padding-top: 0;
  }


  .select-input {
    border: 1px solid $color-education;
  }
  .faq-sub {
    background: $color-education;
    border: 1px solid $color-education;
  }

  .bus_slider_content {
    border-bottom: 1px solid $color-education;
    padding-bottom: 13px;
  }

  .edu_features-slider {
    li {
      border: 1px solid $color-education !important;
    }
    .active {
      background-color: $color-education;
      margin-bottom: -17px;
    }
  }

  .edu_products_indicators{
    bottom: -13px !important;
    li {
      border: 1px solid $color-education;
    }
    .active {
      background-color: $color-education !important;
    }
  }
}
