.education_bg {
  background-color: $color-education !important;
}

.education_text_color {
  color: $color-education !important;
}
.education_gradient_color {
  background-color: #9b0d41 !important;
}

.dashboard_header_with_positions {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.dashboard_content_with_positions{
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
}

.container__scroll_without_header {
  max-height: 74vh;
  overflow-y: scroll;
}
.container__scroll_with_header{
  max-height: 64vh;
  overflow-y: scroll;
}

.education_login_layer_buttons {
  button {
    font-family: $font-oswald-regular;
    font-size: 17px;
    letter-spacing: 1.4px;
    text-align: center;
    color: #9b9b9b;
    &:hover {
      background-color: $color-education;
      color: $color-white;
    }
  }
}

.container__no-subheader {
  padding: 18px 0;
}

.edit__icon,
.delete__icon {
  border-radius: 100px;
  padding: 4px;
  width: 38px;
  cursor: pointer;
}

.edit__icon {
  color: #4a4a4a;
  border: 2px solid #4a4a4a;
}
.delete__icon {
  color: #d0021b;
  border: 2px solid #d0021b;
}

//Tanvir--
@media screen and (max-height: 700px) and (min-height: 600px){
  .cards_section {
    width: 219px !important;
    height: 174px !important;

    &:hover{
      box-shadow: 0 0 20px rgba(33, 33, 33, 0.59);
    }
  }
  .sub_text{
    display: none !important;
  }
}
@media screen and (max-height: 750px) and (min-height: 701px){
  .cards_section {
    width: 219px !important;
    height: 174px !important;

    &:hover{
      box-shadow: 0 0 20px rgba(33, 33, 33, 0.59);
    }
  }
  .sub_text{
    display: none !important;
  }
}

//Tanvir ---

// dasboard css
.education__body_container, .dashboard__body_conatiner {
  .education_pannel-group, .dashboard__pannel-group {
    .custom_accordian__heading {
      background-color: #526372;
      /*border: 2px dashed rgba(239, 243, 246, 0.33);*/
      color: $color-white;
      font-family: $font-oswald-medium;
      font-size: 18px;
      font-weight: 500;
      padding: 16px;
      .custom_accordian__panel-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 20px;
        text-transform: uppercase;
        p {
          margin: 0;
        }
      }
    }
  }

  .education__form-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.modal-dialog__customized {
  width: 70% !important;
  margin:auto;
  position:relative;
  top:18%
}
.add_device_content__fieds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 33px 19px;
}
.custom_dropdown_layout {
  border: solid 2px rgba(74, 74, 74, 0.26);
  border-radius: 4px;
  margin-bottom: 19px;
  padding: 10px 5px;
}
.custom_dropdown_fields {
  width: 48%;
}

.custom_dropdown_fields2{
  width: 30%;

}
.popup__dropdown--values {
  height: 200px;
  overflow-y: scroll;
  p {
    font-family: $font-oswald-regular;
    font-size: 16px;
    &:hover {
      background-color: grey;
      color: $color-white !important;
    }
  }
}
.custom_dropdown_layout--label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    margin: 0;
    font-family: $font-oswald-regular;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #77909d;
    text-transform: uppercase;
  }
}
.custom_dropdown_layout--data {
  display: flex;
  align-items: flex-end;
  p {
    margin: 0;
    font-family: $font-oswald-regular;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #526372;
    opacity: 0.3;
    margin-right: 5px;
  }
  i {
    color: #c6c9cc;
    font-size: 24px;
    font-weight: bolder;
  }
}
.modal_popup__close {
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
  i {
    color: #6f8294;
    cursor: pointer;
  }
}
.modal_popup_action__button {
  text-align: center;
  button {
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.27);
    background-color: #1dae66;
    border-radius: 100px;
    width: 150px;
    border: none;
    height: 40px;
    color: #fff;
    font-family: $font-oswald-medium;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.8px;
    cursor: pointer;
  }
}


.dashboard__action__buttons {
  text-align: center;
  padding: 14px;
  button {
    width: 167px;
    height: 44px;
    border: none;
    border-radius: 100px;
    box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.27);
    font-family: $font-oswald-medium;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.8px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .cancel_back_btn {
    background-color: #ced4d8;
    color: #5e6569;
  }
  .save_ok_btn {
    background-color: #1dae66;
  }

  .menu_icon_fontsize {
    font-size: 155px !important;
  }
}

// sub-header css for dropdown
.sub_header--field_width {
  width: 30%;
}

.sub_header--field_dual_width{
  width: 35%;
}

.sub-header_dropdown_fields {
  width: 60%;
  .sub-header_dropdown_layout {
    border: 1px solid $color-white;
    border-radius: 4px;
    padding: 10px 5px;
    .sub-header_dropdown_layout--data{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      color: $color-white;
      font-size: 22px;
    }
  }
}


.education_overview_section{
  display: flex;
  flex-direction: column;

  .today-date{
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #616161;
    font-family: $font-OpenSans-Regular;
  }

  .overview_header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #eff3f6;
    padding: 10px 60px 0px 45px !important;
    border: solid 1px #eeeeee;
    .reports_page_links{
      background-color: transparent;
    }
    .btn-group {
      border-radius: 40%;
      background-color: #f5f9fa;
      color: #616161;
      font-family: $font-oswald-regular;
    }
    .day-btn {
      background-color: #f5f9fa;
      border-top-left-radius: 40%;
      border-bottom-left-radius: 40%;
      color: #616161;
      border: none;
    }
    .week-btn {
      background-color: #f5f9fa;
      border: none;
      color: #616161;
    }
    .month-btn {
      background-color: #f5f9fa;
      color: #616161;
      border: none;
      border-bottom-right-radius: 148px;
      border-top-right-radius: 148px;
    }

    .active{
      border-radius: 36px !important;
      color: #303030;
      background-color: #ffffff;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }

  .graph {
    padding: 30px 60px 0px 45px;
    //margin-left: -15px;
    .card-block {
      padding: 10px 30px 11px 40px;
      font-family: $font-oswald-medium;
    }

  }
  .graph-card-title {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-family: $font-oswald-medium;
    color: $color-light-text;
    /*margin: 0px 10px 0px 0px;*/
  }

  .stats {
    padding: 15px 45px 30px 30px;
  }

  .card {
    height: 225px;
    box-shadow: 5px 10px 30px 5px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
    .chartjs-graph{
        height:22vh;
      canvas{
        height:105% !important;
        width: 100% !important;
      }
    }
    .card-block {
      height: 100%;
    }
    .small-card-title {
      font-family:$font-oswald-regular;
      font-size: 15px;
      font-weight: bold;
      color: $color-medium-text;
      border-bottom: 1px solid #d8d8d8;
      padding: 10px;
      margin: 0;
    }

    .small-card-text {
      font-family: $font-oswald-regular;
      font-size: 15px;
      font-weight: 600;
      color: $color-light-text;
    }
    .small-card-value {
      font-family: $font-oswald-regular;
      font-size: 50px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $color-education;
    }

    .card-sales-value-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 80%;
      .card-sales-value {
        // position: absolute;
        text-align: center;
        font-size: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


    .reader-stats {
      .small-card-text {
        padding: 60px;
      }
    }
  }
}


.education_request_cards_container{

  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5%;

  .request_cards_content{
    padding-top:5%;
    .card-quantity{
      width: 256.3px;
      height: 44px;
      font-family: $font-oswald-light;
      font-size: 32px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #9b9b9b;
    }
    .total_count_value{
      font-family: $font-oswald-light;
      margin: 35px 0px;
    }
    button{
      background-color: $color-education;
      font-family: $font-oswald-light;
      padding: 5px;
      width: 225px;
      text-transform: uppercase;
    }
    .total_numebr_cards{
      input{
        font-family: $font-oswald-light;
      }
    }
  }

  .page_indication_text{
    font-size: 155px !important;
    padding-top: 10%;
    font-family: $font-oswald-bold;
    width: 100%;
  }

  @media screen and (max-width: 1367px) {
    .page_indication_text{
      font-size: 135px !important;
    }
  }

}


.suspect{
  color: #ff0000;
}

.sale_transaction_table_fotter{
  font-family: $font-oswald-regular;
}

.verified{
  color:#43aa8b;
}

.not_verified{
  color:#ff001f;
}

.semi_verified{
  color:#ff9f00;
}

.view_link_color{
  color: blue;
  cursor: pointer;
}


.staff_header{
  .pagination{
    li.active{
      a{
        background-color: white !important;
        color: #a5084a !important;
      }
    }
    li{
      a{
        background-color: transparent;
        color: white !important;
        border: 2px solid #ffff;
        padding: 8px 13px !important;
        font-family: $font-OpenSans-Bold;
      }
    }
  }

}
.branch_education_text_color{
  color: rgba(49, 57, 67, 0.39) !important;
}
.custom_accordian__panel-default {
  border: none;
}
