<div class="find_more_layout_page">
  <div class="find_more_container" >
  	<div [routerLink]="['/']" class="close-btn cursor"> <img src="assets/images/demo/e-close.png"></div>
    <div class="find_out_more_contnet">
      <div class="contnet_title_section">
        <img class="" [src]="tagSection?.IMG_SRC" alt="doe_card">
        <h1 class="" [innerHTML]="tagSection?.INTRO_LINE"></h1>
      </div>
      <div class="find_out_more_list">
        <ul>
          <li *ngFor="let item of tagSection?.CONTENT">
            <p [innerHTML]="item"></p>
          </li>
        </ul>
      </div>
    </div>
  		<!-- <div class="container-fluid row blck1" style="font-family: OpenSans-Light;font-size:18px;">
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
          <div class="col-md-8 row">
              <div class="col-md-9">
                <div class="row">
                  <h1 class="text-right" style="font-size:50px;" [innerHTML]="tagSection?.INTRO_LINE"></h1>
                </div>
                <div class="row">
                   <div class="col-xs-12 col-md-12">
                      <p class="sect1-text text-right" [innerHTML]="tagSection?.SUB_TITLE">
                      </p>
                   </div>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="row mobile-icon" style="margin-left:25px;">
                    <span class="pull-left p-l-30"><img class="blck1-img" [src]="tagSection?.IMG_SRC" ></span>
                  </div>
              </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
  	   </div>
        <div class="row blck2">
          <div class="col-md-12 left-sect">
            <ul>
              <li *ngFor="let item of tagSection?.CONTENT"><p style="font-family: OpenSans-Regular;font-size: 16px;">{{item}}</p></li>
            </ul>

          </div>

        </div> -->
  </div>
</div>
