<div id="main" class="guest__page side_menu_list guest__page--railways">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_railways">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>


    <div class="row home-menu text-center toll_guest_homepage" id="fp-nav">
        <ul class="home-menu-tag toll-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow cursor "><img src="assets/images/demo/railways-forma.png"><span class="railways_text_color">ABOUT RAILWAYS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/toll/toll-forma-1.png"><span>ABOUT RAILWAYS</span></div>
              </a>
          </li>
          <li class="section2">
              <a data-target="#2">
                <div class="text-center flow cursor"><img src="assets/images/demo/railways-forma.png"><span class="railways_text_color">FEATURES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/toll/toll-forma-1.png"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow cursor"><img src="assets/images/demo/railways-forma.png"><span class="railways_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/toll/toll-forma-1.png"><span>PRODUCTS</span></div>
              </a>
          </li>
          <!-- <li class="section5">
              <a data-target="#4">
                <div class="text-center flow cursor"><img src="assets/images/demo/railways-forma.png"><span class="railways_text_color">SERVICES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/toll/toll-forma-1.png"><span>SERVICES</span></div>
              </a>
          </li> -->
          <!-- <li class="section3">
              <a data-target="#5">
                <div class="text-center flow cursor"><img src="assets/images/demo/railways-forma.png"><span class="railways_text_color">FAQS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/toll/toll-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>


    <div class="row sectiondiv" id="tolllandpage" mnFullpage [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row tollsection slide fp-section fp-table" data-section-name="abouttoll">
        <div class="row fp-tableCelln service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
              	<div class="col-md-7">
              		<h3 class="finace-head" [innerHTML]="content?.RAILWAYS.ABOUT.INTRO_LINE"></h3>
              		<p class="finace-sub">{{content?.RAILWAYS.ABOUT.SUB_TITLE}}</p>

              		<!-- <span class="finace-subpart" [routerLink]="['./be-merchant']" >Want to become an DOE Merchant?</span> -->
              	</div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/railways/railways-landing.png"></div>
              </div>
          </div>
        </div>
        <div class="fixed_menu_buttons railways_clr">
          <button type="button" name="button" [routerLink]="[ '/']">Consumer</button>
          <button class="active_button" type="button" name="button" [routerLink]="[ '/merchant']">Bussiness</button>
          <button type="button" name="button" [routerLink]="[ '/corporate']">Corporate</button>
        </div>
      </div>

    <!-- Section 1 ends here-->

     <!-- Section 2 starts here-->

      <div id="section2" class="container-fluid row tollsection slide fp-section fp-table" data-section-name="features">
        <div class="fp-tableCell service_section_alignment">
          <div class="merchant__feature_container">
            <div col="row">
              <h1 class="text-center" [innerHTML]="content?.RAILWAYS.FEATURES.TAG_LINE"></h1>
            </div>
            <div class="merchant_services_features_layout">
              <div class="services_features_section services_features_section__railways">
                <div class="features_image_section features_image_section__railways">
                  <img class="non-hover-image" src="assets/images/demo/railways/nfc-non-hover.png" alt="">
                  <img class="hover-image" src="assets/images/demo/railways/nfc-hover.png" alt="">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.PAPERLESS_TICKETING.NAME"></h4>
                  <p [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.PAPERLESS_TICKETING.SUMMARY"></p>
                </div>
              </div>

              <div class="services_features_section services_features_section__railways" >
                <div class="features_image_section features_image_section__railways">
                  <img class="non-hover-image" src="assets/images/demo/railways/ticket-non-hover.png" alt="">
                  <img class="hover-image" src="assets/images/demo/railways/ticket-hover.png" alt="">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.TRAVEL_PASS.NAME"></h4>
                  <p [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.TRAVEL_PASS.SUMMARY"></p>
                </div>
              </div>

              <div class="services_features_section services_features_section__railways" >
                <div class="features_image_section features_image_section__railways">
                  <img class="non-hover-image" src="assets/images/demo/railways/booking-non-hover.png" alt="">
                  <img class="hover-image" src="assets/images/demo/railways/booking-hover.png" alt="">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.FLEET_ROUTE_MANAGEMENT.NAME"></h4>
                  <p [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.FLEET_ROUTE_MANAGEMENT.SUMMARY"></p>
                </div>
              </div>

              <div class="services_features_section services_features_section__railways">
                <div class="features_image_section features_image_section__railways">
                  <img class="non-hover-image" src="assets/images/demo/railways/train-station-non-hover.png" alt="">
                  <img class="hover-image" src="assets/images/demo/railways/train-station-hover.png" alt="">
                </div>
                <div class="features_content_section">
                  <h4 [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.EMPLOYED_ID_ACCESS.NAME"></h4>
                  <p [innerHTML]="content?.RAILWAYS.FEATURES.CONTENT_TABS.EMPLOYED_ID_ACCESS.SUMMARY"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- Section 2 ends here-->

        <!-- Section 4 starts here-->
      <div id="section4" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="products">
        <div class="fp-tableCell service__products">
          <div class="procucts__cards_layout">
            <ng-container *ngFor="let item of railwaysLand.deviceinfo.items | keys; let i=index" >
              <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                <div class="procuct__image">
                  <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                  <img src="{{railwaysLand.deviceinfo.items[item].image}}" alt="">
                </div>
                <div class="product__details">
                  <h4 class="Product_title">{{railwaysLand.deviceinfo.items[item].name}}</h4>
                  <p class="product__description">{{railwaysLand.deviceinfo.items[item].summary}}
                  </p>
                  <h3 class="prdct_cost" *ngIf="railwaysLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{railwaysLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
   <!-- Section 4 ends here-->

      <!-- Section 5 starts here-->

      <!-- <div id="section4" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="services">
        <div class="fp-tableCell service__products">

          <div class="services__container six_layer_service_container">
            <div col="row">
            <h1 class="text-center"><span class='basic-color'>LOREM IPSUM</span> IS SIMPLY DUMMY TEXT OF</h1>
            </div>
            <div class="services__sections__layout four_layer_service_section_box">
              <div class="srvice_section_box">
                <div class="railways_service__section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/railways/locomotive.png" alt="">
                  </div>
                </div>
                <p>Railways</p>
              </div>
              <div class="srvice_section_box">
                <div class="railways_service__section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/railways/locomotive.png" alt="">
                  </div>
                </div>
                <p>Railways</p>
              </div>
              <div class="srvice_section_box">
                <div class="railways_service__section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/railways/locomotive.png" alt="">
                  </div>
                </div>
                <p>Railways</p>
              </div>
              <div class="srvice_section_box">
                <div class="railways_service__section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/railways/locomotive.png" alt="">
                  </div>
                </div>
                <p>Railways</p>
              </div>
            </div>
          </div>

        </div>
      </div> -->





       <!-- Section 5 ends here-->


        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row tollsection slide fp-section fp-table" data-section-name="faq">
          <div class=" fp-tableCell">
              <div class="faq__section_content">
                  <h1 class="faq row">FAQs</h1>
                  <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
                  <div class="row">
                    <div class="select-topic col-md-4">Select a topic</div>
                    <div class="col-md-6 select-input" #c (change)="changefaqbyid(c.value)">
                        <select class="" #c (change)="changefaqbyid(c.value)">
                          <ng-container *ngFor="let item of content?.RAILWAYS.FAQS; let j=index ">
                            <option value="{{j}}" >{{item.description}}</option>
                          </ng-container>
                        </select>
                    </div>
                    <div class="col-md-2">
                      <input CommonSideMenu [type]="'tollfaq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
                    </div>
                  </div>
              </div>
          </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>
    <railways-footer></railways-footer>
</div>

<!-- right features nav bar starts -->
<railways-features></railways-features>


<!-- right features nav bar ends -->

<!-- right faq nav bar starts -->

<div id="toll-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png">
    <img class="top-img2" src="assets/images/toll/faq-logo.png">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(railwaysLand.selectedFaqTopic && railwaysLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{railwaysLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of railwaysLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->
<modal></modal>

<merchant-guest-login></merchant-guest-login>
