.fee_fine_page_bg {
  width: 100%;
  height: 74%;
  object-fit: contain;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;
}

.fee_fine_page_textbox {
  width: 100%;
  height: 81px;
  font-family: Oswald;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.3px;
  text-align: center;
  color: #78797a;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fee_fine_page_textbox .text-style {
  letter-spacing: normal;
}

.fee_fine_page_ammount_field {
  width: 100%;
  height: 68px;
  font-family: Oswald;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #78797a;
  input{
    border: none;
    width: 5%;
    opacity: 1;
    color : #2cb673;
  }
}

.fee_fine_page_ammount_field .text-style {
  font-weight: normal;
  // color: #2cb673;
}

.fee_fine_button_field{
  display: flex;
  justify-content: center;
}

.fee_fine_page_edit_btn {
  width: 318.5px;
  height: 66.3px;
  object-fit: contain;
  border-radius: 100px;
  background-color: #e36d3d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fee_fine-page_edit_lbl {
  width: 124px;
  height: 41px;
  font-family: Oswald;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  align-self: center;

}

.fee_fine_rupee_symbole{
  font-family: PingFangSC;
  color: #2cb673;
}
