/*****    toll guest page css starts      *****/

.toll .finance-icon{
    width : 300px;
}

// .toll .finace-head{
//   font-family: OpenSans;
//   font-size: 65px;
//   font-weight: 300;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.17;
//   text-align: left;
//   color: #201f22;
// }
.toll .financial-headpart{
  color: #fa7173;
}
//
.toll .finace-subpart{
  color: #fa7173;
  text-decoration:underline;
  cursor: pointer;
}

// .toll .finace-sub{
//   font-family: Seravek;
//   font-size: 20px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.2;
//   text-align: left;
//   color: #ccced3;
// }

.toll .home-menu-tag .flow span{
  color: #fa7173 !important;
  font-size: 14px !important;
}

.toll .nav-text{
  color : black;
  font-family: $font-OpenSans-Semibold;
  letter-spacing: 1px;
}

.toll .cart-icon{
  width:20px;
}
.toll .cart-count{
  position: absolute;
  bottom: -15px;
  text-align: center;
  padding: 5px;
  width: 20px;
  height: 20px;
  right: 0px;
  color: #ffffff;
  background-color: #fa7173;
  font-size: 10px;
  font-family: $font-OpenSans-Light;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toll .basic-color{
  color: #fa7173;
}

.toll .sext2-line hr {
  border-top: 1px solid #fa7173;
}
.toll .toll-rupee-icon{
  width: 80%;
  padding-top: 20px;
}

.toll .hm-scr2-blck{
  padding-top:70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center

}

.toll .hm-scr2-blck:hover , .toll .hm-scr2-blck:focus{
  padding-top:0px;
}
.toll .hm-scr2-blck .name-text{
  position: relative;
  top: -70px;
  font-size:15px;
}

.toll .hm-scr2-blck .view-btn{
  position: relative;
  background: #fa7173;
  top: -105px;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  border: none;
  width: 65px !important;
}

.toll .hm-scr2-blck:hover .name-text, .toll .hm-scr2-blck:focus .name-text{
  top: -120px;
}

.toll .hm-scr2-blck p{
    font-size: 12px;
    position: relative;
    top: -45px;
}

.toll .hm-scr2-blck .img-defalt{
  width:150px;
}

.toll .hm-scr2-blck .img-hover{
  width:150px;
}

.toll .faq {
  opacity: 0.7;
  font-family: $font-OpenSans-Light;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: rgba(35, 34, 38, 0.7);
}

.toll #section3>.row {
    padding-top: 15%;
}

.toll .faq-cont {
  opacity: 0.8;
  font-family: $font-OpenSans-Light;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.1;
  letter-spacing: 0.4px;
  text-align: center;
  color: rgba(35, 34, 38, 0.8);
}
//
// .toll .select-topic {
//   opacity: 1;
//   font-family: Opensans;
//   font-size: 15px;
//   font-weight: 600;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 2.1;
//   letter-spacing: 0.4px;
//   text-align: right;
//   color: rgba(35, 34, 38, 0.8);
// }

.toll .select-input {
  border: 1px solid #fa7173;
}

// .toll .select-input select {
//   padding: 5px 8px;
//   width: 130%;
//   border: none;
//   box-shadow: none;
//   background: transparent;
//   background-image: none;
//   -webkit-appearance: none;
//   color:black;
// }

.toll .faq-sub {
  background: #fa7173;
  border: 1px solid #fa7173;
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}

.toll_logout_btn {
  border: 1px solid $color-toll;
  color: $color-toll;
  &:hover {
    background-color: #fa7173;
    color: #fff;
  }
}

.toll_guest_nav_header {
  background-color:#f2f3f6;
}
.faq_header {
  font-family: $font-OpenSans-Semibold;
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: center;
  color: #232226;
}
/*****    toll guest page css ends      *****/
