.toll-company {
    .notice {
        height: 60px;
        background-color: #ff5757;
        .notice-btn {
            color: white;
            border: none;
            background-color: #313942;
            padding: 10px 20px 10px 20px;
            margin-top: 15px;
            border-radius: 5px;
            font-size: 10px;
       }
        .notice-msg {
            padding: 20px;
            font-family: Oswald;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
       }
   }
    .menu-bar {
      background-position: 100%;
      transition-property:color;
        &.active {
          color: #f36061;
          background-position: 0%;
          background-size: 200% 100%;
          transition: all 0.65s cubic-bezier(0.000, 0.000, 0.230, 1);
          text-decoration: underline;
       }
   }
}
.add_extra_field_wrapper {
    height: 53%;
    width: 87%;
}
.dashboard_dropdown_field {
    color: #fff;
    .cart_summary_dropdown {
        background-color: #313942 !important;
        color: #fff;
        background: url(../assets/images/guest/forma-1.png) right 10px center no-repeat #313942;
   }
}
.settings__new_view {
    display: flex;
    align-items: center;
    .title_list {
        li {
            cursor: pointer;
       }
        .active {
            color: $color-toll;
       }
   }
}

/**** toll company css starts *****/
.toll-company-body {
    position: absolute;
    z-index: 1;
    //padding-top: 20px;
    width: 100%;
    .welcome{
      font-family: $font-oswald-medium;
      font-size: 58px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $color-light-text;
      text-align: left;
      margin:0px;
   }
    .today-date{
      text-align: left !important;
      font-family: $font-oswald-regular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.0;
      letter-spacing: normal;
      text-align: center;
      color: $color-light-text;
   }
    .card__content__thumbnail, .card__content__thumbnail__image{
        height: 96px;
        width: 96px;
        border-radius: 50%;
   }
    .card__content__thumbnail {
        border-radius: 50%;
        border: 1px solid #dedede;
        cursor: pointer;
        box-shadow: 5px 10px 30px 5px rgba(0, 0, 0, 0.16), 0px 0px 25px 0 rgba(0, 0, 0, 0.04);
        background-color: #fff;
   }
    .card__content__thumbnail__image {
        background-position: center;
        background-repeat: no-repeat;
        //background-size: 80%;
   }
   .branch-trnctns {
        .card-title, .reader-issues .card-title, .stats .card-title{
                border-bottom: 1px solid #d8d8d8;
        }
            .trnctns{
                text-align: center;
                font-family: Opensans-Regular;
                font-size: 55px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #ff5757;
        }
        .trnctns-val-txt{
                text-align: center;
                opacity: 0.3;
                font-family: Oswald-Regular;
                font-size: 17px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
        }
        .trnctns-val{
            text-align: center;
            opacity: 0.5;
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
        }
    }

    // done
    .reader-issues .reader-issues-txt{
        opacity: 0.3;
        font-family: Oswald-Regular;
        font-size: 15px;
        padding: 50px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
    }

    // done
    .stats {
        .percent{
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            margin: 0px;
            line-height: normal;
            letter-spacing: normal;
            padding: 12px 0px 0px 0px;
            color: #37394c;
        }
        .rate-txt{
            font-family: Oswald-Regular;
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 1px;
            color: #999999;
        }
        .earnings{
            font-family: Oswald-Regular;
            font-size: 10px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #37394c;
            margin:0px;
        }
        .earn-value{
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #37394c;
        }
        .trans-arrow{
            padding: 20px;
        }
    }
    .weeklychart-container, .activetollbooths-container{
        width: 80%;
        margin: 15px auto;
    }
    .middle-card{
        border-bottom: 1px solid #d8d8d8;
    }
    .notification{
        padding-top: 75px;
    }
    .graph-title{
        opacity: 0.3;
        font-family: Oswald-Bold;
        font-size: 17px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #37394c;
    }
    .notification .not-text{
        font-family: Oswald-Bold;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        padding: 15px;
        letter-spacing: normal;
        color: #42444d;
    }
    .notification .not-num{
        position: absolute;
        right: 5px;
        top: -5px;
        border: 5px solid #2bb673;
        background: #2bb673;
        box-shadow: 0 0 0 2px white;
        color: white;
        font-size: 12px;
        border-radius: 50%;
    }
    .notification .pend-act-img, .toll-company-body .notification .msg-img{
        width:60px;
    }
    .indiv-toll-prog{
        padding-top: 34px;
        .toll-avatar{
            width:30px;
        }
        .progress{
            height: 5px !important;
            margin-top: 5px !important;
        }
        .carousel-indicators {
            position: relative;
            margin-top: 20px;
            left: 0 !important;
            margin-left: 0 !important;
        }
        .carousel-indicators li{
            background-color: #dedede !important;
            border: none !important;
            margin:2px !important;
            width:7px !important;
            height:7px !important;
        }
        .carousel-indicators .active{
          background-color: #f76263 !important;
          width:7px !important;
          height:7px !important;
          margin: 2px !important;
        }
    }

}



.toll-company {
  .toll-company-info {
      height: calc(100% - 85px);
      //margin-top: -20px;
      position: fixed;
      width: 100%;
      background-color: white;
      .actions-tab{
          height: 75px;
          width: 100%;
          z-index: 10;
          position: fixed;
          background-color: #eff3f6;
          border: 1px solid transparent;
      }
      .toll-actions-info{
          z-index: 1;
          padding: 0px;
          height: 100%;
      }
      .toll-actions-info .view-actions{
          height: calc(100% - 100px);
          width: 100%;
          overflow: scroll;
          margin-top: 75px;
      }
      .toll-actions-info .view-actions tr{
          vertical-align: middle;
          text-align: center;
      }
      .toll-actions-info .view-actions td{
          height:75px;
      }
      .toll-actions-info .view-actions th{
          height:60px;
          vertical-align: middle;
          text-align: center;
      }
      .toll-actions-info .view-actions .table-cell .table-striped>tbody>tr:nth-of-type(even){
          background-color: #fbfcfc;
      }
      .company-messages{
          box-shadow: 0px -1px 20px 9px rgba(0, 0, 0, 0.14);
          padding: 15px;
          margin: 15px;
          height: 82%;
          z-index: 2;
          background: white;
          position: relative;
      }
      .company-messages .company-messages-list{
          padding: 20px 15px 20px 30px;
          height: 74vh;
          overflow-y: scroll;
      }
  }

  .branch-dashboard .branch-name{
      height: 55px;
      border: solid 2px #22282e;
      padding:10px 0;
  }
  .branch-dashboard .branch-name select{
      background: none;
      color: white;
      width: 100%;
      font-family: Oswald-Regular;
      font-size: 20px;
      border: none;
      vertical-align: middle;
  }
  .toll-company-stats{
      padding: 25px 10px;
      height:100%;
      z-index:1;
     /*overflow: scroll;
      */
      .branch-list{
          height:175px;
          box-shadow: 0px -1px 20px 9px rgba(0, 0, 0, 0.14);
          border: none;
          margin-bottom: 20px;
          position: relative;
          background: #fff;
          padding: 20px;
          display: block;
      .total-list{
          height:175px;
          box-shadow: 0px -1px 20px 9px rgba(0, 0, 0, 0.14);
          border: none;
          margin-bottom: 20px;
          position: relative;
          background: #fff;
          padding: 20px;
          display: block;
      }
      .graph-data{
          box-shadow: 0px -1px 20px 9px rgba(0, 0, 0, 0.14);
          border: none;
          margin-bottom: 20px;
          margin-top: 10px;
          position: relative;
          background: #fff;
          padding: 20px;
          display: block;
          height:375px;
      }
      .graph-data-head{
          border-bottom: 1px solid rgba(140, 160, 179, 0.4);
          padding:5px;
      }
      .graph-data-head select{
          background: none;
          border: none;
          color: #fc6465;
          font-family: OpenSans-Regular;
          font-size: 10px;
          border-bottom:1px solid #fc6465;
          border-radius: 0px;
      }


      .graph-data-head .export-text{
          font-family: OpenSans-Regular;
          font-size: 10px;
          font-weight: bold;
          color: #8ca0b3;
      }
      .company-stats{
          padding:15px;
          height:150px;
      }
      .graph-filter{
          font-size: 12px;
          font-family: Oswald-Regular;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #6f8294;
          background-color: #ffffff;
          border-radius: 20px;
          border: 1px solid #6f8294;
          padding: 7px 20px 7px 20px;
          cursor: pointer;
          margin: 0px 15px;
      }
       .donut-graph-part{
          height:90px;
          padding:5px;
      }
       .donut-graph-part p{
          color: #f26061;
          font-family:Opensans-Regular;
      }
       .earnings-part{
          font-family: Opensans-Regular;
          padding-left:25px;
      }
       .earnings-part p{
          font-size:10px;
          margin-bottom:5px;
      }
       #doughnut-chart{
          width:100px !important;
          padding:0px;
      }
       .filter-list{
          display:flex;
          margin:20px;
      }
       .filter-list p{
          font-family: OpenSans-Regular;
          font-size: 15px;
          color: #4a4a4a;
          margin: 5px 0px;
      }
       .earn-data-head{
          font-family: OpenSans-Regular;
          font-size: 10px;
          color: #697b8c;
          padding: 0px 10px;
          margin-bottom: 25px;
      }
       .branch-earnings{
          width:200px;
          font-weight: 300;
          text-align: right;
          color: #4f677d;
      }
      .graph-filter:hover, .graph-filter .active{
          color:#ffffff ;
          background-color:#6f8294 ;
          border:none;
      }

       .earn-branch-data td{
          border:none;
      }
       .total-earnings{
          border-right:2px solid rgba(34, 40, 46, 0.2);
          color: #4f677d;
          padding: 10px 20px;
      }
       .total-earnings h4{
          color:#f26061;
      }
  }
}

.toll-settings-account-company{
    padding: 85px 15px 15px 15px;
    height: 100%;
    .card__content__thumbnail, .toll-settings-account-company .card__content__thumbnail__image{
        width: 125px;
        height: 125px;
    }
    .card__content__thumbnail__image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}


.toll-graph-container{
    .graph-data{
        height: 50vh!important;
   }
    .chartjs-graph{
        display: block;
        height: 40vh;
   }
}
.accnt_settings_form__state_label {
    .cart_dropdown_span_field {
        border: 2px solid #9e9e9e;
        background-color: $color-white;
        padding: 5px;
   }
    .cart_summary_dropdown {
        background-color: $color-white;
        height: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
   }
}


.accnt_settings_form__input_cheque {
    padding: 2px 10px !important;
}
.company_dashboard__navbar {
    margin-bottom: 0 !important;
}
.toll__accnts_dashboard {
    margin-top: 0 !important;
}
.tri{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
}
.all-branches-contianer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.toll-dash-account-setting-modal-popup{
background: rgba(73, 73, 73, 0.78);
    bottom: 0;
    display: none;
    left: 16.6%;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 11.4%;
    z-index: 1061;
}

.toll-dash-account-setting-modal__wrapper{
    border-radius: 2px;
    display: block;
    height: auto;
    margin: 161px auto;
    width: 636px;
    border-radius: 11px;
}

#weeklychart, #dailystats{
    width:100% !important;
    height:110px !important;
    padding-bottom: 20px;
}
#doughnut-chart{
    width:100px !important;
    height:75px !important;
    padding:20px;
}
}

.toll-dash-account-setting-modal-text{
  color: white;
  font-size: 50px;
}

.toll-dash-accoutn-setting-upload-logo{
  height: 100%;
  border-radius: 100%;
}

.other-seting-scroll{
  height: 100%;
  overflow: scroll;
}

.toll-details-top-margin{
  margin-top: 10%;
}

.legal-agreement-pop-up-img{
  width: 100%;
  //height: 100%;
}
.legal-agreement-pop-up-header{
  justify-content: space-between !important;
  padding-left: 10px !important;
}
