/*****    toll register css starts      *****/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.toll-register .register-type{
      padding-top: 96px;
}

.toll-register .register-type-box{
  height: 81%;
  margin: 0px 50px 15px 150px;
  background: white;
  border: none;
}

.toll-register .register-type-box .head{
	font-family: $font-Roboto-Regular;
	font-size: 45px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #232226;
}

.toll-register .register-type-box .descrip{
	font-family: Oswald-Regular;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: center;
	color: #c9ced0;
}

.toll-register .company .company-hover, .toll-register .contractor .contractor-hover{
  display:none;
}


.toll-register .company.active .company-hover, .toll-register .contractor.active .contractor-hover{
  display:inline-block;
}

.toll-register .company.active .company-no-hover, .toll-register .contractor.active .contractor-no-hover{
  display:none;
}
.toll-register .company h3, .toll-register .contractor h3{
	font-family: Oswald-Regular;
	font-size: 30px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #b4b4b4;
}

.toll-register .company.active h3, .toll-register .contractor.active h3{
	font-family: Oswald-Regular;
  	font-size: 30px;
  	font-weight: 900;
  	font-style: normal;
  	font-stretch: normal;
  	color: #232226;
}

.toll-register .company.active h3{
  margin-right: -145px !important;
}

.toll-register .contractor.active h3{
  margin-left: -175px !important;
}


.toll-register .company .circle-cm{
  width: 150px;
  position: relative;
  float: right;
  margin: 30px 20px 0px 0px;
  z-index: 0;
}

.toll-register .company .circle-hv-cm{
  width: 175px;
  position: relative;
  float: right;
  margin: 20px 10px 0px 0px;
  z-index: 0;
}

.toll-register .company .logo-cm{
    width: 30px;
    position: relative;
    float: right;
    margin: 85px -95px 0px 20px;
    z-index: 2;
}

.toll-register .company .logo-hv-cm{
    width: 50px;
    position: relative;
    float: right;
    margin: 85px -115px 0px 20px;
    z-index: 2;
}


.toll-register .company .tick-cm{
    width: 50px;
    position: relative;
    float: right;
    margin: 35px -175px 0px 20px;
    z-index: 2;
}

.toll-register .company .text-cm{
  position: relative;
  float: right;
  margin-right: -130px;
  margin-top: 195px;
}





.toll-register .contractor .circle-cc{
  width: 150px;
  position: relative;
  float: left;
  margin: 30px 0px 0px 20px;
  z-index: 0;
}

.toll-register .contractor .circle-hv-cc{
  width: 175px;
  position: relative;
  float: left;
  margin: 30px 0px 0px 20px;
  z-index: 0;
}

.toll-register .contractor .logo-cc{
  width: 40px;
  position: relative;
  float: left;
  margin: 85px 0px 0px -95px;
  z-index: 2;
}

.toll-register .contractor .logo-hv-cc{
  width: 65px;
  position: relative;
  float: left;
  margin: 85px 0px 0px -120px;
  z-index: 2;
}


.toll-register .contractor .tick-cc{
  width: 50px;
  position: relative;
  float: left;
  margin: 35px 0px 0px -60px;
  z-index: 2;
}

.toll-register .contractor .text-cc{
  position: relative;
    float: left;
    margin-left: -150px;
    margin-top: 195px;
}

.toll-register .submit-box{
  background: #fa7173;
   padding: 5px 50px 5px 50px;
  border: 1px solid #fa7173;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Oswald-Regular;
}

.toll-register .skip-step{
        /* background: #fa7173; */
    padding: 5px 50px 5px 50px;
    /* border: 1px solid #fa7173; */
    border-radius: 20px;
    color: #fa7173;
    // margin-top: 50px;
    text-decoration: underline;
}

/*****    toll register cssends      *****/

/*****    toll register company cssstarts      *****/
.toll-register-company{
  color:black;
}
.toll-register-company .entity-head{
	font-family: Oswald-Regular;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.9px;
	text-align: left;
	color: #232226;
}

.entity-head-toll{
  color: $color-toll!important;
  margin: 17px 0;
}



.toll-register-company .entity-subhead{
  font-family: Oswald-Regular;
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #77909d;
}


.toll-register-company .register-type-box{
  overflow-y: scroll;
  overflow-x: hidden;
}

.toll-register-company .well{
  padding:10px !important;
  background-color: white;
  text-align: center;
  &:focus-within {
    border: solid 1px $color-toll;
  }
}

.well .upd-icn{
width:20px;
}

.well.error{
    border: 1px solid #fa7173;
}

.well.error input{
    color: #fa7173 !important;
}

.well.upld-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.well .upld-icn-txt{
    font-size:5px !important;
    text-align: center !important;
    margin:2px;
}

.toll-register-company .well p{
  font-family: Oswald-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #77909d;
}

.toll-register-company .well input{
  background-color: transparent;
  border: none;
  font-family: Oswald-Regular;
	font-size:20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
  width: 280px;
	letter-spacing: 0.9px;
	text-align: right;
	color: #000000;
  box-shadow: none;
}

.toll-register-company .company-sect, .toll-register-company .doe-card-sect{
  border-top: solid 2px #dbe5ea;
  border-top-style: dashed;
  padding: 22px 0;
  border-bottom: 2px solid #dbe5ea;
  border-bottom-style: dashed;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f8fafc;
}

.toll-register-company .upload-icon{
   width: 20px;
   margin:15px 15px 0px 0px;
  //      margin: 18px 12px 0px 0px;
   float:right;
}

.toll-register-company  .doe-card-sect .submit-box{
      margin-top: 7px !important;
      margin-right: 60px;
      float: right;
      background: #99e914;
      border: 1px solid #99e914;
}

.toll-register-company .add-person{
      background-color: rgba(124, 144, 155, 0.44);
      color: #424a4d;
      border: none;
      font-family: Oswald-Regular;
}
.toll-register-company .add-person:disabled{
  background-color: #7c909b;
  opacity: 0.3;
}


.toll-register-company.customer-login .active{
    box-shadow: none;
}
/*****    toll register company cssends      *****/

/*****    toll register branch cssstarts      *****/
.toll-register-branch{
}
.toll-register-branch .branch-coll{
    padding-top:30px !important;
}

.toll-register-branch .register-type-box, .toll-register-operator .register-type-box{
    margin: 0px 0px 0px 0px;
    height: inherit;
}
.toll-register-branch .highway-type, .toll-register-contractor .highway-type{
   font-family: Oswald-Regular;
   font-size: 15px;
   color: #000000;
   padding:20px;
   opacity:0.6;
}
.branch-section{
    height: 76%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 83%;
    margin: 102px auto 0;
}

.branch-section .panel-title{
    margin:15px;
}

.branch-section .panel-group .panel+.panel{
    margin-top:20px;
}

.branch-section .panel-collapse>.panel-body{
    padding:0px;
}

.toll-register-branch .highway-type .hover, .toll-register-contractor .highway-type .no-hover, .toll-register-contractor .highway-type .hover, .toll-register-branch .highway-type .no-hover {
    width:20px;
    margin-top:-5px;
    opacity:1;
}
.toll-register-branch .highway-type .hover, .toll-register-contractor .highway-type .hover{
  display:none;
}

 .toll-register-branch .highway-type.active .hover, .toll-register-contractor .highway-type.active .hover{
  display:inline-block;
}

 .toll-register-branch .highway-type.active .no-hover,  .toll-register-contractor .highway-type.active .no-hover{
  display:none;
}

/*****    toll register branch cssends      *****/

/*****    toll register success cssstarts      *****/
.toll-register-success .register-type-box{
  height: 55% !important;
  width:50%;
  margin: 5% 25% 0 25% !important;
}

.toll-register-success .register-type-box .head{
   font-size:20px !important;
}

.toll-register-success .register-type-box .descrip{
   font-size:15px !important;
}

.toll-register-success .submit-box{
  margin-top: 20px;
}

.toll-register-success .success-tick{
  position: absolute;
  width: 50px;
  top: -15px;
  right: 30px;
}
/*****    toll register branch cssends      *****/



.panel-collapse{

  a {
    line-height: 74px;
    padding: 16px;
    margin: -20px!important;
    display: block;
    text-decoration: none;

  }
}


.add_gray_container{
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 0 24px 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;

  .add-button, .remove-button{
    margin-left: 27px;
    margin-top: 13px;
    width: 18px;

  }
}

.panel-collapse {
  background-color: #fff!important;
  a{
    span{
      font-size: 65px;
      font-weight: bold;
      letter-spacing: 4px;
      font-family: Oswald-Bold;
      color: #fdf5f6;
      margin-top: 10px;
    }

  }
}

.branch-heading-containers{
  margin-top: -86px;
  margin-bottom: 12px;
  .branch-heading{
    height: 46px;
    background-color: transparent!important;
    p{
      margin-top: -24px;
      input{
        margin-top: 20px;
      }
    }

  }
}


.field_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  border: solid 2px rgba(74, 74, 74, 0.26);
  border-radius: 4px;
  padding: 7px;
  label{
    margin:0;
    margin: 0;
    font-family: $font-oswald-regular;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #77909d;
  }
  .field_container_input{
    width: 76%;
    background-color: transparent;
    border: 0px solid;
    font-family: $font-oswald-regular;
    font-size: 20px;
    letter-spacing: 0.9px;
    text-align: right;
    color: #000000;
    box-shadow: none;
  }
}

.form-error{
//  margin: -28px -2px 0 0;
  text-align: right;
  color: red;
  font-family: $font-OpenSans-Semibold;
}

.sam-number-container{
  margin-bottom: 20px;
}

.upload-icon-barcode{
  width: 20px;
  margin-right: 26px;
}


.samnumber_container{
  margin-right: 0;
}

.mat-form-field {
    font-size: 20px;
    font-weight: normal !important;
    line-height: 1.125;
    width : 100% !important;
    font-family: Oswald-Regular !important;
}

// .state_code_dropdown{
//   .mat-input-element {
//     color: #000;
// }


// .states_dropdown_options{
//   margin-top: -28px;
//   margin-bottom: -15px;
// }

// .mat-input-placeholder{
//   color: #77909d!important;
// }


// .mat-input-subscript-wrapper .mat-form-field-subscript-wrapper{
//   background-color: #d2d2d2!important;
// }

// .mat-input-wrapper{
//   height: 73px;
// }

// .mat-form-field-infix{
//   width: 300px;
// }

// .mat-input-underline .mat-form-field-underline{
//   display: none;
// }






// }

// .mat-input-wrapper .mat-form-field-wrapper{
//   display: flex;
//   align-items: center;
// }



// DROPDOWN CSS


.dropdown_input{
  text-align: left!important;
  margin-bottom: -22px;
}

.dropdown_chevron{
  width: 15px !important;
  margin-top: -4px;
  height: 15px;
}

.dropdown_container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 20px;
  top: 50px;
  z-index: 991;
  width: 92%;

  .dropdown_options{
    display: none;
    background-color: #fff;
    .displayed_item{
      color: #000;
      padding: 8px 11px;
      width: 170px;
      display: inline-block;
      width: 521px;
      font-size: 19px;
      text-align: right;

    }
  }

  .dropdown-options-display{
    display: inline!important;
    max-height: 200px;
    overflow-y: scroll;
  }
}



.common_dropdown{
  position: absolute;
  z-index: 10;
  top: 8px;
  width: 100%!important;
  .dropdown_click{
      width: 62% !important;
      margin-left: 29%;
      border: none;
      .dropdown_arrow{
        width: 100%!important;
          background: url(../assets/images/guest/forma-1-copy-4.png) right 10px center no-repeat;
          background-size: 15px;
          height: 50px;
          border: none;
          h2{
            line-height: 45px;
            text-align: right;
            padding-right: 40px;
            font-family: Oswald-Regular;
            color: #000;
            margin-top: 2px;
            font-size: 28px;
          }
     }
      text-align: left;
 }
  .dropdown_options_container{
    background-color: #f0f5f8;
    width:94%;
    margin-left: -2%;
      .dropdown_options{

          color: #000;
          list-style-type: none;
          li{
              width: 109.5%;
              margin-left: -9.5%;
              text-align: right;
              font-family: Oswald-Regular;
              color: #5f5f5f;
              line-height: 30px;
              font-size: 16px;
              padding-right: 22px;
         }
         li:hover{
          background-color: #fff;
         }
     }
 }

 @media only screen and (min-width : 1378px) {
    .dropdown_options_container{
      background-color: #f0f5f8;
      width:95%;
      margin-left:-1%;
   }
  }
}

// habdeled devices
.handeled_reader_fields {
  height: 52px;
}
.sam_add_button {
  height: 52px;
  background: none;
  font-size: 34px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color: #000;
  font-family: $font-OpenSans-Semibold;
}
.sam_remove_button {
  color: #ff2828;
  font-weight: bold;
}
.reader_page_dropdown_list {
  display: flex;
  .register_readers_dropdown {
    margin-top: -25px;
    width: 94% !important;
    left: 14px !important;
    max-height: 200px;
    overflow-y: scroll;
    p{
      font-size: 20px !important;
      font-family: Oswald-Regular;
    }
  }
  .selected_msg {
    color: #000 !important;
    font-size: 18px;
    margin-top: 8px;
    font-family: Oswald-Regular;
  }
  .reades_remove_button {
    border: none;
    background: none;
    font-size: 24px;
    color: red;
    font-weight: bold;
  }
}

// date picker custoum css
.date_picker_customized {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  input {
    width: 63% !important;
    box-shadow: none !important;
  }
  .dropdown-menu {
    left: 7% !important;
    background-color: #fafafc !important;
    font-size: 13.7px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.5px;
    text-align: right;
    color: #8b8b8e !important;
    margin-top: 6px !important;
  }
  .bg-primary {
    background-color: $color-toll;
  }
  .ngb-dp-month {
    width: 100% !important;
  }
  .ngb-dp-weekday {
    color: #8b8b8e !important;
  }
  .ngb-dp-week {
    justify-content: space-between;
  }
  .date_picker_button {
    background: none;
    border: none;
    padding: 3px 8px;
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
