// toll cart page common css
.toll-cart,
.parking-cart {
  background-color: #f2f3f5;

  .cart-section {
    height:94vh;
    padding-top: 150px;
    .cart_summary_details_list {
      height: 100%;
      .cart_summary_details_list_data {
        height: 67%;
      }
    }
  }

  .cart-list {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 11px;
    width: 100%;
    height: 80px;
    /*border-bottom: 1px solid #dddddd;*/
    .item-img {
      width:15%;
      // text-align:center;
      img{
        height: 50px;
        margin-top: 5px;
      }
    }

    .item-desc {
      width:50%;
      h4 {
        font-size: 15px;
        font-weight: bold;
        font-family: $font-OpenSans-Bold;
        line-height: 1.33;
        letter-spacing: 0.9px;
        color: #595959;
        margin-bottom: 5px;
      }
     p {
        font-family: $font-OpenSans-Light;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4px;
        color: #a8a8a8;
      }
    }

    .item-quantity {
      width:15%;
      padding: 15px;
      input{
          background: none;
          width: 50px;
          border: 1px solid rgba(35, 34, 38, 0.4);
          padding: 5px;
          border-radius: 15px;
          text-align: center;
          font-family: $font-OpenSans-Bold;
          font-size: 13px;
          font-weight: bold;
          color: #595959;
      }
    }

    .item-value {
      width:17%;
      p {
        font-family: $font-OpenSans-Bold;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 0.9px;
        text-align: center;
        color: #595959;
      }
    }
    .item-cancel{
      width:5%;
      padding: 15px;
      p{
        color:#81807f;
        font-family: $font-OpenSans-Regular
      }
    }

  }
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  height: 80px;
}


.toll-cart,
.parking-cart{
  .cart-dash {
    height:100%;
    overflow-y: scroll;
  }
}

.toll-cart .cart-message{
  font-family: $font-OpenSans-Bold;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #515252;
  padding: 15px 20px;
  border-bottom: 1px solid #dddddd;
}

.cart-message{
  padding:20px;
}

.toll-cart,
.parking-cart {
  .cart-summary {
    h4 {
      font-family: $font-OpenSans-Bold;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.33;
      letter-spacing: 0.9px;
      text-align: left;
      color: #595959;
      border-bottom:1px solid #dddddd;
      padding-bottom: 15px;
    }
    p {
      font-family: $font-OpenSans-Regular;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1px;
      color: #000000;
      border-bottom:1px solid #dddddd;
      padding-bottom: 15px;
    }
    input {
      background: none;
      background-color: #fa7173;
      border: none;
      color: white;
      padding: 10px 30px;
      border-radius: 20px;
      margin-top: 20px;
    }
  }
}

.toll-cart,
.parking-cart {
  .cart-head {
    p {
      padding-top: 40px;
      font-size: 30px;
      font-family: $font-OpenSans-Light;
    }
    span {
      color:#fa7173;
    }
  }
}

/*toll cart shipping info css*/

.cart_shipping_info{
  height: 100%;
  //overflow-y: scroll;
  .cart_shipping_info_form {
    height: 80%;
  }
}
.products_table{
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.total_info_value{
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.order-confirmation {
  width: 355px;
  height: 30px;
  font-family: $font-OpenSans-Semibold;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #201f22;
}

.thank-for-your-order {
  width: 250px;
  height: 30px;
  font-family: $font-OpenSans-Light;
  font-size: 15px;
  font-style: italic;
  text-align: left;
  color: #df4f4f;
}

.shipping_header {
  display: flex;
  justify-content: space-between;
  font-family: $font-OpenSans-Bold;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #515252;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  .shipping_payable_amnt {
    font-size: 14px !important;
    font-weight: normal !important;

  }
  .shipping_header_total_value {
    text-transform: capitalize !important;
    font-size: 20px;
  }
}

.shipping_address {
  padding-top: 10px;
  overflow-y: scroll;
  height: 84%;
}

.address__two_columns{
  display: flex;
  justify-content: space-between;
}

.address_info_label {
  width: 48%;
}

.shipping_address_title {
  padding-left: 33px;
  text-transform: uppercase;
  font-family: $font-OpenSans-Bold;
}
.shipping_address_header {
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #515252;
}

.shipping_address--labels {
  input {
    width: 100%;
    background-color: #efefef;
    padding: 16px;
    border: none;
    margin-bottom: 16px;
    font-family: $font-OpenSans-Semibold;
    font-size: 18.6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
  }
  select {
    width: 100%;
    height: 52px;
    background-color: #efefef;
    padding: 16px;
    border: none;
    margin-bottom: 16px;
  }
}

.datalist__down_arrow {
  position: relative;

  &:after {
    content: '\25bc';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #efefef;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 40px;
    font-size: 17px;
    color: #9E9E9E;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
  }
}

.procced_button {
  background-color: #fa7173;
  text-align: center;
  border: none;
  border-radius: 40px;
  padding: 10px;
  width: 250px;
  color: #fff;
  text-transform: uppercase;
  margin: 9px auto;
  display: flex;
  justify-content: center;
  font-family: $font-OpenSans-Bold;
  letter-spacing: 2px;
}

.cart_page_scroll {
  height: 92%;
  overflow-y: scroll;
}
.cart_cost_section{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 33px;
  font-family: $font-OpenSans-Bold;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 0.9px;
  color: #595959;
}
.total_values {
  display: flex;
  justify-content: space-between;
}
.order_button {
  background-color: #fa7173;
  text-align: center;
  border: none;
  border-radius: 40px;
  padding: 10px;
  width: 200px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  cursor: pointer;
}

.conformation_header {
  align-items: center;
}
.print_btn,
.download_btn {
  border: 1px solid #fa7173;
  background: none;
  border-radius: 20px;
  padding: 3px 25px;
}
.order_details {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.21);
  padding: 18px;
}
.help_content {
  text-align: center;
  width: 50%;
}
.billing_shipping_address {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  padding: 18px;
}
.products_table__list {
  margin-bottom: 0 !important;
  font-family: $font-OpenSans-Regular;
  font-size: 22px;
  color: #201f22;
}
.products_table__list tbody tr th,
.products_table__list tbody tr td{
  vertical-align: middle !important;
}
.products_table__list--header,
.subtotal_amount {
  font-weight: bold;
  font-family: $font-OpenSans-Bold !important;
}
.products_table_data_image {
  height:60px;
}
.order_numbers{
   p {
    font-family: $font-OpenSans-Regular;
    font-size: 29px;
    color: #000000;
  }
  span {
    opacity: 0.5;
    font-family: $font-OpenSans-Bold;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
}
.to_chat {
  font-family: $font-OpenSans-Bold;
  font-size: 24px;
  text-align: left;
  color: #000000;
}
.live_help {
  opacity: 0.5;
  font-family: OpenSans;
  font-size: 24px;
  color: #000000;
  text-decoration: underline;
}
.conformation_details_headings {
  opacity: 0.5;
  font-family: $font-OpenSans-Bold;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.bill_address,
.ship_address {
  width:49%;
  p {
    font-family: $font-OpenSans-Regular;
    font-size: 18px;
    color: #000000;
    max-width: 94%;
    word-break: break-all;
  }
}

.error_msg {
  text-align: center;
  font-size: 18px;
  font-family: $font-OpenSans-Bold;
}

.shipping_info_content_section{
    height: 100%;
}
.shipping_error_msg {
  color: #ff0000;
}

//custom dropdown_button
.cart_dropdown_span_field {
  background-color: #efefef ;
  padding: 16px;
}
.cart_dropdown_customised {
  height: 300px;
  overflow-y: scroll;
  p {
    font-family: $font-OpenSans-Semibold;
  }
}
.cart_summary_dropdown {
  padding: 4px;
  border: none;
  background: url(../assets/images/guest/forma-1-copy-4.png) right 10px center no-repeat #efefef;
  background-size: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: left;
  margin: 0;
  font-family: $font-OpenSans-Semibold;
  font-size: 18.6px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000;
}


// custom check box scss
/* :before is for the box */
.shipping_adds_checkbox {
  margin: 20px 0;
  input{
    margin-right: 20px;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:30px;
    top: 2px;
    width: 17px; height: 17px; /* dim. of the box */
    border: 1px solid $color-toll;
    background: $color-white;
    border-radius: 3px;
    //box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* slight inner shadow */
  }

  /* Check symbol aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '\2714';
    position: absolute;
    top: 0;
    left: 31px;
    font-size: 14px;
    color: $color-toll;
    transition: all .2s; /* animation incoming :p */
  }
  /* if "not checked" */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0; /* invisible */
    transform: scale(0); /* scaled down to 0 */
  }
  /* If "checked" */
  [type="checkbox"]:checked + label:after {
    opacity: 1; /* visible */
    transform: scale(1); /* scaled up to normal */
  }
}
.cart__list__form{
  height: 100%;
}
//success popup css
.guest_success_popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px;
  color: #7b7b7b;
  h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-family: $font-oswald-bold;
    letter-spacing: 2px;
  }
  p {
    font-family: $font-oswald-regular;
  }
  button {
    width: 200px;
    height: 36px;
    border: none;
    background: #2bb673;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
    border-radius: 17px;
  }
}

.same__login_details {
  font-size: 21px;
  text-align: center;
  font-family: $font-oswald-regular;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #545252;
  span {
    color: $color-toll;
  }
}
