/*****    toll page css starts      *****/

.opentollsidenav{
     width:40%;
}

.tollsidenav .rupee-divider{
    width:100%;
}

.tollsidenav .top-img1, .tollfaqenav .top-img1{
    position: relative;
    top: -5px;
    width: 100px;
    right: -5px;
}

.tollsidenav .top-img2{
    position: absolute;
    top: 35px;
    width: 50px;
    right: 20px;
}

.tollfaqenav .top-img2{
        position: absolute;
    top: 35px;
    width: 35px;
    right: 30px;
}

.tollfaqenav{
    font-family: OpenSans;
}

.tollfaqenav .question{
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: rgba(35, 34, 38, 0.8);
}

.tollfaqenav .answer{
    opacity: 0.8;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: rgba(35, 34, 38, 0.6);
}

.tollfaqenav .panel{
    background-color: #f7fcfe;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

//common to all guest flows
.right_side_menunav {
    color: black;
    font-family: OpenSans;
    .back {
      position: absolute;
      top: 30px;
      right: 30px;
      font-family: Helvetica;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      text-align: left;
      color: #c1c1c1 ;
      img {
        width: 15px;
        opacity: 0.6;
      }
    }
    .active {
      .menu-text {
        color: #fa7173 ;
      }
      .un-sel-menu {
        display: none;
      }
      .sel-menu {
        display: inline-block;
      }
    }
    .menu-text {
      font-family: OpenSans-Regular;
      font-size: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 0.5px;
      color: #c1c1c1 ;
    }
    .sel-menu {
      display: none;
      width: 40px;
    }
    .un-sel-menu {
      width: 40px;
    }
    .toll-side-menu {
      margin: 50px 0px 30px 0px;
    }
    .toll-top-side-menu {
      padding-top: 30%;
    }
    .divide-menu {
      width: 100%;
    }
    .social-feed {
      width: 100%;
      margin-top: 30px;
      text-align: center;
      .flw-us {
        font-family: OpenSans-Regular;
      }
      .social-icon {
        width: 15px;
        margin: 0px 0px 0px 5px;
      }
    }
}
