.toll_text_color{
  color: #fa7173 !important;
}
.toll_bg {
  background-color: #fa7173 !important;
}
.toll_border {
  border-color: #fa7173 !important;
}
.device__large_iamge {
  height: 100%;
  .device__large_iamge_fixed-hieght {
    height: 100% !important;
    img {
      height: 100% !important;
      width: 100% !important;
    }
  }
}

.toll_button_default {
	height: 51.3px;
	border-radius: 100px;
	border: none;
	background-color: #888f98;
	color: #fff;
	text-align: center;
	width: 230px;
	&:hover {
		background-color: #fa7173;
		color: #fff;
	}
  .popup_button-add{
    width: 360px;
  }
}
.toll_button_bg {
  width: 214px;
  height: 46px;
  color: #ffffff;
  background-color: #fa7173 ;
  border-radius: 31px;
  text-align: center;
  padding: 10px 26px;
  border: none;
  text-transform: uppercase;
}
// company settings css
.settings-account{
	width:100%;
	height:100%;
	position: inherit;
	overflow: auto;
	margin-top: 80px;

	.panel{
		height:100%;
	}

	#company{

	}

	#branch{

	}

	#booth{

	}
}

.pannel_section_more_height {
	height: 128% !important;
}

.accnt_settings_form__input {
  border: 2px solid #9e9e9e;
  height: 39px;
  width: 100%;
  font-size: 18px;
  background-color: #fff;
  padding: 7px;
}
.accnt_settings_form__input__image {
  display: flex;
  align-items: center;
  input {
    border: none;
    width: 83%;
  }
  .input_filed__bgimage {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    img {
      width: 18px;
      height: 18px;
      margin-right: 2px;
    }
  }
}

.accnt_settings_form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
	.accnt_settings_form--label {
		width: 48%;

		.accnt_settings_form__input {
			border: 2px solid #9e9e9e;
	    height: 39px;
			width: 100%;
			font-size: 18px;
			background-color: #fff;
			padding: 10px;
		}

		button {
			width: 100%;
		}
	}
}
.setting_company_details_description {
	padding: 19px;

	.comany_details_header {
		margin-bottom: 47px;
	}

	.settings-account_profile_image {
		.card__content__thumbnail,
		.card__content__thumbnail__image {
			width: 120px;
			height: 120px;
		}
	}
}
.accnt_stngs_update_profile {
	width: 100%;
	height: 37px;
}
.accnt_sttngs_radio_buttons {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.form_label__full_width {
	width: 100%!important;
}

.accnt_sttngs_otherdetails_header {
	h2 {
		font-family: Oswald-Bold;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 0.9px;
		text-align: left;
		color: #232226;
	}
}

.accnt_other_details {
	margin-top: 25px;
	.booth_selection {
		select {
			width: 340px;
			height: 50px;
			padding: 0 13px;
			border: 2px solid #9e9e9e;
			font-family: Oswald-DemiBold;
			font-size: 26px;
			font-weight: 600;
			letter-spacing: 1.2px;
		}
	}

	.accnt_reader_deatils_button {
		button {
			width: 340px;
			height: 50px;
		}
	}
}

.bank_company_details {
	height: 100% !important;
	padding-top: 20%;
}

.bank_operator_selction {
	width: 340px;
	height: 50px;
	padding: 0 13px;
	border: 2px solid #9e9e9e;
	font-family: Oswald-DemiBold;
	font-size: 26px;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.toll_edit_button {

	&:hover {
		background-color: #4a90e2;
	}
}

//table css for company fee-info
.company_fee_structure_header {
	border-bottom: 2px solid #dbdbdb;
	display: flex;
	justify-content: space-between;
  align-items: center;
	width: 100%;
	padding: 20px;
}


.drop_down_fee_page {
  width: 23%;
  select {
    width: 100% !important;
  }
}

.company_fee_structure_sub_header {
	padding: 20px 30px 0px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.toll_comapny_fee_tabs {
  display: flex;
  width: 26%;
  justify-content: space-between;
	.fee_tabs{
		font-family: $font-oswald-regular;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		color: #9b9b9b;
		padding-bottom: 17px;
    width:150px;
    &:hover{
      text-decoration:none !important;
    }
	}
  .active{
    border-bottom: 3px solid $color-toll;
  }
}

.toll_comapny_fee_action_button {
	button {
		width: 230px;
		margin-left: 20px;
	}
}

.header_branch_selection {
  background: url(../assets/images/guest/forma-1-copy-4.png) right 10px center no-repeat #eff3f6 !important;
	padding: 0 15px;
	// width: 34%;
	border: none;
	font-family: Oswald-Medium;
	font-size: 23px;
	font-weight: 500;
	text-align: left;
	color: #4a4a4a;
}
.no-border {
	margin-bottom: 0;
	thead,tbody {
		tr {
			th,td {
				border: none !important;
			}
		}
	}

	tbody {
		tr {
			border-bottom: solid 1px #dbdbdb;
		}
	}
}
.border_table {
	margin-bottom: 0;
	thead,tbody {
		tr {
			th,td {
				border: solid 2px rgba(155, 155, 155, 0.33) !important;
			}
		}
	}
}

// TODO: have to finalize based on coponent
// .panel-heading  a:before {
//    font-family: 'Glyphicons Halflings';
//    content: "\e114";
//    float: right;
//    transition: all 0.5s;
// }
// .panel-heading.active a:before {
// 	-webkit-transform: rotate(180deg);
// 	-moz-transform: rotate(180deg);
// 	transform: rotate(180deg);
// }

.handled-device-list {
  width: 71px;
}


.pointer-event-none{
	pointer-events: none
}

// temp fix
.margin-fix{
	margin-top: 40px;
}
// temp fix
.margin-fixes{
	width: 106%;
	margin-left: -3%;
}




//  style for hardcoded data

.transaction-month{
	background-color: #f8fcff;
	height: 32px;
	margin: 0px;
	line-height: 25px;
	font-family: Oswald-Regular;
	padding: 4px 28px;
}

.transaction-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(239,239,239);
	p{
		font-family: Oswald-Regular;
		margin: 12px 27px 4px 27px;
	}
}

.transaction {
	display: flex;
	flex-direction: column;



}
.transaction-date{
	color: #4a4a4a
}
.transaction-no{
	color: #a3a3a3;
}
.transaction-amt{
	color: #2bb673
}




.settings__input_fields:hover .tooltiptext {
    visibility: visible;
}

.common_dropdown_tooltip:hover .tooltiptext {
    visibility: visible;
}
