/*messages styles*/
.toll_company_info_page {
  display: flex;
}
.msg_subject {
  //border-left: 2px solid #2bb673;
  padding: 15px 0;
}


.company-messages_view {
  padding: 13px 38px;
   box-shadow: 0 0 40px 0 rgba(2, 9, 30, 0.12);
   height: 100%;
}
.msg_subject__username {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    font-family: $font-OpenSans-Bold;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #25252b;
  }
}
.username_date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company_messages_data {
  margin-right: 0 !important;
}
.msg_subject_content p {
  font-family: $font-OpenSans-Semibold;
  font-size: 20px;
  line-height: 1.29;
  color: #4a4a4a;
  opacity: 0.8;
}
.msg_description {
  overflow: scroll;
  height: 50%;
  p {
    font-family: $font-OpenSans-Semibold;
    font-size: 13px;
    line-height: 1.2;
    color: $color-light-text
  }
}

.company_messages__search {
  margin-left: 0 !important;
  padding: 0 !important;
  margin-right: 38px !important;
  z-index: 1 !important;
}

.user_image {
  margin-right: 20px;
}

.date_time {
  font-family: $font-OpenSans-Semibold;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.2px;
  color: $color-light-text;
}

.report_buttons {
  display: flex;
  flex-direction: column;
  button {
    background: none;
    background-color: #e6f5ff;
    border-radius: 30px;
    text-align: center;
    padding: 5px 42px;
    height: 42px;
    border: none;
    margin-bottom: 15px;
    width: 357px;
  }
}
