.toll-reader-item , .guest-reader-item{
  .sectiondiv{
    height: 100%;
    background: white;

    .item-imgs{
      padding-top:14%;
    }
  }

  .reader-rgt-top-panel{
    height:70%;
    background-color: #f2f3f5;
    box-shadow: inset 5px 0px 20px 0px rgba(219, 219, 219, 0.45);
    padding-top: 105px;
  }

  .reader-rgt-bottom-panel{
    height: 30%;
    box-shadow: inset 1px -20px 20px 0px rgba(219, 219, 219, 0.45);
    padding:15px;

    .rcmnd-txt{
      -ms-transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      position: relative;
      top: 55px;
      font-weight: 300;
      letter-spacing: 0;
      text-align: center;
      color: rgba(0, 0, 0, 0.2);
    }

    .close-accordian{

    }
  }

  .recmnd-redrs{
    text-align: center;
    height: 83%;
    img {
      height:42%;
      padding:5px;
    }
    h4 {
      font-family: Opensans-Bold;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.4px;
      text-align: center;
      color: #000000;
    }

    p {
     font-family: $font-oswald-regular;
     font-size: 8px;
     letter-spacing: 0.4px;
     text-align: center;
     font-weight: 300;
     letter-spacing: 0.2px;
     color: #a8a8a8;
   }
  }
}


/*toll readers-list*/
.toll {
  .login_register_button {
    border: 1px solid #fa7173;
  }
  .readers-list {
    padding-top: 100px;

    .reader-card {
      height: 225px;
      background-color: #ffffff;
      margin-bottom: 30px;
      padding: 12px;
      color: #000000;
    }

    .reader-description {
      h4{
        font-family: Opensans-Regular;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #000000;
        margin-bottom:0px;
      }
      p {
        font-family: Opensans-Regular;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0.4px;
        margin-bottom:0px;
        color: #a8a8a8;
        .value{
          color:#fa7173 !important;
        }
      }

    }
    .reader-image {
      height: 53%;
      img{
        height:100%;
      }
    }
    .reader-wide-image{
      height: 67%;
      img{
        height:100%;
      }
    }

  }

  .reader-show-more{
    font-family: Opensans-Regular;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.4px;
    margin-bottom:0px;
    color: #a8a8a8;
  }


}


.device-img{
    margin:auto;
  }

  // checkbox custoum SCSS
  .toll_renewel_checkboxes {
     display: flex;
     margin-bottom: 15px;
     font-family: $font-OpenSans-Regular;
     font-size: 14px;
     text-align: left;
     color: #232226;
    input{
      margin-right: 15px;
    }
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left:12px;
      width: 20px;
      height: 20px; /* dim. of the box */
      border: 1px solid $color-toll;
      background: $color-white;
      border-radius: 3px;
      //box-shadow: inset 0 1px 3px rgba(0,0,0,.3) /* slight inner shadow */
    }

    /* Check symbol aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '\2714';
      position: absolute;
      left: 15px;
      font-size: 14px;
      color: $color-toll;
      transition: all .2s; /* animation incoming :p */
    }
    /* if "not checked" */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0; /* invisible */
      transform: scale(0); /* scaled down to 0 */
    }
    /* If "checked" */
    [type="checkbox"]:checked + label:after {
      opacity: 1; /* visible */
      transform: scale(1); /* scaled up to normal */
    }
    .terms_conditions {
      color: #000000;
      font-family: OpenSans-Semibold;
    }
  }


  .readers-dropdown{
    border: #e2e2e2 solid 1px;
    padding: 0px 20px;
    border-radius: 4px;
    background: transparent;

    .selected_msg{
      color: #000 !important;
      font-size: 13px;
      margin-top: 8px;
      font-family: Oswald-Regular;
    }
  }

  .cross-icon{
    margin: 0 7px!important;
    width: 18px !important;
  }

.tollbooth_even{
  background-color: #f9fafc;
  border-top: #eaeff2 2px dashed;
  border-bottom: #eaeff2 2px dashed;

}
.readers_content_sections {
  padding: 20px;
}

// .accordion_shadow{
//   box-shadow: 4px 0px 30px -9px rgba(0,0,0,0.33);
// }


  .chevron-down {
    width: 17px;
    float: right;
    margin: 19px 30px;
    transform: rotate( -180deg );
    transition: transform 150ms ease;
  }

  .chevron-up {
    transform: rotate( -360deg );
    transition: transform 150ms ease;
  }

  .submit-box-add{
    padding: 5px 50px 5px 50px;
    border: 2px solid #fa7173;
    border-radius: 20px;
    color: #000;
    margin-top: 25px;
  }

  .numberfield_plus_minus {
    display: flex;
    justify-content: center;
    .numberfield_plus,
    .numberfield_minus{
      text-align: center;
      cursor: pointer;
      font-size: 19px;
    }
    .numberfiled_input {
      width: 40px;
      border-radius: 20px;
      border: 1px solid #9f9fa2;
      background: none;
      text-align: center;
      font-weight: bold;
      font-family: $font-oswald-bold
    }
    .quantity_field_section {
      margin: 0 5px;
    }
  }
  .item-quantity__section_cost {
    p{
      margin: 0
    }
  }

  .reader_quantity {
    .numberfield_plus_minus {
      margin-top: 37px !important;
    }
  }

  .rotate_180{
    transform: rotate(180deg);
  }

.reader_issue_error_bcgrnd{
  background-color: rgba(242, 96, 97, 0.18) !important;
}
