 .toll-branch {
  position: fixed;
  width: 100%;
  .branch-dashboard {
    height: 100%;
    //margin-top: -20px;
    position: fixed;
    width: 100%;
    background-color: $color-white;
  }

  .branch-side-menu {
    background-color: #313942;
    height: 100%;
    width: 2.66%;
    padding: 0;

    // .row{
    //   display: flex;
    //   align-items: flex-end;
    // }
  }

  .branch-right-db {
    background-color: #eff3f6;
    height: 100vh;

    .today-date {
      font-size: 17px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $color-light-text;
    }

    .notice {
      height: 60px;
      background-color: #ff5757;
    }

    .branch-db-menu {
      padding: 15px 60px 0px 45px;
      .btn-group {
        border-radius: 40%;
        background-color: #f5f9fa;
        color: $color-light-text;
        font-family: $font-oswald-regular;
        .active {
          border-radius: 36px;
          color: $color-medium-text;
          background-color: #ffffff;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12)
        }
      }
      .day-btn {
        background-color: #f5f9fa;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        color: $color-light-text;
        border: none;
      }
      .month-btn {
        background-color: #f5f9fa;
        // border-top-right-radius: 40%;
        // border-bottom-right-radius: 40%;
        color: $color-light-text;
        border: none;
      }
      .week-btn {
        background-color: #f5f9fa;
        border: none;
        color: $color-light-text;
      }

      .day-btn,
      .week-btn,
      .month-btn {
        .active {
          border-radius: 36px;
          background-color: #ffffff;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03), 0 2px 5px 0 rgba(0, 0, 0, 0.12)
        }
      }
    }

    //grap in toll branch-right-db
    .graph {
      padding: 10px 60px 10px 45px;
      //margin-left: -15px;
      .card-block {
        padding: 18px 30px 11px 40px;
        font-family: $font-oswald-medium;
      }

    }
    .graph-card-title {
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      font-family: $font-oswald-medium;
      color: $color-light-text;
      margin: 0;
    }

    .stats {
      padding: 10px 45px 30px 30px;
    }

    .card {
      height: 210px;
      .card-block {
        height: 100%;
      }
      .small-card-title {
        font-family:$font-oswald-regular;
        font-size: 15px;
        font-weight: bold;
        color: $color-medium-text;
        border-bottom: 1px solid #d8d8d8;
        padding: 10px;
        margin: 0;
      }

      .small-card-text {
        font-family: $font-oswald-regular;
        font-size: 15px;
        font-weight: 600;
        color: $color-light-text;
      }
      .small-card-value {
        font-family: $font-oswald-regular;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ff5757;
      }

      .card-sales-value-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80%;
        .card-sales-value {
          // position: absolute;
          text-align: center;
          font-size: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }


      .reader-stats {
        .small-card-text {
          padding: 60px;
        }
      }
    }

    .sales-tab {
      height: 60px;
      width: 100%;
      z-index: 10;
      position: fixed;
      background-color: #eff3f6;
      border: 1px solid transparent;
    }
    .reports-tab {
      padding: 0 34px;
      height: 50px;
      background-color: white;
      border: 1px solid transparent;
      box-shadow: 1px 20px 30px 0px rgba(0, 0, 0, 0.16),
        inset 0px 20px 25px 20px rgba(0, 0, 0, 0.04);
    }

    .reports-right-tab-container{
      height: 70vh;
      overflow-y: scroll;
    }

    .reports-right-tab {
      height: 50px;
      border: 1px solid transparent;
      .active {
        background-color: #526372;
      }
    }

    .reports-inner-left-tab {
      border-right: 1px solid #526372;
    }

    .reports-inner-left-tab,
    .reports-inner-right-tab {
      background-color: rgba(93, 110, 125, 0.84);
      height: 100%;
      color: white;
      cursor: pointer;
      font-family: $font-OpenSans-Bold;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sales-tab {
      .menu {
        font-family: $font-oswald-medium;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $color-light-text;
        padding: 15px 15px 10px 15px;

        &.active {
          color: #2a2a2a;
          border-bottom: 2px solid #ff5757;
        }

        p{
          font-size: 16px;
        }
      }
    }

    .sales-reports {
      padding-top: 60px;

      .reports-card {
        height: 375px;
        padding: 15px;
        box-shadow: none;
      }

      .report-booths {
        padding: 15px;
        padding-top: 0px;
      }

      .panel-heading {
        color: white;
        background-color: #526372;
        font-family: Oswald-Regular;
      }

      .panel-one {
        background-color: #dbdbdb;
        font-family: Oswald-Regular;
      }

      .panel-two {
        background-color: #f9fafc;
        font-family: Oswald-Regular;
      }
    } // branch-right-db sales-reports

    .reports-time {
      .panel-card {
        background-color: #eff3f6;
        font-family: Oswald-Regular;
        .active {
          background-color: #ffffff;
        }
      }
    }

    .reports-inner-tab {
      //margin: 20px;
      height: 80vh;
      overflow-y: scroll;
      padding: 0 25px;
    }

    .sales-transactions {
      .transaction-filter {
        height: 300px;
        box-shadow: 0 3px 4px 0 rgba(176, 176, 176, 0.5);
        .close-btn {
          font-family: $font-oswald-regular;
          font-size: 20px;
          font-weight: 300;
          color: #cfcfcf;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
        }
      }
      .transactional-list {
        padding: 40px 65px 40px 50px;
        .panel-one {
          background-color: rgba(238, 255, 251, 0.34);
          border-bottom: 1px solid rgba(175, 175, 175, 0.5);
        }

        .panel-two {
          border-bottom: 1px solid rgba(175, 175, 175, 0.5);
        }

        .list-head {
          background-color: #526372;
          color: #ffffff;
          padding: 28px;
        }
        .list-right-head {
          background-color: #ecf1f5;
          padding: 25px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .transaction-find {
        margin: 30px 0px 30px 20px;
      }

      .find-holder {
        background: none;
        border: none;
        font-family: Oswald-Regular;
        color: #4a4a4a;
        width: 100%;
        border-bottom: 1px solid #4a4a4a;
      }

      .slt-btn {
        margin: 0 10px;
        font-size: 12px;
        font-family: Oswald-Regular;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6f8294;
        background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid #6f8294;
        padding: 7px 20px 7px 20px;
        cursor: pointer;

        .active {
          background-color: #6f8294;
          color: white;
          border: none;
        }

        .tollbooth {
          padding: 7px 40px 7px 40px;
          margin: 0px 10px 0px 20px;
        }

        .operator {
          padding: 7px 40px 7px 40px;
          margin: 0px 20px 0px 10px;
        }
      }

      .shw-act {
        margin: 0px 0px 0px 10px;
        font-family: $font-oswald-regular;
      }

      .transaction-filters {
        margin: 10px 0px 10px 20px;
        display: flex;
        align-items: baseline;
      }

      .transaction-activity {
        margin: 10px 0px 10px 10px;
        display: flex;
        align-items: baseline;
      }
    } //sales transaction
  } // branch-right-db ends

  .sales-db {
    background-color: white !important;
    height: 100%;
  }
} /*****   toll branch section 1 css ends      *****/

#line-chart {
  width: 100% !important;
}

#card-sales {
  margin-top: 10px;
}

.menu-list-active{
  background-color: rgb(92,110,125);
  height: 31px;
  p{
    color: #f5f5f5!important;
  }
}
//toll-branch-side menu
.toll-branch {
  .branch-side-menu {
    .menu-list {
      padding-top: 5px;
      .left-menu-more-icon{
        display:block;
      }
      .left-menu-more-sel-icon{
        display:none;
      }

      .active {
        background-color: #5d6e7d;
        .left-menu-text {
          color: #ffffff;
        }
      }
    }

    .menu-list.menu-list-active{
      .left-menu-more-icon{
        display:none;
      }
      .left-menu-more-sel-icon{
        display:block;
      }
    }

    .menu-list-one {
      margin-top: 30px;
    }

    .left-menu-text {
      font-family: Oswald-Regular;
      font-size: 20px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #888f98;
    }

    .menu-list-more-one {
      border-top: solid 2px #22282e;
    }

    .menu-list-more-last {
      margin-top: 20px;
    }

    .left-menu-more-text {
      font-family: Oswald-Regular;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #888f98;
      .deflt-txt {
        font-size: 10px;
        text-align: left;
        padding-top: 10px;
      }
    }

    .side-menu-btn {
      border-radius: 28px;
      background: #ff5757;
      border: none;
      color: white;
      padding: 10px 40px 10px 40px;
      margin: 3px 20px;
      font-size: 15px;
      font-weight: bold;
      font-family: Oswald;
      width: 142px!important;
    }

    .copy-right {
      border-top: solid 1px #888f98;
    }

    .more {
      font-family: Oswald-Regular;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
  } //branch-side-menu ends

  .section-bar {
    font-family: Oswald-Regular;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #888f98;
    padding-top: 5px;
    .active {
      color: #293c47;
    }
  }

  .notice {
    .notice-btn {
      color: white;
      border: none;
      background-color: #313942;
      padding: 10px 20px 10px 20px;
      margin-top: 15px;
      border-radius: 5px;
      font-size: 10px;
    }
    .notice-msg {
      padding: 20px;
      font-family: Oswald;
      font-size: 12px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }

  .operators-db {
    .view-operators {
      .table-foot {
        bottom: 95px;
        padding: 0px 25px;
        tr {
          height: 70px;
          background-color: #3498cd;
          color: white;
        }
        th {
          border: none;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }

  .toll-company-readers {
    .operators-db {
      .view-operators {
        .table-cell {
          .table {
            margin-bottom: 85px;
          }
        }
      }
    }
  }
} //toll branch section 2

.reports-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.1) !important;
}
.reports-card__bg {
  background: none !important;
}

.toll-branch .branch-right-db .reports-inner-left-tab.active::after,
.toll-branch .branch-right-db .reports-inner-right-tab.active::after {
  content: "";
  position: absolute;
  left: 48%;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #526372;
  clear: both;
}

.toll-branch
  .branch-right-db
  .sales-transactions
  .find-holder::-webkit-input-placeholder {
  font-family: Oswald-Regular;
  color: #4a4a4a;
  font-size: 12px;
}
/*****   toll branch css ends      *****/

/*****   toll branch add operator css starts      *****/

.toll-branch-add-operator {
}

.toll-branch-add-operator.toll-register .register-type-box {
  margin: 10px 10px 15px 15px !important;
  height: 80%;
}

.operators-db .view-operators .table-cell table {
  box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.14);
}
.operators-db .view-operators .table-head table {
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.14);
}

.toll-branch .operators-db .view-operators .table-cell {
  height: calc(100% - 60px);
  overflow-y: scroll;
  padding: 10px 25px 5px 25px;
}
.toll-branch .operators-db .view-operators .table-head {
  padding: 0px 25px;
  margin-bottom: -100px;
  /*margin-top: 5px;*/
  z-index: 10;
}
.toll-branch .operators-db .view-operators .table-head tr {
  height: 70px;
  background-color: white;
}
.toll-branch .operators-db .view-operators .table-head th {
  vertical-align: middle;
  text-align: center;
}
.toll-branch .operators-db .view-operators .table-cell thead tr {
  height: 60px;
}

.toll-branch .operators-db .view-operators .table-cell tr {
  height: 57px;
}
.toll-branch .operators-db .view-operators .table-cell td {
  vertical-align: middle;
  text-align: center;
}
.toll-branch
  .operators-db
  .view-operators
  .table-cell
  .table-striped
  > tbody
  > tr:nth-of-type(odd) {
  //background-color: rgb(255, 251, 0.34);
}
.toll-branch
  .operators-db
  .view-operators
  .table-cell
  .table-striped
  > tbody
  > tr:nth-of-type(even) {
  background-color: #fbfcfc;
}

.toll-branch .readers-db {
  background-color: $color-white !important;
}

.toll-branch .readers-db {
  .toll-branch-view-readers, .toll-branch-reader-repairs {
    background-color: white !important;
    border-radius: 5px;
    margin: 0px 25px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14);
    //height: 71vh;
    max-height: 71vh;
    overflow-y: scroll;
  }
}

.toll-branch-reader-repairs {
  padding-bottom: 60px;
}


.toll-branch .readers-db .toll-branch-view-readers .cards-layout {
  padding: 20px 20px 20px 20px;
}
.toll-branch .readers-db .toll-branch-view-readers .card {
  margin: 15px 5px;
  height: 225px;
  background-color: #eff3f6 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}
.toll-branch .readers-db .toll-branch-view-readers .card .reader-head {
  height: 150px;
  padding: 0px 30px;
}

.toll-branch
  .readers-db
  .toll-branch-view-readers
  .card
  .reader-head
  .card-title-blck {
  padding-left: 0px;
}
.toll-branch .readers-db .toll-branch-view-readers .card .reader-foot {
  height: 75px;
  background-color: #313942 !important;
  color: #ffffff;
  font-family: OpenSans;
  padding: 15px;
  font-size: 13px;
  letter-spacing: 0.3px;
}

.toll-branch .readers-db .toll-branch-view-readers .card .reader-foot .m-b-10 {
  margin-bottom: 10px;
}

.toll-branch
  .readers-db
  .toll-branch-view-readers
  .card
  .reader-head
  .reader-info {
  border-bottom: 1px solid #aaa;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 13px;
}
.toll-branch .readers-db .toll-branch-view-readers .card .card-title {
  padding: 10px 0px 10px 0px !important;
}

.toll-branch .readers-db .toll-branch-reader-repairs .repair-head {
  //height: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 20px 25px;
}

.toll-branch .readers-db .toll-branch-reader-repairs .repair-head.contact_us{
  flex-direction: column !important;
}


.toll-branch .readers-db .toll-branch-reader-repairs .repair-head h4 {
  font-family: $font-oswald-bold;
  font-size: 18px;
  font-weight: 500;
  color: #293c47;
}
.toll-branch .readers-db .toll-branch-reader-repairs .repair-head p {
  font-family: $font-oswald-regular;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #293c47;
}
.toll-branch .readers-db .toll-branch-reader-repairs .repair-foot {
  font-size: 15px;
  color: #293c47;
  font-weight: 300;
  line-height: 1.2;
  font-family: Oswald;
  padding: 0px 75px;
  text-align: center;
}

.toll-branch .readers-db .toll-branch-reader-repairs .repair-foot p {
  border-bottom: 1px solid #979797;
  border-top: 1px solid #979797;
  padding: 6px 0px;
}

.toll-branch .readers-db .toll-branch-reader-repairs .send-fdbk {
  background: none;
  border: none;
  background-color: #ff5757;
  color: white;
  padding: 10px 50px;
  border-radius: 20px;
  margin: 10px;
}

.toll-branch
  .readers-db
  .toll-branch-reader-repairs
  .repair-head
  .repair-btn-replace {
  background-color: #ff5757;
  border: none;
  color: white;
  font-family: Oswald;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 100px;
  border-radius: 25px;
}
.toll-branch .readers-db .readers-db-head .repair-btn-replace {
  background-color: #2bb673;
  border: none;
  color: white;
  font-family: Oswald;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 50px;
  border-radius: 25px;
}
.toll-branch .readers-db .toll-branch-reader-repairs .repair-head .repair-img {
  width: 100%;
  height: 120px;
}

.toll-branch .doecards-db .toll-branch-request-doecards {
  height: 75%;
  //padding-top: 40px;
  /*display: flex;
    align-items: center;
    justify-content: center;*/
  position: absolute;
  left: 0;
  right: 0;
  top: 39px;
  background-color: #fff;
  margin: 21px 25px;
}
.toll-branch .doecards-db .toll-branch-request-doecards .sup {
  position: relative;
  bottom: 3ex;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 300;
  color: #9b9b9b;
}
.toll-branch .doecards-db .toll-branch-request-doecards .cards-layout {
  width: 100%;
  text-align: center;
}
.toll-branch .doecards-db .toll-branch-request-doecards .card-num {
  border: none;
  text-align: right;
  font-family: Oswald;
  font-size: 85px;
  width: 220px;
  font-weight: 300;
  color: #5d6e7d;
}
.toll-branch .doecards-db .toll-branch-request-doecards .cards-quant {
  font-family: Oswald-Regular;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #9b9b9b;
  margin-bottom: 60px;
}
.toll-branch .doecards-db .toll-branch-request-doecards .cards-payment {
  font-family: Oswald;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #78797a;
  margin-bottom: 60px;
}

.toll-branch .doecards-db .toll-branch-request-doecards .card-request {
  border: none;
  background-color: #ff5757;
  color: white;
  font-family: Oswald;
  font-weight: bold;
  letter-spacing: 1.1px;
  padding: 10px 75px;
  font-size: 20px;
  border-radius: 20px;
}

.toll-branch .doecards-db .toll-branch-request-doecards .request-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toll-branch .doecards-db .toll-branch-request-doecards .brdr-effct {
  border-bottom: 1px solid;
  margin-bottom: 5px;
  border-image-source: linear-gradient(
    to right,
    #ffffff,
    rgba(0, 0, 0, 0.16) 52%,
    #ffffff
  );
  border-image-slice: 1;
}
.toll-branch .doecards-db .toll-branch-request-doecards .amt-value {
  color: #2cb673;
}

.toll-branch .toll-branch-help .help-select {
  padding: 25px 30px;
  border: 1.1px solid #2bb673;
  border-radius: 5px;
}

.toll-branch .toll-branch-help .help-select img {
  height: 40px;
}
.toll-branch .toll-branch-help .help-select .help-cat {
  font-family: Oswald-Regular !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  text-align: center !important;
  color: #888f98 !important;
}
.toll-branch .toll-branch-help .help-tab {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.toll-branch .toll-branch-help .help-head {
  opacity: 0.5;
  font-family: Oswald-Regular !important;
  font-size: 20px;
  font-weight: 500;
  color: rgb(74, 74, 74);
  margin: 20px 20px;
}

.toll-branch .toll-branch-fee .table-cell {
  padding: 75px 25px 5px 25px !important;
}

.toll-branch .toll-branch-fee .table-cell tr {
  height: 55px !important;
}

.toll-branch .toll-branch-fee .table-cell td,
.toll-branch .toll-branch-fee .table-cell th {
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
}

.toll-branch {
  .toll-branch-privacy-policy {
    padding: 78px 56px 35px 56px;
    height: 84%;
    overflow-y: scroll;
    background-color: white;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    font-family: $font-OpenSans-Light;
    color: #293c47;
    margin: 0 25px;
    .policy-content {
      overflow: auto;
      height: 100%;
    }
    .terms-content {
      margin-left: 20px;
    }
  }
  .toll-branch-privacy {
    .branch-right-db {
      padding: 25px;
    }
  }
}

// for username suggestions

.username-suggestions {
  // margin-bottom: -25px;
  // width: 51.8%;
  // margin-left: -15px;
  .well {
    background-color: #f3f3f3!important;
    .suggestion-container {
      display: flex;
      align-items: baseline;
      p {
        color: #77909d;
      }
      .suggestions_list {
        text-align: left;
        padding: 4px 0;
        margin: 0;
        font-family: $font-oswald-regular;
        li {
          display: inline;
          color: #1cb96e;
          padding: 5px;
          font-family: $font-oswald-regular;
        }
      }
    }
  }
}

.register__branch_accordian {
  .card{
    background-color: #fff;
    padding: 10px;

  .card-header {
    padding: 25px;
    font-size: 20px !important;
    font-weight: 500 !important;
    text-align: left !important;
  }
  }
}

// make the left side menu slide into view
.branch-side-menu-ani{
  animation: wid 0.5s ease forwards;
}


@keyframes wid {
  from { width: 1%; }
  to { width: 16.66%; }
}


.overview-btn{
  margin-left: 17%!important;
}

.backgroud-color-grey{
  background-color:rgb(136, 143, 153)!important;
}

.backgroud-color-green{
  background-color: rgb(58, 188, 129)!important;
}

@media screen and (max-width: 1367px) {
  .toll-branch .branch-side-menu .menu-list {
   margin: 0;
}

.notice-btn{
  margin-left: 20px;
}

.toll-branch .branch-side-menu .left-menu-text {
  font-size: 16px;
  margin-top: 3px;
}

.toll-branch .branch-side-menu .side-menu-btn {
   padding: 8px 29px 10px 29px;
}
}


.toll-indi-amount .row{
  display: flex;
  justify-content: space-between;
  border: #eee solid 1px;
  h4{
    line-height: 47px;
  }
  }

.bckgrnd-grey{
  background-color: rgb(250,250,250);
  margin-left:0;
  height: 67px;
}

.bckgrnd-white{
  background-color: #fff!important;
  margin-left:0;
  height: 67px;
}

.toll-no{
  font-family: Oswald-Regular;

}

.toll-no-amt{
  color:green;
}

.find-transaction{
  display: flex;
  align-items: center;
}

.find-holder::placeholder{
  font-size: 15px;
  color: red;
}

.datebuttonactive{
  background-color: #516272!important;
  color: #fff!important;
}

.all-transaction{
  h4{
    font-size: 14px;
  }

  .row{
    display: flex;
    justify-content: space-between;
  }
}

.all-transaction-table{
  th{
    width: 12%;
    font-family: Oswald-Regular;
    height: 50px;
    text-align: center;
  }

  td{
    height: 55px;
    background-color: rgb(249, 249, 249);
  }

  .bck-color-white td{
    background-color:#fff!important;
  }
}

.list-head-container{
  margin-top: -10px;
  margin-bottom: -18px;
}

.checkbox-container{
  width: 5%!important;
}
.transaction-checkbox{
  margin-top: 20px!important;
}

 .help-box{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
 }

.help-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2bb673;
  // width: 100%;
  box-shadow: 1px 5px 14px 0px rgba(0, 0, 0, 0.14);
  border-radius: 7px;
  width: 200px;
  height: 135px;
  margin: 7px;
  h2{
    font-size: 17px;
    color: #888f98;
    font-family: Oswald-Regular;
  }

  img{
    margin-top: 20px;
    height:40px;
  }
  &:hover{
    background-color: rgba(239, 243, 246, 0.82);
    transition: background-color 0.3s ease-in;
  }
}



.help-heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
    // .help-heading{

    //   }
}

.card-title-blck{
  display: flex;
  justify-content: space-between;
  align-items: center;

  img{
    width: 20px;
    margin-left: 31px;
    margin-right: -18px;
  }
}

.contact-us-section{
  input{
    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 0;
  }
}


.accnt-setting-profile-section{
  display: flex;
  align-items: flex-end;
}


.operator-status{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .gr-dotcircle{
    width: 10px;
    height: 10px;
    background-color: #2ab371;
    border-radius: 50%;
  }
  .red-dotcircle{
    width: 10px;
    height: 10px;
    background-color: #f26061;
    border-radius: 50%;
  }
}
