.toll_doe_cards_tabs {
  .active {
    color: $color-toll !important;
    border-bottom: 3px solid $color-toll;
  }
  p {
    margin: 0;
  }
}
.view-doecards__comapny{
  .pagination>li{
    float: left;
    margin: 10px;
  }

  .pagination>li>a{
    border-radius: 5px;
  }
}
.inactive_cards_table {
  margin: 20px 0;
  width: 100%;
  table {
    box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.14);
  }
  .table-fixed {
    thead {
      tr th {
        //color: $color-white;
        border-bottom: 2px solid #ddd;
        //background-color: #eff3f6 !important;
        //text-align: center;
        padding: 20px !important;
        height: 72px;
      }
    }

    tbody {
      tr {
        height: 52px;
        td {
          text-align: center;
        }
      }
    }
  }

  .pagination>li{
    float: left;
    margin: 10px;
  }

  .pagination>li>a{
    border-radius: 5px;
  }
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:none;
    margin: 0;
    display: none;
}
//
// input[type="number"] {
//     -moz-appearance: textfield;
// }




.request_field_dropdown{
 display:flex;
 .register_dropdown_span_field{
      width: 250px;
    height: 36px;
    object-fit: contain;
    border-radius: 4px;
    border: solid 1px #526372;
    margin-bottom: 10px;
 }
 .open .register_dropdown_customised {
    display: block;
}
 .register_dropdown_customised{

    position: absolute;
    right: 0;
    top:56%;
    left: 46%;
    z-index: 991;
    display: none;
    float: left;
    width: 250px;
    padding: 5px 1px;
    margin: 2px -8px 0;
    font-size: 14px;
    text-align: right;
    font-family: Oswald-Regular;
    letter-spacing: 0.9px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #000000 !important;
    list-style: none;
    background-color: #f0f5f7;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    max-height: 226px;
    overflow-y: scroll;
 }
}
.request_doecards_form {
  padding: 51px;
}

.form_error_dc_message{
  color: #ff0000 !important;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  font-family: $font-OpenSans-Semibold;
}

.form_error_adc_message{
  color: #ff0000 !important;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  font-family: $font-OpenSans-Semibold;
}

span.doe_cards_inactive_icon {
  margin: 10px;
  font-size: 17px;

  .endcard{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
}


