.signup__form-container {
  padding: 0 30px;
}
.common_dropdown_tooltip {
  .error_info_highlight {
    font-size: 16px;
    color: #ff0400;
  }
}
.company_signup_form_fields, .form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //padding: 10px;

  .well-container{
    margin-bottom: 40px;
    .well{
      height: 50px;
      p {
        margin-bottom: 0px;
        margin-top: 6px;
        input{
          margin-top: -7px;
        }
      }
    }
    .form_error_message{
      margin-top: -20px!important;
      margin-right: 0!important;
      font-size: 14px!important;
      margin-bottom: -29px!important;
    }
  }
}
.register_form_fileds_toll {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upload-icon-container{
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  text-align: center;
  width: 15%;
  height: 50px;
  margin-bottom: 28px;
  padding: 0;
  .upld-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    img{
      width: 16px;
      margin-top: 7px;
    }
    .upld-icn-txt{
      font-size: 9px;
      margin: 0;
      width: 35px;
    }
  }
}




.dropdown__statelist_register {
    color: #fff !important;
    background-color: #313942!important;
    font-family: Oswald-Regular;
    font-size: 20px;
    letter-spacing: 0.9px;
    // padding: 10px 47px 10px 34px;

  p {
    color: #fff !important;
    background-color: #313942 !important;
    font-family: Oswald-Regular;
    font-size: 20px;
    margin-top: -11px;
    letter-spacing: 0.9px;
    padding: 0px;
  }
  .cart_dropdown_customised_register {
    top:97%;
    left: 0%;
    width: 100%;
  }
}
.accnt_settings_form__field {
  display: flex;
  flex-direction: column;
}

.login-credentials{
    width:100%;
}
.text_dropdown_button {
  font-family: Oswald-Regular;
  font-size: 30px;
  letter-spacing: 0.9px;
  color: #000000;
}

@media only screen and (min-width: 1020px) and (max-width: 1250px) {
   .text-responsive {
     font-size: 20px !important;
   }

 }
@media only screen and (max-width: 1035px) {

   .register_dropdown_customised {
     top: 118% !important;
   }

 }


.register_signup_fileds {
  width: 48%;
}
.register_dropdown_span_field {
  background-color: #fff ;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.register_summary_dropdown {
  padding: 4px;
  border: none;
  background: url(../assets/images/guest/forma-1-copy-4.png) right 10px center no-repeat #fff;
  background-size: 15px;
  margin: 0;
  font-family: Oswald-Regular;
  font-size: 30px ;
  letter-spacing: 0.9px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.2px;
  text-align: left;
  color: #000000 !important;
  width: 56%;
  display: flex;
  align-items: center;
}
.open .register_dropdown_customised {
    display: block;
}
.register_dropdown_customised {
    position: absolute;
    top: 118%;
    right: 0;
    z-index: 991;
    display: none;
    float: left;
    width: 103%;
    padding: 5px 1px;
    margin: 2px -8px 0;
    font-size: 14px;
    text-align: right;
    font-family: Oswald-Regular;
    letter-spacing: 0.9px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.2px;
    color: #000000 !important;
    list-style: none;
    background-color: #f0f5f7;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    // height: 226px;
    max-height: 226px;
    overflow-y: scroll;
    p {
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: #fff;
      }
    }

}
.register__page {
  .screen_layer_text_register {
    opacity: 1.5;
    font-family: Oswald !important;
    font-size: 167px;
    font-weight: 900 !important;
    text-align: left;
    color: #e2e7eb !important;
    line-height: 0.8;
    letter-spacing: 68px;
    z-index: -100;
  }
}
.heade_layer_text {
  text-align: right;
  opacity: 0.3;
  font-family: Oswald-Heavy;
  font-size: 65px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c4292c;
}

.validation_message_section {
  margin: 0px 50px 15px 150px;
}

.accordian__header{
  font-size: 25px;
  color: #77909d;
  font-weight: bold;
  font-family: $font-oswald-regular ;
  text-transform: uppercase;
}
.custom__backdrop {
  background-color:transparent;
  width:100%;
  height:100%;
  z-index:990;
  position:fixed;
  left:0;
  right:0;
  top: 0;
}

//
.register_dropdown_data_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  width: 100%;
  .selected_item_value {
    margin: 0;
    width: 56%;
    border: none;
    background: none;
    font-family: $font-oswald-regular;
    font-size: 30px;
    letter-spacing: 0.9px;
    text-align: right;
    color: #000000;
  }
  .drop_down_carrot_symbol {
    margin: 0;
    font-size: 39px;
    margin-top: -11px;
    color: #d8dadc;
  }
}
