.tollFeesPopupBody {
	width: 999px;
	height: auto;
	object-fit: contain;
	background-color: #ffffff;
	box-shadow: 0 20px 31px 0 rgba(0, 0, 0, 0.16), 0 0 20px 0 rgba(0, 0, 0, 0.04);
}

.close_tollFeesPopupBody-2 {
	width: 20px;
	height: 20px;
	object-fit: contain;
	background-color: #ffffff;
  display: flex;
  justify-content: flex-end;

}
.modal-content {
    border-radius: 0px;
}
.fee-details-heading {
	width: 301px;
	height: 32px;
	font-family: Oswald;
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	color: #293c47;
}
.main-popup-area{
display: flex;
justify-content: center;
margin: 100px;
  div{
    flex-direction: column;
  }
}

.fee-details-text {
	width: 375px;
	height: 72px;
	font-family: Oswald;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
	text-align: left;
	color: #293c47;
	-webkit-text-stroke: 1px #979797;
}

.tollFeesPopupLable{
	width: 202.5px;
	height: 19px;
	font-family: Oswald;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-align: left;
	color: #8c909d;
}

.tollFeesTextFields {
	width: 360px;
	height: 55px;
	border: solid 1px #4a4a4a;
	margin-bottom: 25;
  margin-right: 30px;
}


.modal_report_list_wrapper {
	width: 84%;
	border-radius: 0;
	font-size: 16px;
	font-family: $font-OpenSans-Bold;
	.modal_report_list_header {
		img {
			width: 20px;
			height: 20px;
			margin: 5px;
		}
	}
	.modal_report_list_content {
		height: 390px;
    overflow-y: scroll;
    padding: 0 23px;
	}
}
.reports_table__list{
	thead {
		tr {
			th {
				text-align: center;
			}
		}
	}
	tbody {
		tr {
			height: 47px;
			td {
				text-align: center;
			}
		}
	}
}
