.header_fix_text_alignment {
  display: flex;
  align-items: center;
  height: 75px;
}
.signup_pannel_body {
  padding: 15px 0 !important;
}
.toll_booth_note_msg {
  margin: -15px 50px 1px 150px !important;
  .warn-list-msg {
    margin: 0;
  }
  // position: fixed;
  // left: 12.5%;
  // right: 4.9%;
  // bottom: 15%;
}

.toll_booth_list_input_filed {
  margin-bottom: 0;
  span {
    margin-top: -7px;
  }
}
.readers__pannel_heading {
  background-color: $color-white !important;
  border: none;
}
.readers__card_block {
  .panel {
    border: none;
    box-shadow: none;
  }
}
.request_cards_button {
  background-color: #90d818 !important;
  border: none !important;
}
.branch_radio_selection {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.2px;
  text-align: left;
  color: #000000;
  display: flex !important;
  line-height: normal !important;
  padding: 0 !important;
  margin: 0 !important;
  p {
    margin: 0;
  }
  img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }
}
.add_person_button {
  background-color: $color-white !important;
  color: #424a4d !important;
}
.tollboot_list_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tollboot_list_title_branch {
    font-size: 40px;
    font-weight: 900;
    color: #e2e7eb;
    text-transform: uppercase;
  }
}

.reader_page_title {
  font-size: 25px !important;
  font-family: $font-oswald-bold !important;
}

.signup_button_align_right {
  display: flex;
  justify-content: flex-end;
}
.branch_date_picker {
  background-color: #ffffff !important;
}
.date_picker_customized_view {
  display: flex;
  padding: -1px 0;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: -7px;
  input {
    margin: 0 !important;
    background: none !important;
    border: none !important;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
.branch_title_header {
  width: 100%;
  height: 91px;
  text-align: left;
  padding: 28px;
  margin-bottom: 22px;
  background-color: #fff;
  position: relative;
  .branch_header_bg_text {
    opacity: 0.04;
    font-family: $font-OpenSans-Bold;
    font-size: 64px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c52a2c;
    position: absolute;
    top: 6%
  }
  .branch_header_top_text {
    font-family: $font-OpenSans-Semibold;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8fa4af;
    text-transform: uppercase;
  }
}

.date_form_error_message {
  position: absolute;
  right: 16px;
}

.field_focus_within{
  &:focus-within {
    border: solid 1px $color-toll;
  }
}

.handheld_devices_input {
  margin-top: 6px;
   input {
     margin-top: -10px;
   }
}

.register_page_well-container_margin {
  margin-bottom: 0 !important;
}
.handheld_device_margin {
  margin-bottom: 20px;
  .form_error_message{
    margin-right: 0px !important;
  }
  .well {
    margin-bottom: 0;
  }
}

.handheld_final_button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
  .alert-danger {
    word-break: break-all;
  }
  .signup_button_align_right {
    padding: 0 5px;
  }
}

.create_branch_button_in_company {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
}
.branch_action_buttons {
  display: flex;
  justify-content:space-between;
  font-family: $font-oswald-medium;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.9px;
  text-align: center;
  color: #ffffff;
  button {
    border: none;
    width: 200px;
    height: 45px;
  }
  .branch_action_buttons_skip {
    button {
      border-radius: 100px;
      background-color: rgba(124, 144, 155, 0.33);
    }
  }
  .branch_action_buttons_right {
    button {
      border-radius: 100px;
      background-color: #fa7173;
    }
  }
}
.toll_booth_list_actions {
    margin: 0px 50px 15px 150px;
  .toll_booth_list_actions_skip {
    display: flex;
    padding: 0
  }
  .toll_booth_list_actions_submit{
    display: flex;
    justify-content: flex-end;
    padding: 0
  }
}
.devices_barcode_bg_image {
  background-repeat: no-repeat;
  background-position: center;
}
