<div id="main" class="guest__page side_menu_list  guest__page--retail">

  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav" >
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_retail">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinu']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>

    <!--side menu  -->
    <div class="row home-menu text-center" id="fp-nav">
        <ul class="home-menu-tag retail-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow"><img src="assets/images/retail/retail-forma.png"><span class="retail_text_color">ABOUT RETAIL</span></div>
                <div class="text-center non-flow"><img src="assets/images/retail/retail-forma-1.png"><span>ABOUT RETAIL</span></div>
              </a>
          </li>
          <li class="section2">
              <a data-target="#2">
                <div class="text-center flow"><img src="assets/images/retail/retail-forma.png"><span class="retail_text_color">FEATURES</span></div>
                <div class="text-center non-flow"><img src="assets/images/retail/retail-forma-1.png"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow"><img src="assets/images/retail/retail-forma.png"><span class="retail_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow"><img src="assets/images/retail/retail-forma-1.png"><span>PRODUCTS</span></div>
              </a>
          </li>
          <li class="section5">
              <a data-target="#4">
                <div class="text-center flow cursor"><img src="assets/images/retail/retail-forma.png"><span class="retail_text_color">SERVICES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/retail/retail-forma-1.png"><span>SERVICES</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#5">
                <div class="text-center flow"><img src="assets/images/retail/retail-forma.png"><span class="retail_text_color">FAQS</span></div>
                <div class="text-center non-flow"><img src="assets/images/retail/retail-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>

    <div class="row sectiondiv" mnFullpage [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">
      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row retailsection slide fp-section fp-table" data-section-name="abouttoll">
        <div class="row fp-tableCell service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="finace-head" [innerHTML]="content?.RETAIL.ABOUT.INTRO_LINE"></h3>
                  <p class="finace-sub">{{content?.RETAIL.ABOUT.SUB_TITLE}}</p>
                  <!-- <span class="finace-subpart retail_text_color" [routerLink]="['/retail/retail-be-merchant']" >Want to become an DOE Merchant?</span> -->
                </div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/retail/retail-smart.png"></div>
              </div>
          </div>
        </div>
        <div class="fixed_menu_buttons retail_fixed__buttons">
          <button type="button" name="button" [routerLink]="[ '/']">Consumer</button>
          <button class="active_button" type="button" name="button">Bussiness</button>
          <button type="button" name="button" [routerLink]="[ '/corporate']">Corporate</button>
        </div>
      </div>
      <!-- Section 1 ends here-->

      <!-- Section 2 starts here-->

       <div id="section2" class="container-fluid row retailsection section fp-section fp-table" data-section-name="retailfeatures">
         <!-- <div class="fp-tableCell service_section_alignment">
           <div class="col-md-7">
             <div col="row">
               <h1 class="text-center" [innerHTML]="content?.RETAIL.FEATURES.TAG_LINE"></h1>
             </div>
             <div class="row">
               <div class="carousel__container" >
                 <div class="carousel__center_text">
                   <div id="myCarousel" class="carousel slide sec-row carousel_slide_hieht" data-ride="carousel">
                     <ol class="carousel-indicators guest__features-slider retail_features-slider">
                       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                       <li data-target="#myCarousel" data-slide-to="1"></li>
                     </ol>
                     <div class="carousel-inner retail_slider_content" role="listbox">
                         <div class="row item active">
                             <div class="col-md-12">
                               <div class="col-md-6">
                                 <div class="hm-scr2-blck">
                                   <img class="img-defalt cursor" src="assets/images/retail/retail-customer-icon.png">
                                   <img class="img-hover cursor" src="assets/images/retail/retail-customer-icon-hover.png">
                                   <h4 class="text-center name-text" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.CUSTOMER_MANAGEMENT_POS.NAME"></h4>
                                   <input class="img-hover parking_view_btn retail_bg" type="submit" value="VIEW" RetailSideMenu [type]="'F&B'" emmitcustomevent [scrollFlag]="'on'">
                                   <p class="text-center" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.CUSTOMER_MANAGEMENT_POS.SUMMARY"></p>
                                 </div>
                               </div>

                               <div class="col-md-6">
                                 <div class="hm-scr2-blck">
                                   <img class="img-defalt cursor" src="assets/images/retail/retail-customer-icon.png">
                                   <img class="img-hover cursor" src="assets/images/retail/retail-customer-icon-hover.png">
                                   <h4 class="text-center name-text" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.FAST_TRANSACTION_PAYMENTS.NAME"></h4>
                                   <input class="img-hover parking_view_btn retail_bg" type="submit" value="VIEW" RetailSideMenu [type]="'H&B'" emmitcustomevent [scrollFlag]="'on'">
                                   <p class="text-center" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.FAST_TRANSACTION_PAYMENTS.SUMMARY"></p>
                                 </div>
                               </div>

                             </div>
                         </div>
                         <div class="row item">
                             <div class="col-md-12">
                               <div class="col-md-6">
                                 <div class="hm-scr2-blck">
                                   <img class="img-defalt cursor" src="assets/images/retail/retail-customer-icon.png">
                                   <img class="img-hover cursor" src="assets/images/retail/retail-customer-icon-hover.png">
                                   <h4 class="text-center name-text" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.MULTIPLE_UTILITIES.NAME"></h4>
                                   <input class="img-hover parking_view_btn retail_bg" type="submit" value="VIEW" RetailSideMenu [type]="'servicerepairs'" emmitcustomevent [scrollFlag]="'on'">
                                   <p class="text-center" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.MULTIPLE_UTILITIES.SUMMARY"></p>
                                 </div>
                               </div>
                               <div class="col-md-6">
                                 <div class="hm-scr2-blck">
                                   <img class="img-defalt cursor" src="assets/images/retail/retail-customer-icon.png">
                                   <img class="img-hover cursor" src="assets/images/retail/retail-customer-icon-hover.png">
                                   <h4 class="text-center name-text" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.SECURE_PAYMENTS.NAME"></h4>
                                   <input class="img-hover parking_view_btn retail_bg" type="submit" value="VIEW" RetailSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                                   <p class="text-center" [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.SECURE_PAYMENTS.SUMMARY"> Doe Card Readers is complaint with NFC, ensuring a safe two way security interaction between the device and the card. Allowing it to perform contactless transactions and access digital content</p>
                                 </div>
                               </div>

                             </div>
                         </div>
                     </div>
                   </div>
                 </div>
               </div>
            </div>

           </div>
          </div> -->

          <div class="fp-tableCell service_section_alignment">
            <div class="merchant__feature_container">
              <div col="row">
                <h1 class="text-center" [innerHTML]="content?.RETAIL.FEATURES.TAG_LINE"></h1>
              </div>
              <div class="merchant_services_features_layout">
                <div class="services_features_section services_features_section__retail" RetailSideMenu [type]="'F&B'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="features_image_section features_image_section__retail">
                    <img class="non-hover-image" src="assets/images/demo/retail/loyality_service-non-hover.png" alt="">
                    <img class="hover-image" src="assets/images/demo/retail/loyality_service-hover.png" alt="">
                  </div>
                  <div class="features_content_section">
                    <h4 [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.CUSTOMER_MANAGEMENT_POS.NAME"></h4>
                    <p [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.CUSTOMER_MANAGEMENT_POS.SUMMARY"></p>
                  </div>
                </div>

                <div class="services_features_section services_features_section__retail" RetailSideMenu [type]="'H&B'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="features_image_section features_image_section__retail">
                    <img class="non-hover-image" src="assets/images/demo/retail/flash-non-hover.png" alt="">
                    <img class="hover-image" src="assets/images/demo/retail/flash-hover.png" alt="">
                  </div>
                  <div class="features_content_section">
                    <h4 [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.FAST_TRANSACTION_PAYMENTS.NAME"></h4>
                    <p [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.FAST_TRANSACTION_PAYMENTS.SUMMARY"></p>
                  </div>
                </div>

                <div class="services_features_section services_features_section__retail" RetailSideMenu [type]="'servicerepairs'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="features_image_section features_image_section__retail">
                    <img class="non-hover-image" src="assets/images/demo/retail/group-loyality-non-hover.png" alt="">
                    <img class="hover-image" src="assets/images/demo/retail/group-loyality-hover.png" alt="">
                  </div>
                  <div class="features_content_section">
                    <h4 [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.MULTIPLE_UTILITIES.NAME"></h4>
                    <p [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.MULTIPLE_UTILITIES.SUMMARY"></p>
                  </div>
                </div>

                <div class="services_features_section services_features_section__retail" RetailSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="features_image_section features_image_section__retail">
                    <img class="non-hover-image" src="assets/images/demo/retail/secure-non-hover.png" alt="">
                    <img class="hover-image" src="assets/images/demo/retail/secure-hover.png" alt="">
                  </div>
                  <div class="features_content_section">
                    <h4 [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.SECURE_PAYMENTS.NAME"></h4>
                    <p [innerHTML]="content?.RETAIL.FEATURES.CONTENT_TABS.SECURE_PAYMENTS.SUMMARY"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       </div>

        <!-- Section 2 ends here-->

        <!-- section 4 from toll -->
        <div id="section4" class="container-fluid row retailsection section fp-section fp-table" data-section-name="retailproducts">
          <div class="fp-tableCell service__products service_section_alignment">
            <div class="procucts__cards_layout">
              <ng-container *ngFor="let item of retailLand.deviceinfo.items | keys; let i=index" >
                <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                  <div class="procuct__image">
                    <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                    <img src="{{retailLand.deviceinfo.items[item].image}}" alt="">
                  </div>
                  <div class="product__details">
                    <!-- <h4 class="Product_title">device name</h4>
                    <p class="product__description">desicription</p> -->
                    <h4 class="Product_title">{{retailLand.deviceinfo.items[item].name}}</h4>
                    <p class="product__description">{{retailLand.deviceinfo.items[item].summary}} </p>

                    <h3 class="prdct_cost" *ngIf="retailLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{retailLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!--section 4 ends here -->

        <div id="section5" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="services">
          <div class="fp-tableCell service__products">

            <div class="services__container six_layer_service_container">
              <div col="row">
                <!-- <h1 class="text-center"><span class='retail_text_color'>LOREM IPSUM</span> IS SIMPLY DUMMY TEXT OF</h1> -->
              </div>
              <div class="services__sections__layout">
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-restuarent'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="service__section retail__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/retail/retail-restaurant.png" alt="">
                    </div>
                  </div>
                  <p>Restaurant</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-fuelstation'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="service__section retail__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/retail/retail-fuel.png" alt="">
                    </div>
                  </div>
                  <p>Fuel Station</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-taxi'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="service__section retail__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/retail/retail-taxi.png" alt="">
                    </div>
                  </div>
                  <p>Taxi</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-supermarket'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="service__section retail__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/retail/retail-market.png" alt="">
                    </div>
                  </div>
                  <p>Super Market</p>
                </div>

                <div class="srvice_section_box" RetailSideMenu [type]="'retail-vendingmachine'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="service__section retail__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/retail/retail-vending.png" alt="">
                    </div>
                  </div>
                  <p>Vending Michanes</p>
                </div>
                <div class="srvice_section_box" RetailSideMenu [type]="'retail-smallshop'" emmitcustomevent [scrollFlag]="'on'">
                  <div class="service__section retail__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/retail/retail-shops.png" alt="">
                    </div>
                  </div>
                  <p>Small Shops</p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row retailsection section fp-section fp-table" data-section-name="retailfaq">
        <div class="fp-tableCell service_section_alignment">
          <div class=" faq__section_content">
            <h1 class="faq row">FAQs</h1>
            <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
            <div class="row">
              <div class="select-topic col-md-3">Select a topic</div>
              <div class="col-md-6 select-input cursor" #c (change)="changefaqbyid(c.value)">
                  <select class="cursor" #c (change)="changefaqbyid(c.value)">
                    <ng-container *ngFor="let item of content?.RETAIL.FAQS; let j=index ">
                      <option value="{{j}}" >{{item.description}}</option>
                    </ng-container>
                  </select>
              </div>
              <div class="col-md-3">
                  <input CommonSideMenu [type]="'retail_faq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
              <input showfaqanswer [type]="'retail_faq'"  class="faq-sub" type="submit" value="OK">
              </div>
            </div>
          </div>
        </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>

    <retail-footer></retail-footer>
</div>

<!-- faq page -->

<!-- right nav bar starts -->
<!-- right nav bar ends -->



<retail-features></retail-features>
<!-- right faq nav bar starts -->

<div id="retail-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img sidebar_corner retail_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/toll/faq-logo.png">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(retailLand.selectedFaqTopic && retailLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{retailLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of retailLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->
