<div id="main" class="guest__page side_menu_list guest__page--bus">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="toll_icon">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_bus">
                <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>

    <!--side menu  -->
    <div class="row home-menu text-center" id="fp-nav">
        <ul class="home-menu-tag bus-menu-js">
          <li class="active section1 cursor">
              <a data-target="#1">
                <div class="text-center flow"><img src="assets/images/bus/bus-forma.png" alt="bus_form_icon"><span class="bus_text_color">ABOUT BUS</span></div>
                <div class="text-center non-flow"><img src="assets/images/bus/bus-forma-1.png" alt="bus_form_icon"><span>ABOUT BUS</span></div>
              </a>
          </li>
          <li class="section2 cursor">
              <a data-target="#2">
                <div class="text-center flow"><img src="assets/images/bus/bus-forma.png" alt="bus_form_icon"><span class="bus_text_color">FEATURES</span></div>
                <div class="text-center non-flow"><img src="assets/images/bus/bus-forma-1.png" alt="bus_form_icon"><span>FEATURES</span></div>
              </a>
          </li>
          <li class="section4 cursor">
              <a data-target="#3">
                <div class="text-center flow"><img src="assets/images/bus/bus-forma.png" alt="bus_sec_icon"><span class="bus_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow"><img src="assets/images/bus/bus-forma-1.png" alt="bus_sec_icon"><span>PRODUCTS</span></div>
              </a>
          </li>
          <li class="section5 cursor">
              <a data-target="#4">
                <div class="text-center flow"><img src="assets/images/bus/bus-forma.png" alt="bus_sec_icon"><span class="bus_text_color">SERVICES</span></div>
                <div class="text-center non-flow"><img src="assets/images/bus/bus-forma-1.png" alt="bus_sec_icon"><span>SERVICES</span></div>
              </a>
          </li>
          <!-- <li class="section3 cursor">
              <a data-target="#5">
                <div class="text-center flow"><img src="assets/images/bus/bus-forma.png"><span class="bus_text_color">FAQS</span></div>
                <div class="text-center non-flow"><img src="assets/images/bus/bus-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>

    <div class="row sectiondiv" mnFullpage [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">
      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row bussection  slide fp-section fp-table" data-section-name="aboutbus">
        <div class="row fp-tableCell service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
                <div class="col-md-7">
                  <h3 class="finace-head" [innerHTML]="content?.BUS.ABOUT.INTRO_LINE"></h3>
                  <p class="finace-sub" >{{content?.BUS.ABOUT.SUB_TITLE}}</p>

                  <!-- <span class="finace-subpart bus_text_color" [routerLink]="['/bus/be-merchant']" >Want to become an DOE Merchant?</span> -->
                </div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/bus/bus-smart.png" alt="bus_smart_img"></div>
              </div>
          </div>
        </div>
      </div>
      <!-- Section 1 ends here-->

      <!-- Section 2 starts here-->

       <div id="section2" class="container-fluid row bussection slide fp-section fp-table" data-section-name="busfeatures">
         <div class="fp-tableCell service_section_alignment">
           <div class="merchant__feature_container">
             <div col="row">
               <h1 class="text-center" [innerHTML]="content?.BUS.FEATURES.TAG_LINE"></h1>
             </div>
             <div class="merchant_services_features_layout">
               <div class="services_features_section services_features_section__bus" BusSideMenu [type]="'corporation'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__bus">
                   <img class="non-hover-image" src="assets/images/demo/bus/ticketing-non-hover.png" alt="ticket_hover_img">
                   <img class="hover-image" src="assets/images/demo/bus/ticketing-hover.png" alt="ticket_hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.PAPERLESS_TICKETING.NAME"></h4>
                   <p [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.PAPERLESS_TICKETING.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__bus" BusSideMenu [type]="'depot'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__bus">
                   <img class="non-hover-image" src="assets/images/demo/bus/travel-passes-non-hover.png" alt="travel_pass_img">
                   <img class="hover-image" src="assets/images/demo/bus/travel-passes-hover.png" alt="travel-passes-hover">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.TRAVEL_PASS.NAME"></h4>
                   <p [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.TRAVEL_PASS.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__bus" BusSideMenu [type]="'division'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__bus">
                   <img class="non-hover-image" src="assets/images/demo/bus/track-non-hover.png" alt="track_img">
                   <img class="hover-image" src="assets/images/demo/bus/track-hover.png" alt="track_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.FLEET_ROUTE_MANAGEMENT.NAME"></h4>
                   <p [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.FLEET_ROUTE_MANAGEMENT.SUMMARY"></p>
                 </div>
               </div>

               <div class="services_features_section services_features_section__bus" BusSideMenu [type]="'others'" emmitcustomevent [scrollFlag]="'on'">
                 <div class="features_image_section features_image_section__bus">
                   <img class="non-hover-image" src="assets/images/demo/bus/id-non-hover.png" alt="track_nonhover_img">
                   <img class="hover-image" src="assets/images/demo/bus/id-hover.png" alt="track-non-hover_img">
                 </div>
                 <div class="features_content_section">
                   <h4 [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.EMPLOYED_ID_ACCESS.NAME"></h4>
                   <p [innerHTML]="content?.BUS.FEATURES.CONTENT_TABS.EMPLOYED_ID_ACCESS.SUMMARY"></p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>

        <!-- Section 2 ends here-->

        <!-- section 4 from toll -->
        <div id="section4" class="container-fluid row bussection slide fp-section fp-table" data-section-name="busproducts">
          <div class="fp-tableCell service__products service_section_alignment">
            <div class="procucts__cards_layout">
              <ng-container *ngFor="let item of busLand.deviceinfo.items | keys; let i=index" >
                <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                  <div class="procuct__image">
                    <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                    <img src="{{busLand.deviceinfo.items[item].image}}" alt="bus_device_img">
                  </div>
                  <div class="product__details">
                    <!-- <h4 class="Product_title">device name</h4>
                    <p class="product__description">desicription</p> -->
                    <h4 class="Product_title">{{busLand.deviceinfo.items[item].name}}</h4>
                    <p class="product__description">{{busLand.deviceinfo.items[item].summary}} </p>

                    <h3 class="prdct_cost" *ngIf="busLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{busLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!--section 4 ends here -->

        <!--section 5 ends here -->
        <div id="section5" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="services">
          <div class="fp-tableCell service__products">

            <div class="services__container six_layer_service_container">
              <div col="row">
                <!-- <h1 class="text-center"><span class='retail_text_color'>LOREM IPSUM</span> IS SIMPLY DUMMY TEXT OF</h1> -->
              </div>
              <div class="services__sections__layout">
                <div class="srvice_section_box">
                  <div class="service__section bus__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/bus/bus-3-corporation.png" alt="bus_corporation_img">
                    </div>
                  </div>
                  <p>Corporation</p>
                </div>
                <div class="srvice_section_box">
                  <div class="service__section bus__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/bus/bus-private.png" alt="bus_private_img">
                    </div>
                  </div>
                  <p>Private</p>
                </div>
                <div class="srvice_section_box">
                  <div class="service__section bus__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/bus/bus-7-inter.png" alt="bus_inter_img">
                    </div>
                  </div>
                  <p>Inter state</p>
                </div>
                <div class="srvice_section_box">
                  <div class="service__section bus__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/bus/bus-8-state.png" alt="bus_state_img">
                    </div>
                  </div>
                  <p>Intra State</p>
                </div>

                <div class="srvice_section_box">
                  <div class="service__section bus__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/bus/bus-9-intra.png" alt="bus_intrastate_img">
                    </div>
                  </div>
                  <p>Intra city</p>
                </div>
                <div class="srvice_section_box">
                  <div class="service__section bus__service_section cursor" >
                    <div class="service_procuct__image">
                      <img src="assets/images/demo/bus/school-bus.png" alt="school-bus_img">
                    </div>
                  </div>
                  <p>School Buses</p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!--section 5 ends here -->

        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row bussection slide fp-section fp-table" data-section-name="busfaq">
        <div class="fp-tableCell service_section_alignment">
          <div class="faq__section_content">
            <h1 class="faq row">FAQs</h1>
            <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
            <div class="row">
              <div class="select-topic col-md-3">Select a topic</div>
              <div class="col-md-6 select-input cursor" #c (change)="changefaqbyid(c.value)">
                <select class="cursor" #c (change)="changefaqbyid(c.value)">
                  <ng-container *ngFor="let item of content?.BUS.FAQS; let j=index ">
                    <option value="{{j}}" >{{item.description}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="col-md-3">
                <input CommonSideMenu [type]="'bus_faq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
              </div>
            </div>
          </div>
        </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>

    <bus-footer></bus-footer>
</div>

<!-- right faq nav bar starts -->

<div id="bus-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img bus_bg" style="height:100px;width:97px;border-radius:62%;">
    <!-- <img class="top-img1" src="assets/images/retail/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/demo/bus/bus-white.png" alt="bus_icon">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(busLand.selectedFaqTopic && busLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{busLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of busLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="item_img"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->


<!-- bus-features-side-bar -->
<bus-features-side-bar></bus-features-side-bar>
