
<div id="main" class="reader-item height_vh">
  <nav class="navbar navbar-fixed-top">
      <div class="container-fluid row">
          <div class="col-md-2">
              <div class="text-left cursor main-logo-cnt">
                  <img [routerLink]="['/toll']" class="main-logo" src="assets/images/toll/main-logo.png">
              </div>
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-7 mer-cust" style="display:flex;justify-content:space-between;align-items:center">
            <div class="col-md-7 page_tags_list">
              <!-- <img [routerLink]="['/toll']" Class="back_img" src="assets/images/toll/left-arrow-copy.png" alt="left arrow"> -->
              <p> <a class="cursor" (click)="gotoToll('ABOUTTOLL')">Home</a> > <a class="cursor" (click)="gotoToll('PRODUCTS')">Products</a> ><span> {{device.name}}</span></p>
            </div>
          	<div class="col-md-3" >
              <div class="row text-center cursor joinus_button joinus_button_toll">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
          	</div>
          </div>
      </div>
    </nav>
    <!-- nav ends here -->
    <div class="product_overview_page" >
      <div class="col-md-5 item-imgs product__device_images">
        <div class="product__overview_image">
          <div class="product_actual_image">
            <img class="device-img" src="{{deviceImages.showImageUrl}}">
          </div>
          <div class="product_thumnails">
            <!-- <div class="carousel__container" >
              <div class="carousel__center_text" style="width:100%;">
                  <div id="thumbnailscroll" class="carousel slide carousel_slide_hieht" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active ">
                          <div class="product_thumnail_layout">

                          </div>
                        </div>
                        <div class="item" >
                          <div class="product_thumnail_layout">

                          </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators carousel-indicators_services ">
                      <li data-target="#thumbnailscroll" data-slide-to="0" class="active"></li>
                      <li data-target="#thumbnailscroll" data-slide-to="1"></li>
                    </ol>
                  </div>
              </div>
            </div> -->


            <div class="carousel-thumbnail" style="position:relative;" *ngIf="device.images.length > 1">
              <div class="carousel-thumbnail__section" style="margin:auto;width:80%;">
                <div id="carousel-thumbnail" class="carousel slide" data-ride="carousel" data-interval="false">

                  <div class="carousel-inner">
                    <div class="item active ">
                      <div class="product_thumnail_layout">
                        <ng-container *ngFor="let img of device.images; let i = index;">
                          <div class="product_thumnail_image cursor" *ngIf="i < 4" (click)="changeImage(i)">
                            <img src="{{img.thumbnailImage}}" alt="">
                          </div>
                        </ng-container>
                      </div>

                    </div>
                    <div class="item" *ngIf="device.images.length > 4">
                      <div class="product_thumnail_layout">
                        <ng-container *ngFor="let img of device.images; let i = index;" >
                          <div class="product_thumnail_image cursor" *ngIf="(i > 3) && (i < 8)" (click)="changeImage(i)">
                            <img src="{{img.thumbnailImage}}" alt="">
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-thumbnail" role="button" data-slide="prev" *ngIf="device.images.length > 4">
                   <span class="glyphicon glyphicon-chevron-left"></span>
               </a>
               <a class="right carousel-control" href="#carousel-thumbnail" role="button" data-slide="next" *ngIf="device.images.length > 4">
                   <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-7 product_overview_specifications height_vh_child" *ngIf="device.name">
        <div class="device_title">
          <h3>{{device.name}}</h3>
          <span>{{device.summary}}</span>
        </div>
        <div class="device_cost_details" *ngIf="device.cost && device.cost.sellingPrice.value">
          <div class="cost_section">
            <span>MRP</span>
            <p class="actual_cost"><span class="rupee_symbol_font">&#8377;</span> {{device.cost.actualPrice.value}}</p>
          </div>
          <div class="cost_section">
            <span>{{(device.cost.actualPrice.value - device.cost.sellingPrice.value)/device.cost.actualPrice.value*100}} %OFF</span>
            <p class="cost_discount"><span class="rupee_symbol_font">&#8377;</span> {{device.cost.sellingPrice.value}}</p>
          </div>
        </div>
        <div class="device_secription">
          <h4>Product Description</h4>
          <p>{{device.description}}</p>
        </div>
        <div class="device_services">
          <h3>Product Support Services</h3>
          <p><ng-container *ngFor="let key of device.supportedServices; let i = index"> {{key}}<span *ngIf="!(i == (device.supportedServices.length-1))">,</span></ng-container></p>
          <span>Estimated delivery with in India 3-5 days</span>

        </div>
        <div class="product__information">
          <div class="product__information_details">
            <h4 class="information_details__key">Product Information</h4>
          </div>
          <div class="product__information_details" *ngFor="let info of device.productInformation">
            <p class="information_details__key">{{info.keyName}}</p>
            <p class="information_details__value">{{info.value}}</p>
          </div>
          <div class="note__points">
            <p *ngFor="let key of device.productInformationKeypoints">  *	{{key}}</p>
          </div>
        </div>

        <div class="product__information">
          <div class="product__information_details">
            <h4 class="information_details__key">Others Specifications</h4>
          </div>
          <div class="product__information_details" *ngFor="let info of device.otherSpecifications">
            <p class="information_details__key">{{info.keyName}}</p>
            <p class="information_details__value">{{info.value}}</p>
          </div>

          <div class="note__points">
            <p *ngFor="let key of device.productInformationKeypoints">  *	{{key}}</p>
          </div>
        </div>
        <div class="conditions_notes">
          <h4>Terms & Conditions</h4>
          <p *ngFor="let key of device.termsCOnditions">{{key}}</p>
        </div>
      </div>
    </div>

    <toll-footer></toll-footer>
</div>



<!-- right menu nav bar starts -->
<toll-menu></toll-menu>
<!-- right menu nav bar ends -->
<toll-reader-issues></toll-reader-issues>

<!-- modal pop up for login -->

<!-- <div class="modal_popup" role="dialog" data-backdrop="false"  id="loginpopup222" *ngIf=loginpopup222 style="display: block">
	 <img Class="kyc_close pop_up_close_outside" src="assets/images/parking/c-lose-bg.png" data-dismiss="modal" alt="">
	<button type="button" class="pop_up_close_outside" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
	<div class="modal__wrapper">
		<div class="modal__header">
		</div>
		<div class="modal__content modal__content__guest_page">
      <div class="guest_login_popup">
        <div class="guest_login_popup_form">
          <h3>LOGIN</h3>
          <div class="guest_login_popup_fields">
            <input type="text" name="" value="" placeholder="User Name">
            <span>Forgot?</span>
          </div>
          <div class="guest_login_popup_fields">
            <input type="text" name="" value="" placeholder="Passord">
            <span>Forgot?</span>
          </div>
          <div class="guest_login_radio_button">
            <input type="radio" name="" value="">
            <span>Stay Logged in</span>
          </div>

          <button type="button" name="button" class="guest_login_popup_btn" >Login</button>
        </div>
        <div class="or_section">
          <span>Or</span>
        </div>
        <div class="guest_login_popup_countinue">
          <h3>CONTINUE AS GUEST</h3>
					<button class="guestlogin_continue_btn" type="button" name="button" (click)=guestlogin(id)>Continue</button>
        </div>
      </div>
		</div>
	</div>
</div> -->
