.loyality_bg {
  background-color: $color-loyality !important;
}
.loyality_text_color {
  color: $color-loyality !important;
}

.loyality_border {
  border: 1px solid $color-loyality !important;
}

.guest__page--loyality {
  .mer-cust-btn {
    padding-top: 0;
  }
  .select-input {
    border: 1px solid $color-loyality;
  }
  .faq-sub {
    background: $color-loyality;
    border: 1px solid $color-loyality;
  }

  .guest_page--slider_content {
    border-bottom: 1px solid $color-loyality;
    padding-bottom: 13px;
  }

  .guest__features-slider {
    li {
      border: 1px solid $color-loyality !important;
    }
    .active {
      background-color: $color-loyality;
      margin-bottom: -17px;
    }
  }

  .edu_products_indicators{
    bottom: -13px !important;
    li {
      border: 1px solid $color-loyality;
    }
    .active {
      background-color: $color-loyality !important;
    }
  }
}
