<!-- right nav bar starts -->
<div id="myRightSidenav" class="sidenav  rightsidenav">
  <!--div class="row" href="javascript:void(0)" onclick="closeRightNav()">
    <img src="assets/images/common/close-button.png">
  </div -->
  <div id="guest-lost-card" class="row lost-card-img home_side_corner_right" (click)="setNormal()">
    <img src="assets/images/common/lost-card-white.png" alt="lost_card_logo">
  </div>


  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>QUICK PAYMENT</h3>
        </div>
        <div class="row form-group">
           <p>A DOE Card is a Felica chip-enabled, contactless payment card which has account balance stored on it and is redeemable to a group of merchants which is in contract with the issuer, facilitating multiple payments with a single card.   It is simply a payment solution using a card which works on the basis of NFC (Near Field Communication) offering high-speed data transfer working at a high frequency.</p>

        </div>
        <div class="row form-group">
          <div class="col-md-5"><hr></div>
          <div class="col-md-2"><img src="assets/images/guest/ruppee-button.png" alt="ruppee_logo"></div>
          <div class="col-md-5"><hr></div>
        </div>
        <div class="row form-group">
          <p>This multi-utility card can be used for access and micropayments at toll booths, metro stations, retail outlets, parking lots, bus/railway stations, etc. </p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
