<div class="customer-login container-fluid login-customer customer-register" >
    <div class="container-fluid row coustmer_guest_header" style="height:62px;">
			<img src="assets/images/demo/logo.png" alt="doe_logo" [routerLink]="['/customer']" height="100%" style="cursor:pointer">
    </div>
  <div class="row">
    	<div class="cust-login-txt row">JOIN US</div>
  		<div class="row social-feed">
  			<div class="col-md-6">
  				<img onclick='window.open("https://www.linkedin.com/");return false;' class="social-icon cursor" src="assets/images/customer/lin.png" alt="linkedin_logo">
  				<img onclick='window.open("https://www.facebook.com/");return false;' class="social-icon cursor" src="assets/images/customer/fb.png" alt="facebook_logo">
  				<img onclick='window.open("https://twitter.com/");return false;' class="social-icon cursor" src="assets/images/customer/twit.png" alt="twitter_logo">
  			</div>
  			<div class="col-md-6 cursor">
  				<p class="open_sans_semibold_font">Follow us</p>
  			</div>
  		</div>
  	</div>
	<div class="row field-row register-customer open_sans_light_font">
		<div class="col-md-3"></div>
    	<div class="col-md-6 text-center">
    		<h2>CUSTOMER BUSINESS SIGN UP</h2>
    		<p>Customer business copy line what DOE is doing and how it will be helpful to the customer user</p>
    		<div class="row text-center">

    			<div class="col-md-12"><img class="line-bar-green" src="assets/images/customer/line-bar-green.png" alt="line-bar-green_img"></div>

    		</div>
        <form [formGroup]="joinusForm" (ngSubmit)="onSubmit()" name="userregistration">
      		<div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
								<!-- / -->
								<div class="type_selection">
									<p>Select User Type</p>
									<label class="container-radio">Merchant
		                <input type="radio" checked="checked" name="clienttype" value="Merchant" formControlName="clienttype" required>
		                <span class="checkmark"></span>
		              </label>
									<label class="container-radio">Consumer
		                <input type="radio"  name="clienttype" value="consumer" formControlName="clienttype" required>
		                <span class="checkmark"></span>
		              </label>
								</div>
								<p class="form_error_message">{{formErrors.clienttype}}</p>

								<div class="joinus__form_layout">
									<div class="field_input_floating">
										<div class="float_input_style joinus_fields">
											<input formControlName = "name" focus-next type="text" maxlength="25" class="input-box joinus_floating-input" placeholder="Name">
											<label for="fullname">Name</label>
										</div>
										<p class="form_error_message">{{formErrors.name}}</p>
									</div>

									<div class="field_input_floating">
										<div class="float_input_style joinus_fields">
											<input formControlName = "email" focus-next type="text" class="input-box joinus_floating-input" placeholder="Email">
											<label for="fullname">Email</label>
										</div>
										<p class="form_error_message">{{formErrors.email}}</p>
									</div>

									<div class="field_input_floating">
										<div class="float_input_style joinus_fields">
											<input formControlName = "mobileNumber" focus-next type="text" class="input-box joinus_floating-input" placeholder="Mobile Number">
											<label for="fullname">Mobile Number</label>
										</div>
										<p class="form_error_message">{{formErrors.mobileNumber}}</p>
									</div>

									<div class="field_input_floating">
										<div class="float_input_style joinus_fields">
											<input formControlName = "location" focus-next type="text" class="input-box joinus_floating-input" placeholder="EX:HSR">
											<label for="fullname">Location</label>
										</div>
										<p class="form_error_message">{{formErrors.location}}</p>
									</div>

								</div>

								<!-- <div class="row input-row joinus_fields">
                  <div class="col-md-6 text-left input-text">Name</div>
                  <div class="col-md-6 text-right p-r-0">
										<input formControlName = "name" focus-next type="text" maxlength="25" class="input-box" placeholder="Name">
									</div>
                </div>
								<p class="form_error_message">{{formErrors.name}}</p>


                <div class="row input-row joinus_fields">
                  <div class="col-md-6 text-left input-text">Email</div>
                  <div class="col-md-6 text-right p-r-0">
										<input formControlName="email" type="text" class="input-box" placeholder="Email">
									</div>
                </div>
								<p class="form_error_message">{{formErrors.email}}</p>

								<div class="row input-row joinus_fields">
                  <div class="col-md-6 text-left input-text">Mobile Number</div>
                  <div class="col-md-6 text-right p-r-0">
										<input formControlName = "mobileNumber" type="text" class="input-box" placeholder="Mobile Number" maxlength="10">

									</div>
                </div>
								<p class="form_error_message">{{formErrors.mobileNumber}}</p> -->

								<div class="text_area">
									<textarea name="comment" formControlName = "textarea" placeholder="Describe yourself here..."></textarea>
                </div>

								<div class="">
									<p class="" style="color: #ff0000;font-weight: bold;font-size: 16px;font-family: OpenSans-Semibold;">{{formErrors.recaptcha}}</p>
									<div class="captcha__section">
										<ngx-recaptcha2 #captchaElem
									    [siteKey]="siteKey"
									    (reset)="handleReset()"
									    (expire)="handleExpire()"
									    (load)="handleLoad()"
									    (success)="handleSuccess($event)"

									    [size]="size"
									    [hl]="lang"
									    [theme]="theme"
									    [type]="type"
									    formControlName="recaptcha">
									  </ngx-recaptcha2>
									</div>
								</div>




              </div>
              <div class="col-md-1"></div>
          </div>
      		<div class="row text-center">
						<button type="submit" class="submit-box">Submit</button>
      		</div>
        </form>
    	</div>
    	<div class="col-md-3"></div>
	</div>
</div>


<!-- Registration sucessfull Modal content-->
<div class="modal" id="confirmationrechargeModal" role="dialog" *ngIf="showRegisterPopup.show" style="display: block;closeTimer: 1000;background-color: rgba(0, 0, 0, 0.90);">
  <div class="modal-dialog success_modal-dialog">
    <div class="modal-content success_modal-content">
    	<div class="modal-body success_modal-body">
				<img src="assets/images/demo/lc-suc.png" alt="success_img">
				<div class="success_content">
					<h4>successfully Submitted</h4>
					<p>Your request has been placed. We will get back to you soon.</p>
				</div>
				<button type="button" class="success_done_btn" data-dismiss="modal" (click)="showRegisterPopup.show = false">DONE</button>
    	</div>
    </div>
  </div>
</div>


<modal></modal>
<!--mobile number modal ends here-->
