<div id="main" class="guest__page side_menu_list guest__page--access">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav">
        <div class="container-fluid row">
          <div class="col-md-2 guest__page__header--logo">
            <div class="text-left cursor main-logo-cnt">
              <img [routerLink]="['/merchant']" class="main-logo" src="assets/images/toll/main-logo.png" alt="toll_icon">
            </div>
          </div>
            <div class="col-md-8">
              <merchant-header></merchant-header>
            </div>
            <div class="col-md-2 mer-list" style="background-color: #f8f6f8;height:76px">
              <div class="row text-center cursor joinus_button joinus_button_access">
               <button type="button" name="button" [routerLink]="[ '/merchant-joinus']">Join Us</button>
              </div>
            </div>
        </div>
      </nav>
    </div>
  </div>


    <div class="row home-menu text-center toll_guest_homepage" id="fp-nav">
        <ul class="home-menu-tag toll-menu-js">
          <li class="active section1">
              <a data-target="#1">
                <div class="text-center flow cursor "><img src="assets/images/demo/access-forma.png" alt="access_logo"><span class="access_text_color">ABOUT ACCESS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/access/access-forma-1.png" alt="about_access_logo"><span>ABOUT ACCESS</span></div>
              </a>
          </li>
          <!-- <li class="section2">
              <a data-target="#2">
                <div class="text-center flow cursor"><img src="assets/images/demo/access-forma.png"><span class="access_text_color">FEATURES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/access/access-forma-1.png"><span>FEATURES</span></div>
              </a>
          </li> -->
          <li class="section4">
              <a data-target="#3">
                <div class="text-center flow cursor"><img src="assets/images/demo/access-forma.png" alt="products_logo"><span class="access_text_color">PRODUCTS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/access/access-forma-1.png" alt="prodect_desc_logo"><span>PRODUCTS</span></div>
              </a>
          </li>
          <li class="section5">
              <a data-target="#4">
                <div class="text-center flow cursor"><img src="assets/images/demo/access-forma.png" alt="services_logo"><span class="access_text_color">SERVICES</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/access/access-forma-1.png" alt="service_logo"><span>SERVICES</span></div>
              </a>
          </li>
          <!-- <li class="section3">
              <a data-target="#5">
                <div class="text-center flow cursor"><img src="assets/images/toll/toll-forma.png"><span class="access_text_color">FAQS</span></div>
                <div class="text-center non-flow cursor"><img src="assets/images/demo/access/access-forma-1.png"><span>FAQS</span></div>
              </a>
          </li> -->
        </ul>
    </div>


    <div class="row sectiondiv" id="tolllandpage" mnFullpage [mnFullpageNavigation]="true"
     [mnFullpageKeyboardScrolling]="true"
     [mnFullpageSlidesNavigation]="true"
     [mnFullpageControlArrows]="false"
     mnFullpageSlidesNavPosition="bottom">

      <!-- Section 1 starts here-->
      <div id="section1" class="container-fluid row tollsection slide fp-section fp-table" data-section-name="abouttoll">
        <div class="row fp-tableCelln service_section_alignment">
          <div class="col-md-12 home_page_section1">
              <div class="row">
              	<div class="col-md-7">
              		<h3 class="finace-head" [innerHTML]="content?.ACCESS.ABOUT.INTRO_LINE"></h3>
              		<p class="finace-sub" [innerHTML]="content?.ACCESS.ABOUT.SUB_TITLE"></p>

              		<!-- <span class="finace-subpart" [routerLink]="['./be-merchant']" >Want to become an DOE Merchant?</span> -->
              	</div>
                <div class="col-md-4"><img class="finance-icon" src="assets/images/demo/access/access-landing.png" alt="doe_access_logo"></div>
              </div>
          </div>
        </div>
        <div class="fixed_menu_buttons access_clr">
          <button type="button" name="button" [routerLink]="[ '/']">Consumer</button>
          <button class="active_button" type="button" name="button">Bussiness</button>
          <button type="button" name="button" [routerLink]="[ '/corporate']">Corporate</button>
        </div>
      </div>

    <!-- Section 1 ends here-->



        <!-- Section 4 starts here-->
      <div id="section4" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="products">
        <div class="fp-tableCell service__products">
          <div class="procucts__cards_layout">
            <ng-container *ngFor="let item of accessLand.deviceinfo.items | keys; let i=index" >
              <div class="procucts__card cursor" (click)="gotodevice(item)" *ngIf="i < 6">
                <div class="procuct__image">
                  <!-- <img src="assets/images/demo/bitmap-copy-4.png" alt=""> -->
                  <img src="{{accessLand.deviceinfo.items[item].image}}" alt="product_img">
                </div>
                <div class="product__details">
                  <h4 class="Product_title">{{accessLand.deviceinfo.items[item].name}}</h4>
                  <p class="product__description">{{accessLand.deviceinfo.items[item].summary}}
                  </p>
                  <h3 class="prdct_cost" *ngIf="accessLand.deviceinfo.items[item].cost.sellingPrice.value"><span class="rupee_symbol_font">&#8377;</span>{{accessLand.deviceinfo.items[item].cost.sellingPrice.value}}</h3>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
   <!-- Section 4 ends here-->


      <!--section 5 ends here -->
      <div id="section5" class="container-fluid row tollsection slide fp-section fp-table " data-section-name="services">
        <div class="fp-tableCell service__products">

          <div class="services__container six_layer_service_container">
            <div col="row">
              <!-- <h1 class="text-center"><span class='retail_text_color'>LOREM IPSUM</span> IS SIMPLY DUMMY TEXT OF</h1> -->
            </div>
            <div class="services__sections__layout">
              <div class="srvice_section_box" RetailSideMenu [type]="'retail-restuarent'" emmitcustomevent [scrollFlag]="'on'">
                <div class="service__section access__service_section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/access/group-residence.png" alt="residence_img">
                  </div>
                </div>
                <p>Residence</p>
              </div>
              <div class="srvice_section_box" RetailSideMenu [type]="'retail-fuelstation'" emmitcustomevent [scrollFlag]="'on'">
                <div class="service__section access__service_section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/access/group-offices.png" alt="office_img">
                  </div>
                </div>
                <p>Offices</p>
              </div>
              <div class="srvice_section_box" RetailSideMenu [type]="'retail-taxi'" emmitcustomevent [scrollFlag]="'on'">
                <div class="service__section access__service_section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/access/group-education.png" alt="educational_img">
                  </div>
                </div>
                <p>Educational Institutes</p>
              </div>
              <!-- <div class="srvice_section_box" RetailSideMenu [type]="'retail-taxi'" emmitcustomevent [scrollFlag]="'on'">
                <div class="service__section access__service_section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/access/group-employee.png" alt="">
                  </div>
                </div>
                <p>Employees</p>
              </div> -->
              <div class="srvice_section_box" RetailSideMenu [type]="'retail-supermarket'" emmitcustomevent [scrollFlag]="'on'">
                <div class="service__section access__service_section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/access/group-hotel.png" alt="hotel_img">
                  </div>
                </div>
                <p>Hotels</p>
              </div>

              <div class="srvice_section_box" RetailSideMenu [type]="'retail-vendingmachine'" emmitcustomevent [scrollFlag]="'on'">
                <div class="service__section access__service_section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/access/group-appartment.png" alt="apartments_img">
                  </div>
                </div>
                <p>Apartments/ Gated Community</p>
              </div>
              <div class="srvice_section_box" RetailSideMenu [type]="'retail-smallshop'" emmitcustomevent [scrollFlag]="'on'">
                <div class="service__section access__service_section cursor" >
                  <div class="service_procuct__image">
                    <img src="assets/images/demo/access/group-hospital.png" alt="hospital_img">
                  </div>
                </div>
                <p>Hospitals</p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--section 5 ends here -->



        <!-- Section 3 starts here-->
      <!-- <div id="section3" class="container-fluid row tollsection slide fp-section fp-table" data-section-name="faq">
          <div class=" fp-tableCell">
              <div class="faq__section_content">
                  <h1 class="faq row">FAQs</h1>
                  <p class="faq-cont row">If you've got any questions about how we can make your life easier, please check out our FAQ.</p>
                  <div class="row">
                    <div class="select-topic col-md-4">Select a topic</div>
                    <div class="col-md-6 select-input" #c (change)="changefaqbyid(c.value)">
                        <select class="" #c (change)="changefaqbyid(c.value)">
                          <ng-container *ngFor="let item of content?.TOLL.FAQS; let j=index ">
                            <option value="{{j}}" >{{item.description}}</option>
                          </ng-container>
                        </select>
                    </div>
                    <div class="col-md-2">
                      <input CommonSideMenu [type]="'tollfaq'"  class="faq-sub" type="submit" value="OK" emmitcustomevent [scrollFlag]="'on'">
                    </div>
                  </div>
              </div>
          </div>
      </div> -->
       <!-- Section 3 ends here-->
    </div>
    <access-footer></access-footer>
</div>

<!-- right features nav bar starts -->
<access-features></access-features>


<!-- right features nav bar ends -->

<!-- right faq nav bar starts -->

<div id="toll-faq" class="sidenav rightsidenav tollfaqenav slide">
  <div class="row lost-card-img">
  <img class="top-img1" src="assets/images/toll/ellipse-1.png" alt="top_logo">
    <img class="top-img2" src="assets/images/toll/faq-logo.png" alt="faq_logo">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row form-group text-center">
          <h3 class="faq_header">FAQs</h3>
        </div>
        <div class="row text-left" *ngIf="(accessLand.selectedFaqTopic && accessLand.selectedFaqTopic.description)" >
          <p class="faq_title">{{accessLand.selectedFaqTopic.description}}</p>
        </div>
         <div class="panel-group" id="accordion">
           <div class="panel panel-default pannel-arrows" *ngFor = "let item of accessLand.faqs; let i=index " >
              <a  href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion" >
                <div class="panel-heading panel-heading__section"  >
                  <h4 class="panel-title faq_question_section">
                    <a >{{item.question}}</a>
                  </h4>
                  <div>
                    <a class="accordion-toggle" href="#collapse{{i}}" data-toggle="collapse" data-parent="#accordion"></a>
                  </div>
                  <div class="col-md-2"><img src="assets/images/toll/forma-1-copy-4.png" alt="faq_section_icon"></div>
                </div>
                <div id="collapse{{i}}" class="panel-collapse collapse">
                  <div class="panel-body panel-body__answer">{{item.answer}}</div>
                </div>
                </a>
             </div>
          </div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right faq nav bar ends -->
<modal></modal>




<!-- right nav bar starts -->
<div id="retail-restuarent" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner access_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retial_white_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.ACCESS.SERVICES.RESIDENCE.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.RESIDENCE.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee_bar">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.RESIDENCE.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->

<!-- right nav bar starts -->
<div id="retail-fuelstation" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner access_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retial_white_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.ACCESS.SERVICES.OFFICES.NAME}}</h3>
        </div>
        <div class="row form-group">
            <p [innerHTML]="content?.ACCESS.SERVICES.OFFICES.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee_logo">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.OFFICES.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-taxi" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner access_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retial_white_icon">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.ACCESS.SERVICES.EDUCATION.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.EDUCATION.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee_logo">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.EDUCATION.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-supermarket" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner access_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retail_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.ACCESS.SERVICES.HOTEL.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.HOTEL.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee_logo">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.HOTEL.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-vendingmachine" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner access_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retial_white_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.ACCESS.SERVICES.APARTMENTS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.APARTMENTS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee_logo">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.APARTMENTS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
<!-- right nav bar starts -->
<div id="retail-smallshop" class="sidenav rightsidenav tollsidenav">
  <div class="row lost-card-img sidebar_corner access_bg">
    <!-- <img class="top-img1" src="assets/images/toll/ellipse-1.png"> -->
    <img class="top-img2" src="assets/images/retail/retial_white.png" alt="retial_white_logo">
  </div>
  <div class="row qick-pay-row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <div class="row form-group">
          <h3>{{content?.ACCESS.SERVICES.HOSPITALS.NAME}}</h3>
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.HOSPITALS.DESCRIPTION_PART1"></p>
        </div>
        <div class="row form-group text-center">
          <img class="rupee-divider" src="assets/images/toll/ruppe-bar.png" alt="rupee_logo">
        </div>
        <div class="row form-group">
          <p [innerHTML]="content?.ACCESS.SERVICES.HOSPITALS.DESCRIPTION_PART2"></p>
        </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<!-- right nav bar ends -->
