.guest_login_popup {
  display: flex;
  position: relative;

  .or_section {
    position: absolute;
    top: 50%;
    left: 48%;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
  }

  .guest_login_popup_form {
    background-color: #fa7173;
    width: 50%;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;

    h3 {
      color: #fff;
      font-family: $font-OpenSans-Regular;
      font-weight: bold;
      letter-spacing: 3px;
    }

    .guest_login_popup_fields {
      border-bottom: 1px solid #fff;
      display: flex;
      justify-content: space-between;
      color: $color-white;
      margin-bottom: 20px;
      font-size: 18px;
      font-family: $font-OpenSans-Regular;
      input {
        background: none;
        border: none;

      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(255, 255, 255, 0.49) !important;
      }
      span {
        color: rgba(255, 255, 255, 0.49);
        cursor:pointer;
        &:hover {
          color: $color-white;
        }
      }
    }


    .guest_login_popup_btn {
      border: none;
      height: 41px;
      color: #fa7173;
      background-color: #fff;
      text-transform: uppercase;
      border-radius: 20px;
      font-size: 18px;
      margin: 18px 0;
      font-family: $font-OpenSans-Regular;
    }

    .no_account {
      color: rgba(255, 255, 255, 0.49);
      font-size: 17px;
      font-family: $font-OpenSans-Regular;
    }
  }

// Radio button CSS
  .guest_login_radio_button {
    display: flex;
    color: $color-white;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: $font-OpenSans-Regular;
    label {
      margin-right: 12px;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 40px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: rgba(255, 255, 255, 0.49);
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 25px;
        height: 25px;
        border: 2px solid rgba(255, 255, 255, 0.49);
        border-radius: 100%;
        background: #fa7173;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 15px;
        height: 15px;
        background: $color-white;
        position: absolute;
        top: 5px;
        left: 5px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }

  .guest_login_popup_countinue {
    width: 50%;
    background-color: #e3ecf1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
    h3 {
      color: #000;
      font-family: $font-oswald-regular;
      font-weight: bold;
      letter-spacing: 3px;
    }

    .guestlogin_continue_btn {
      border: none;
      height: 41px;
      color: #fff;
      background-color: #fa7173;
      text-transform: uppercase;
      border-radius: 20px;
      font-size: 18px;
      font-family: $font-OpenSans-Regular;
    }
  }
}
.guest_lgoin_close {
  margin-top: 7%;
  margin-right: 22%;
  float: right;
  background-color: $color-white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  span {
    color: #4a4a4a;
    font-size: 31px;
    margin-top: -3px;
    font-family: $font-OpenSans-Semibold;
  }
}
