.guet_header_buttons {
  border-radius: 30px;
  text-align: center;
  padding: 5px 11px;
  height: 34px;
  border: 2px solid #9cbeb7;
  width: 106px;

  &:hover {
    background-color: #2bb673;
    color:#fff;
  }
}
.guest__page__header_section {
  .guest__page__header--logo {
    z-index: 1;
  }
  .navbar_header_menu_section {
    .navbar-fixed-top {
      //left: 14%;
      //background-color: #f8f6f8
    }
  }
}

.guest__page {
  background-color: #f8f6f8;
  .guest__page__navbar {
    background-color: #f8f6f8;
  }
  .features_tilte {
    text-transform: uppercase;
  }
  .home-menu-tag {
    list-style: none;
    padding-left: 0px;
    .flow {
      display: none;
    }
  }
  // merchant header images
  .merchant-list {
    padding-top: 15px;
    background-color: #f8f6f8 !important;
    display: flex;
    justify-content: space-between;
    .mer-hov-img {
      height: 40px
    }
    li {
      padding: 5px;
    }
  }

  //cart icon
  .cart-icon {
    width: 20px;
  }
  .cart-count {
    position: absolute;
    bottom: -15px;
    text-align: center;
    padding: 5px;
    width: 20px;
    right: 0px;
    color: #ffffff;
    font-size: 10px;
    border-radius: 10px;
  }

  .menu {
    width: 15px !important;
    padding-top: 15px;
    text-align: left;
  }

  //side menu
  .home-menu {
    position: fixed;
    z-index: 1000;
    top: 48%;
    left: 50px;
  }

  .finance-icon {
    width: 300px;
  }

  .finace-head {
    font-family: $font-OpenSans-Light;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    text-align: left;
    color: #201f22;
  }
  .finace-sub {
    font-family: Seravek;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    text-align: left;
    color: #79839c;
  }

  //ffeatures section
  .hm-scr2-blck {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover, &:focus {
      padding-top: 0;

      .name-text {
        top:-120px;
        width: 125px;
      }
    }

    .name-text {
      position: relative;
      top: -70px;
      font-size: 15px;
      width: 180px;
    }

    h4,p {
      color: #37353f;
      padding-top: 15px;
      padding-left: 5px;
      font-family: $font-OpenSans-Regular;
      width: 100%;
    }

    .img-defalt, .img-hover {
      width: 150px;
    }
  }

  //products section

  .readers-list {
    .reader-card {
      height: 185px !important;
      background-color: #ffffff;
      margin-bottom: 30px;
      padding: 12px;
      color: #000000;
    }

    .reader-image {
      height: 53%;
      img {
        height: 100%;
      }
    }

    .reader-description h4 {
      font-family: $font-OpenSans-Regular;
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.6px;
      color: #000000;
      margin-bottom: 0px;
      word-break: break-all;
    }
  }



  .faq__section {
    padding-top: 15%;
  }

  .faq__section_content {
    font-family: $font-OpenSans-Light;
    font-style: normal;
    font-stretch: normal;
    text-align: center;

    h1 {
      font-size: 60px;
      font-weight: 300;
      opacity: 0.7;
      color: rgba(35, 34, 38, 0.7);
    }
    .faq-cont {
      opacity: 0.8;
      font-size: 15px;
      line-height: 2.1;
      margin: 40px 0;
      letter-spacing: 0.4px;
      color: rgba(35, 34, 38, 0.8);
    }

    .select-topic {
      opacity: 1;
      font-size: 15px;
      font-weight: 600;
      font-family: $font-OpenSans-Semibold;
      line-height: 2.1;
      letter-spacing: 0.4px;
      text-align: right;
      color: rgba(35, 34, 38, 0.8);

    }
    .select-input {

      border-radius: 20px;
      overflow: hidden;
      background: #fafafa url(/assets/images/guest/forma-1-copy-4.png) no-repeat 95% 50%;
      text-align: left;

      select {
        padding: 5px 8px;
        overflow-x: hidden;
        width: 93%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
        color: black;
      }
    }
  }
  .faq-sub {
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
  }
}

.guest__features-slider {
  bottom: 0px !important;
  background: #f8f6f8 !important;
  width: auto !important;
  margin: 0 !important;
  padding-left: 13px !important;
  padding-right: 13px !important;
  li {
    width: 22px !important;
    height: 22px !important;
    border: 1px solid #22beb9;
    background-color: none !important;
    margin-bottom: -17px;
    border-radius: 50% !important;
  }
}

.guest_flow_merchant_login {
  background-color: #e3ecf1 !important;
  .auth-fields {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #232226;
  }
}

.guest_button_default {
    height: 51.3px;
    border-radius: 100px;
    border: none;
    background-color: #888f98;
    color: #fff;
    text-align: center;
    width: 230px;
}

.guest_page_slider_height {
  height: 100% !important;
  .fp-tableCell {
    height: 100% !important;
  }
}
.guest_reader_list_scroll {
  padding-top: 0px !important;
}
