<div class="guest__page__header_section">
  <!-- <div class="col-md-2 guest__page__header--logo">
    <div class="text-left cursor main-logo-cnt">
      <img  class="main-logo" src="assets/images/guest/main-logo.png">
    </div>
  </div> -->

  <div class="navbar_header_menu_section">
    <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
      <div class="container-fluid coustmer__guest__page_nav">
        <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/']">
          <div class="text-left cursor main-logo-cnt">
            <img  class="main-logo" src="assets/images/demo/logo.png" alt="dummy_logo">
          </div>
        </div>
       <div class="merchant-list guest_merchant_list">

          <!--  <div class="mer-list" >
            <div class="row text-center cursor" (click)="clickedService('TOLL')" >
                <img class="mer-hover mer-hov-img" src="assets/images/common/toll-logo-hover.png">
                <img class="mer-non-hover mer-hov-img" src="assets/images/common/toll-logo-non-hover.png">
            </div>
          </div>

          <div class="mer-list" >
             <div class="row text-center cursor"  (click)="clickedService('BUS')">
                <img class="mer-hover mer-hov-img" src="assets/images/common/bus-logo-hover.png">
                <img class="mer-non-hover mer-hov-img" src="assets/images/common/bus-logo-non-hover.png">
              </div>
          </div>

          <div class="mer-list" >
            <div class="row text-center cursor"  (click)="clickedService('PARKING')">
                <img class="mer-hover mer-hov-img" src="assets/images/common/parking-logo-hover.png">
                <img class="mer-non-hover mer-hov-img" src="assets/images/common/parking-logo-non-hover.png">
            </div>
          </div>

          <div class="mer-list" >
             <div class="row text-center cursor"  (click)="clickedService('EDUCATION')">
                <img class="mer-hover mer-hov-img" src="assets/images/common/education-logo-hover.png">
                <img class="mer-non-hover mer-hov-img" src="assets/images/common/education-logo-non-hover.png">
              </div>
          </div>

          <div class="mer-list" (click)="clickedService('RETAIL')">
           <div class="row text-center cursor" >
              <img class="mer-hover mer-hov-img" src="assets/images/common/retail-logo-hover.png">
              <img class="mer-non-hover mer-hov-img" src="assets/images/common/retail-logo-non-hover.png">
            </div>
          </div>

          <div class="mer-list" >
             <div class="row text-center cursor"  (click)="clickedService('METRO')">
                <img class="mer-hover mer-hov-img" src="assets/images/common/metro-logo-hover.png">
                <img class="mer-non-hover mer-hov-img" src="assets/images/common/metro-logo-non-hover.png">
            </div>
          </div>


           <div class="mer-list" >
             <div class="row text-center cursor"  (click)="clickedService('RESIDENCE')">
                <img class="mer-hover mer-hov-img" src="assets/images/common/residence-logo-hover.png">
                <img class="mer-non-hover mer-hov-img" src="assets/images/common/residence-logo-non-hover.png">
              </div>
          </div>


          <div class="mer-list" >
            <div class="row text-center cursor" (click)="clickedService('OFFICE')">
                <img class="mer-hover mer-hov-img" src="assets/images/demo/office-logo-hover.png">
                <img class="mer-non-hover mer-hov-img" src="assets/images/demo/office-logo-non-hover.png">
            </div>
          </div>-->
          <!-- <div class="merchant_action_buttons">
            <button type="button" name="button" >Consumers</button>
          </div>
          <div class="merchant_action_buttons">
            <button type="button" name="button" [routerLink]="['/merchant']">Merchant</button>
          </div>
          <div class="merchant_action_buttons">
            <button type="button" name="button" [routerLink]="[ '/']">COrporates</button>
          </div> -->
          <div class="consumer_page_header">
            <button class="button_active" type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
            <button type="button" name="button" [routerLink]="['/merchant']">Business</button>
            <button type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
          </div>
        </div>


        <div class="merchant_action_buttons">
          <button class="search_action" type="button" name="button">
            <img src="assets/images/demo/search_icon.png" alt="" alt="search_icon">
          </button>
          <button type="button" name="button" [routerLink]="[ '/consumer-joinus']">Join Us</button>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="modal  merchant_confirm_popup" id="confirmationrechargeModal" role="dialog" *ngIf="showPopup" style="display: block;closeTimer: 1000;background-color: rgba(248, 246, 248, 0.82);">
  <div class="modal-dialog merchant_confirm_modal-dialog">
    <div class="modal-content  merchant_confirm_modal-content">
    	<div class="modal-body  merchant_confirm_modal-body">

				<div class="merchant_confirm_content">
					<h4>Contiune as {{serviceName}} Merchant ?</h4>
          <button type="button" class="merchant_confirm_done_btn" (click)="serviceyse(serviceName)">YES</button>
  				<button type="button" class="merchant_confirm_done_btn" data-dismiss="modal" (click)="showPopup = false">NO</button>
				</div>

    	</div>
    </div>
  </div>
</div>
