<!-- right nav bar starts -->
<div id="retail-menu" class="sidenav rightsidenav tollmenunav right_side_menunav retailmenunav">
  <div showfaqanswer [type]="'menu_back_btn'" class="row back">
    BACK <img src="assets/images/retail/right.png" alt="right_img">
  </div>
  <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">

          <div class="row toll-side-menu toll-top-side-menu toll-side-menu-js active" showfaqanswer [type]="'about-retail'">
            <div class="col-md-8 text-right menu-text">ABOUT RETAIL</div>
            <div class="col-md-4 text-center">
              <img class="un-sel-menu" src="assets/images/retail/retail-smart-object-copy.png" alt="retail_smart_icon">
              <img class="sel-menu" src="assets/images/retail/retail-smart-object.png" alt="retail_smart_icon">
            </div>
          </div>

        <div class="row toll-side-menu toll-side-menu-js" showfaqanswer [type]="'retail-features'">
          <div class="col-md-8 text-right menu-text">FEATURES</div>
          <div class="col-md-4 text-center">
            <img class="un-sel-menu" src="assets/images/retail/retail-features.png">
            <img class="sel-menu" src="assets/images/retail/retail-features-copy.png">
          </div>
        </div>

         <div class="row toll-side-menu toll-side-menu-js" showfaqanswer [type]="'retail-product'">
          <div class="col-md-8 text-right menu-text">PRODUCT</div>
          <div class="col-md-4 text-center">
            <img class="un-sel-menu" src="assets/images/retail/retail-product-copy.png">
            <img class="sel-menu" src="assets/images/retail/retail-product.png">
          </div>
        </div>

        <div class="row toll-side-menu toll-side-menu-js" showfaqanswer [type]="'retail-faqs'">
           <div class="col-md-8 text-right menu-text">FAQS</div>
          <div class="col-md-4 text-center">
              <img class="un-sel-menu" src="assets/images/retail/z.png">
              <img class="sel-menu" src="assets/images/retail/retail-faq-copy.png">
          </div>
        </div>

        <div class="row text-center">
          <img class="divide-menu" src="assets/images/retail/retail-bar-line.png">
        </div>
        <div class="row toll-side-menu toll-side-menu-js">
           <div class="col-md-8 text-right menu-text">READER SERVICES</div>
          <div class="col-md-4 text-center">
              <img class="un-sel-menu" src="assets/images/retail/retail-services-copy.png">
          </div>
        </div>
        <div class="row social-feed">
            <div class="col-md-6 cursor">
              <p class="retail_text_color">Follow us</p>
            </div>
            <div class="col-md-6">
              <img class="social-icon cursor" src="assets/images/retail/retail-lin.png" alt="retail-lin_img">
              <img class="social-icon cursor" src="assets/images/retail/retail-fb.png" alt="retail-fb">
              <img class="social-icon cursor" src="assets/images/retail/retail-twit.png" alt="retail-twit">
            </div>
        </div>

    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!-- right nav bar ends -->
