<div class="contactus__page" style="width:100%;margin-top:76px;background-color:#f8f5f8;height:92vh">
  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
        <div class="container-fluid coustmer__guest__page_nav">
          <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/']">
            <div class="text-left cursor main-logo-cnt">
              <img  class="main-logo" src="assets/images/demo/logo.png" alt="dummy_logo">
            </div>
          </div>
         <div class="merchant-list guest_merchant_list">
            <div class="consumer_page_header">
              <button type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
              <button type="button" name="button" [routerLink]="['/merchant']">Business</button>
              <button type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
            </div>
          </div>

          <div class="merchant_action_buttons">
            <button class="search_action" type="button" name="button">
              <img src="assets/images/demo/search_icon.png" alt="" alt="search_logo">
            </button>
            <button type="button" name="button" [routerLink]="[ '/consumer-joinus']">Join Us</button>
          </div>
        </div>
      </nav>
    </div>
  </div>






    <div class="map_location_container" style="display:flex;flex-direction:column;background:none;">
      <div class="" style="cursor:pointer">
        <img src="assets/images/common/2-copy.svg" alt="KGJ Technologies" width="100%" onclick='window.open("https://www.google.com/maps/place/Hashtaag%E2%84%A2+-+KGJ+Software+Technologies+Pvt.+Ltd./@12.9122256,77.6360746,15z/data=!4m5!3m4!1s0x0:0xf8dcb170ed1f4ce3!8m2!3d12.9122256!4d77.6360746");return false;' alt="location_img">
      </div>
      <div class="company_adds" style="">
        <div class="company_adds_name">
          <div class="our_menu_services">
            <h3 style=""> DOE CARDS SOLUTIONS PVT. LTD</h3>
            <p [routerLink]="['/terms']">Terms of services</p>
            <p [routerLink]="['/privacy-policy']">privacy policy</p>
            <div class="social_icons" style="display:flex">
              <span>Follow Us</span>
               <div class="social_icons_imgs">
                 <a [href]="content?.LANDING_PAGE.CONTACT_US.SOCIAL_LINKS.TWITTER"  target="_blank"><img src="assets/images/demo/twitter-icon.png" alt=""></a>
                 <a [href]="content?.LANDING_PAGE.CONTACT_US.SOCIAL_LINKS.FB"  target="_blank"><img src="assets/images/demo/facebook-icon.png" alt=""></a>
                 <a [href]="content?.LANDING_PAGE.CONTACT_US.SOCIAL_LINKS.LINKEDIN"  target="_blank"><img src="assets/images/demo/linkedin.png" alt=""></a>
                 <a [href]="content?.LANDING_PAGE.CONTACT_US.SOCIAL_LINKS.INSTAGRAM"  target="_blank"><img src="assets/images/demo/instagram.png" alt=""></a>
               </div>
            </div>

          </div>
        </div>
        <div class="company_adds_location">
          <div class="contactus">
            <p>Contact us</p>
            <address class="" [innerHTML]="content?.LANDING_PAGE.CONTACT_US.ADDRESS">
            </address>
          </div>
        </div>
      </div>
    </div>

    <!-- guest-footer starts -->
    <guest-footer></guest-footer>
    <!-- guest-footer ends -->

</div>
