<div class="about_us_page partners_page">

  <div class="guest__page__header_section">
    <div class="navbar_header_menu_section">
      <nav class="navbar navbar-fixed-top guest__page_nav" style="background-color: #f8f6f8;left:0">
        <div class="container-fluid coustmer__guest__page_nav">
          <div class="col-md-2 guest__page__header--logo" [routerLink]="[ '/']">
            <div class="text-left cursor main-logo-cnt">
              <img  class="main-logo" src="assets/images/demo/logo.png" alt="doe_logo">
            </div>
          </div>
         <div class="merchant-list guest_merchant_list">
            <div class="consumer_page_header">
              <button type="button" name="button"  [routerLink]="[ '/']">Consumer</button>
              <button type="button" name="button" [routerLink]="['/merchant']">Business</button>
              <button type="button" name="button" [routerLink]="['/corporate']">Corporate</button>
            </div>
          </div>

          <div class="merchant_action_buttons">
            <button class="search_action" type="button" name="button">
              <img src="assets/images/demo/search_icon.png" alt="search_icon_logo">
            </button>
            <button type="button" name="button" [routerLink]="[ '/consumer-joinus']">Join Us</button>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div class="aboutus_section1 partners_section1">
    <img src="assets/images/demo/partners.png" alt="patner_img">
    <!-- <h3>DOE CARDS SOLUTIONS PVT. LTD</h3> -->
  </div>

  <div class="partners_section2">
    <div class="partner_content_section">
      <div class="partners_sub_menu">
          <div class="partners_sub_menu_name cursor" (click)="changeSelection('PARTNERS')" [ngClass]="{'active': selectedSection == 'PARTNERS'}">
            <p>Our Partners</p>
          </div>
          <div class="partners_sub_menu_name cursor" (click)="changeSelection('MEMBERS')" [ngClass]="{'active': selectedSection == 'MEMBERS'}">
            <p>Our Members</p>
          </div>
          <div class="partners_sub_menu_name cursor" (click)="changeSelection('CUSTOMERS')" [ngClass]="{'active': selectedSection == 'CUSTOMERS'}">
            <p>Our Customers</p>
          </div>
      </div>


      <div class="partners_sub_menu_content" [ngClass]="{'active': selectedSection == 'PARTNERS'}">
        <div class="card_section" *ngFor="let item of content?.PARTNERS.PARTNERS">
          <div class="left_card_section">
            <div class="left_card_section--image">
              <img [src]="item.IMAGE" alt="item_img" />
            </div>
          </div>

          <div class="right_card_section" >
            <div class="right_card_head">
              <h4>{{item.NAME}}</h4>
              <a href="https://www.google.com" target="_blank"><img src="assets/images/demo/web-link.png" alt="web-link_img" /></a>
            </div>
            <h5>Contactless IC Card Technology</h5>
            <p>{{item.DESCRIPTION}}</p>
          </div>
        </div>
        <div class="" *ngIf="!(content?.PARTNERS.PARTNERS.length)">Coming Soon</div>

      </div>

      <div class="partners_sub_menu_content" [ngClass]="{'active': selectedSection == 'MEMBERS'}">

        <div class="card_section" *ngFor="let item of content?.PARTNERS.MEMBERS">
          <div class="left_card_section">
            <div class="left_card_section--image">
              <img [src]="item.IMAGE" alt="item_img" />
            </div>
          </div>

          <div class="right_card_section" >
            <div class="right_card_head">
              <h4>{{item.NAME}}</h4>
              <a href="https://www.google.com" target="_blank"><img src="assets/images/demo/web-link.png" alt="web-link_img" /></a>
            </div>
            <h5>Contactless IC Card Technology</h5>
            <p>{{item.DESCRIPTION}}</p>
          </div>
        </div>
        <div class="coming__soon_layout" *ngIf="!(content?.PARTNERS.MEMBERS.length)">
          <img src="assets/images/demo/coming-soon.png" alt="coming-soon_png">
        </div>

      </div>

      <div class="partners_sub_menu_content" [ngClass]="{'active': selectedSection == 'CUSTOMERS'}">
        <div class="card_section" *ngFor="let item of content?.PARTNERS.CUSTOMERS">
          <div class="left_card_section">
            <div class="left_card_section--image">
              <img [src]="item.IMAGE" alt="item_item" />
            </div>
          </div>

          <div class="right_card_section" >
            <div class="right_card_head">
              <h4>{{item.NAME}}</h4>
              <a href="https://www.google.com" target="_blank"><img src="assets/images/demo/web-link.png" alt="web-link_img" /></a>
            </div>
            <h5>Contactless IC Card Technology</h5>
            <p>{{item.DESCRIPTION}}</p>
          </div>
        </div>

        <div class="coming__soon_layout" *ngIf="!(content?.PARTNERS.CUSTOMERS.length)">
          <img src="assets/images/demo/coming-soon.png" alt="coming-soon_img">
        </div>

      </div>



    </div>

  </div>

  <!-- guest-footer starts -->
  <guest-footer></guest-footer>
  <!-- guest-footer ends -->
</div>
