<footer class="office_bg" style="height:40px">
  <div class="footer__menu">
    <div class="footer_menu__list" >
      <p [routerLink]="[ '/']">CONSUMER</p>
      <p [routerLink]="[ '/merchant']">BUSINESS</p>
      <p [routerLink]="[ '/corporate']">CORPORATE</p>
      <p [routerLink]="[ '/aboutus']">About Us</p>
      <p [routerLink]="[ '/partners']">Partners</p>
      <p [routerLink]="[ '/contactus']">CONTACT US</p>
    </div>
    <div class="copy__rights">
      <p>Copyright © 2018. All Rights Reserved By <span> DOE CARDS SOLUTIONS PVT. LTD</span></p>
    </div>
  </div>
</footer>
