.office_bg {
  background-color: $color-office !important;
}
.office_text_color {
  color: $color-office !important;
}

.office_border {
  border: 1px solid $color-office !important;
}

.guest__page--office {
  .mer-cust-btn {
    padding-top: 0;
  }
  .select-input {
    border: 1px solid $color-office;
  }
  .faq-sub {
    background: $color-office;
    border: 1px solid $color-office;
  }

  .guest_page--slider_content {
    border-bottom: 1px solid $color-office;
    padding-bottom: 13px;
  }

  .guest__features-slider {
    li {
      border: 1px solid $color-office !important;
    }
    .active {
      background-color: $color-office;
      margin-bottom: -17px;
    }
  }

  .edu_products_indicators{
    bottom: -13px !important;
    li {
      border: 1px solid $color-office;
    }
    .active {
      background-color: $color-office !important;
    }
  }
}
