<footer style="height:40px">
  <!-- <div class="row consumer__footer">
    <div class="col-md-3 footer-icon footer-icon-left">
      <div class="row cursor" showfaqanswer [type]="'quickrecharge'" emmitcustomevent [scrollFlag]="'on'">
          <div class="col-md-3 footer-img text-right">
              <img src="assets/images/common/quick-rechage.png">
          </div>
          <div class="col-md-9 footer-text">
              QUICK RECHARGE
          </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 text-right call-us">Call us toll-free</div>
          <div class="col-md-6 text-left call-us">+80 444 550 00</div>
        </div>
    </div>
    <div class="col-md-3 footer-icon footer-icon-right">
      <div class="row cursor" showfaqanswer [type]="'lostcard'" emmitcustomevent [scrollFlag]="'on'">
        <div class="col-md-3 footer-img text-right">
          <img src="assets/images/common/waves.png">
        </div>
        <div class="col-md-9 footer-text">
            REPORT A LOST CARD
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer__menu">
    <div class="footer_menu__list" >
      <!-- <p (click)="gotoHomeMenu('HOME')">Home</p>
      <p (click)="gotoHomeMenu('FEATURES')">Features</p>
      <p (click)="gotoHomeMenu('SERVICES')">Services</p>
      <p (click)="gotoHomeMenu('CONTACTUS')">Contact Us</p> -->
      <p [routerLink]="[ '/']">Consumer</p>
      <p [routerLink]="[ '/merchant']">Business</p>
      <p [routerLink]="[ '/corporate']">Corporate</p>
      <p [routerLink]="[ '/aboutus']">About Us</p>
      <p [routerLink]="[ '/partners']">Partners</p>
      <p [routerLink]="[ '/contactus']">Contact Us</p>
    </div>
    <div class="copy__rights">
      <p>Copyright © 2018. All Rights Reserved By <span> DOE CARDS SOLUTIONS PVT. LTD</span></p>
    </div>
  </div>

</footer>
